<nz-card class="small-margin">
    <form nz-form #impuestoForm="ngForm">
      <ul nz-menu nzMode="horizontal">
        <li nz-menu-item nzMatchRouter >
          <span nz-icon nzType=""></span>
          <a [routerLink]="['/', 'ges', 'liquidaciones','listado']">Listado</a>
        </li>

      <li nz-submenu nzTitle="Acciones" *ngIf="router.url === '/ges/liquidaciones/listado'">
        <ul style="width: auto !important">
          

          <li nz-menu-item id="movimientosAutomaticos" (click)="liquidacionesAcciones($event)" >
            <span nz-icon nzType="plus" nzTheme="outline"></span> Carga de movs automático
          </li>
          <li nz-menu-item id="ingresosPorAsistencia" (click)="liquidacionesAcciones($event)">
            <span nz-icon nzType="plus" nzTheme="outline"></span> Ingresos por asistencia
          </li>
          <li nz-menu-item id="ingresosPorAsistenciaAdministrativos" (click)="liquidacionesAcciones($event)">
            <span nz-icon nzType="plus" nzTheme="outline"></span> Ingresos por asistencia administrativos
          </li>
          <li nz-menu-item id="ingresosArt42" (click)="liquidacionesAcciones($event)">
            <span nz-icon nzType="plus" nzTheme="outline"></span> Ingresos por art42 Lincencia
          </li>
          <li nz-menu-item  id="ingresosCoordinadorDeCuenta" (click)="liquidacionesAcciones($event)">
            <span nz-icon nzType="plus" nzTheme="outline"></span> Ingresos por coordinador de cuenta
          </li>
          <li nz-menu-item id="descuentoPorDeudaAnterior" (click)="liquidacionesAcciones($event)">
            <span nz-icon nzType="plus" nzTheme="outline"></span> Descuentos por deuda período anterior
          </li>
          <li nz-menu-item id="descuentos" (click)="liquidacionesAcciones($event)">
            <span nz-icon nzType="plus" nzTheme="outline"></span> Descuentos
          </li>
          <li nz-menu-item id="movimientoAcreditacionEnCuenta" (click)="liquidacionesAcciones($event)">
            <span nz-icon nzType="plus" nzTheme="outline"></span> Movimiento de acreditación en cuenta
          </li> 

        </ul>
      </li>
    </ul>
  
    </form>
</nz-card>