<nz-card class="small-margin">

  <nz-modal [(nzVisible)]="isVisible" (nzOnCancel)="isVisible=false" nzTitle="Descarga Recibos">
    <div *nzModalContent>
        <nz-select [(ngModel)]="selectedOption" nzPlaceHolder="Selecciona una opción" [nzDropdownMatchSelectWidth]="false">
          <nz-option [nzLabel]="'Todos'" nzValue="T"></nz-option>
          <nz-option [nzLabel]="'Objetivo'" nzValue="O"></nz-option>
          <nz-option [nzLabel]="'Cliente'" nzValue="C"></nz-option>
          <nz-option [nzLabel]="'Sucursal'" nzValue="S"></nz-option>
          <nz-option [nzLabel]="'Persona'" nzValue="P"></nz-option>
        </nz-select>
      @switch (selectedOption()) {
        @case ("O") {
          <app-objetivo-search [(ngModel)]="ObjetivoIdWithSearch"></app-objetivo-search>
        }
        @case ("C") {
          <app-cliente-search [(ngModel)]="ClienteIdWithSearch"></app-cliente-search>
        }
        @case ("P") {
          <app-personal-search [(ngModel)]="PersonalIdWithSearch"></app-personal-search>
        }
        @case ("S") {
          <nz-select nzAllowClear style="width:100%" nzPlaceHolder="Sucursal" nzShowSearch
           [nzDropdownMatchSelectWidth]="false" [(ngModel)]="SucursalIdWithSearch">
          <ng-container *ngFor="let option of $optionsSucursales | async">
            <nz-option [nzValue]="option.SucursalId" [nzLabel]="option.SucursalDescripcion"></nz-option>
          </ng-container>
          </nz-select>
        }
      }
      
      <label nz-checkbox [(ngModel)]="isWithDuplicado">Duplicados</label>
    </div>
    <div *nzModalFooter style="text-align: right;">
      <a nz-button nzType="primary" app-down-file [httpMethod]="'POST'"
        [httpBody]="{'Anio':selectedPeriod.year,'Mes':selectedPeriod.month,'isDuplicate': isWithDuplicado, 'ObjetivoIdWithSearch':ObjetivoIdWithSearch(),'ClienteIdWithSearch':ClienteIdWithSearch(),'SucursalIdWithSearch':SucursalIdWithSearch(),'PersonalIdWithSearch':PersonalIdWithSearch(),'SeachField':selectedOption() }"
        httpUrl="/api/recibos/downloadfull" notificationMsg="Generando PDF unificado" (click)="isVisible=false">Aceptar</a>
    </div>
  </nz-modal>


  <form nz-form #liquidacionesForm="ngForm">

    <nz-form-item>
      <nz-form-label [nzSpan]="2">Periodo</nz-form-label>
      <nz-form-control>
        <nz-date-picker nzMode="month" name="periodo" ngModel (ngModelChange)="dateChange($event)" />
        <!-- <button nz-button nzType="primary" class="btn-add" *ngIf="(gridDataInsert.length >= 2)" 
            data-test="add-new-item-top-btn" (click)="createBasicNotification(template)"  >Confirmar nuevo registro</button> -->

        <button *ngIf="(gridDataInsert.length >= 2)" nz-popconfirm nzType="primary" class="btn-add"
          nzPopconfirmTitle="Confirmar nuevo registro?" (nzOnConfirm)="confirmNewItem()" nzPopconfirmPlacement="topLeft"
          nz-button>
          Confirmar nuevo registro
        </button>

      </nz-form-control>
    </nz-form-item>


    <ul nz-menu nzMode="horizontal">
      <li nz-menu-item nzMatchRouter>
        <span nz-icon nzType=""></span>
        <a [routerLink]="['/', 'ges', 'liquidaciones','listado']">Listado</a>
      </li>

      <li nz-submenu nzTitle="Acciones">
        <ul style="width: auto !important">
          <li nz-menu-item nz-popconfirm nzPopconfirmTitle="Genero registros de Asistencia?" [nzBeforeConfirm]=""
            [nzPopconfirmShowArrow]="false" (nzOnConfirm)="liquidacionesAcciones('Asistencia')">
            <span nz-icon nzType="plus" nzTheme="outline"></span>Asistencia
          </li>
          <li nz-menu-item nz-popconfirm nzPopconfirmTitle="Genero registros de Licencias?" [nzBeforeConfirm]=""
            [nzPopconfirmShowArrow]="false" (nzOnConfirm)="liquidacionesAcciones('Licencias')">
            <span nz-icon nzType="plus" nzTheme="outline"></span>Licencias
          </li>
          <li *ngIf="false" nz-menu-item nz-popconfirm nzPopconfirmTitle="Genero registros?" [nzBeforeConfirm]=""
            [nzPopconfirmShowArrow]="false" (nzOnConfirm)="liquidacionesAcciones('ingresosCoordinadorDeCuenta')">
            <span nz-icon nzType="plus" nzTheme="outline"></span> Ingresos por coordinador de cuenta
          </li>
          <li *ngIf="false" nz-menu-item nz-popconfirm nzPopconfirmTitle="Genero registros?" [nzBeforeConfirm]=""
            [nzPopconfirmShowArrow]="false" (nzOnConfirm)="liquidacionesAcciones('descuentoPorDeudaAnterior')">
            <span nz-icon nzType="plus" nzTheme="outline"></span> Descuentos por deuda período anterior
          </li>
          <li nz-menu-item nz-popconfirm nzPopconfirmTitle="Genero registros de descuentos?" [nzBeforeConfirm]=""
            [nzPopconfirmShowArrow]="false" (nzOnConfirm)="liquidacionesAcciones('descuentos')">
            <span nz-icon nzType="plus" nzTheme="outline"></span> Descuentos
          </li>
          <li *ngIf="false" nz-menu-item nz-popconfirm nzPopconfirmTitle="Genero registros?" [nzBeforeConfirm]=""
            [nzPopconfirmShowArrow]="false" (nzOnConfirm)="liquidacionesAcciones('movimientoAcreditacionEnCuenta')">
            <span nz-icon nzType="plus" nzTheme="outline"></span> Movimiento de acreditación en cuenta
          </li>
          <li *ngIf="false" nz-menu-item nz-popconfirm nzPopconfirmTitle="Genero registros?" [nzBeforeConfirm]=""
            [nzPopconfirmShowArrow]="false" (nzOnConfirm)="liquidacionesAcciones('movimientosAutomaticos')">
            <span nz-icon nzType="plus" nzTheme="outline"></span> Carga de movs automático
          </li>
          <ng-template #confirmReciboTpl>
            <span>Generar recibos con fecha </span>
            <nz-date-picker [(ngModel)]="fechaRecibo" [ngModelOptions]="{standalone: true}" />
            <span>?</span>
          </ng-template>
          <li nz-menu-item nz-popconfirm [nzPopconfirmTitle]="confirmReciboTpl" [nzBeforeConfirm]=""
            [nzPopconfirmShowArrow]="false" (nzOnConfirm)="liquidacionesAcciones('generarRecibos')">
            <span nz-icon nzType="plus" nzTheme="outline"></span> Genera Recibos
          </li>

          <li *ngIf="PersonalIdForReceip > 0" nz-menu-item nz-popconfirm
            nzPopconfirmTitle="Generar recibo de {{PersonalNameForReceip}}" [nzBeforeConfirm]=""
            [nzPopconfirmShowArrow]="false" (nzOnConfirm)="liquidacionesAcciones('generarReciboUnico')">
            <span nz-icon nzType="plus" nzTheme="outline"></span> Generar recibo de {{PersonalNameForReceip}}
          </li>
        </ul>
      </li>

      <li nz-submenu nzTitle="Informes">
        <ul style="width: auto !important">
          <li nz-menu-item app-down-file [httpMethod]="'POST'"
            [httpBody]="{'Reporte':'Banelco','Formato':'EXCEL', 'Filtros': {'Anio':selectedPeriod.year,'Mes':selectedPeriod.month}}"
            httpUrl="api/informes/descarga" notificationMsg="Generando Informe Banelco">
            <span nz-icon nzType="download"></span><span style="white-space: normal;">Banelco</span>
          </li>

          <li nz-menu-item (click)="exportGrid()">
            <span nz-icon nzType="download"></span><span style="white-space: normal;">Grilla</span>
          </li>
          <li nz-menu-item (click)="showModal()">
            <span nz-icon nzType="download"></span><span style="white-space: normal;">Recibos</span>
          </li>
        </ul>

      </li>




      <li nz-menu-item nzMatchRouter>
        <span nz-icon nzType=""></span>
        <a [routerLink]="['/', 'ges', 'liquidaciones','cargamanual']">Carga manual</a>
      </li>

      <li nz-menu-item nzMatchRouter>
        <span nz-icon nzType=""></span>
        <!-- <a [routerLink]="['/', 'ges', 'liquidaciones','cargamanual']">Carga manual</a> -->
        <a [routerLink]="['/', 'ges', 'liquidaciones','importacion']">Importación</a>
      </li>
      <!--
      <li nz-submenu nzTitle="Generacion de Recibos">
        <ul style="width: auto !important">
          <li nz-menu-item app-down-file [httpMethod]="'POST'"
          [httpBody]="{anio, mes}"
          httpUrl="api/liquidaciones/download/recibos/"
          notificationMsg="Generando Recibos">
          <span nz-icon nzType="download"></span><span style="white-space: normal;">Generar</span> 
          </li>

        </ul>

      </li>
    -->
    </ul>

    <nz-tabset nzCentered nzLinkRouter class="hide-ant-tabs-nav">
      <nz-tab>
        <a nz-tab-link routerLink="/ges/liquidaciones/listado">Listado</a>
        <ng-template nz-tab *ngIf="(columns$|async) as columnas">
          <shared-filtro-builder #sfb [fieldsToSelect]="columnas" (optionsChange)="listOptionsChange($event)" />
          <div class="gridContainer1 container-fluid">
            <angular-slickgrid gridId="gridLiq" [columnDefinitions]="columnas | colsFilter" [gridOptions]="gridOptions"
              [dataset]="(gridData$ | async) || []" (onAngularGridCreated)="angularGridReady($event)"
              (onSelectedRowsChanged)="handleSelectedRowsChanged1($event)">


              >

            </angular-slickgrid>
          </div>

          <!-- <div>total: {{ gridDataLen }}</div> -->
        </ng-template>
      </nz-tab>
      <nz-tab>

        <a nz-tab-link routerLink="/ges/liquidaciones/cargamanual">Carga Manual</a>
        <ng-template nz-tab>
          <!-- <button nz-button nzType="primary" class="btn-add" data-test="add-new-item-top-btn" (click)="openCustomModal()" >Agregar nuevo registro</button>  -->

          <!-- <shared-filtro-builder #sfb [fieldsToSelect]="columnas" (optionsChange)="listOptionsChange($event)" /> -->
          <div class="gridContainer2 container-fluid">
            <angular-slickgrid gridId="gridEdit" [columnDefinitions]="columnDefinitions | colsFilter"
              [gridOptions]="gridOptionsEdit" [dataset]="gridDataInsert || []" (onCellChange)="onCellChanged($event)"
              (onAngularGridCreated)="angularGridReadyEdit($event)">
              <!-- (onBeforeEditCell)="onBeforeEditCell($event)" -->
            </angular-slickgrid>
          </div>

        </ng-template>
      </nz-tab>
      <nz-tab>
        <a nz-tab-link routerLink="/ges/liquidaciones/importacion">Importar liquidaciones</a>
        <ng-template nz-tab>

          <form nz-form #telefonoForm="ngForm">
            <nz-spin [nzSpinning]="(uploading$ |async)!.loading">
              <nz-form-item>
                <nz-form-control [nzSpan]="5">
                  <nz-form-label [nzSpan]="10">Tipo de Cuenta</nz-form-label>
                  <ng-container>
                    <nz-select #sucursal="ngModel" nzSpan="15" name="SucursalId" (ngModel)="selectedCuentalId"
                      (ngModelChange)="selectedValueChange($event)" nzAllowClear nzPlaceHolder="Cuenta"
                      [nzDropdownMatchSelectWidth]="false" nzShowSearch>
                      <ng-container *ngFor="let option of $optionsCuenta | async">
                        <nz-option [nzValue]="option.tipocuenta_id" [nzLabel]="option.detalle"></nz-option>
                      </ng-container>
                    </nz-select>
                  </ng-container>
                </nz-form-control>
                <!-- </nz-form-item>

        <nz-form-item> -->

                <nz-form-control [nzSpan]="7">
                  <nz-form-label [nzSpan]="10">Tipo de Movimiento</nz-form-label>
                  <ng-container>
                    <nz-select #sucursal="ngModel" nzSpan="15" name="MovimientoId" (ngModel)="selectedMovimientoId"
                      (ngModelChange)="selectedValueChangeMovimiento($event)" nzAllowClear nzPlaceHolder="Movimiento"
                      [nzDropdownMatchSelectWidth]="false" nzShowSearch>
                      <ng-container *ngFor="let option of $optionsMovimiento | async">
                        <nz-option [nzValue]="option.tipo_movimiento_id" [nzLabel]="option.des_movimiento"></nz-option>
                      </ng-container>
                    </nz-select>
                  </ng-container>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-control>
                  <nz-form-label [nzSpan]="5">Importaciones anteriores</nz-form-label>
                  <ng-container *ngFor="let movimiento of $importacionesAnteriores | async">
                    <div class="containerAnteriores" nz-tooltip nzTooltipTitle={{movimiento.nombre}}>
                      <!-- <ng-container>{{movimiento.valor_random}} <span nz-icon nzType="delete" nzTheme="outline" class="trash-color"></span> ,</ng-container> -->
                      <span nz-icon nzType="delete" nzTheme="outline" class="trash-color"
                        (click)="createBasicNotificationImportacion(templateImportacion,movimiento.id)"></span>
                      <a nz-icon nzType="download" nzHref="movimiento.path" target="_blank" nzTheme="outline"
                        class="download-color" app-down-file [httpMethod]="'POST'"
                        [httpBody]="{'documentId': movimiento.id}" httpUrl="api/liquidaciones/downloadImportacion"></a>
                      <span> ID: {{movimiento.id}} - Fecha: {{movimiento.fecha| date}} </span>
                    </div>
                  </ng-container>
                </nz-form-control>
              </nz-form-item>


              <nz-form-item>
                <nz-form-control>
                  <nz-form-label [nzSpan]="5">Archivo liquidaciones</nz-form-label>
                  <ng-container>
                    <nz-upload nzAccept="application/xls" nzAction="/api/liquidaciones/upload" [nzData]="{
                tipocuenta: selectedCuentalId,
                movimiento: selectedMovimientoId,
                anio:selectedPeriod.year, 
                mes:selectedPeriod.month
              }" nzName="xls" [nzLimit]="1" [nzShowUploadList]="false" (nzChange)="uploadChange($event)">
                      <button nz-button>
                        <span nz-icon nzType="upload"></span>
                        Subir XLS
                      </button>
                    </nz-upload>
                  </ng-container>
                </nz-form-control>
              </nz-form-item>

            </nz-spin>
          </form>

          <div class="gridContainer3 container-fluid">
            <angular-slickgrid gridId="gridImport" class="" [columnDefinitions]="columnsImport | colsFilter"
              [gridOptions]="gridOptionsImport" [dataset]="(gridDataImport$ | async) || []">
            </angular-slickgrid>
          </div>
        </ng-template>


      </nz-tab>
    </nz-tabset>

    <ng-template #templateImportacion let-notification>
      <div class=" notificacionImportacion ant-notification-notice-content">
        <div>
          <div class="ant-notification-notice-message">Eliminar Importación</div>
          <div class="ant-notification-notice-description">
            Seguro que desea eliminar dichas importaciones...
          </div>
          <span class="ant-notification-notice-btn">
            <button nz-button nzType="primary" nzSize="small" (click)="confirmDeleteImportacion()">
              <span>Aceptar</span>
            </button>
          </span>
        </div>
      </div>
    </ng-template>

  </form>
</nz-card>