.btn-add{
    margin-top:10px;
    margin-bottom: 10px;
    margin-left: 32px;
}

 nz-select {
    width: 50% !important;
    margin: 5px 0 0;
}

nz-form-item {
    margin-bottom: 15px !important
}

.trash-color{
    color: red
}


