
<nz-card class="small-margin">

  @if (columns().length) {
    <div nz-tab>
      <!-- <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">-->
      <div class="fila">
        <div class="izquierda">
          <shared-filtro-builder  [fieldsToSelect]="columns()" [startFilters]="startFilters()" [(options)]="listOptions" />
        </div>
        <nz-button-group nz-button nzButtonGroup class="derecha">
          <!-- Recarga de grilla -->
          <button nz-button nzType="default" (click)="gridData.reload()" nz-tooltip nzTooltipTitle="{{ 'app.icon.reload' | i18n }}">
            <span nz-icon nzType="reload" nzTheme="outline"></span>
          </button>
          <button nz-button nzType="default" (click)="addNewItem()" nz-tooltip nzTooltipTitle="{{ 'app.icon.add' | i18n }}">
            <span nz-icon nzType="plus" nzTheme="outline"></span>
          </button>
          <button nz-button nzType="default" [disabled]=" editGrupo().length == 0" (click)="deleteItem()" nz-tooltip nzTooltipTitle="{{ 'app.icon.delete' | i18n }}">
            <span nz-icon nzType="delete" nzTheme="outline"></span>
          </button>
        </nz-button-group>
      </div>
      <div class="gridContainerGAG container-fluid">
        <angular-slickgrid gridId="gridEditGAG" [columns]="columns()  | colsFilter" [options]="gridOptionsEdit"
          [dataset]="gridData.value()" (onAngularGridCreated)="angularGridReadyEdit($event)"
          (onSelectedRowsChanged)="handleSelectedRowsChanged($event)" (onCellChange)="onCellChanged($event)" (onBeforeEditCell)="handleOnBeforeEditCell($event)">
          <!-- (onBeforeEditCell)="onBeforeEditCell($event)" -->
        </angular-slickgrid>
      </div>
    </div>
  }

</nz-card>