
<form [formGroup]="formCli">
  <br>
    <nz-form-item >
      <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="4">Código</nz-form-label>
      <nz-form-control [nzXs]="8" [nzSm]="8" [nzMd]="8">
        <input nz-input formControlName="id"  [readonly]="true" />
      </nz-form-control>
    </nz-form-item>

    <!-- Objetivo: Buscador de ClienteElementoDependiente -->
    <nz-form-item class="marginElement">
      <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="4">Objetivo</nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="16">
        <app-objetivo-search formControlName="ObjetivoId" (ngModelChange)="objetivoDetalleChange($event)"></app-objetivo-search>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item style="display:none">
      <nz-form-label [nzSpan]="3">DocumentoId</nz-form-label>
      <nz-form-control [nzSpan]="19">
        <input nz-input formControlName="DocumentoId"  />
      </nz-form-control>
    </nz-form-item>

    <!-- Fecha y Hora -->
    <nz-form-item class="marginElement">
      <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="4">Fecha y Hora</nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="8">
        <nz-date-picker
          formControlName="Fecha"
          nzShowTime="true"
          nzFormat="yyyy-MM-dd HH:mm"
          nzMode="date"
          style="width: 100%;">
        </nz-date-picker>
      </nz-form-control>
    </nz-form-item>

    <!-- Tipo de novedad -->
    <nz-form-item class="marginElement">
      <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="4">Tipo de novedad</nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="12">
        <nz-select formControlName="TipoNovedadId" nzPlaceHolder="Seleccione tipo" nzAllowClear  [nzDropdownMatchSelectWidth]="false" style="width: 100%">
          @for (option of $optionsTipoNovedad | async; track option) {
            <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
          }
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <!-- Descripción -->
    <nz-form-item class="marginElement">
      <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="4">Descripción</nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="16">
        <textarea  nz-input formControlName="Descripcion"  placeholder="Ingrese una descripción"></textarea>
      </nz-form-control>
    </nz-form-item>

    <!-- Acción -->
    <nz-form-item class="marginElement">
      <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="4">Acción</nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="16">
        <textarea  nz-input formControlName="Accion"  placeholder="Ingrese la acción tomada"></textarea>
      </nz-form-control>
    </nz-form-item>

    <!-- VisualizacionAuditoria -->
    @defer (on immediate) {
    @if (NovedadCodigo()) {
      <nz-form-control [nzXs]="20" [nzSm]="20" [nzMd]="20" [nzLg]="20" style="text-align: right;">
        <button nz-button nzType="default" nz-popover nzPopoverTitle="Historial de Auditoria" [nzPopoverContent]="contentTemplate"><span nz-icon nzType="menu-unfold"
        nzTheme="outline"></span></button>
        <ng-template #contentTemplate>
          <nz-table #history [nzData]="auditHistory()" [nzShowPagination]="false">
            <thead>
              <tr>
                <th>Usuario</th>
                <th>Fecha</th>
                <th>Acción</th>
              </tr>
            </thead>
            <tbody>
              @for (item of history.data; track item) {
                <tr>
                  <td>{{ item.usuario }}</td>
                  <td>{{ item.fecha }}</td>
                  <td>{{ item.accion }}</td>
                </tr>
              }
            </tbody>
          </nz-table>
        </ng-template>
      </nz-form-control>
    }
  }

  <div class="input-container1" >
    <div class="input-label">Registrado por</div>
  </div>

  <nz-form-item class="marginElement" >
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="4">Personal</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="8">
      <app-personal-search formControlName="PersonalId" [anio]="anio()" [mes]="mes()"/>
    </nz-form-control>
  </nz-form-item>

  @if (formCli.getRawValue().Telefono) {
    <nz-form-item class="marginElement">
      <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="4">Telefono</nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="16">
        <input nz-input formControlName="Telefono">
      </nz-form-control>
    </nz-form-item>
  }

  @if (formCli.getRawValue().VisualizacionFecha || formCli.getRawValue().VisualizacionPersonaNombre || formCli.getRawValue().VisualizacionTelefono) {
    <div class="input-container1">
      <div class="input-label">Visualización</div>
    </div>
  }

  <!-- VisualizacionFecha -->
  @if (formCli.getRawValue().VisualizacionFecha) {
    <nz-form-item class="marginElement">
      <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="4">Visualización Fecha</nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="8">
        <nz-date-picker
          formControlName="VisualizacionFecha"
          nzShowTime="true"
          nzFormat="yyyy-MM-dd HH:mm"
          nzMode="date"
          style="width: 100%;" [nzDisabled]="true">
        </nz-date-picker>
      </nz-form-control>
    </nz-form-item>
  }

  <!-- VisualizacionPersonaId -->
  @if (formCli.getRawValue().VisualizacionPersonaNombre) {
    <nz-form-item class="marginElement">
      <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="4">Visualización Persona</nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="16">
        <input nz-input formControlName="VisualizacionPersonaNombre" [readonly]="true">
      </nz-form-control>
    </nz-form-item>
  }

  <!-- VisualizacionTelefono -->
  @if (formCli.getRawValue().VisualizacionTelefono) {
    <nz-form-item class="marginElement">
      <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="4">Visualización Teléfono</nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="16">
        <input nz-input formControlName="VisualizacionTelefono" [readonly]="true">
      </nz-form-control>
    </nz-form-item>
  }

  <!-- Apartado para adjuntar documentos -->
  <nz-form-item>
    <nz-form-control >
      <app-file-upload formControlName="files" [idForSearh]="formCli.getRawValue().DocumentoId ?? 0"
        [textForSearch]="'NOV'"
        columnForSearch="DocumentoId" [tableForSearch]="'Documento'"
      [showTipoDocs]="false"></app-file-upload>
    </nz-form-control>

  </nz-form-item>

  @if (formCli.enabled) {
    <nz-form-item>
      <nz-form-control style="display: flex; justify-content: center; align-items: center;">
        <button nzType="primary" nz-button  (click)="save()" [disabled]="formCli.invalid || formCli.pristine "  >
          {{ 'app.btn.save' | i18n }}
        </button>
        <button nzType="primary" nz-button nzDanger  nz-popconfirm  [disabled]="NovedadCodigo() === 0"
          nzPopconfirmTitle="Esta seguro que quiere eliminar esta novedad?"
          (nzOnConfirm)="deleteNovedad()"
          nzPopconfirmPlacement="top"  >
          {{ 'app.btn.delete' | i18n }}
        </button>
      </nz-form-control>
    </nz-form-item>
  }

</form>
