
<form [formGroup]="formCli">
    <br>
    <!-- Objetivo: Buscador de ClienteElementoDependiente -->
    <nz-form-item class="marginElement">
      <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="4">Objetivo</nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="16">
        <app-objetivo-search formControlName="ObjetivoId" (ngModelChange)="objetivoDetalleChange($event)"></app-objetivo-search>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item style="display:none">
      <nz-form-label [nzSpan]="3">DocumentoId</nz-form-label>
      <nz-form-control [nzSpan]="19">
        <input nz-input name="DocumentoId" ngModel  />
      </nz-form-control>
    </nz-form-item>

    <!-- Fecha y Hora -->
    <nz-form-item class="marginElement">
      <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="4">Fecha y Hora</nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="8">
        <nz-date-picker
          formControlName="Fecha"
          nzShowTime="true"
          nzFormat="yyyy-MM-dd HH:mm"
          nzMode="date"
          style="width: 100%;">
        </nz-date-picker>
      </nz-form-control>
    </nz-form-item>

    <!-- Tipo de novedad -->
    <nz-form-item class="marginElement">
      <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="4">Tipo de novedad</nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="12">
        <nz-select formControlName="TipoNovedadId" nzPlaceHolder="Seleccione tipo" nzAllowClear  [nzDropdownMatchSelectWidth]="false" style="width: 100%">
            <ng-container *ngFor="let option of $optionsTipoNovedad | async">
                <nz-option [nzValue]="option.NovedadTipoCod" [nzLabel]="option.Descripcion"></nz-option>
              </ng-container>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    

    <!-- Descripción -->
    <nz-form-item class="marginElement">
      <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="4">Descripción</nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="16">
        <input nz-input formControlName="Descripcion"  placeholder="Ingrese una descripción">
      </nz-form-control>
    </nz-form-item>

    <!-- Acción -->
    <nz-form-item class="marginElement">
      <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="4">Acción</nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="16">
        <input nz-input formControlName="Accion"  placeholder="Ingrese la acción tomada">
      </nz-form-control>
    </nz-form-item>

    <!-- Apartado para adjuntar documentos -->
  <nz-form-item>
    <nz-form-control >
      <app-file-upload formControlName="files" [idForSearh]="formCli.getRawValue().DocumentoId ?? 0"
      [textForSearch]="'NOV'"  
      columnForSearch="DocumentoId" [tableForSearch]="'Documento'" 
      [showTipoDocs]="false"></app-file-upload>
    </nz-form-control>
    
  </nz-form-item>


<nz-form-item *ngIf="formCli.enabled">
    <nz-form-control style="display: flex; justify-content: center; align-items: center;">    
      <button nzType="primary" nz-button  (click)="save()" [disabled]="formCli.invalid || formCli.pristine"  >
        {{ 'app.btn.save' | i18n }}
      </button>
      <button nzType="primary" nz-button nzDanger  nz-popconfirm
      nzPopconfirmTitle="Esta seguro que quiere eliminar esta novedad?"
      (nzOnConfirm)="deleteNovedad()"
      nzPopconfirmPlacement="top"  >
      {{ 'app.btn.delete' | i18n }}
      </button>
    </nz-form-control>
  </nz-form-item>

  </form>
