<page-header />
<nz-card>
  <form nz-form #impuestoForm="ngForm">
    <nz-date-picker
    
      nzMode="month"
      name="periodo"
      ngModel
      (ngModelChange)="onChange($event)" />
    <nz-tabset nzCentered>
      <nz-tab nzTitle="Cargar Comprobantes">
        <nz-upload
          nzType="drag"
          [nzMultiple]="true"
          [nzData]="{ anio: anio, mes: mes }"
          (nzChange)="handleChange($event)"
          [nzAction]="url"
          nzName="pdf"
          [(nzFileList)]="files"
          nzAccept="application/pdf">
          <p class="ant-upload-drag-icon">
            <span nz-icon nzType="inbox"></span>
          </p>
          <p class="ant-upload-text">
            Clickeá or arrastrá un archivo/s para subir
          </p>
        </nz-upload>
      </nz-tab>
      <nz-tab nzTitle="Buscar">
        <nz-form-item class="app-table">
          <nz-form-label [nzSpan]="5"> Lista de Descuentos </nz-form-label>
          <nz-form-control>
            <nz-table
              class="app-table"
              #tablaDescuentos
              [nzData]="(listaDescuentos$ | async) || []"
              nzSize="small"
              [nzPageSize]="100000000"
              [nzShowPagination]="false"
              [nzScroll]="{ x: '500px' }"
              [nzLoading]="tableLoading$ | async">
              <thead>
                <tr>
                  <th
                    *ngFor="let column of listOfColumns"
                    [nzSortFn]="column.sortFn"
                    [nzFilterFn]="column.filterFn">
                    {{ column.name }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of tablaDescuentos.data">
                  <td>{{ data.ApellidoNombre }}</td>
                  <td>{{ data.monto | currency : '$' }}</td>
                  <td>{{ data.CUIT }}</td>
                </tr>
              </tbody>
            </nz-table>
          </nz-form-control>
        </nz-form-item>
      </nz-tab>
    </nz-tabset>
  </form>
</nz-card>
