<nz-card>

  <nz-tabs (nzSelectedIndexChange)="onTabChanged($event)">
    <nz-tab nzTitle="Contratos" [nzForceRender]="true">
      <ng-template nz-tab>
        @if ((Contrato$|async); as columnas) {
          <div class="gridContainer1 container-fluid">
            <angular-slickgrid gridId="grid22" class="" [columns]="columnas | colsFilter"
              [options]="gridOptions" [dataset]="(gridData$ | async) || []"
              (onAngularGridCreated)="angularGridReady($event)">
            </angular-slickgrid>
          </div>
        }


      </ng-template></nz-tab>
      <nz-tab nzTitle="Domicilio" [nzForceRender]="true">
        <ng-template nz-tab>
          @if ((Domicilio$|async); as columnasDomicilio) {
            <div class=" gridContainer2 container-fluid">
              <angular-slickgrid gridId="grid23" class="" [columns]="columnasDomicilio | colsFilter"
                [options]="gridOptionsDomicilio" [dataset]="(gridDataDomiicilio$ | async) || []"
                (onAngularGridCreated)="angularGridReadyDomicilio($event)">
              </angular-slickgrid>
            </div>
          }
        </ng-template>


      </nz-tab>
      <nz-tab nzTitle="Grupo Activdad" [nzForceRender]="true">
        <ng-template nz-tab>
          @if ((GrupoActividad$|async); as columnasGrupoActividad) {
            <div class=" gridContainer3 container-fluid">
              <angular-slickgrid gridId="grid24" class="" [columns]="columnasGrupoActividad | colsFilter"
                [options]="gridOptionsGrupoActividad" [dataset]="(gridDataGrupoActividad$ | async) || []"
                (onAngularGridCreated)="angularGridReadyGrupoActividad($event)">
              </angular-slickgrid>
            </div>
          }
        </ng-template>
      </nz-tab>
    </nz-tabs>
  </nz-card>