<nz-card class="small-margin">

  <div nz-row style="align-items: center; display: flex; justify-content: space-between;">
    <div nz-row nzSpan="12">
      <!-- <nz-form-label [nzSpan]="10">Periodo</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <nz-date-picker nzMode="month" name="periodo" ngModel (ngModelChange)="onChange($event)" />
      </nz-form-control> -->
    </div>

    <ul nz-menu nzMode="horizontal" style="display: flex;">
      <li nz-menu-item nzSelected>
        <a [routerLink]="['/', 'ges', 'documento', 'list']">
          Documentos
        </a>
      </li>
      <li nz-menu-item [nzDisabled]="docId()? false : true">
        <a [routerLink]="['/', 'ges', 'documento', 'descargas']">Historial Descargas</a>
      </li>
      <li nz-menu-item [nzDisabled]="docId()? false : true">
        <a [routerLink]="['/', 'ges', 'documento', 'pendientes']">Pendientes</a>
      </li>
      <li nz-submenu nzTitle="Informes">
        <ul style="width: auto !important">
          <li nz-menu-item>
            <span app-reporte="Descargas Documentos Bot Por CUIT"></span>
          </li>
          <li nz-menu-item>
            <span app-reporte="Descarga Recibos Bot"></span>
          </li>
        </ul>
      </li>
    </ul>

    <nz-button-group nz-button nzButtonGroup>
      <button nz-button nzType="default" (click)="openDrawerforAlta()" nz-tooltip
        nzTooltipTitle="{{ 'app.icon.add' | i18n }}"><span nz-icon nzType="plus" nzTheme="outline"></span></button>
      <button nz-button nzType="default" (click)="openDrawerforEdit()" [disabled]="docId() == 0" nz-tooltip
        nzTooltipTitle="{{ 'app.icon.edit' | i18n }}"><span nz-icon nzType="edit" nzTheme="outline"></span></button>
      <button nz-button nzType="default" (click)="openDrawerforDetalle()" [disabled]="docId() == 0" nz-tooltip
        nzTooltipTitle="{{ 'app.detail' | i18n }}"><span nz-icon nzType="file" nzTheme="outline"></span></button>
      <button nz-button nzType="default" [disabled]="docId() == 0" nz-tooltip [nzLoading]="loadingDelete()"
        nz-popconfirm nzPopconfirmTitle="Esta seguro que quiere eliminar este Documento?"
        (nzOnConfirm)="deleteDocumento()" nzTooltipTitle="{{ 'app.icon.delete' | i18n }}"><span nz-icon nzType="delete"
          nzTheme="outline"></span></button>
    </nz-button-group>
  </div>

  <nz-tabs nzCentered nzLinkRouter class="hide-ant-tabs-nav" (nzSelectChange)="onTabsetChange($event)">
    <nz-tab></nz-tab>
    <nz-tab>
      <a nz-tab-link routerLink="/ges/documento/list">Documentos</a>
      <ng-template nz-tab>
        @if(columns$ | async; as columnas) {

        <shared-filtro-builder [startFilters]="startFilters()" [fieldsToSelect]="columnas"
          (optionsChange)="listOptionsChange($event)" />

        <div class="gridContainer container-fluid">
          <angular-slickgrid gridId="gridOPA" class="" [columnDefinitions]="columnas | colsFilter"
            [gridOptions]="gridOptions" [dataset]="(gridData$ | async) || []"
            (onAngularGridCreated)="angularGridReady($event)"
            (onSelectedRowsChanged)="handleSelectedRowsChanged($event)">
          </angular-slickgrid>
        </div>
        }
      </ng-template>
    </nz-tab>

    <nz-tab>
      <a nz-tab-link routerLink="/ges/documento/descargas">Historial Descargas</a>
      <ng-template nz-tab>
        <app-table-historial-descargas #historialDescargas [docId]=docId()></app-table-historial-descargas>
      </ng-template>
    </nz-tab>

    <nz-tab>
      <a nz-tab-link routerLink="/ges/documento/pendientes">Pendientes</a>
      <ng-template nz-tab>
        <app-table-pendientes-descargas #listPendientes [docId]=docId()></app-table-pendientes-descargas>
      </ng-template>
    </nz-tab>

  </nz-tabs>

</nz-card>

@defer( when visibleAlta()){
<app-documento-drawer [(visible)]="visibleAlta" (onAddorUpdate)="onAddorUpdate($event)"></app-documento-drawer>
}

@defer( when visibleDetalle()){
<app-documento-drawer [(visible)]="visibleDetalle" [docId]=docId() [disabled]=true></app-documento-drawer>
}

@defer( when visibleEdit()){
<app-documento-drawer [(visible)]="visibleEdit" (onAddorUpdate)="onAddorUpdate($event)"
  [docId]=docId()></app-documento-drawer>
}