<form [formGroup]="formPer">
  <br>
  <nz-form-item class="marginElement">
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Apellido</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="7">
      <input nz-input placeholder="" formControlName="Apellido" type="text" />
    </nz-form-control>

    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Nombre</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="7">
      <input nz-input placeholder="" formControlName="Nombre" type="text" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="marginElement">

    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Email</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="5">
      <input nz-input placeholder="" formControlName="Email" type="text" />
    </nz-form-control>

    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="2">CUIT</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="5">
      <input nz-input placeholder="" formControlName="CUIT" type="number" />
    </nz-form-control>

    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="3">Fecha de Nacimiento</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="3">
      <nz-date-picker formControlName="FechaNacimiento"></nz-date-picker>
    </nz-form-control>

  </nz-form-item>

  <nz-form-item class="marginElement">

    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="3">Nro de Asociado</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="7" [nzLg]="5">
      <input nz-input placeholder="" formControlName="NroLegajo" type="number" />
    </nz-form-control>

    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="2">Sucursal</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="5">
      <nz-select formControlName="SucursalId" nzPlaceHolder="" nzAllowClear [nzDropdownMatchSelectWidth]="false"
        style="width: 100%">
        <ng-container *ngFor="let option of $optionsSucursal | async">
          <nz-option [nzValue]="option.SucursalId" [nzLabel]="option.SucursalDescripcion"></nz-option>
        </ng-container>
      </nz-select>
    </nz-form-control>

    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="3">Fecha de Ingreso</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="3">
      <nz-date-picker formControlName="FechaIngreso"></nz-date-picker>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="marginElement">
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Nacionalidad</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="5">
      <nz-select formControlName="NacionalidadId" nzPlaceHolder="" nzAllowClear [nzDropdownMatchSelectWidth]="false"
        style="width: 100%" nzShowSearch>
        <ng-container *ngFor="let option of $optionsNacionalidad | async">
          <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
        </ng-container>
      </nz-select>
    </nz-form-control>

    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="2">Estado Civil</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="5">
      <nz-select formControlName="EstadoCivilId" nzPlaceHolder="" nzAllowClear [nzDropdownMatchSelectWidth]="false"
        style="width: 100%">
        <ng-container *ngFor="let option of $optionsEstadoCivil | async">
          <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
        </ng-container>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="marginElement">
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="2" [nzLg]="1">Foto</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="6">
        <app-file-upload formControlName="Foto" [idForSearh]="fotoId()" [textForSearch]="'FOTO'"
        [columnForSearch]="'DocumentoImagenFotoId'" [tableForSearch]="'DocumentoImagenFoto'"
        [cantMaxFiles]="1" [fileAccept]="'image/*'" [forceImg]="true"></app-file-upload>
      
    </nz-form-control>

    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="2">DNI - Frente</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="6">

      <app-file-upload formControlName="docFrente" [idForSearh]="docFrenteId()" [textForSearch]="'DOCUMENFREN'"
        [columnForSearch]="'DocumentoImagenDocumentoId'" [tableForSearch]="'DocumentoImagenDocumento'"
        [cantMaxFiles]="1"></app-file-upload>
      
    </nz-form-control>

    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="2">DNI - Dorso</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="6">
   
      <app-file-upload formControlName="docDorso" [idForSearh]="docDorsoId()" [textForSearch]="'DOCUMENDOR'"
        [columnForSearch]="'DocumentoImagenDocumentoId'" [tableForSearch]="'DocumentoImagenDocumento'"
        [cantMaxFiles]="1"></app-file-upload>
      
    </nz-form-control>
  </nz-form-item>

  <!-- <nz-divider nzText="Domicilio" nzOrientation="left"></nz-divider> -->
  <div class="input-container1">
    <div class="input-label">Domicilio</div>
  </div>

  <nz-form-item class="marginElement">
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Calle</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="11">
      <input nz-input placeholder="" formControlName="Calle" type="text" />
    </nz-form-control>
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="2">Nro</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="4">
      <input nz-input placeholder="" formControlName="Nro" type="text" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="marginElement">
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Departamento</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="6" [nzLg]="5">
      <input nz-input placeholder="" formControlName="Dpto" type="text" />
    </nz-form-control>
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="2" [nzLg]="2">Piso</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="3">
      <input nz-input placeholder="" formControlName="Piso" type="text" />
    </nz-form-control>
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="3">Cod.Postal</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="4">
      <input nz-input placeholder="" formControlName="CodigoPostal" type="text" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="marginElement">
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Pais</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="6">
      <nz-select formControlName="PaisId" nzPlaceHolder="" nzAllowClear [nzDropdownMatchSelectWidth]="false"
        style="width: 100%" (ngModelChange)="selectedPaisChange($event)" nzShowSearch>
        <ng-container *ngFor="let option of $optionsPais | async">
          <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
        </ng-container>
      </nz-select>
    </nz-form-control>

    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Provincia</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="6">
      <nz-select formControlName="ProvinciaId" nzPlaceHolder="" nzAllowClear [nzDropdownMatchSelectWidth]="false"
        style="width: 100%" (ngModelChange)="selectedProvinciaChange($event)" nzShowSearch>
        <ng-container *ngFor="let option of $optionsProvincia | async">
          <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
        </ng-container>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="marginElement">
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Localidad</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="6">
      <nz-select formControlName="LocalidadId" nzPlaceHolder="" nzAllowClear [nzDropdownMatchSelectWidth]="false"
        style="width: 100%" (ngModelChange)="selectedLocalidadChange($event)" nzShowSearch>
        <ng-container *ngFor="let option of $optionsLocalidad | async">
          <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
        </ng-container>
      </nz-select>
    </nz-form-control>

    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Barrio</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="6">
      <nz-select formControlName="BarrioId" nzPlaceHolder="" nzAllowClear [nzDropdownMatchSelectWidth]="false"
        style="width: 100%" nzShowSearch>
        <ng-container *ngFor="let option of $optionsBarrio | async">
          <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
        </ng-container>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <!-- <nz-divider nzText="Telefono" nzOrientation="left"></nz-divider> -->
  <div class="input-container1">
    <div class="input-label">Telefonos</div>
  </div>

  <div formArrayName="telefonos">
    <nz-form-item class="marginElement" *ngFor="let control of telefonos().controls; let i = index" [formGroupName]="i">

      <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Tipo</nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="5">
        <nz-select formControlName="TipoTelefonoId" nzPlaceHolder="" nzAllowClear [nzDropdownMatchSelectWidth]="false"
          style="width: 100%">
          <ng-container *ngFor="let option of optionsTelefonoTipo()">
            <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
          </ng-container>
        </nz-select>
      </nz-form-control>

      <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="4">Numero Telefono</nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="8">
        <nz-input-group style="width: 100%" [nzAddOnAfter]="controlTelefonoButton" nzSearch>
          <input nz-input placeholder="" formControlName="TelefonoNro" type="text" />
        </nz-input-group>
        <ng-template #controlTelefonoButton>
          <button nz-button *ngIf="telefonos().controls.length == i+1 && formPer.enabled" nzType="primary"
            class="add-button" (click)="addTelefono($event)" nz-tooltip nzTooltipTitle="{{ 'app.icon.add' | i18n }}">
            <span nz-icon nzType="plus"></span>
          </button>

          <button nz-button nzType="default" *ngIf="telefonos().controls.length>1 && formPer.enabled"
            (click)="removeTelefono(i, $event)" nz-tooltip nzTooltipTitle="{{ 'app.icon.delete' | i18n }}">
            <span nz-icon nzType="delete" nzTheme="outline"></span>
          </button>
        </ng-template>
      </nz-form-control>

    </nz-form-item>
  </div>

  <!-- <nz-divider nzText="Estudios" nzOrientation="left"></nz-divider> -->
  <div class="input-container1">
    <div class="input-label">Estudios</div>
  </div>

  <div formArrayName="estudios">
    <div *ngFor="let control of estudios().controls; let i = index" [formGroupName]="i">
      <nz-form-item class="marginElement">
        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Tipo</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5">
          <nz-select formControlName="TipoEstudioId" nzPlaceHolder="" nzAllowClear [nzDropdownMatchSelectWidth]="false"
            style="width: 100%">
            <ng-container *ngFor="let option of optionsEstudioTipo()">
              <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
            </ng-container>
          </nz-select>
        </nz-form-control>

        <!-- <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="2">Estado</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="5">
          <nz-select formControlName="EstadoEstudioId" nzPlaceHolder="" nzAllowClear
            [nzDropdownMatchSelectWidth]="false" style="width: 100%">
            <ng-container *ngFor="let option of optionsEstudioEstado()">
              <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
            </ng-container>
          </nz-select>
        </nz-form-control> -->

        <!-- <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="2">Año</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="4" [nzLg]="3">
          <input nz-input placeholder="" formControlName="EstudioAno" type="number" />
        </nz-form-control> -->

        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="6">Fecha de Otorgamiento</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="5" [nzLg]="3">
          <nz-date-picker formControlName="PersonalEstudioOtorgado"></nz-date-picker>
        </nz-form-control>

      </nz-form-item>

      <nz-form-item class="marginElement">
        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Titulo</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="10" [nzLg]="7">
          <nz-input-group style="width: 100%" [nzAddOnAfter]="controlEstudioButton" nzSearch>
            <input nz-input placeholder="" formControlName="EstudioTitulo" type="text" />
          </nz-input-group>
          <ng-template #controlEstudioButton>
            <button nz-button *ngIf="estudios().controls.length == i+1 && formPer.enabled" nzType="primary"
              class="add-button" (click)="addEstudio($event)" nz-tooltip nzTooltipTitle="{{ 'app.icon.add' | i18n }}">
              <span nz-icon nzType="plus"></span>
            </button>
            <button nz-button nzType="default" *ngIf="estudios().controls.length > 1 && formPer.enabled"
              (click)="removeEstudio(i, $event)" nz-tooltip nzTooltipTitle="{{ 'app.icon.borrar' | i18n }}">
              <span nz-icon nzType="delete" nzTheme="outline"></span>
            </button>
          </ng-template>
        </nz-form-control>

        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="2" [nzLg]="2">Doc</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="6">
          <app-file-upload formControlName="DocTitulo" [idForSearh]="getDocEstudioId(i)" [textForSearch]="'CERESTPAG1'"
            [columnForSearch]="'DocumentoImagenEstudioId'" [tableForSearch]="'DocumentoImagenEstudio'"
            [cantMaxFiles]="1" ></app-file-upload>
        </nz-form-control>
      </nz-form-item>

      <!-- <nz-form-item class="marginElement">
        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="2" [nzLg]="3">Doc</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="5">
            <app-file-upload formControlName="DocTitulo" [idForSearh]="this.personalId()" [textForSearch]="'CERESTPAG'+i"
            [keyField]="'PersonalId'" [tableForSearch]="'DocumentoImagenEstudio'" [dataBaseForSearch]="'Produccion'"></app-file-upload>
        </nz-form-control>
      </nz-form-item> -->

    </div>
  </div>

  <div class="input-container1">
    <div class="input-label">Familiares</div>
  </div>

  <div formArrayName="familiares">
    <nz-form-item class="marginElement" *ngFor="let control of familiares().controls; let i = index"
      [formGroupName]="i">

      <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Apellido</nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="5">
        <input nz-input placeholder="" formControlName="Apellido" type="text" />
      </nz-form-control>

      <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="2">Nombre</nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="5">
        <input nz-input placeholder="" formControlName="Nombre" type="text" />
      </nz-form-control>

      <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="2">Parentesco</nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="3">
        <nz-input-group style="width: 100%" [nzAddOnAfter]="controlParentescoButton" nzSearch>
          <nz-select formControlName="TipoParentescoId" nzPlaceHolder="" nzAllowClear
            [nzDropdownMatchSelectWidth]="false" style="width: 100%" nzShowSearch>
            <ng-container *ngFor="let option of optionsParentesco()">
              <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
            </ng-container>
          </nz-select>
        </nz-input-group>
        <ng-template #controlParentescoButton>
          <button nz-button *ngIf="familiares().controls.length == i+1 && formPer.enabled" nzType="primary"
            class="add-button" (click)="addFamiliar($event)" nz-tooltip nzTooltipTitle="{{ 'app.icon.add' | i18n }}">
            <span nz-icon nzType="plus"></span>
          </button>
          <button nz-button nzType="default" *ngIf="familiares().controls.length > 1 && formPer.enabled"
            (click)="removeFamiliar(i, $event)" nz-tooltip nzTooltipTitle="{{ 'app.icon.delete' | i18n }}">
            <span nz-icon nzType="delete" nzTheme="outline"></span>
          </button>
        </ng-template>
      </nz-form-control>

    </nz-form-item>
  </div>

  <!-- Sección Beneficiario -->
  <div class="input-container1">
    <div class="input-label">Beneficiario</div>
  </div>

  <div formArrayName="beneficiarios">
    <div *ngFor="let control of beneficiarios().controls; let i = index" [formGroupName]="i">
    <nz-form-item class="marginElement">

      <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Apellido</nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="5">
        <input nz-input placeholder="" formControlName="Apellido" type="text" />
      </nz-form-control>

      <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="2">Nombre</nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="5">
        <input nz-input placeholder="" formControlName="Nombre" type="text" />
      </nz-form-control>

      <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="2">Parentesco</nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="3">
        <nz-select formControlName="TipoParentescoId" nzPlaceHolder="" nzAllowClear
          [nzDropdownMatchSelectWidth]="false" style="width: 100%" nzShowSearch>
          <ng-container *ngFor="let option of optionsParentesco()">
            <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
          </ng-container>
        </nz-select>
      </nz-form-control>

    </nz-form-item>

    <nz-form-item class="marginElement">
      <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="3">Tipo Documento</nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="4">
        <nz-select formControlName="TipoDocumentoId" nzPlaceHolder="" nzAllowClear
          [nzDropdownMatchSelectWidth]="false" style="width: 100%">
          <ng-container *ngFor="let option of optionsTipoDocumento()">
            <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
          </ng-container>
        </nz-select>
      </nz-form-control>

      <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="2">Documento Nro</nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="4">
        <input nz-input placeholder="" formControlName="DocumentoNro" type="number" />
      </nz-form-control>

      <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="2">Observaciones</nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="5">
        <nz-input-group style="width: 100%" [nzAddOnAfter]="controlParentescoButton" nzSearch>
          <input nz-input placeholder="" formControlName="Observacion" type="text" />
        </nz-input-group>
        <ng-template #controlParentescoButton>
          <button nz-button *ngIf="beneficiarios().controls.length == i+1 && formPer.enabled" nzType="primary"
            class="add-button" (click)="addBeneficiario($event)" nz-tooltip nzTooltipTitle="{{ 'app.icon.add' | i18n }}">
            <span nz-icon nzType="plus"></span>
          </button>
          <button nz-button nzType="default" *ngIf="beneficiarios().controls.length > 1 && formPer.enabled"
            (click)="removeBeneficiario(i, $event)" nz-tooltip nzTooltipTitle="{{ 'app.icon.delete' | i18n }}">
            <span nz-icon nzType="delete" nzTheme="outline"></span>
          </button>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    </div>
  </div>

  <ng-container>
    <!-- <nz-divider nzText="Situacion de Revista" nzOrientation="left"></nz-divider> -->
    <div class="input-container1">
      <div class="input-label">Situacion de Revista</div>
    </div>

    <nz-form-item class="marginElement">
      <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Situacion de Revista</nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="5">
        <nz-select formControlName="SituacionId" nzPlaceHolder="Situacion de Revista" nzAllowClear
          [nzDropdownMatchSelectWidth]="false" nzShowSearch>
          <ng-container *ngFor="let option of $optionsSitRevista | async">
            <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
          </ng-container>
        </nz-select>
      </nz-form-control>

      <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Motivo</nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="9">
        <input nz-input placeholder="" formControlName="Motivo" type="text" />
      </nz-form-control>
    </nz-form-item>
  </ng-container>

  <div class="input-container1">
    <div class="input-label">Habilitación necesaria</div>
  </div>

  <nz-form-item class="marginElement">
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3" >Habilitaciones</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="8">
      <div class="custom-checkbox-group">
        <nz-checkbox-group formControlName="habilitacion" [nzOptions]="optionsLugarHabilitacion()">
        </nz-checkbox-group>
      </div>
    </nz-form-control>
  </nz-form-item>

  <div class="input-container1">
    <div class="input-label">Ley / R.I.</div>
  </div>

  <nz-form-item class="marginElement">
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Nro</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="3">
      <input nz-input placeholder="" formControlName="LeyNro" type="number" />
    </nz-form-control>
  </nz-form-item>

  <div class="input-container2">
    <div class="input-label">Actas</div>
  </div>

  <div formGroupName="actas">
    <nz-collapse nzGhost>
      <nz-collapse-panel nzHeader="Alta" nzActive="false">
        <div formGroupName="alta">
          <nz-form-item class="marginElement">
            <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Fecha</nz-form-label>
            <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="3">
              <nz-date-picker formControlName="fecha"></nz-date-picker>
            </nz-form-control>
      
            <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="2">Numero</nz-form-label>
            <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="4">
              <input nz-input placeholder="" formControlName="numero" type="number" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </nz-collapse-panel>

      <nz-collapse-panel nzHeader="Baja" nzActive="false">
        <div formGroupName="baja">
          <nz-form-item class="marginElement">
            <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Fecha</nz-form-label>
            <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="3">
              <nz-date-picker formControlName="fecha"></nz-date-picker>
            </nz-form-control>
      
            <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="2">Numero</nz-form-label>
            <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="4">
              <input nz-input placeholder="" formControlName="numero" type="number" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </nz-collapse-panel>

      <nz-collapse-panel nzHeader="Destrucción" nzActive="false"
      >
        <div formGroupName="destruccion">
          <nz-form-item class="marginElement">
            <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Fecha</nz-form-label>
            <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="3">
              <nz-date-picker formControlName="fecha"></nz-date-picker>
            </nz-form-control>
      
            <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="2">Numero</nz-form-label>
            <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="4">
              <input nz-input placeholder="" formControlName="numero" type="number" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </nz-collapse-panel>
    </nz-collapse>
  </div>

  <nz-form-item>
    <nz-form-control style="display: flex; justify-content: center; align-items: center;">
      <button nzType="primary" nz-button *ngIf="formPer.enabled" (click)="save()" [nzLoading]="isLoading()"
        [disabled]="formPer.pristine">
        {{ 'app.btn.save' | i18n }}
      </button>
    </nz-form-control>
  </nz-form-item>


</form>