<form [formGroup]="formPer">
  <br>
  <nz-form-item class="marginElement">
    <nz-form-label  [nzXs]="24" [nzSm]="24" [nzMd]="3">Nombre</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="10" [nzLg]="7">
      <input nz-input placeholder="" formControlName="Nombre" type="text" />
    </nz-form-control>
        
    <nz-form-label  [nzXs]="24" [nzSm]="24" [nzMd]="3">Apellido</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="7" >
      <input nz-input placeholder="" formControlName="Apellido" type="text" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="marginElement">
    <nz-form-label  [nzXs]="24" [nzSm]="24" [nzMd]="3">CUIT</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="10" [nzLg]="7">
      <input nz-input placeholder="" formControlName="CUIT" type="number" />
    </nz-form-control>
        
    <nz-form-label  [nzXs]="24" [nzSm]="24" [nzMd]="3">Nro de Asociado</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="7" >
      <input nz-input placeholder="" formControlName="NroLegajo" type="number" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="marginElement">
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Sucursal</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="7">
      <nz-select formControlName="SucursalId" nzPlaceHolder="" nzAllowClear [nzDropdownMatchSelectWidth]="false" style="width: 100%" >
        <ng-container *ngFor="let option of $optionsSucursal | async" >
          <nz-option [nzValue]="option.SucursalId" [nzLabel]="option.SucursalDescripcion" ></nz-option>
        </ng-container>
      </nz-select>
    </nz-form-control>

    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Fecha de Ingreso</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="6">
      <nz-date-picker formControlName="FechaIngreso" ></nz-date-picker>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="marginElement">
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Fecha de Nacimiento</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="5">
      <nz-date-picker formControlName="FechaNacimiento" ></nz-date-picker>
    </nz-form-control>

    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Foto</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="6">
      <!-- <app-file-upload  ngModel name="files"   [idForSearh]="this.personalId() ?? 0"
            [textForSearch]="''" [keyField]="'persona_id'"></app-file-upload> -->
      @if(!foto().length){
        <nz-upload nzAccept="image/jpg" [nzAction]="urlUpload" nzName="jpg" [nzLimit]="1"
        [nzShowUploadList]="false" (nzChange)="uploadChange($event, 'Foto')" >
          <button nz-button>
            <span nz-icon nzType="upload"></span>
            {{ 'app.btn.upload.photo' | i18n }}
          </button>
        </nz-upload>
        }@else{
        <button nz-button nz-popconfirm nzPopconfirmTitle="Seguro que desea eliminar dicho archivo?"
        (nzOnConfirm)="confirmDeleteArchivo('Foto')" nzPopconfirmPlacement="top">
          <span nz-button  nzType="primary" nzDanger nz-icon nzType="delete" nzTheme="outline" class="trash-color">
          </span>
            <!-- <a nz-icon nzType="download" nzHref="licencia.path" target="_blank" nzTheme="outline"
              class="download-color" app-down-file [httpMethod]="'POST'"
              [httpBody]="{'documentId': licenciaAdd.id}" httpUrl="api/carga-licencia/downloadLicencia"></a> -->
          <span> {{getOriginalName('Foto')}} </span>
        </button>
        }
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="marginElement">
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Nacionalidad</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="4">
      <nz-select formControlName="NacionalidadId" nzPlaceHolder="" nzAllowClear [nzDropdownMatchSelectWidth]="false" style="width: 100%" >
        <ng-container *ngFor="let option of $optionsNacionalidad | async">
          <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
        </ng-container>
      </nz-select>
    </nz-form-control>

    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">DNI - Frente</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="5">
      @if(!docFrente().length){
      <nz-upload nzAccept="image/jpg" [nzAction]="urlUpload" nzName="jpg" [nzLimit]="1"
      [nzShowUploadList]="false" (nzChange)="uploadChange($event, 'docFrente')">
        <button nz-button>
          <span nz-icon nzType="upload"></span>
          {{ 'app.btn.upload.dni' | i18n }}
        </button>
      </nz-upload>
      }@else{
      <button nz-button nz-popconfirm nzPopconfirmTitle="Seguro que desea eliminar dicho archivo?"
      (nzOnConfirm)="confirmDeleteArchivo('docFrente')" nzPopconfirmPlacement="top">
        <span nz-button  nzType="primary" nzDanger nz-icon nzType="delete" nzTheme="outline" class="trash-color">
        </span>
          <!-- <a nz-icon nzType="download" nzHref="licencia.path" target="_blank" nzTheme="outline"
            class="download-color" app-down-file [httpMethod]="'POST'"
            [httpBody]="{'documentId': licenciaAdd.id}" httpUrl="api/carga-licencia/downloadLicencia"></a> -->
        <span> {{getOriginalName('docFrente')}} </span>
      </button>
      }
    </nz-form-control>

    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">DNI - Dorso</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="5">
      @if(!docDorso().length){
        <nz-upload nzAccept="image/jpg" [nzAction]="urlUpload" nzName="jpg" [nzLimit]="1"
        [nzShowUploadList]="false" (nzChange)="uploadChange($event, 'docDorso')" >
          <button nz-button>
            <span nz-icon nzType="upload"></span>
            {{ 'app.btn.upload.dni' | i18n }}
          </button>
        </nz-upload>
        }@else{
        <button nz-button nz-popconfirm nzPopconfirmTitle="Seguro que desea eliminar dicho archivo?"
        (nzOnConfirm)="confirmDeleteArchivo('docDorso')" nzPopconfirmPlacement="top">
          <span nz-button  nzType="primary" nzDanger nz-icon nzType="delete" nzTheme="outline" class="trash-color">
          </span>
            <!-- <a nz-icon nzType="download" nzHref="licencia.path" target="_blank" nzTheme="outline"
              class="download-color" app-down-file [httpMethod]="'POST'"
              [httpBody]="{'documentId': licenciaAdd.id}" httpUrl="api/carga-licencia/downloadLicencia"></a> -->
          <span> {{getOriginalName('docDorso')}} </span>
        </button>
        }
    </nz-form-control>
  </nz-form-item>

  <div class="input-container1">
    <div class="input-label">Domicilio</div>
  </div>
  <nz-form-item class="marginElement">
    <nz-form-label [nzMd]="3">Calle</nz-form-label>
    <nz-form-control [nzMd]="11">
      <input nz-input placeholder="" formControlName="Calle" type="text"/>
    </nz-form-control>
    <nz-form-label [nzMd]="2">Nro</nz-form-label>
    <nz-form-control [nzMd]="4">
      <input nz-input placeholder="" formControlName="Nro" type="text"/>
    </nz-form-control>
  </nz-form-item>


  <nz-form-item class="marginElement">
    <nz-form-label [nzMd]="3">Entre</nz-form-label>
    <nz-form-control [nzMd]="5">
        <input nz-input placeholder="" formControlName="Esquina" type="text"/>
    </nz-form-control>
    <nz-form-control [nzMd]="1" style="text-align: center;">
      y
    </nz-form-control>
    <nz-form-control [nzMd]="5">
        <input nz-input placeholder="" formControlName="EsquinaY" type="text"/>
    </nz-form-control>
    <nz-form-label [nzMd]="2">Cod.Postal</nz-form-label>
    <nz-form-control [nzMd]="4">
        <input nz-input placeholder="" formControlName="CodigoPostal" type="text"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="marginElement">
    <nz-form-label [nzMd]="3">Edificio</nz-form-label>
    <nz-form-control [nzMd]="6">
        <input nz-input placeholder="" formControlName="Edificio" type="text"/>
    </nz-form-control>
    <nz-form-label [nzMd]="2">Departamento</nz-form-label>
    <nz-form-control [nzMd]="5">
        <input nz-input placeholder="" formControlName="Dpto" type="text"/>
    </nz-form-control>
    <nz-form-label [nzMd]="1">Piso</nz-form-label>
    <nz-form-control [nzMd]="3">
        <input nz-input placeholder="" formControlName="Piso" type="text"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="marginElement">
    <nz-form-label [nzMd]="3">Bloque</nz-form-label>
    <nz-form-control [nzMd]="6">
        <input nz-input placeholder="" formControlName="Bloque" type="text"/>
    </nz-form-control>
    
    <nz-form-label [nzMd]="2">Cuerpo</nz-form-label>
    <nz-form-control [nzMd]="6">
        <input nz-input placeholder="" formControlName="Cuerpo" type="text"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="marginElement">
    <nz-form-label [nzMd]="3">Pais</nz-form-label>
    <nz-form-control [nzMd]="6">
      <nz-select formControlName="PaisId" nzPlaceHolder="" nzAllowClear
      [nzDropdownMatchSelectWidth]="false" style="width: 100%"
      (ngModelChange)="selectedPaisChange($event)">
        <ng-container *ngFor="let option of $optionsPais | async">
          <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
        </ng-container>
      </nz-select>
    </nz-form-control>
    
    <nz-form-label [nzMd]="5">Provincia</nz-form-label>
    <nz-form-control [nzMd]="6">
      <nz-select formControlName="ProvinciaId" nzPlaceHolder="" nzAllowClear
      [nzDropdownMatchSelectWidth]="false" style="width: 100%"
      (ngModelChange)="selectedProvinciaChange($event)" >
        <ng-container *ngFor="let option of $optionsProvincia | async">
          <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
        </ng-container>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="marginElement">
    <nz-form-label [nzMd]="3" >Localidad</nz-form-label>
    <nz-form-control [nzMd]="6">
      <nz-select formControlName="LocalidadId" nzPlaceHolder="" nzAllowClear
      [nzDropdownMatchSelectWidth]="false" style="width: 100%"
      (ngModelChange)="selectedLocalidadChange($event)" >
        <ng-container *ngFor="let option of $optionsLocalidad | async">
          <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
        </ng-container>
      </nz-select>
    </nz-form-control>
      
    <nz-form-label [nzMd]="5">Barrio</nz-form-label>
    <nz-form-control [nzMd]="6">
      <nz-select formControlName="BarrioId" nzPlaceHolder="" nzAllowClear
      [nzDropdownMatchSelectWidth]="false" style="width: 100%">
        <ng-container *ngFor="let option of $optionsBarrio | async">
          <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
        </ng-container>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  
  <div class="input-container1">
    <div class="input-label">Telefono</div>
  </div>

  <div formArrayName="telefonos">
    <nz-form-item class="marginElement" *ngFor="let control of telefonos().controls; let i = index" [formGroupName]="i">

      <nz-form-label [nzMd]="2">Lugar</nz-form-label>
      <nz-form-control [nzMd]="2">
        <nz-select formControlName="LugarTelefonoId" nzPlaceHolder="" nzAllowClear
        [nzDropdownMatchSelectWidth]="false" style="width: 100%" >
          <ng-container *ngFor="let option of $optionsTelefonoLugar | async">
            <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
          </ng-container>
        </nz-select>
      </nz-form-control>
        
      <nz-form-label [nzMd]="1">Tipo</nz-form-label>
      <nz-form-control [nzMd]="2">
        <nz-select formControlName="TipoTelefonoId" nzPlaceHolder="" nzAllowClear
        [nzDropdownMatchSelectWidth]="false" style="width: 100%" >
          <ng-container *ngFor="let option of $optionsTelefonoTipo | async">
            <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
          </ng-container>
        </nz-select>
      </nz-form-control>

      <nz-form-label [nzMd]="2">Cod.Pais</nz-form-label>
      <nz-form-control [nzMd]="2">
          <input nz-input placeholder="" formControlName="CodigoPais" type="text"/>
      </nz-form-control>

      <nz-form-label [nzMd]="2">Cod.Area</nz-form-label>
      <nz-form-control [nzMd]="2">
          <input nz-input placeholder="" formControlName="CodigoArea" type="text"/>
      </nz-form-control>

      <nz-form-label [nzMd]="2">Numero Telefono</nz-form-label>
      <nz-form-control [nzMd]="4">
        <nz-input-group style="width: 100%" [nzAddOnAfter]="controlTelefonoButton" nzSearch>
          <input nz-input placeholder="" formControlName="TelefonoNro" type="text"/>
        </nz-input-group>
        <ng-template #controlTelefonoButton >
          <button nz-button *ngIf="telefonos().controls.length == i+1 && formPer.enabled" nzType="primary" class="add-button" (click)="addTelefono($event)" nz-tooltip nzTooltipTitle="{{ 'app.icon.add' | i18n }}">
            <span nz-icon nzType="plus"></span>
          </button>
          <button nz-button nzType="default" *ngIf="formPer.enabled" (click)="removeTelefono(i, $event)" nz-tooltip nzTooltipTitle="{{ 'app.icon.borrar' | i18n }}">
            <span nz-icon nzType="delete" nzTheme="outline" ></span>
          </button>
        </ng-template>
      </nz-form-control>

    </nz-form-item>
  </div>

  <div class="input-container1">
    <div class="input-label">Estudios</div>
  </div>

  <div formArrayName="estudios">
    <nz-form-item class="marginElement" *ngFor="let control of estudios().controls; let i = index" [formGroupName]="i">

      <nz-form-label [nzMd]="3">Tipo</nz-form-label>
      <nz-form-control [nzMd]="2">
        <nz-select formControlName="TipoEstudioId" nzPlaceHolder="" nzAllowClear
        [nzDropdownMatchSelectWidth]="false" style="width: 100%" >
          <ng-container *ngFor="let option of $optionsEstudioTipo | async">
            <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
          </ng-container>
        </nz-select>
      </nz-form-control>
      
      <nz-form-label [nzMd]="2">Estado</nz-form-label>
      <nz-form-control [nzMd]="2">
        <nz-select formControlName="EstadoEstudioId" nzPlaceHolder="" nzAllowClear
        [nzDropdownMatchSelectWidth]="false" style="width: 100%" >
          <ng-container *ngFor="let option of $optionsEstudioEstado | async">
            <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
          </ng-container>
        </nz-select>
      </nz-form-control>

      <nz-form-label [nzMd]="2">Titulo</nz-form-label>
      <nz-form-control [nzMd]="5">
        <input nz-input placeholder="" formControlName="EstudioTitulo" type="text"/>
      </nz-form-control>

      <nz-form-label [nzMd]="2">Año</nz-form-label>
      <nz-form-control [nzMd]="2">
        <nz-input-group style="width: 100%" [nzAddOnAfter]="controlEstudioButton" nzSearch>
          <input nz-input placeholder="" formControlName="EstudioAno" type="number"/>
        </nz-input-group>
        <ng-template #controlEstudioButton >
          <button nz-button *ngIf="estudios().controls.length == i+1 && formPer.enabled" nzType="primary" class="add-button" (click)="addEstudio($event)" nz-tooltip nzTooltipTitle="{{ 'app.icon.add' | i18n }}">
            <span nz-icon nzType="plus"></span>
          </button>
          <button nz-button nzType="default" *ngIf="formPer.enabled" (click)="removeEstudio(i, $event)" nz-tooltip nzTooltipTitle="{{ 'app.icon.borrar' | i18n }}">
            <span nz-icon nzType="delete" nzTheme="outline" ></span>
          </button>
        </ng-template>
      </nz-form-control>

    </nz-form-item>
  </div>

  <nz-form-item>
    <nz-form-control style="display: flex; justify-content: center; align-items: center;">    
      <button nzType="primary" nz-button *ngIf="formPer.enabled"  (click)="save()" [nzLoading]="isLoading()" [disabled]="formPer.pristine" >
        {{ 'app.btn.save' | i18n }}
      </button>
    </nz-form-control>
  </nz-form-item>


</form>