.marginElement {
  margin-bottom: 16px;
}

.acciones-detalle {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 18px;
}

.acciones-item {
  display: flex;
  justify-content: flex-end;
}
