<form [formGroup]="formOrdenVenta">

  <nz-collapse nzAccordion formArrayName="items">
    @for (item of itemsArray.controls; let i = $index; track item) {
      <nz-collapse-panel [formGroupName]="i" [class.item-incompleto]="validado() && faltantes()[i]"
        [nzHeader]="titulos()[i]"
        [nzExtra]="'Importe Total ' + (importes()[i] | currency)" [nzActive]="panelAbierto() === i"
        (nzActiveChange)="$event ? panelAbierto.set(i) : null">

        <nz-form-item style="display:none">
          <nz-form-label [nzSpan]="3">id</nz-form-label>
          <nz-form-control [nzSpan]="19">
            <input nz-input formControlName="id" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="marginElement">
          <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="4">Producto</nz-form-label>
          <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="19">
            <app-producto-search formControlName="ProductoCodigo"
              (valueExtendedChange)="productoChange(i, $event)"></app-producto-search>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="marginElement">
          <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="4" nzRequired>Tipo Cantidad</nz-form-label>
          <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="8" nzHasFeedback
            nzErrorTip="Tipo de cantidad es requerido">
            <nz-select formControlName="TipoCantidad" style="width: 100%" nzPlaceholder="Seleccione"
              [nzDropdownMatchSelectWidth]="false">
              @for (option of optionsTipoCantidad(); track option.value) {
                <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
              }
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="marginElement">
          <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="4">Cantidad</nz-form-label>
          <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="8">
            <input nz-input placeholder="" formControlName="Cantidad" type="text" appDotToComma
              mask="separator.2" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="marginElement">
          <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="4" nzRequired>Tipo Importe</nz-form-label>
          <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="8" nzHasFeedback
            nzErrorTip="Tipo de importe es requerido">
            <nz-select formControlName="TipoImporte" style="width: 100%" nzPlaceholder="Seleccione"
              [nzDropdownMatchSelectWidth]="false">
              @for (option of optionsTipoImporte(); track option.value) {
                <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
              }
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="marginElement">
          <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="4">Importe Unitario</nz-form-label>
          <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="8">
            <input nz-input placeholder="" formControlName="ImporteUnitario" type="text" appDotToComma
              mask="separator.2" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="marginElement">
          <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="4">Texto de Factura</nz-form-label>
          <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="19">
            <textarea nz-input formControlName="TextoFactura"></textarea>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="marginElement">
          <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="4">Cantidad en Factura</nz-form-label>
          <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="8">
            <input nz-input placeholder="" formControlName="CantidadEnFactura" type="text" appDotToComma
              mask="separator.2" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="marginElement">
          <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="4">Importe Total</nz-form-label>
          <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="8">
            <input nz-input placeholder="" formControlName="ImporteTotal" type="text" appDotToComma
              mask="separator.2" [readonly]="true" />
          </nz-form-control>
        </nz-form-item>

        @if (formOrdenVenta.enabled) {
          <div class="acciones-item">
            <button nz-button nzType="default" (click)="removeItem(i, $event)" nz-tooltip
              nzTooltipTitle="{{ 'app.icon.delete' | i18n }}">
              <span nz-icon nzType="delete" nzTheme="outline"></span>
            </button>
          </div>
        }

      </nz-collapse-panel>
    }
  </nz-collapse>

  @if (formOrdenVenta.enabled) {
    <div class="acciones-detalle">
      <button nz-button nzType="primary" class="add-button" (click)="addItem($event)"
        [disabled]="hayItemVacio()" nz-tooltip
        nzTooltipTitle="{{ hayItemVacio() ? 'Complete el ítem actual antes de agregar otro' : ('app.icon.add' | i18n) }}">
        <span nz-icon nzType="plus"></span>
      </button>
    </div>

    <nz-form-item>
      <nz-form-control style="display: flex; justify-content: center; align-items: center;">
        <button nzType="primary" nz-button (click)="save()" [nzLoading]="guardando()"
          [disabled]="formOrdenVenta.pristine || guardando()">
          {{ 'app.btn.save' | i18n }}
        </button>
      </nz-form-control>
    </nz-form-item>
  }

</form>
