<nz-drawer [nzWidth]="750" [nzVisible]="visible()" [nzClosable]="false" (nzOnClose)="visible.set(false)"
[nzPlacement]="placement" nzTitle="Detalle del Personal"
>
  @if (visible()) {
  <div class="gridDetalleContainer container-fluid" *ngIf="(columnsPersonal$|async) as columnas">
    <angular-slickgrid gridId="gridDetalle" [columnDefinitions]="columnas | colsFilter" [gridOptions]="gridOptionsPersonal"
      [dataset]="(gridDataPersonal$ | async) || []" (onAngularGridCreated)="angularGridReady($event)">
    </angular-slickgrid>
  </div>
  }
</nz-drawer>