<nz-card class="small-margin">
  <form nz-form #cambiocatForm="ngForm">
    <ng-container >
      <ul nz-menu nzMode="horizontal">
        <li nz-menu-item routerLink="/ges/cambio_categoria/pendientes"  >
          <span nz-icon nzType=""></span>
          Cambios Pendientes
        </li>
        <li nz-menu-item routerLink="/ges/cambio_categoria/listado">
          <span nz-icon nzType=""></span>
          Categorías
        </li>
        <li nz-submenu nzTitle="Acciones" >
          <ul>
            <li nz-menu-item (click)="exportGrid()">
              <span nz-icon nzType="download"></span>XLS
            </li>
            <li nz-menu-item (click)="setCambiarCategorias()">
              <span nz-icon nzType="download"></span>Procesa Cambios
            </li>            
          </ul>
        </li>
      </ul>

      <nz-date-picker
        name="fecProcesoCambio"
        ngModel
        nzMode="date"
        (ngModelChange)="onChange($event)" />

      <nz-tabset nzCentered class="hide-ant-tabs-nav" nzLinkRouter>
        <nz-tab></nz-tab>
        <nz-tab >
          <a nz-tab-link routerLink="/ges/cambio_categoria/pendientes">Cambios Pendientes</a>
          <ng-template nz-tab>
            <div nz-row nzJustify="space-around">
              <div nz-col [nzSpan]="13" style="text-align: center">
                <label>Persona Responsable</label>
                <app-personal-search [anio]="periodo().getFullYear()" [mes]="periodo().getMonth()+1"
                  (ngModelChange)="formChanged($event)"
                  [(ngModel)]="selectedPersonalId"
                  [ngModelOptions]="{ standalone: true }" />
              </div>
            </div>

            <shared-filtro-builder
              [fieldsToSelect]="columns$ | async"
              (optionsChange)="listOptionsChange($event)" />

          </ng-template>
        </nz-tab>
      </nz-tabset>
    </ng-container>
  </form>
  <div class="gridContainer container-fluid" id="gridContainerCateg">
    <angular-slickgrid gridId="grid22"
      [columnDefinitions]="columns$ | async | colsFilter" 
      [gridOptions]="gridOptions"
      [dataset]="(gridData$ | async) || []"
      (onAngularGridCreated)="angularGridReady($event)">
    </angular-slickgrid>
  </div>

</nz-card>