.grid-weekend{
  color: red !important
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

.slick-footerrow-columns,  
.slickgrid-container .grid-canvas .slick-cell {
  font-size: 12px;
}

.slick-footerrow-column,
.slickgrid-container .grid-canvas .slick-cell,
.slick-cell {
  border-right: 1px solid #a5a5a5;
}
//app-personal-search > nz-select,

.ant-form-item {
  margin-bottom: 4px;
}

.ant-card-body {
  padding: 6px 0;
}

.app-horas-fijas{
  font-style: italic !important;
}
