<form nz-form #carasistForm="ngForm">
    <nz-form-item>
        <nz-form-label [nzSpan]="2">Periodo</nz-form-label>
        <nz-form-control>
            <nz-date-picker nzMode="month" name="periodo" ngModel (ngModelChange)="formChange($event,Busqueda.Periodo)"
                nzFormat="MM/yyyy" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="2">Objetivo</nz-form-label>
        <nz-form-control>
            <app-objetivo-search [(ngModel)]="selectedObjetivoId" name="ObjetivoId"
                (ngModelChange)="formChange($event, Busqueda.Objetivo)" ngModel />
        </nz-form-control>
    </nz-form-item>
    <ng-container *ngIf="$objetivoDetalle| async as objetivoDetalle">
        <nz-form-item>
            <nz-form-label [nzSpan]="2">Responsable</nz-form-label>
            <nz-form-control>
                <ng-container *ngIf="{ loading: objetivoResponsablesLoading$ | async } as responsablesContext">
                    <ng-container *ngIf="responsablesContext.loading">
                        <span nz-icon nzType="loading" class="loading-icon"></span>
                        Cargando
                    </ng-container>
                    <ng-container *ngFor="let responsable of objetivoDetalle.responsable">
                        <p *ngIf="responsable.GrupoActividadId" title="{{ responsable.GrupoActividadId }}">
                            {{responsable.GrupoActividadNumero}} -
                            {{responsable.GrupoActividadDetalle}} desde {{
                            responsable.GrupoActividadObjetivoDesde | date}} <span *ngIf="responsable.GrupoActividadObjetivoHasta
                        ">hasta</span> {{
                            responsable.GrupoActividadObjetivoHasta
                            | date}} </p>
                        <p *ngIf="responsable.PersonalIdCoordinador" title="{{ responsable.PersonalIdCoordinador }}">
                            Coordinador: {{responsable.ApellidoNombreCoordinador}} desde {{
                            responsable.ObjetivoPersonalJerarquicoDesde | date}} <span *ngIf="responsable.ObjetivoPersonalJerarquicoHasta
                        ">hasta</span> {{
                            responsable.GrupoActividadObjetivoHasta
                            | date}} </p>
                    </ng-container>
                </ng-container>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="2">Contrato</nz-form-label>
            <nz-form-control>
                <ng-container *ngFor="let contrato of objetivoDetalle.contratos">
                    <p>Desde {{contrato.ContratoFechaDesde | date}} <span
                            *ngIf="contrato.ContratoFechaHasta">hasta</span>
                        {{ contrato.ContratoFechaHasta | date}} </p>
                </ng-container>
            </nz-form-control>
        </nz-form-item>
        <button nz-button nzType="primary" nz-popconfirm *ngIf=" objetivoDetalle.periodo[0]?.ObjetivoAsistenciaAnoMesDesde == null || objetivoDetalle.periodo[0]?.ObjetivoAsistenciaAnoMesHasta != null" nzPopconfirmTitle="Habilita carga asistencia?"
            [nzBeforeConfirm]="" [nzPopconfirmShowArrow]="false" (nzOnConfirm)="setCargaAsistencia()">Inicia
            Carga</button>
        <button nz-button nzType="primary" nz-popconfirm nzPopconfirmTitle="Cierra carga asistencia?" *ngIf=" objetivoDetalle.periodo[0]?.ObjetivoAsistenciaAnoMesHasta == null"
            [nzBeforeConfirm]="" [nzPopconfirmShowArrow]="false" (nzOnConfirm)="endCargaAsistencia()">Finaliza
            Carga</button>
    </ng-container>
    <div class="grid-container-asis container-fluid">
        <angular-slickgrid gridId="gridEdit" [columnDefinitions]="columnas | colsFilter" [gridOptions]="gridOptionsEdit"
            [dataset]="gridDataInsert || []" (onCellChange)="onCellChanged($event)"
            (onAngularGridCreated)="angularGridReadyEdit($event)">
            <!-- (onBeforeEditCell)="onBeforeEditCell($event)" -->
        </angular-slickgrid>
    </div>
</form>