<nz-card class="small-margin">

  <form nz-form #carasistForm="ngForm">
    <div nz-row>
      <div nz-col [nzXs]="6" [nzSm]="6" [nzMd]="12" [nzLg]="3" [nzXl]="3">

        <nz-form-item>
          <nz-form-label>Periodo</nz-form-label>
          <nz-form-control>

            <nz-date-picker nzMode="month" name="periodo" ngModel (ngModelChange)="formChange($event,Busqueda.Periodo)"
              nzFormat="MM/yyyy" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" [nzLg]="8" [nzXl]="8">

        <nz-form-item>
          <nz-form-label>Objetivo</nz-form-label>
          <nz-form-control>
            <nz-space-compact nzBlock>
              <app-objetivo-search [(ngModel)]="selectedObjetivoId" name="ObjetivoId"
                (ngModelChange)="formChange($event, Busqueda.Objetivo)" [(valueExtended)]="objetivoInfo" ngModel
                style="width: 90%;" />
              <button nz-button nzType="default" (click)="formChange('', Busqueda.Objetivo)"><span nz-icon
                  nzType="reload" nzTheme="outline" nz-tooltip
                  nzTooltipTitle="{{ 'app.icon.reload' | i18n }}"></span></button>
            </nz-space-compact>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="7" [nzSm]="7" [nzMd]="7" [nzLg]="5" [nzXl]="5">
        <nz-form-item>
          <nz-form-label>Contrato</nz-form-label>
          <nz-form-control>
            @if (contratos.length==0 && selectedObjetivoId>0) { <nz-alert nzShowIcon nzType="error"
              nzMessage="Sin contrato" class="app-small"></nz-alert> }
            @for (contrato of contratos; track contrato) {
            <li>@if (!contrato.ContratoFechaHasta) {
              <span>Desde</span>
              } {{contrato.ContratoFechaDesde |
              date}}
              @if (contrato.ContratoFechaHasta) {
              <span>-</span>
              }
              {{ contrato.ContratoFechaHasta | date}}
            </li>
            }
          </nz-form-control>
        </nz-form-item>

      </div>
      <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="3" style="text-align:right;">
        @if (selectedObjetivoId>0) {
        <nz-space-compact>
          <div><button nz-button nzType="default" (nzOnConfirm)="eliminaGrilla()" nz-popconfirm
            nzPopconfirmTitle="Elimino toda la carga?" [disabled]="isLoadingCheck()"><span nz-icon
              [nzType]="isLoadingCheck() ? 'loading' : 'delete'" nzTheme="outline" nz-tooltip
              nzTooltipTitle="{{ 'app.icon.eliminargrilla' | i18n }}"></span></button></div>
          @if (gridDataInsert.length > 1 ) {
          <div><button nz-button nzType="default" (click)="exportGrid()"><span nz-icon nzType="download"></span>{{
            'app.btn.name.xls' | i18n }}</button></div>
          }
          <div><button nz-button nzType="default"
            [routerLink]="['/ges/asistencia_excepcion',{ObjetivoId:this.selectedObjetivoId}]"><span nz-icon
              nzType="right" nzTheme="outline"></span>{{ 'app.btn.exception' | i18n }}</button></div>
          @if (gridDataInsert.length <= 1 && gridOptionsEdit.editable) { 
            <div><button nz-button nzType="default"
            nz-popconfirm nzPopconfirmTitle="Cargo vigiladores del mes anterior?" (nzOnConfirm)="autocomplete()"><span
              nz-icon nzType="copy" nzTheme="outline"></span>{{'app.btn.copi.previous.month' | i18n }}</button></div>
            }
            @if ((periodos && (periodos[0]?.ObjetivoAsistenciaAnoMesDesde == null ||
            periodos[0]?.ObjetivoAsistenciaAnoMesHasta != null))) {
            <div><button nz-button nzType="primary" nz-popconfirm nzPopconfirmTitle="Habilita carga asistencia?"
              [nzBeforeConfirm]="" [nzPopconfirmShowArrow]="false" (nzOnConfirm)="setCargaAsistencia()"><span nz-icon
                nzType="plus" nzTheme="outline"></span>{{
              'app.btn.starloading' | i18n }}</button></div>
            }
            @if (periodos && periodos[0]?.ObjetivoAsistenciaAnoMesHasta == null &&
            periodos[0]?.ObjetivoAsistenciaAnoMesDesde != null) {
            <div><button nz-button nzType="primary" nz-popconfirm
              nzPopconfirmTitle="{{ (diffHoras()<0)?'Existe diferencia negativa entre horas a facturar y trabajadas, desea continuar con el cierre?':'Cierra carga asistencia?' }} "
              [nzBeforeConfirm]="" [nzPopconfirmShowArrow]="false" (nzOnConfirm)="endCargaAsistencia()"
              [disabled]="isLoadingCheck()"><span nz-icon nzType="check" nzTheme="outline"></span>{{'app.btn.endloading'
              | i18n }} </button></div>
            }
            @if (selectedObjetivoId == 1102 && gridOptionsEdit.editable) {
            <div><button nz-button nzType="default" nz-popconfirm [disabled]="controlAccesoDisabled()"
              nzPopconfirmTitle="Leo registros desde el reloj de asistencia?" (nzOnConfirm)="leerControlAcceso()"
              nz-tooltip nzTooltipTitle="{{'app.btn.control.acceso' | i18n }}"><span nz-icon nzType="copy"
                nzTheme="outline"></span></button></div>
            }
            <!-- <span app-reporte="Listado Asistencia Control Acceso" [isTitleVisible]="false">
                <button nz-button nzType="default" *ngIf="selectedObjetivoId == 1102" nz-tooltip
                  nzTooltipTitle="Exportar Asis. Bio.">
                  <span nz-icon nzType="download" nzTheme="outline"></span>
                </button>
              </span> -->
            @if (selectedObjetivoId == 1102) {
            <div><button nz-tooltip nzTooltipTitle="Exportar Asis. Bio." nz-button nzType="default" app-down-file
              [httpMethod]="'POST'"
              [httpBody]="{'Reporte':'Listado Asistencia Control Acceso','Formato':'EXCEL', 'Filtros': {'Ano':this.selectedPeriod.year,'Mes':selectedPeriod.month}}"
              httpUrl="api/informes/descarga"
              notificationMsg="Generando Informe Asistencia Biométrico {{this.selectedPeriod.month}}/{{this.selectedPeriod.year}}">
              <span nz-icon nzType="download"></span>
            </button></div>
            }

        </nz-space-compact>
        }
      </div>
    </div>

    <div nz-row>
      <div nz-col [nzSpan]="24">
        <nz-form-item>
          <nz-form-label>Observaciones Facturación</nz-form-label>
          <nz-form-control>
            <textarea nz-input name="Observaciones" [disabled]="!(gridOptionsEdit.editable ?? false)" type="text"
              ngModel (blur)="setValFact($event)" autocomplete="off"
              [nzAutosize]="{ minRows: 1, maxRows: 4 }"> </textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>


    <!-- ANTERIOR
    <div nz-row>
      <div nz-col [nzSpan]="10">
        <nz-form-item>
          <nz-form-label>Responsable</nz-form-label>
          @if ($objetivoDetalle| async; as objetivoDetalle) {
          <nz-form-control>
            @if (this.selectedObjetivoId>0) {
            <app-view-responsable [list]="objetivoDetalle.responsable"
              (changeSize)="collapseChange($event)"></app-view-responsable>
            }
          </nz-form-control>
          }
        </nz-form-item>

      </div>


      <div nz-col [nzSpan]="4">
        <nz-form-item>
          <nz-form-label>Horas a Facturar 'A'</nz-form-label>
          <nz-form-control nzSpan="9">
            <input nz-input name="TotalHoraA" [disabled]="!(gridOptionsEdit.editable ?? false)" type="text"
              appDotToComma mask="separator.1" ngModel (blur)="setValFact($event)" class="text-right"
              autocomplete="off" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="4">
        <nz-form-item>
          <nz-form-label>Horas a Facturar 'B'</nz-form-label>
          <nz-form-control nzSpan="9">
            <input nz-input name="TotalHoraB" [disabled]="!(gridOptionsEdit.editable ?? false)" type="text"
              appDotToComma mask="separator.1" ngModel (blur)="setValFact($event)" class="text-right"
              autocomplete="off" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="4">
        <nz-form-item>
          <nz-form-label>Total Horas Normales</nz-form-label>
          <nz-form-control nzSpan="9">
            <input nz-input name="TotalHorasReales" [disabled]="true" ngModel class="text-right" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="2" style="text-align:right;">
        <nz-button-group nz-button nzButtonGroup>
          <button nz-button nzType="default" (click)="openDrawer()"><span nz-icon nzType="user" nzTheme="outline"
              nz-tooltip nzTooltipTitle="{{ 'app.icon.people' | i18n }}"></span></button>
          <button nz-button nzType="default" (click)="validaGrilla()" [disabled]="isLoadingCheck"><span nz-icon
              [nzType]="isLoadingCheck ? 'loading' : 'check'" nzTheme="outline" nz-tooltip
              nzTooltipTitle="{{ 'app.icon.validar' | i18n }}"></span></button>

          <button nz-button nzType="default" (nzOnConfirm)="eliminaPersona()" nz-popconfirm
            [nzPopconfirmTitle]="'Elimino ' + getPersonalIdFromGrid().ApellidoNombre + '?'"
            [disabled]="isLoadingCheck"><span nz-icon [nzType]="isLoadingCheck ? 'loading' : 'delete'" nzTheme="outline"
              nz-tooltip nzTooltipTitle="{{ 'app.icon.eliminarpersona' | i18n }}"></span></button>

        </nz-button-group>

      </div>
    </div>

  -->



    <!-- Fila principal SIN gutter horizontal para que el label arranque al borde -->
    <div nz-row>

      <!-- RESPONSABLE -->
      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="12" [nzLg]="6" [nzXl]="6">
        <nz-form-item>
          <!-- En horizontal: label 8 / control 16; en vertical: ambos 24 -->
          <nz-form-label nzLabelWrap>
            Responsable
          </nz-form-label>

          @if ($objetivoDetalle | async; as objetivoDetalle) {
          <nz-form-control nzHasFeedback>
            @if (this.selectedObjetivoId > 0) {
            <app-view-responsable [list]="objetivoDetalle.responsable" (changeSize)="collapseChange($event)">
            </app-view-responsable>
            }
          </nz-form-control>
          }
        </nz-form-item>
      </div>

      <!-- HORAS A FACTURAR 'A' -->
      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="6" [nzLg]="5" [nzXl]="5">
        <nz-form-item>
          <nz-form-label nzFor="TotalHoraA" [nzLg]="8" [nzXl]="8" nzLabelWrap>
            Horas a Facturar 'A'
          </nz-form-label>

          <nz-form-control>
            <input nz-input id="TotalHoraA" name="TotalHoraA" [disabled]="!(gridOptionsEdit.editable ?? false)"
              type="text" appDotToComma mask="separator.1" ngModel (blur)="setValFact($event)" class="text-right"
              autocomplete="off" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <!-- HORAS A FACTURAR 'B' -->
      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="6" [nzLg]="5" [nzXl]="5">
        <nz-form-item>
          <nz-form-label nzFor="TotalHoraB" [nzLg]="8" [nzXl]="8" nzLabelWrap>
            Horas a Facturar 'B'
          </nz-form-label>

          <nz-form-control>
            <input nz-input id="TotalHoraB" name="TotalHoraB" [disabled]="!(gridOptionsEdit.editable ?? false)"
              type="text" appDotToComma mask="separator.1" ngModel (blur)="setValFact($event)" class="text-right"
              autocomplete="off" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <!-- TOTAL HORAS NORMALES -->
      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="6" [nzLg]="5" [nzXl]="5">
        <nz-form-item>
          <nz-form-label nzFor="TotalHorasReales" [nzLg]="8" [nzXl]="8" nzLabelWrap>
            Total Horas Normales
          </nz-form-label>

          <nz-form-control>
            <input nz-input id="TotalHorasReales" name="TotalHorasReales" [disabled]="true" ngModel
              class="text-right" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <!-- BOTONES -->
      <div nz-col [nzXs]="12" [nzSm]="12" [nzMd]="6" [nzLg]="3" [nzXl]="3" style="text-align:right;">
        <!-- Evitá nested rows con gutter horizontal aquí -->





        <!-- En angosto: nz-space con wrap; en ancho: nz-space-compact -->
        <nz-space-compact>
          <div>
            <button nz-button nzType="default" (click)="openDrawer()" nz-tooltip
              nzTooltipTitle="{{ 'app.icon.people' | i18n }}">
              <span nz-icon nzType="user" nzTheme="outline"></span>
            </button>
          </div>
          <div>
            <button nz-button nzType="default" (click)="validaGrilla()" [disabled]="isLoadingCheck()" nz-tooltip
              nzTooltipTitle="{{ 'app.icon.validar' | i18n }}">
              <span nz-icon [nzType]="isLoadingCheck() ? 'loading' : 'check'" nzTheme="outline"></span>
            </button>
          </div>
          <div>
            <button nz-button nzType="default" nz-popconfirm (nzOnConfirm)="eliminaPersona()"
              [nzPopconfirmTitle]="'Elimino ' + getPersonalIdFromGrid().ApellidoNombre + '?'"
              [disabled]="isLoadingCheck()" nz-tooltip nzTooltipTitle="{{ 'app.icon.eliminarpersona' | i18n }}">
              <span nz-icon [nzType]="isLoadingCheck() ? 'loading' : 'delete'" nzTheme="outline"></span>
            </button>
          </div>
        </nz-space-compact>

      </div>

    </div>





  </form>
  <div class="grid-container-asis container-fluid">
    <angular-slickgrid gridId="gridEdit" [columns]="columnas | colsFilter" [options]="gridOptionsEdit"
      [dataset]="gridDataInsert || []" (onCellChange)="onCellChanged($event)"
      (onAngularGridCreated)="angularGridReadyEdit($event)">
    </angular-slickgrid>
  </div>
</nz-card>
<app-detalle-persona [anio]="selectedPeriod.year" [mes]="selectedPeriod.month" [SucursalId]="selectedSucursalId"
  [PersonalId]="selectedPersonalId" [visible]="visibleDrawer" (onClose)="closeDrawer()"></app-detalle-persona>