.grid-weekend{
  color: red !important
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

.slickgrid-container .grid-canvas .slick-cell {
  font-size: 12px;
}

.slickgrid-container .slick-footerrow .slick-footerrow-columns .slick-footerrow-column {
  padding: 2px 0px 2px 0px;
  font-weight: normal;
}
.slick-footerrow-column,
.slickgrid-container .grid-canvas .slick-cell,
.slick-cell {
  border-right: 1px solid #a5a5a5;
}
//app-personal-search > nz-select,

.ant-form-item {
  margin-bottom: 4px;
}

.ant-card-body {
  padding: 6px 0;
}

.app-horas-fijas{
  font-style: italic !important;
}

.app-small > div {
padding: 4px 7px;
}