<form nz-form #carasistForm="ngForm">
    <nz-form-item>
        <nz-form-label [nzSpan]="2">Periodo</nz-form-label>
        <nz-form-control>
            <nz-date-picker nzMode="month" name="periodo" ngModel (ngModelChange)="formChange($event,Busqueda.Periodo)"
                nzFormat="MM/yyyy" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="2">Objetivo</nz-form-label>
        <nz-form-control>
            <ng-template #suffixReloadTpl>
                <a (click)="formChange('', Busqueda.Objetivo)"><span nz-icon nzType="reload"
                        nzTheme="outline"></span></a>
            </ng-template>
            <nz-input-group [nzAddOnAfter]="suffixReloadTpl" style="width: 90%">
                <app-objetivo-search [(ngModel)]="selectedObjetivoId" name="ObjetivoId"
                    (ngModelChange)="formChange($event, Busqueda.Objetivo)" ngModel style="width:100%" />

            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <ng-container *ngIf="$objetivoDetalle| async as objetivoDetalle">
        <nz-form-item>
            <nz-form-label [nzSpan]="2">Responsable</nz-form-label>
            <nz-form-control>
                <nz-collapse nzBordered="false"  nzGhost="false" class="app-collapse-header">
                    <nz-collapse-panel  [nzHeader]="objetivoDetalle.responsable[0]?.detalle" >
                        <ng-container *ngFor="let responsable of objetivoDetalle.responsable">
                            <li title="{{ responsable.id }}">
                                {{responsable.tipo}} {{responsable.detalle}} desde {{ responsable.desde | date}} <span
                                    *ngIf="responsable.hasta
                        ">hasta</span> {{responsable.hasta | date}}</li>
                        </ng-container>
                    </nz-collapse-panel>
                </nz-collapse>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="2">Contrato</nz-form-label>
            <nz-form-control>
                <ng-container *ngFor="let contrato of objetivoDetalle.contratos">
                    <li>Desde {{contrato.ContratoFechaDesde | date}} <span
                            *ngIf="contrato.ContratoFechaHasta">hasta</span>
                        {{ contrato.ContratoFechaHasta | date}} </li>
                </ng-container>
            </nz-form-control>
        </nz-form-item>
        <ng-container *ngIf="selectedObjetivoId>0">
            <button nz-button nzType="primary" nz-popconfirm
                *ngIf="(objetivoDetalle.periodo[0]?.ObjetivoAsistenciaAnoMesDesde == null || objetivoDetalle.periodo[0]?.ObjetivoAsistenciaAnoMesHasta != null)"
                nzPopconfirmTitle="Habilita carga asistencia?" [nzBeforeConfirm]="" [nzPopconfirmShowArrow]="false"
                (nzOnConfirm)="setCargaAsistencia()"><span nz-icon nzType="plus" nzTheme="outline"></span>Inicia
                Carga</button>
            <button nz-button nzType="primary" nz-popconfirm nzPopconfirmTitle="Cierra carga asistencia?"
                *ngIf=" objetivoDetalle.periodo[0]?.ObjetivoAsistenciaAnoMesHasta == null && objetivoDetalle.periodo[0]?.ObjetivoAsistenciaAnoMesDesde != null"
                [nzBeforeConfirm]="" [nzPopconfirmShowArrow]="false" (nzOnConfirm)="endCargaAsistencia()"><span nz-icon
                    nzType="check" nzTheme="outline"></span>Finaliza
                Carga</button>
        </ng-container>
    </ng-container>
</form>
<div class="grid-container-asis container-fluid">
    <angular-slickgrid gridId="gridEdit" [columnDefinitions]="columnas | colsFilter" [gridOptions]="gridOptionsEdit"
        [dataset]="gridDataInsert || []" (onCellChange)="onCellChanged($event)"
        (onAngularGridCreated)="angularGridReadyEdit($event)">
        <!-- (onBeforeEditCell)="onBeforeEditCell($event)" -->
    </angular-slickgrid>
</div>