<nz-card class="small-margin">
    <form nz-form #objpendForm="ngForm">
      <ng-container>
        <div nz-tab *ngIf="(columns$|async) as columnas">
          <shared-filtro-builder #sfb [fieldsToSelect]="columnas" [startFilters]="startFilters" (optionsChange)="listOptionsChange($event)"  />
        <div class="gridContainerOrd container-fluid" *ngIf="(columns$|async) as columnas">
            <angular-slickgrid gridId="gridEditOrd" class="" [columnDefinitions]="columnas | colsFilter"
              [gridOptions]="gridOptions" [dataset]="(gridData$ | async) || []"
              (onAngularGridCreated)="angularGridReady($event)">
            </angular-slickgrid>
          </div>
        </div>
      </ng-container>
    </form>
  </nz-card>
