<ng-template #phActionTpl>
  <nz-button-group>
    <button nz-button nzType="primary" disabled>L</button>
    <button nz-button nzType="default" disabled>M</button>
    <button nz-button nzType="default">M</button>
    <button nz-button nzType="dashed" disabled>R</button>
  </nz-button-group>
</ng-template>

<page-header [action]="phActionTpl"></page-header>

<nz-card class="small-margin">


  <form nz-form #asistenciaexcepcion="ngForm">

    <nz-form-item>
      <nz-form-label [nzSpan]="5">Periodo</nz-form-label>
      <nz-form-control>
        <nz-input-group>
          <div nz-row [nzGutter]="8">
            <div nz-col nzSpan="10">
              <input type="number" nz-input name="anio" ngModel />
            </div>
            <div nz-col nzSpan="4">
              <input type="number" nz-input name="mes" ngModel />
            </div>
          </div>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>


    <nz-form-item>
      <nz-form-label [nzSpan]="5">Sucursal</nz-form-label>
      <nz-form-control>
        <nz-select nzSpan="19" name="SucursalId" [(ngModel)]="selectedSucursalId"
          (ngModelChange)="selectedValueChange($event, Busqueda.Sucursal)" nzAllowClear nzPlaceHolder="Sucursal"
          nzShowSearch>
          <ng-container *ngFor="let option of $optionsSucursales | async">
            <nz-option [nzValue]="option.SucursalId" [nzLabel]="option.SucursalDescripcion"></nz-option>
          </ng-container>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="5">Objetivo</nz-form-label>
      <nz-form-control>
        <nz-select name="ObjetivoId" ngModel (ngModelChange)="selectedValueChange($event, Busqueda.Objetivo)"
          nzAllowClear nzPlaceHolder="Descripcion, Código" nzShowSearch nzServerSearch
          (nzOnSearch)="searchObjetivo($event)">
          <ng-container *ngFor="let option of $optionsObjetivos | async">
            <nz-option [nzValue]="option.ObjetivoId"
              nzLabel="{{option.ClienteId}}/{{option.ClienteElementoDependienteId | nzSafeNull: '0'}} {{option.ObjetivoDescripcion}}"></nz-option>
          </ng-container>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="5">Responsable</nz-form-label>
      <nz-form-control>
        <ng-container *ngFor="let responsable of $objetivoResponsables | async">
          <p >Responsable {{ responsable.ApellidoNombreJerarquico }} desde {{ responsable.ObjetivoPersonalJerarquicoDesde | date}} hasta {{ responsable.ObjetivoPersonalJerarquicoHasta | date}} </p>
        </ng-container>
      </nz-form-control>
    </nz-form-item>



    <nz-form-item>
      <nz-form-label [nzSpan]="5">Listado</nz-form-label>
      <nz-form-control>
        <nz-table #excep [nzData]="$listaExcepciones | async" nzSize="small">
          <thead>
            <tr>
              <th>CUIT</th>
              <th>Apellido y Nombre</th>
              <th>Autorizado</th>
              <th>Detalle</th>
              <th>Desde</th>
              <th>Hasta</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of excep.data">
              <td>{{data.PersonalCUITCUILCUIT}}</td>
              <td>{{data.ApellidoNombre}}</td>
              <td>{{data.PersonalArt14Autorizado}}</td>
              <td *ngIf="data.PersonalArt14FormaArt14=='S'">Suma fija {{data.PersonalArt14SumaFija}}</td>
              <td *ngIf="data.PersonalArt14FormaArt14=='H'">Horas {{data.PersonalArt14Horas}}</td>
              <td *ngIf="data.PersonalArt14FormaArt14=='E'">Equivalencia {{data.CategoriaPersonalDescripcion}}</td>
              <td *ngIf="data.PersonalArt14FormaArt14=='A'">Adicional Hora {{data.PersonalArt14AdicionalHora}}</td>
              <td>{{data.Desde | date}}</td>
              <td>{{data.Hasta | date}}</td>


              <!-- td>
            <a>Action 一 {{data.name}}</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a>Delete</a>
          </td -->
            </tr>
          </tbody>
        </nz-table>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="5">Persona</nz-form-label>
      <nz-form-control>
        <nz-select name="PersonaId" ngModel (ngModelChange)="selectedValueChange($event, Busqueda.Personal)"
          nzAllowClear nzPlaceHolder="Apellido, Nombre, CUIT" nzShowSearch nzServerSearch
          (nzOnSearch)="searchPersonal($event)">
          <ng-container *ngFor="let option of $optionsPersonal | async">
            <nz-option [nzValue]="option.PersonalId" [nzLabel]="option.fullName"></nz-option>
          </ng-container>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="5">Metodologia</nz-form-label>
      <nz-form-control>
        <nz-select name="metodologia" [(ngModel)]="selectedMetodologiaId" nzAllowClear nzPlaceHolder="Metodologia"
          nzShowSearch>
          <ng-container *ngFor="let option of $optionsMetodologia | async">
            <nz-option [nzValue]="option.id" [nzLabel]="option.descripcion"></nz-option>
          </ng-container>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <ng-container [ngSwitch]="selectedMetodologiaId">
      <nz-form-item *ngSwitchCase="'S'">
        <nz-form-label [nzSpan]="5">Monto fijo</nz-form-label>
        <nz-form-control>
          <nz-input-number name="SumaFija" ngModel [nzStep]="0"></nz-input-number>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngSwitchCase="'E'">
        <nz-form-label [nzSpan]="5">Equivalencia Categoria</nz-form-label>
        <nz-form-control>
          <nz-select name="Equivalencia" ngModel nzAllowClear nzPlaceHolder="Categoria" nzShowSearch>
            <ng-container *ngFor="let option of $optionsCategoria | async">
              <ng-container *ngIf="option.ValorLiquidacionSucursalId == selectedSucursalId">
                <nz-option
                  [nzValue]="{CategoriaPersonalId:option.CategoriaPersonalId,TipoAsociadoId:option.TipoAsociadoId}"
                  [nzLabel]="option.CategoriaPersonalDescripcion + ' ' + option.ValorLiquidacionHoraNormal"></nz-option>
              </ng-container>

            </ng-container>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngSwitchCase="'A'">
        <nz-form-label [nzSpan]="5">Monto Adicional por hora </nz-form-label>
        <nz-form-control>
          <nz-input-number name="AdicionalHora" ngModel [nzStep]="1"></nz-input-number>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngSwitchCase="'H'">
        <nz-form-label [nzSpan]="5">Horas adicionales</nz-form-label>
        <nz-form-control>
          <nz-input-number name="Horas" ngModel [nzStep]="1"></nz-input-number>
        </nz-form-control>
      </nz-form-item>
    </ng-container>

    <nz-form-item nz-row>
      <nz-form-control [nzSpan]="14" [nzOffset]="5">
        <button nz-button nzType="primary" [nzSize]="'default'" (click)="saveexception()">
          <span nz-icon nzType="save" nzTheme="outline"></span>Graba</button>
      </nz-form-control>
    </nz-form-item>
  </form>

</nz-card>

<ng-template #optionsLoading>
  <nz-option nzDisabled nzCustomContent>
    <span nz-icon nzType="loading" class="loading-icon"></span>
    Loading Data...
  </nz-option>
</ng-template>