<ng-template #phActionTpl>
  <nz-button-group>
    <button nz-button nzType="primary" disabled>L</button>
    <button nz-button nzType="default" disabled>M</button>
    <button nz-button nzType="default">M</button>
    <button nz-button nzType="dashed" disabled>R</button>
  </nz-button-group>
</ng-template>

<page-header [action]="phActionTpl"></page-header>
<nz-card class="small-margin">


  <form nz-form #asistenciaexcepcion="ngForm">
    <nz-form-item>
      <nz-form-label [nzSpan]="5">Periodo</nz-form-label>
      <nz-form-control>
        <nz-input-group>
          <div nz-row [nzGutter]="8">
            <div nz-col nzSpan="10">
              <input type="number" nz-input name="anio" ngModel
                (ngModelChange)="selectedValueChange($event, Busqueda.Anio)" />
            </div>
            <div nz-col nzSpan="4">
              <input type="number" nz-input name="mes" ngModel
                (ngModelChange)="selectedValueChange($event, Busqueda.Mes)" />
            </div>
          </div>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>


    <nz-form-item>
      <nz-form-label [nzSpan]="5">Sucursal</nz-form-label>
      <nz-form-control>
        <nz-select nzSpan="19" name="SucursalId" [(ngModel)]="selectedSucursalId" [nzDropdownMatchSelectWidth]="false"
          (ngModelChange)="selectedValueChange($event, Busqueda.Sucursal)" nzAllowClear nzPlaceHolder="Sucursal"
          nzShowSearch>
          <ng-container *ngFor="let option of $optionsSucursales | async">
            <nz-option [nzValue]="option.SucursalId" [nzLabel]="option.SucursalDescripcion"></nz-option>
          </ng-container>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="5">Objetivo</nz-form-label>
      <nz-form-control>
        <app-objetivo-search [(ngModel)]="selectedObjetivoId" name="ObjetivoId"
          (ngModelChange)="selectedValueChange($event, Busqueda.Objetivo)" ngModel />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="5">Responsable</nz-form-label>
      <nz-form-control>
        <ng-container *ngFor="let responsable of $objetivoResponsables | async">
          <p *ngIf="responsable.GrupoActividadId" title="{{ responsable.GrupoActividadId }}">
            {{responsable.GrupoActividadNumero}} -
            {{responsable.GrupoActividadDetalle}} desde {{
            responsable.GrupoActividadObjetivoDesde | date}} <span *ngIf="responsable.GrupoActividadObjetivoHasta
              ">hasta</span> {{
            responsable.GrupoActividadObjetivoHasta
            | date}} </p>
          <p *ngIf="responsable.PersonalIdCoordinador" title="{{ responsable.PersonalIdCoordinador }}">Coordinador:
            {{responsable.ApellidoNombreCoordinador}} desde {{
            responsable.ObjetivoPersonalJerarquicoDesde | date}} <span *ngIf="responsable.ObjetivoPersonalJerarquicoHasta
              ">hasta</span> {{
            responsable.GrupoActividadObjetivoHasta
            | date}} </p>

        </ng-container>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="5"><span>Listado:</span><span class="rowapro">Autorizado</span>/<span
          class="rowpend">Pendiente</span></nz-form-label>
      <nz-form-control>
        <nz-table #excep [nzData]="$listaExcepciones | async" nzSize="small" [nzPageSize]="100000000"
          [nzShowPagination]="false">
          <thead>
            <tr>
              <th>Persona</th>
              <th>Método</th>
              <th>Vigencia</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="$optionsMetodologia | async; let optionsMetodologia">

              <tr *ngFor="let data of excep.data"
                [ngClass]="{rowapro:data.PersonalArt14Autorizado=='S',rowpend:data.PersonalArt14Autorizado==''}">
                <td title="{{ data.PersonalId }}"><span nz-col>{{data.ApellidoNombre}}</span><span nz-col>
                    {{data.PersonalCUITCUILCUIT}}</span> </td>
                <td>
                  <span>{{data.ConceptoArt14Descripcion}} {{data.FormaDescripcion}}</span>
                  <span *ngIf="data.PersonalArt14FormaArt14=='S'">{{data.PersonalArt14SumaFija | currency:'$' }}</span>
                  <span *ngIf="data.PersonalArt14FormaArt14=='H'">{{data.PersonalArt14Horas}}</span>
                  <span *ngIf="data.PersonalArt14FormaArt14=='E'">{{data.CategoriaPersonalDescripcion}}</span>
                  <span *ngIf="data.PersonalArt14FormaArt14=='A'">{{data.PersonalArt14AdicionalHora |
                    currency:'$'}}</span>
                </td>
                <td>{{data.Desde | date}} <BR>{{data.Hasta | date}}</td>

                <!-- td>
            <a>Action 一 {{data.name}}</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a>Delete</a>
          </td -->
              </tr>
            </ng-container>
          </tbody>
        </nz-table>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="5">Persona</nz-form-label>
      <nz-form-control>
        <app-personal-search name="PersonalId" ngModel (ngModelChange)="selectedValueChange($event, Busqueda.Personal)" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="5">Responsable</nz-form-label>
      <nz-form-control>
        <ng-container *ngFor="let responsable of $personaResponsables | async">
          <p title="{{ responsable.GrupoActividadId }}">
            {{ responsable.GrupoActividadNumero }} {{ responsable.GrupoActividadDetalle }} desde
            {{
            responsable.GrupoActividadPersonalDesde | date
            }}
            <span *ngIf="responsable.GrupoActividadPersonalHasta">
              hasta
            </span>
            {{
            responsable.GrupoActividadPersonalHasta | date
            }}
          </p>
        </ng-container>
      </nz-form-control>
    </nz-form-item>

    <ng-container *ngIf="$optionsMetodologia | async; let optionsMetodologia">

      <nz-form-item>
        <nz-form-label [nzSpan]="5">Metodologia</nz-form-label>
        <nz-form-control>
          <nz-select name="metodologia" [(ngModel)]="selectedMetodologiaId" nzAllowClear nzPlaceHolder="Metodologia"
            [nzDropdownMatchSelectWidth]="false" nzShowSearch>
            <ng-container *ngFor="let option of optionsMetodologia">
              <nz-option [nzValue]="option"
                [nzLabel]="option.etiqueta + ' (' + option.descripcion + ')'"></nz-option>
            </ng-container>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item *ngIf="asistenciaexcepcion.controls['metodologia']?.value">
        <input name="metodo" [ngModel]="asistenciaexcepcion.controls['metodologia'].value.metodo" type="hidden">
        <input name="metodologiaId" [ngModel]="asistenciaexcepcion.controls['metodologia'].value.id" type="hidden">
    
        <nz-form-label [nzSpan]="5"> <span>{{asistenciaexcepcion.controls['metodologia'].value.etiqueta}} </span>
        </nz-form-label>
        <ng-container  [ngSwitch]="asistenciaexcepcion.controls['metodologia'].value.metodo">
          <nz-form-control *ngSwitchCase="'S'">
            <nz-input-number name="SumaFija" ngModel [nzStep]="0" style="width:100%"></nz-input-number>
          </nz-form-control>
          <nz-form-control *ngSwitchCase="'E'">
            <nz-select name="Equivalencia" ngModel nzAllowClear nzPlaceHolder="Categoria" nzShowSearch
              [nzDropdownMatchSelectWidth]="false">
              <ng-container *ngFor="let option of $optionsCategoria | async">
                <ng-container *ngIf="option.ValorLiquidacionSucursalId == selectedSucursalId">
                  <nz-option
                    [nzValue]="{CategoriaPersonalId:option.CategoriaPersonalId,TipoAsociadoId:option.TipoAsociadoId}"
                    [nzLabel]="option.CategoriaPersonalDescripcion + ' ' + (option.ValorLiquidacionHoraNormal | currency:'$')"></nz-option>
                </ng-container>

              </ng-container>
            </nz-select>
          </nz-form-control>

          <nz-form-control *ngSwitchCase="'A'">
            <nz-input-number name="AdicionalHora" ngModel [nzStep]="1" style="width:100%"></nz-input-number>
          </nz-form-control>
          <nz-form-control *ngSwitchCase="'H'">
            <nz-input-number name="Horas" ngModel [nzStep]="1"></nz-input-number>
          </nz-form-control>
        </ng-container>
      </nz-form-item>

    </ng-container>
    <nz-button-group nz-row nzJustify="space-between">

      <button nz-col nz-button nzType="primary" [nzSize]="'default'" (click)="saveexception()">
        <span nz-icon nzType="save" nzTheme="outline"></span>Graba
      </button>

      <button nz-col nzDanger nz-button nzType="primary" [nzSize]="'default'" (click)="endexception()"
        *ngIf="asistenciaexcepcion.controls['metodo']?.value && asistenciaexcepcion.controls['PersonalId']?.value && selectedObjetivoId">
        <span nz-icon nzType="delete" nzTheme="outline"></span>Finaliza excepción</button>
    </nz-button-group>

  </form>

</nz-card>

<ng-template #optionsLoading>
  <nz-option nzDisabled nzCustomContent>
    <span nz-icon nzType="loading" class="loading-icon"></span>
    Loading Data...
  </nz-option>
</ng-template>