@if ((columnsPersonal$|async); as columnas) {
  <form nz-form #listadoPer="ngForm">
    <nz-form-item>
      <nz-form-label [nzSpan]="5">Responsable</nz-form-label>
      <nz-form-control nzHasFeedback>
        <app-personal-search name="persona_id_responsable"
          (ngModelChange)="selectedValueChange($event)" [(ngModel)]="responsable" [ngModelOptions]="{ standalone: true }"  />
      </nz-form-control>
    </nz-form-item>
    <!-- <shared-filtro-builder [fieldsToSelect]="columnas" (optionsChange)="listOptionsChange($event)" /> -->
   </form>


  

  <div class="gridContainer container-fluid">
    <angular-slickgrid gridId="gridPersonalGrupo" class="" [columnDefinitions]="columnas | colsFilter"
      [gridOptions]="gridOptionsPersonal" [dataset]="(gridDataPersonal$ | async) || []"
      (onAngularGridCreated)="angularGridReady($event)">
    </angular-slickgrid>
  </div>
}
