<nz-select #msc [(ngModel)]="_selected" [nzDropdownMatchSelectWidth]="false" [ngModelOptions]="{ standalone: true }" 
style="width: 100%" nzAllowClear nzPlaceHolder="Tipo de Movimiento" (ngModelChange)="modelChange($event)"
nzShowSearch nzServerSearch (nzOnSearch)="search($event)" nzMode="multiple">
    <ng-container *ngFor="let option of $optionsArray | async">
        <nz-option *ngIf="($isOptionsLoading | async) == false" [nzValue]="option"
          nzLabel="{{ option.des_movimiento }}" />
    </ng-container>
</nz-select>