
  <ng-container>
    @if (startFiltersReady()) {
      <shared-filtro-builder [fieldsToSelect]="columns()" [startFilters]="startFilters()"
        [keyLocalstorage]="constructor.name" (optionsChange)="listOptionsChange($event)" />
    }

    <div class="gridContainerOrdenVenta container-fluid">
      @if (columns().length){
      <angular-slickgrid gridId="gridOrdenVenta" [columns]="columns()" [options]="gridOptions"
        [dataset]="gridData()" (onAngularGridCreated)="angularGridReady($event)"
        (onSelectedRowsChanged)="handleSelectedRowsChanged($event)">
      </angular-slickgrid>
      }
    </div>
  </ng-container>
