<nz-card class="small-margin">

  <div nz-row style="display: flex; justify-content: space-between; align-items: center;">

    <div nz-row nzSpan="12">
    </div>

    <ul nz-menu nzMode="horizontal" style="display: flex;">
      <li nz-menu-item nzMatchRouter>
        <span nz-icon nzType=""></span>
        <a [routerLink]="['/', 'ges', 'efecto', 'personal']">Personal</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <span nz-icon nzType=""></span>
        <a [routerLink]="['/', 'ges', 'efecto', 'objetivos']">Objetivos</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <span nz-icon nzType=""></span>
        <a [routerLink]="['/', 'ges', 'efecto', 'deposito']">Depósito</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <span nz-icon nzType=""></span>
        <a [routerLink]="['/', 'ges', 'efecto', 'proveedores']">Proveedores</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <span nz-icon nzType=""></span>
        <a [routerLink]="['/', 'ges', 'efecto', 'general']">General</a>
      </li>
    </ul>

    <nz-button-group nz-button nz-buttonGroup>
      <!-- Recarga de grilla -->
      <button nz-button nzType="default" nz-tooltip nzTooltipTitle="{{ 'app.icon.reload' | i18n }}"
        (click)="reloadGrid()">
        <span nz-icon nzType="reload" nzTheme="outline"></span>
      </button>
    </nz-button-group>

  </div>

  @switch (activeTab()) {
    @case ('personal') {
      <app-table-personal-efecto [refreshGrid]="refreshTick()" />
    }
    @case ('objetivos') {
      <app-table-objetivos-efecto [refreshGrid]="refreshTick()" />
    }
    @case ('deposito') {
      <app-table-deposito-efecto [refreshGrid]="refreshTick()" />
    }
    @case ('proveedores') {
      <app-table-proveedores-efecto [refreshGrid]="refreshTick()" />
    }
    @case ('general') {
      <app-table-efecto-general [refreshGrid]="refreshTick()" />
    }
  }

</nz-card>
