<nz-card class="small-margin">

  <div nz-row style="display: flex; justify-content: center; align-items: center;">
    
        <ul nz-menu nzMode="horizontal" style="display: flex;">   
        <li nz-menu-item nzSelected>
          <span nz-icon nzType=""></span>
          <a [routerLink]="['/', 'ges', 'efecto', 'personal']">Personal</a>
        </li>
        <li nz-menu-item>
          <span nz-icon nzType=""></span>
          <a [routerLink]="['/', 'ges', 'efecto', 'objetivos']">Objetivos</a>
        </li>
      </ul>
    
  </div>

  <nz-tabset nzCentered nzLinkRouter class="hide-ant-tabs-nav">
    <nz-tab></nz-tab>
    <nz-tab>
      <a nz-tab-link routerLink="/ges/efecto/personal">Personal</a>
      <ng-template nz-tab>
        <app-table-personal-efecto></app-table-personal-efecto>
      </ng-template>
    </nz-tab>

    <nz-tab>
      <a nz-tab-link routerLink="/ges/efecto/objetivos">Objetivos</a>
      <ng-template nz-tab>
        <app-table-objetivos-efecto></app-table-objetivos-efecto>
      </ng-template>
    </nz-tab>
  </nz-tabset>

</nz-card>
