<nz-card class="small-margin">

  <div nz-row style="align-items: center; display: flex; justify-content: space-between;">


    <div nz-row>
      <nz-form-label [nzSpan]="10">Periodo</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <nz-date-picker nzMode="month" [ngModel]="periodo()" (ngModelChange)="periodo.set($event)" nzFormat="MM/yyyy"
          style="width: 100%;" />
      </nz-form-control>

    </div>

    <div nz-col style="display: flex;flex-direction: row-reverse;">
      <nz-button-group nz-button nzButtonGroup>
        <a [routerLink]="['/', 'ges', 'condiciones-venta','alta']" nz-tooltip
          nzTooltipTitle="{{ 'app.icon.add' | i18n }}">
          <button nz-button nzType="default"><span nz-icon nzType="plus" nzTheme="outline"></span></button>
        </a>
        <a [routerLink]="['/', 'ges', 'condiciones-venta','modificar']" nz-tooltip
          nzTooltipTitle="{{ 'app.icon.edit' | i18n }}">
          <button nz-button nzType="default" [disabled]="!(codobj() && PeriodoDesdeAplica())"><span nz-icon
              nzType="edit" nzTheme="outline"></span></button>
        </a>

        <a nz-tooltip nzTooltipTitle="{{ 'app.icon.autorizar' | i18n }}">
          <button nz-button nzType="default" [disabled]="condicionesSeleccionadas().length === 0"
            (click)="autorizarCondicionVenta()"><span nz-icon nzType="check" nzTheme="outline"></span></button>
        </a>
        <a nz-tooltip nzTooltipTitle="{{ 'app.icon.rechazar' | i18n }}">
          <button nz-button nzType="default" [disabled]="condicionesSeleccionadas().length === 0"
            (click)="rechazarCondicionVenta()"><span nz-icon nzType="close" nzTheme="outline"></span></button>
        </a>
      </nz-button-group>
    </div>
  </div>
  <div nz-row class="contentStyle">
    <div nz-col nzSpan="13" class="listStyle">
      <ul nz-menu nzMode="horizontal" style="display: flex;">
        <li nz-menu-item nzMatchRouter>
          <span nz-icon nzType=""></span>
          <a [routerLink]="['/', 'ges', 'condiciones-venta', 'listado']"
            (click)="viewListado.set(true); RefreshCondVenta.set(true)">{{ 'app.listado' | i18n }} </a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <span nz-icon nzType=""></span>
          <a [routerLink]="['/', 'ges', 'condiciones-venta', 'detalle']"
            (click)="viewListado.set(false); RefreshCondVenta.set(false)">{{ 'app.detail' | i18n }} </a>
        </li>
      </ul>
      @if(!childIsPristine()){
      <li nz-menu-item nzMatchRouter>
        <span nz-icon nzType=""></span>
        <a [routerLink]="['/', 'ges', 'condiciones-venta', 'alta']" (click)="viewListado.set(false)">{{ 'app.alta' |
          i18n }}</a>
      </li>
      }
    </div>

  </div>
  <nz-tabs nzCentered nzLinkRouter class="hide-ant-tabs-nav" (nzSelectChange)="onTabsetChange($event)">
    <nz-tab></nz-tab>
    <nz-tab>
      <a nz-tab-link routerLink="/ges/condiciones-venta/listado">{{ 'app.icon.objectives' | i18n }} </a>
      <ng-template nz-tab>
        <app-table-condicion-venta #tableCondicionVenta [periodo]="periodo()" [(codobj)]="codobj"
          [(PeriodoDesdeAplica)]="PeriodoDesdeAplica"
          [(RefreshCondVenta)]="RefreshCondVenta"
          [(condicionesSeleccionadas)]="condicionesSeleccionadas"></app-table-condicion-venta>
      </ng-template>
    </nz-tab>

    <nz-tab>
      <a nz-tab-link routerLink="/ges/condiciones-venta/modificar">{{ 'app.icon.edit' | i18n }}</a>
      <ng-template nz-tab>
        <app-condicion-venta-form #condicionVentaFormEditar [(codobjId)]="codobj"
          [(PeriodoDesdeAplica)]="PeriodoDesdeAplica" ></app-condicion-venta-form>
      </ng-template>
    </nz-tab>

    <nz-tab>
      <a nz-tab-link routerLink="/ges/condiciones-venta/detalle">{{ 'app.icon.detail' | i18n }}</a>
      <ng-template nz-tab>
        <app-condicion-venta-form #condicionVentaFormDetalle [(codobjId)]="codobj"
          [(PeriodoDesdeAplica)]="PeriodoDesdeAplica"></app-condicion-venta-form>
      </ng-template>
    </nz-tab>

    <nz-tab>
      <a nz-tab-link routerLink="/ges/condiciones-venta/alta">{{ 'app.alta' | i18n }}</a>
      <ng-template nz-tab>
        <app-condicion-venta-form #condicionVentaFormAlta [(codobjId)]="codobj"
          [(PeriodoDesdeAplica)]="PeriodoDesdeAplica"></app-condicion-venta-form>
      </ng-template>
    </nz-tab>

  </nz-tabs>

</nz-card>