<ng-template #phActionTpl>
  <nz-button-group>
    <button nz-button (click)="add()" nzType="primary" disabled>L</button>
    <button nz-button nzType="default" disabled>M</button>
    <button nz-button nzType="default">M</button>
    <button nz-button nzType="dashed" disabled>R</button>
  </nz-button-group>
</ng-template>

<page-header [action]="phActionTpl"></page-header>
<nz-card class="small-margin">
  <nz-table
    class="small-margin"
    #virtualTable
    nzSize="small"
    nzShowPagination
    nzShowSizeChanger
    [nzBordered]="true"
    [nzData]="listOfData"
    [nzVirtualForTrackBy]="trackByIndex"
    [nzVirtualItemSize]="54"
    [nzShowPagination]="true"
    [nzScroll]="{ x: '1200px', y: '540px' }"
    [nzFrontPagination]="false"

  >
    <thead>
      <tr>
        <ng-container *ngFor="let col of cols">
          <th
            *ngIf="col.width"
            nz-resizable
            nzPreview
            nzBounds="window"
            [nzWidth]="col.width"
            [nzMaxWidth]="256"
            [nzMinWidth]="60"
            (nzResizeEnd)="onResize($event, col.title)"
          >
            {{ col.title }}
            <nz-resize-handle nzDirection="right">
              <div class="resize-trigger"></div>
            </nz-resize-handle>
          </th>
          <th *ngIf="!col.width">
            {{ col.title }}
          </th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <ng-template nz-virtual-scroll let-data let-index="index">
        <tr>
          <td nzLeft>{{ data.name }}</td>
          <td nzLeft>{{ data.age }}</td>
          <td>{{ data.index }}</td>
          <td>{{ data.address }}</td>
          <td>{{ data.address }}</td>
          <td>{{ data.address }}</td>
          <td>{{ data.address }}</td>
          <td>{{ data.address }}</td>
          <td>{{ data.address }}</td>
          <td>{{ data.address }}</td>
          <td>{{ data.address }}</td>
          <td nzRight>
            <a>action</a>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </nz-table>
</nz-card>

<nz-card class="small-margin">
  <sf mode="search" [schema]="searchSchema" (formSubmit)="st.reset($event)" (formReset)="st.reset($event)"></sf>
  <st #st [data]="url" [columns]="columns"></st>
</nz-card>
