<nz-card class="small-margin">
  <ul nz-menu nzMode="horizontal">
    <li nz-menu-item nzMatchRouter>
      <span nz-icon nzType=""></span>
      <a [routerLink]="['/', 'ges', 'ayuda_asistencial','listado']">Listado</a>
    </li>
    <!-- <li nz-menu-item nzMatchRouter>
      <span nz-icon nzType=""></span>
      <a [routerLink]="['/', 'ges', 'adelanto','carga']">Carga</a>
    </li> -->
  </ul>
  <form nz-form #formAsist="ngForm" class="">
    <br>
    <nz-form-item>
      <nz-form-label [nzSpan]="2">Periodo</nz-form-label>
      <nz-form-control>
        <nz-date-picker nzMode="month" name="periodo" ngModel (ngModelChange)="dateChange($event)" />
      </nz-form-control>
      <nz-form-control style="display: flex; justify-content:center; align-items:end;">
        <button nzType="default" nz-button nz-popconfirm nzPopconfirmTitle="¿Aprobar {{rows.length}} registros?" (nzOnConfirm)="aprobarReg()" [disabled]="!rows.length || loadingRec() || loadingCuo()" [nzLoading]="loadingApr()" >
          <span nz-icon nzType="check" nzTheme="outline"></span>
        </button>
        <button nzType="default" nz-button nz-popconfirm nzPopconfirmTitle="¿Rechazar {{rows.length}} registros?" (nzOnConfirm)="rechazarReg()" [disabled]="!rows.length || loadingApr() || loadingCuo()" [nzLoading]="loadingRec()" >
          <span nz-icon nzType="close" nzTheme="outline"></span>
        </button>
        <button nzType="default" nz-button nz-popconfirm nzPopconfirmTitle="Generar cuotas para el periodo {{selectedPeriod.month}}/{{selectedPeriod.year}}" (nzOnConfirm)="addCuotaReg()" [nzLoading]="loadingCuo()" >
          <span nz-icon nzType="info-circle" nzTheme="outline"></span>
        </button>
        <button nzType="default" nz-button (click)="openDrawer()" [nzLoading]="false" >
          <span nz-icon nzType="plus" nzTheme="outline"></span>
        </button>
      </nz-form-control>
    </nz-form-item>

    <nz-tabset nzCentered nzLinkRouter class="hide-ant-tabs-nav">
      <nz-tab>
        <a nz-tab-link routerLink="/ges/ayuda_asistencial/listado">Listado</a>
        <ng-template nz-tab *ngIf="(columns$|async) as columnas">
          <shared-filtro-builder #sfb [fieldsToSelect]="columnas" [startFilters]="startFilters" (optionsChange)="listOptionsChange($event)"/>
          <div class="gridContainer container-fluid">
            <angular-slickgrid gridId="grid" class="" [columnDefinitions]="columnas | colsFilter"
              [gridOptions]="gridOptions" [dataset]="(gridData$ | async) || []"
              (onAngularGridCreated)="angularGridReady($event)" (onBeforeEditCell)="handleOnBeforeEditCell($event)"
              (onSelectedRowsChanged)="handleSelectedRowsChanged($event)"
              >
            </angular-slickgrid>
          </div>
        </ng-template>
      </nz-tab>
      
    </nz-tabset>
  </form>

</nz-card>
<app-ayuda-asistencial-drawer [tituloDrawer] = "tituloDrawer" [(visible)]="visibleDrawer"></app-ayuda-asistencial-drawer>