<nz-select #isc [(ngModel)]="_selected" [nzDropdownMatchSelectWidth]="false" [ngModelOptions]="{ standalone: true }" 
  (ngModelChange)="modelChange($event)" nzAllowClear nzPlaceHolder="Estudio"
  nzShowSearch nzServerSearch (nzOnSearch)="search($event)" >
  <ng-container *ngFor="let option of $optionsArray | async">
    <nz-option *ngIf="($isOptionsLoading | async) == false" [nzValue]="option.ModalidadCursoCodigo"
      nzLabel="{{ option.ModalidadCursoModalidad }} ({{option.ModalidadCursoCodigo}})" />
  </ng-container>
  <nz-option *ngIf="extendedOption.ModalidadCursoCodigo > 0" [nzValue]="extendedOption.ModalidadCursoCodigo"
    [nzLabel]="extendedOption.ModalidadCursoModalidad" />
  <nz-option *ngIf="$isOptionsLoading | async" nzDisabled nzCustomContent>
    <span nz-icon nzType="loading" class="loading-icon"></span>
    Cargando datos...
  </nz-option>
</nz-select>


