@if(isTitleVisible()){<span> {{reportTitle()}}</span>}

<ng-content />

<nz-modal [(nzVisible)]="isVisible" (nzOnCancel)="isVisible.set(false)" [nzTitle]="reportTitle()">

  <div *nzModalContent>

    @if (isLoading()) {
      <nz-spin nzTip="Cargando filtros..."></nz-spin>
    }

    @if (!isLoading()) {

      @for (param of filtrosReporte(); track param) {
        <div>
          <label>{{ param.Prompt }}</label>
          <nz-input-group [nzSize]="'large'">
            <!-- Si es String y tiene valores válidos, mostrar un nz-select -->
            @if (param.ParameterType === 'String' && param.ValidValues.length) {
              <nz-select
                nzPlaceHolder="Seleccione una opción"
                [nzDropdownMatchSelectWidth]="false" nzShowSearch [(ngModel)]="param.Value"
                >
                @for (option of param.ValidValues; track option) {
                  <nz-option
                    [nzValue]="option.Value"
                    [nzLabel]="option.Label">
                  </nz-option>
                }
              </nz-select>
            }
            <!-- Si es String y NO tiene valores válidos, mostrar un input de texto -->
            @if (param.ParameterType === 'String' && (!param.ValidValues || param.ValidValues.length === 0)) {
              <input nz-input
                type="text"
                [(ngModel)]="param.Value"  />
            }
            <!-- Si es Integer, mostrar un input numérico entero -->
            @if (param.ParameterType === 'Integer') {
              <nz-input-number
                [nzMin]="-999999"
                [nzMax]="999999"
                [nzStep]="1"
                [(ngModel)]="param.Value"
                style="width: 50%">
              </nz-input-number>
            }
            <!-- Si es Float, mostrar un input numérico decimal -->
            @if (param.ParameterType === 'Float') {
              <nz-input-number
                [nzMin]="-999999"
                [nzMax]="999999"
                [nzStep]="0.01"
                [(ngModel)]="param.Value"
                style="width: 50%">
              </nz-input-number>
            }
            <!-- Si es Boolean, mostrar un checkbox -->
            @if (param.ParameterType === 'Boolean') {
              <label nz-checkbox
                [(ngModel)]="param.Value">
              </label>
            }
            <!-- Si es DateTime, mostrar un input con calendario -->
            @if (param.ParameterType === 'DateTime') {
              <nz-date-picker
                [(ngModel)]="param.Value"
                >
              </nz-date-picker>
            }
          </nz-input-group>
        </div>
      }

    }
  </div>
  <div *nzModalFooter style="text-align: right;">

    <button [disabled]="isLoading()" app-down-file [httpMethod]="'POST'"
      [httpBody]="{'Reporte':reportTitle(),'Formato':'EXCEL', 'Filtros': getFiltros()}"
      httpUrl="api/informes/descarga" notificationMsg="Generando Informe Seguro" nz-button nzType="primary">
      <span nz-icon nzType="download"></span> Generar Reporte
    </button>
  </div>
</nz-modal>