<nz-drawer [nzClosable]="true" [nzVisible]="visible()" [nzOffsetX]="0" [nzPlacement]="placement" [nzWidth]="1000"
  nzTitle="Edición Masiva de Órdenes de Venta" (nzOnClose)="visible.set(false)">
  <ng-container *nzDrawerContent>

    <form [formGroup]="formMasivo()">
      <div formArrayName="clientes">
           <div class="input-container1">
      <div class="input-label">Agregar</div>
    </div>

        @for (cliente of clientes(); let i = $index; track cliente.ClienteId) {
          <div [formGroupName]="i">
            <nz-card nzType="inner" nzTitle="{{ cliente.ClienteId }} - {{ cliente.Cliente }}" class="marginElement">

              <!-- Dos campos por fila: etiqueta 5 + control 7, dos veces, cierra en 24 -->
              <nz-form-item class="marginElement">
                <nz-form-label [nzXs]="24" [nzMd]="3" nzLabelWrap>Estado</nz-form-label>
                <nz-form-control [nzXs]="24" [nzMd]="9">
                  <nz-select formControlName="EstadoOrdenVentaCodigo" nzPlaceHolder="Estado" nzAllowClear
                    [nzDropdownMatchSelectWidth]="false">
                    @for (option of optionsEstado(); track option.value) {
                      <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
                    }
                  </nz-select>
                </nz-form-control>

                <nz-form-label [nzXs]="24" [nzMd]="5" nzLabelWrap>Tipo de Comprobante</nz-form-label>
                <nz-form-control [nzXs]="24" [nzMd]="7">
                  <nz-select formControlName="ComprobanteTipoCodigo" nzPlaceHolder="Seleccione" nzAllowClear
                    nzShowSearch [nzDropdownMatchSelectWidth]="false">
                    @for (option of optionsComprobanteTipo(); track option.ComprobanteTipoCodigo) {
                      <nz-option [nzValue]="option.ComprobanteTipoCodigo" [nzLabel]="option.Descripcion"></nz-option>
                    }
                  </nz-select>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item class="marginElement">
                <nz-form-label [nzXs]="24" [nzMd]="3" nzLabelWrap>Nro. de Comprobante</nz-form-label>
                <nz-form-control [nzXs]="24" [nzMd]="9">
                  <input nz-input formControlName="ComprobanteNro" type="text" />
                </nz-form-control>

                <nz-form-label [nzXs]="24" [nzMd]="5" nzLabelWrap>Importe Total</nz-form-label>
                <nz-form-control [nzXs]="24" [nzMd]="7">
                  <input nz-input formControlName="ImporteTotal" type="text" appDotToComma mask="separator.2"
                    class="text-right" />
                </nz-form-control>
              </nz-form-item>

              <!-- <p>Razón social: {{ facturacion()[cliente.ClienteId]?.ClienteDenominacion }}</p> -->

              <p class="datosCliente">
                <span>CUIT: {{ facturacion()[cliente.ClienteId]?.CUIT }}</span>
              </p>

              <!-- Un cliente puede tener seleccionadas órdenes de más de un objetivo -->
              <p class="datosCliente">
                <span>Objetivo: {{ cliente.objetivos.join(' - ') }}</span>
              </p>

              <p class="datosCliente">
                <span>Cantidad de Órdenes: {{ cliente.cantidad }}</span>
                <span>Importe Total: {{ cliente.importeTotal | currency }}</span>
              </p>

            </nz-card>
          </div>
        }
      </div>
    </form>

    @if (comprobantesEditables().length) {

    <div class="input-container1">
      <div class="input-label">Editar</div>
    </div>

    <form [formGroup]="formComprobantes()">
      <div formArrayName="comprobantes">
        @for (comprobante of comprobantesEditables(); let i = $index;
              track comprobante.ComprobanteTipoCodigo + '|' + comprobante.ComprobanteNro) {
          <nz-form-item class="comprobanteEditar" [formGroupName]="i">
            <nz-form-label [nzXs]="24" [nzMd]="3" nzLabelWrap>Tipo de Comprobante</nz-form-label>
            <nz-form-control [nzXs]="24" [nzMd]="5">
              <nz-select formControlName="ComprobanteTipoCodigo" nzPlaceHolder="Seleccione" nzShowSearch
                [nzDropdownMatchSelectWidth]="false">
                @for (option of optionsComprobanteTipo(); track option.ComprobanteTipoCodigo) {
                  <nz-option [nzValue]="option.ComprobanteTipoCodigo" [nzLabel]="option.Descripcion"></nz-option>
                }
              </nz-select>
            </nz-form-control>

            <nz-form-label [nzXs]="24" [nzMd]="3" nzLabelWrap>Nro. de Comprobante</nz-form-label>
            <nz-form-control [nzXs]="24" [nzMd]="4">
              <input nz-input formControlName="ComprobanteNro" type="text" />
            </nz-form-control>

            <nz-form-label [nzXs]="24" [nzMd]="3" nzLabelWrap>Importe Total</nz-form-label>
            <nz-form-control [nzXs]="24" [nzMd]="3">
              <input nz-input formControlName="ImporteTotal" type="text" appDotToComma mask="separator.2"
                class="text-right" />
            </nz-form-control>
          </nz-form-item>
        }
      </div>
    </form>

    }

    <nz-form-item>
      <nz-form-control style="display: flex; justify-content: center; align-items: center;">
        <button nzType="primary" nz-button (click)="save()" [nzLoading]="guardando()"
          [disabled]="(formMasivo().pristine && formComprobantes().pristine) || guardando()">
          {{ 'app.btn.save' | i18n }}
        </button>
      </nz-form-control>
    </nz-form-item>

  </ng-container>
</nz-drawer>
