
<form [formGroup]="formCli">
    <br>
    <nz-form-item class="marginElement">
      <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">CUIT</nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="6">
        <input nz-input placeholder="" formControlName="cuit" type="number" />
      </nz-form-control>

      <div>
        {{this.edit()}}
      </div>

      <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="5">Condición Ante IVA</nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="6">
        <input nz-input placeholder="" formControlName="condicioniva" type="text" />
      </nz-form-control>
    </nz-form-item>
    
    <nz-form-item class="marginElement">
        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Razón Social</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="6">
          <input nz-input placeholder="" formControlName="razonsocial" type="string" />
        </nz-form-control>
  
        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="5">  Nombre Fantasía</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="6">
          <input nz-input placeholder="" formControlName="nombrefantasia" type="text" />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item class="marginElement">
        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Fecha Inicial</nz-form-label>
        <nz-form-control [nzSm]="24" [nzMd]="20" [nzLg]="17">
          <nz-date-picker
            [nzShowTime]="{ nzFormat: 'HH:mm' }"
            nzFormat="yyyy-MM-dd HH:mm"
            formControlName="fechaInicio"
            (ngModelChange)="onChangePeriodo($event)"
          ></nz-date-picker>
        </nz-form-control>
    </nz-form-item>

      <nz-form-item class="marginElement">
        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Rubros</nz-form-label>
        <!-- Rubros (puede seleccionar varios de RubroCliente usar el nz-select nzMode="multiple") la relacionante es ClienteRubro  -->
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="6">
          <input nz-input placeholder="" formControlName="rubros" type="text" />
        </nz-form-control>
    </nz-form-item>

    <div class="input-container">
        <div class="input-label">Domicilio</div>
    </div>  
    <nz-form-item class="marginElement">
        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Dirección</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="17">
          <input nz-input placeholder="" formControlName="domiciliodireccion" type="text" />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item class="marginElement">
        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Referencia</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="6">
          <input nz-input placeholder="" formControlName="referencia" type="text" />
        </nz-form-control>
  
        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="5">Cod Postal </nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="6">
          <input nz-input placeholder="" formControlName="domiciliocodigopostal" type="number" />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item class="marginElement">
        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">País</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="6">
          <input nz-input placeholder="" formControlName="pais" type="text" />
        </nz-form-control>
  
        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="5">Provincia</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="6">
          <!-- <input nz-input placeholder="" formControlName="domicilioprovincia" type="number" /> -->
          <nz-select formControlName="domicilioprovincia" nzPlaceHolder="Provincia" nzAllowClear [nzDropdownMatchSelectWidth]="false" style="width: 100%" >
            <ng-container *ngFor="let option of $optionsProvincia | async " >
              <nz-option [nzValue]="option.ProvinciaId" [nzLabel]="option.ProvinciaDescripcion" ></nz-option>
            </ng-container>
          </nz-select>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item class="marginElement">
        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Localidad</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="6">
          <!-- <input nz-input placeholder="" formControlName="domiciliolocalidad" type="number" /> -->
          <nz-select formControlName="domiciliolocalidad" nzPlaceHolder="Localidad" nzAllowClear [nzDropdownMatchSelectWidth]="false" style="width: 100%" >
            <ng-container *ngFor="let option of $optionsLocalidad | async " >
              <nz-option [nzValue]="option.LocalidadId" [nzLabel]="option.localidadDescripcion" ></nz-option>
            </ng-container>
          </nz-select>
        </nz-form-control>
  
        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="5">Barrio</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="6">
          <!-- <input nz-input placeholder="" formControlName="domiciliobarrio" type="number" /> -->
          <nz-select formControlName="domiciliobarrio" nzPlaceHolder="Barrio" nzAllowClear [nzDropdownMatchSelectWidth]="false" style="width: 100%" >
            <ng-container *ngFor="let option of $optionsBarrio | async " >
              <nz-option [nzValue]="option.BarrioId" [nzLabel]="option.BarrioDescripcion" ></nz-option>
            </ng-container>
          </nz-select>
        </nz-form-control>
    </nz-form-item>

    <div class="input-container">
     <div class="input-label">Cliente Contacto</div>
    </div>   
    <div formArrayName="arrayContacto">
    <nz-form-item class="marginElement" *ngFor="let control of arrayContacto().controls; let i = index" [formGroupName]="i">

        <nz-form-label  [nzXs]="24" [nzSm]="24" [nzMd]="2"> Persona </nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="5">
        <nz-input-group style="width: 100%" [nzAddOnAfter]="personalButton" nzSearch>
          <app-personal-search formControlName="personalId" [disabled]="!edit()"/>
        </nz-input-group>
        <ng-template #personalButton>
          <button nz-button nzType="dashed" nzSearch (click)="openDrawer(i)">
            <span nz-icon nzType="user" ></span>
          </button>
        </ng-template>
      </nz-form-control>
        
      <nz-form-label  [nzXs]="24" [nzSm]="24" [nzMd]="2"> Area </nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="1">
        <nz-input-group style="width: 100%" nzSearch>
          <input nz-input placeholder="" formControlName="area" type="number" />
        </nz-input-group>
      </nz-form-control>
      <nz-form-label  [nzXs]="24" [nzSm]="24" [nzMd]="2"> Telefono </nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="2">
        <nz-input-group style="width: 100%" nzSearch>
            <input nz-input placeholder="" formControlName="telefono" type="number" />
        </nz-input-group>
      </nz-form-control>

      <nz-form-label  [nzXs]="24" [nzSm]="24" [nzMd]="2"> Correo </nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="6">
        <nz-input-group style="width: 100%" [nzAddOnAfter]="controlClienteButton" nzSearch>
            <input nz-input placeholder="" formControlName="correo" type="string" />
          </nz-input-group>
          <ng-template #controlClienteButton >
            <button nz-button *ngIf="arrayContacto().controls.length == i+1" nzType="primary" class="add-button" (click)="addClienteContacto($event)">
              <span nz-icon nzType="plus"></span>
            </button>
            <button nz-button nzType="default" (click)="removeClienteContacto(i, $event)">
              <span nz-icon nzType="delete" nzTheme="outline" ></span>
            </button>
          </ng-template>
      </nz-form-control> 
    
    </nz-form-item>
</div>

    <div class="input-container">
        <div class="input-label">Administrador</div>
    </div>  
    <nz-form-item class="marginElement">
        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Administrador</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="6">
          <input nz-input placeholder="" formControlName="adminsitrador" type="text" />
        </nz-form-control>
    </nz-form-item>

     

    <!-- CUIT y Condición Ante IVA (en la tabla ClienteFacturacion) 

    Razón Social (ClienteDenominacion) 
    
    Nombre Fantasía (ClienteNombreFantasia) 
    
    Fecha de Alta 
    
    Rubros (puede seleccionar varios de RubroCliente usar el nz-select nzMode="multiple") la relacionante es ClienteRubro 
    
    Domicilio (tabla ClienteDomicilio siempre ver ClienteDomicilioComercial=1.) Solo puede haber un domicilio con ClienteDomicilioActual==1 al agregar uno nuevo los anteriores deben quedar como ClienteDomicilioActual=0. Siempre tiene que haber uno con ClienteDomicilioActual=1 
    
     - Direccion (Calle y Nro) (al cambiar se agrega un nuevo registro) 
    
     - Referencia 
    
     - Cod Pos 
    
     - Provincia 
    
     - Localidad 
    
     - Barrio 
    
     - Pais = AR 
    
         
    
    ClienteContacto (puede tener muchos contactos y debe llenarse las tablas ClienteContacto, ClienteContactoEmail, ClienteContactoTelefono.) 
    
     - Apellido 
    
     - Nombre 
    
     - Area 
    
     - Teléfono (puede estar vacío) 
    
     - Mail (puede estar vacío) 
    
         
    
    Administrador (tabla relacionante ClienteAdministrador y los administradores estan en la tabla Administrador) Puede estar vacío. 
    
    Siempre un solo administrdor por Cliente.  -->

</form>
<!-- <app-detalle-persona [anio]="periodo().year" [mes]="periodo().month" [SucursalId]="0"
  [PersonalId]="personalId()" [visible]="visibleDrawer" (onClose)="closeDrawer()"></app-detalle-persona> -->