<nz-popconfirm #nzpc ></nz-popconfirm>
@if ((columnsMovimientos$|async); as columnasMovimientos) {
  <shared-filtro-builder  [fieldsToSelect]="columnasMovimientos" (optionsChange)="listOptionsChangeMovimiento($event)" />
  <div class="gridContainer3 container-fluid">
    <angular-slickgrid  gridId="grid25" class="" [columns]="columnasMovimientos | colsFilter"
      [options]="gridOptionsMovimientos" [dataset]="(gridDataMovimiento$ | async) || []"
      (onAngularGridCreated)="angularGridReady($event)">
    </angular-slickgrid>
  </div>
}
