<nz-card class="small-margin">

    <div nz-row style="align-items: center; display: flex; justify-content: space-between;">
      <div nz-row nzSpan="12">
        <nz-form-label [nzSpan]="10">Periodo</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <nz-date-picker nzMode="month" [(ngModel)]="periodo" nzFormat="MM/yyyy" style="width: 100%;" (ngModelChange)="dateChange($event)"/>
        </nz-form-control>
      </div>
  
      <ul nz-menu nzMode="horizontal">
        <li nz-menu-item nzMatchRouter>
          <span nz-icon nzType=""></span>
          <a [routerLink]="['/', 'dto', 'descuentos', 'personal']" (click)="reloadGrid.set(true)">Personal</a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <span nz-icon nzType=""></span>
          <a [routerLink]="['/', 'dto', 'descuentos', 'objetivos']" (click)="reloadGrid.set(true)">Objetivos</a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <span nz-icon nzType=""></span>
          <a [routerLink]="['/', 'dto', 'descuentos', 'importacion']">Importación</a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <span nz-icon nzType=""></span>
          <a [routerLink]="['/', 'dto', 'descuentos', 'cargamanual']">Carga manual</a>
        </li>
      </ul>
      
      <nz-button-group>
        <button nzType="default" nz-button nz-popconfirm nzPopconfirmTitle="Generar cuotas para el periodo {{mes()}}/{{anio()}}"
        (nzOnConfirm)="addCuotaReg()" nz-tooltip nzTooltipTitle="{{ 'app.icon.generar.cuotas' | i18n }}" >
          <span nz-icon nzType="info-circle" nzTheme="outline"></span>
        </button>
      </nz-button-group>
    </div>
  
    <nz-tabs nzCentered nzLinkRouter class="hide-ant-tabs-nav" >
      <nz-tab></nz-tab>
      <nz-tab>
        <a nz-tab-link routerLink="/dto/descuentos/personal">Personal</a>
        <ng-template nz-tab>
          <app-table-descuentos-personal [anio]="anio()" [mes]="mes()" [periodo]="periodo()" [reload]="reload()" [(reloadGrid)]="reloadGrid"></app-table-descuentos-personal> 
        </ng-template>
      </nz-tab>
  
      <nz-tab>
        <a nz-tab-link routerLink="/dto/descuentos/objetivos">Objetivos</a>
        <ng-template nz-tab>
          <app-table-descuentos-objetivos [anio]="anio()" [mes]="mes()" [reload]="reload()" [(reloadGrid)]="reloadGrid"></app-table-descuentos-objetivos>
        </ng-template>
      </nz-tab>

      <nz-tab>
        <a nz-tab-link routerLink="/dto/descuentos/importacion">Importación</a>
        <ng-template nz-tab>
          <app-descuentos-importacion-masiva-drawer [anio]="anio()" [mes]="mes()"></app-descuentos-importacion-masiva-drawer>
        </ng-template>
      </nz-tab>

      <nz-tab>
        <a nz-tab-link routerLink="/dto/descuentos/cargamanual">Carga manual</a>
        <ng-template nz-tab>
          <app-descuentos-carga-manual [anio]="anio()" [mes]="mes()"></app-descuentos-carga-manual>
        </ng-template>
      </nz-tab>
  
    </nz-tabs>
</nz-card>