<nz-card class="small-margin">

  <div nz-row class="contentStyle">
    <div nz-col nzSpan="13" class="listStyle">
      <ul nz-menu nzMode="horizontal" style="display: flex;">
        <li nz-menu-item nzMatchRouter>
          <span nz-icon nzType=""></span>
          <a [routerLink]="['/', 'ges', 'habilitaciones', 'listado']" (click)="refreshListado()" >{{ 'app.habilitaciones' | i18n }} </a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <span nz-icon nzType=""></span>
          <a [routerLink]="['/', 'ges', 'habilitaciones', 'detalle']" (click)="goToDetail()">{{ 'app.detail' | i18n }} </a>
        </li>
        <!-- <li nz-menu-item nzMatchRouter>
          <span nz-icon nzType=""></span>
          <a [routerLink]="['/', 'ges', 'habilitaciones', 'credenciales']" (click)="goToCredentials()">{{ 'app.credenciales' | i18n }} </a>
        </li> -->
      </ul>
    </div>

  </div>
  <!--selectedIndex: {{selectedIndex()}}-->
  <nz-tabs nzCentered nzLinkRouter class="hide-ant-tabs-nav" (nzSelectChange)="onTabsetChange($event)" [nzSelectedIndex]="selectedIndex()">
    <nz-tab>
      <a nz-tab-link routerLink="/ges/habilitaciones/listado"  >{{ 'app.icon.objectives' | i18n }} </a>
      @if ((columns$|async); as columnas) {
      <ng-template nz-tab>
        <div class="fila">
          <div class="izquierda">
            <shared-filtro-builder [fieldsToSelect]="columnas" (optionsChange)="listOptionsChange($event)" [startFilters]="startFilters()" />
          </div>
          <nz-button-group nz-button nzButtonGroup class="derecha">
            <!-- btn  add -->
            <button nz-button nzType="default" (click)="openDrawerforForm()" nz-tooltip nzTooltipTitle="{{ 'app.icon.add' | i18n }}">
              <span nz-icon nzType="plus" nzTheme="outline"></span>
            </button>
            <!-- se comenta funcion de edit de habilitacion necesaria de momento -->
            <!-- <button nz-button nzType="default" (click)="openDrawerforFormEdit()" nz-tooltip nzTooltipTitle="{{ 'app.edit.habilicion.necesaria' | i18n }}"
              [disabled]="personalId()? false : true">
              <span nz-icon nzType="edit" nzTheme="outline"></span>
            </button> -->
            <!-- btn  habilitación-detalle -->
            <button nz-button nzType="default" nz-popconfirm 
              nzPopconfirmTitle="Actualizo habilitación necesaria?" (nzOnConfirm)="updHabilitacionNecesaria()"
              nz-tooltip nzTooltipTitle="{{'app.btn.habilitacion.necesaria' | i18n }}"><span nz-icon nzType="copy"
                nzTheme="outline"></span></button>
            <!-- btn  personal-detalle -->
            <button nz-button nzType="default" (click)="openDrawerforConsultDetalle()" [disabled]="personalId() == 0"
              nz-tooltip nzTooltipTitle="{{ 'app.icon.people' | i18n }}"><span nz-icon nzType="user"
            nzTheme="outline"></span></button>

          </nz-button-group>
        </div>
        
        <div class="gridListContainer container-fluid" >
          <angular-slickgrid gridId="grid" [columns]="columnas | colsFilter" [options]="gridOptions"
            [dataset]="(gridData$ | async) || []" (onAngularGridCreated)="angularGridReady($event)"
            (onSelectedRowsChanged)="handleSelectedRowsChanged($event)">
          </angular-slickgrid>
        </div>
      </ng-template>
      }
  </nz-tab>

  <nz-tab>
    <a nz-tab-link routerLink="/ges/habilitaciones/detalle" >{{ 'app.detail' | i18n }}</a>
    <app-habilitaciones-detalle *ngIf="selectedIndex() === 2" [personalId]="personalId()" [(personalHabilitacionId)]="personalHabilitacionId" [lugarHabilitacionId]="lugarHabilitacionId()"
      [detalle]="detalleSelected()"></app-habilitaciones-detalle>
  </nz-tab>

  <!-- <nz-tab>
    <a nz-tab-link routerLink="/ges/habilitaciones/credenciales" >{{ 'app.detail' | i18n }}</a>
  </nz-tab> -->

  </nz-tabs>

</nz-card>

<app-habilitaciones-form-drawer [(visible)]="visibleForm" (onAddorUpdate)="refreshGrid($event)" [tituloDrawer]="'Alta de Habilitación'"
></app-habilitaciones-form-drawer>
<app-habilitacion-necesaria-form-modal [(visible)]="visibleFormEdit" [apellidoNombre]="apellidoNombreSelected()" 
[personalId]="personalId()" (onAddorUpdate)="refreshGrid($event)"></app-habilitacion-necesaria-form-modal>
<app-detalle-persona [anio]="anio()" [mes]="mes()" [PersonalId]="personalId()" [visible]="visibleDetalle()"
(onClose)="closeDrawerforConsultDetalle()"></app-detalle-persona>