<nz-card class="small-margin">

  <div nz-row style="align-items: center; display: flex; justify-content: space-between;">
    <div></div>

    <ul nz-menu nzMode="horizontal">
      <li nz-menu-item nzMatchRouter>
        <span nz-icon nzType=""></span>
        <a [routerLink]="['/', 'ges', 'habilitaciones', 'listado']">{{ 'app.habilitaciones.gestiones' | i18n }} </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <span nz-icon nzType=""></span>
        <a [routerLink]="['/', 'ges', 'habilitaciones', 'detalle']">{{ 'app.detail' | i18n }} </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <span nz-icon nzType=""></span>
        <a [routerLink]="['/', 'ges', 'habilitaciones', 'personas-listado']">{{ 'app.habilitaciones' | i18n }} </a>
      </li>
      <!-- <li nz-menu-item nzMatchRouter>
      <span nz-icon nzType=""></span>
      <a [routerLink]="['/', 'ges', 'habilitaciones', 'credenciales']">{{ 'app.credenciales' | i18n }} </a>
    </li> -->
    </ul>

    <nz-button-group nz-button nzButtonGroup>
      @if (tabIndex() != 1){
      <!-- btn  detalle -->
      <button nz-button nzType="default" (click)="openDrawerforConsultDetalle()" [disabled]="consultPersonalIdByTabIndex()"
        nz-tooltip nzTooltipTitle="{{ 'app.icon.people' | i18n }}">
        <span nz-icon nzType="user" nzTheme="outline"></span>
      </button>

      <!-- btn  recarga -->
      <button nz-button nzType="default" (click)="refreshGrid($event)"
        nz-tooltip nzTooltipTitle="{{ 'app.icon.reload' | i18n }}" [disabled]="disabledRefresh()">
        <span nz-icon nzType="reload" nzTheme="outline"></span>
      </button>
      }
    </nz-button-group>

  </div>
  <nz-tabs nzCentered nzLinkRouter class="hide-ant-tabs-nav" [(nzSelectedIndex)]="tabIndex"
    (nzSelectChange)="onTabsetChange($event)" [nzLinkExact]="false">
    <nz-tab>
      <a nz-tab-link routerLink="/ges/habilitaciones/listado">{{ 'app.icon.objectives' | i18n }} </a>
      @if (columns().length) {
      <ng-template nz-tab>
        <div class="fila">
          <div class="izquierda">
            <shared-filtro-builder [fieldsToSelect]="columns()" (optionsChange)="listOptionsChange($event)"
              [startFilters]="startFilters()" />
          </div>
          <nz-button-group nz-button nzButtonGroup class="derecha">
            <!-- btn  add -->
            <button nz-button nzType="default" (click)="openDrawerforForm()" nz-tooltip
              nzTooltipTitle="{{ 'app.icon.add' | i18n }}">
              <span nz-icon nzType="plus" nzTheme="outline"></span>
            </button>
            <!-- se comenta funcion de edit de habilitacion necesaria de momento -->
            <!-- <button nz-button nzType="default" (click)="openDrawerforFormEdit()" nz-tooltip nzTooltipTitle="{{ 'app.edit.habilicion.necesaria' | i18n }}"
            [disabled]="personalId()? false : true">
            <span nz-icon nzType="edit" nzTheme="outline"></span>
          </button> -->
            <button nz-button nzType="default" nz-popconfirm nzPopconfirmTitle="Actualizar habilitación necesaria?"
              (nzOnConfirm)="updHabilitacionNecesaria()" nz-tooltip nzTooltipTitle="{{'app.habilitacion.necesaria' | i18n }}">
              <span nz-icon nzType="copy" nzTheme="outline"></span>
            </button>
            
          </nz-button-group>
        </div>

        <div class="gridListContainer container-fluid">
          <angular-slickgrid gridId="grid" [columns]="columns() | colsFilter" [options]="gridOptions"
            [dataset]="gridData.value()" (onAngularGridCreated)="angularGridReady($event)"
            (onSelectedRowsChanged)="handleSelectedRowsChanged($event)">
          </angular-slickgrid>
        </div>
      </ng-template>
      }
    </nz-tab>

    <nz-tab>
      <a nz-tab-link routerLink="/ges/habilitaciones/detalle">{{ 'app.detail' | i18n }}</a>
      <ng-template nz-tab>
        <app-habilitaciones-detalle [personalId]="personalId()" [(personalHabilitacionId)]="personalHabilitacionId"
          [lugarHabilitacionId]="lugarHabilitacionId()" [detalle]="detalleSelected()"></app-habilitaciones-detalle>
      </ng-template>
    </nz-tab>

    <nz-tab>
      <a nz-tab-link routerLink="/ges/habilitaciones/personas-listado">{{ 'app.listado' | i18n }}</a>
      <ng-template nz-tab>
        <app-habilitaciones-listado [refresh]="refreshPerList()" [(personalId)]="personalId2"></app-habilitaciones-listado>
      </ng-template>
    </nz-tab>

    <!-- <nz-tab>
<a nz-tab-link routerLink="/ges/habilitaciones/credenciales" >{{ 'app.detail' | i18n }}</a>
</nz-tab> -->

  </nz-tabs>

</nz-card>

<app-habilitaciones-form-drawer [(visible)]="visibleForm" (onAddorUpdate)="refreshGrid($event)"
  [tituloDrawer]="'Alta de Habilitación'"></app-habilitaciones-form-drawer>
<app-habilitacion-necesaria-form-modal [(visible)]="visibleFormEdit" [apellidoNombre]="apellidoNombreSelected()"
  [personalId]="personalId()" (onAddorUpdate)="refreshGrid($event)"></app-habilitacion-necesaria-form-modal>
<app-detalle-persona [anio]="anio()" [mes]="mes()" [PersonalId]="personalIdForDetalle()" [visible]="visibleDetalle()"
  (onClose)="closeDrawerforConsultDetalle()"></app-detalle-persona>