<div class="container">
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo-dgspycb-full.png" />
      </div>
      <div class="desc">Seguridad Privada y Custodia de Bienes</div>
    </div>
    <router-outlet></router-outlet>
    <!-- global-footer [links]="links" -->
    <global-footer>
      DGSPyCB.
      <i class="anticon anticon-copyright"></i> 2023 <a href="https://dgspr.seguridadciudad.gob.ar"
        target="_blank">Inicio</a>
    </global-footer>
  </div>
</div>
