<nz-select #dsc [ngModel]="selectedItem()" [nzDropdownMatchSelectWidth]="false" [ngModelOptions]="{ standalone: true }"
  style="width: 100%" (ngModelChange)="modelChange($event)" nzAllowClear nzPlaceHolder="Direccion" nzShowSearch
  nzServerSearch (nzOnSearch)="search($event)" [nzLoading]="loading()" [compareWith]="compareByPlaceId">
  @for (item of options(); track item.place_id) {
    <nz-option [nzValue]="item" [nzLabel]="item.display_name">
    </nz-option>
  }

</nz-select>
<p>Debug: {{selectedItem()|json}}<p>