<nz-drawer [nzClosable]="false" [nzVisible]="visibleDomicilio()" [nzPlacement]="placement" [nzWidth]="750"
  [nzTitle]="'Domicilio: '  + PersonalNombre()" (nzOnClose)="visibleDomicilio.set(false)">
  <ng-container *nzDrawerContent>
    @if ($listaDomicilioPer | async; as listaDomicilioPer ) {
      <nz-form-control>
        <nz-table #asistPer [nzData]="listaDomicilioPer" nzSize="small" [nzPageSize]="100000000"
          [nzShowPagination]="false" [nzScroll]="{ x: '500px' }">
          <thead>
            <tr>
              <th>Calle</th>
              <th nzWidth="70px">Numero</th>
              <th>Pais</th>
              <th>Provincia</th>
              <th>Localidad</th>
              <th>Barrio</th>
              <th nzWidth="60px">Cod. Postal</th>
              <th nzWidth="60px">Estado</th>
            </tr>
          </thead>
          <tbody>
            @for (data of asistPer.data; track data) {
              <tr class="">
                <td>{{ data.Calle }}</td>
                <td>{{ data.Numero }}</td>
                <td>{{ data.Pais }}</td>
                <td>{{ data.Provincia }}</td>
                <td>{{ data.Localidad }}</td>
                <td>{{ data.Barrio }}</td>
                <td>{{ data.CodigoPostal }}</td>
                <td>{{ data.Estado }}</td>
              </tr>
            }
          </tbody>
        </nz-table>
      </nz-form-control>
    }
  </ng-container>
</nz-drawer>