<nz-card class="small-margin">


    <div nz-row class="contentStyle">
        <div nz-col nzSpan="13" class="listStyletex">
            <ul nz-menu nzMode="horizontal" style="display: flex;">
                <li nz-menu-item nzMatchRouter>
                    <span nz-icon nzType=""></span>
                    <a [routerLink]="['/', 'ges', 'grupo-actividad', 'grupos']">{{ 'app.grupos' | i18n }} </a>
                </li>
                <li nz-menu-item nzMatchRouter>
                    <span nz-icon nzType=""></span>
                    <a [routerLink]="['/', 'ges', 'grupo-actividad', 'responsables']">{{ 'app.responsables' | i18n }}
                    </a>
                </li>
                <li nz-menu-item nzMatchRouter>
                    <span nz-icon nzType=""></span>
                    <a [routerLink]="['/', 'ges', 'grupo-actividad', 'objetivos']">{{ 'app.objetivos' | i18n }}</a>
                </li>
                <li nz-menu-item nzMatchRouter>
                    <span nz-icon nzType=""></span>
                    <a [routerLink]="['/', 'ges', 'grupo-actividad', 'personal']">{{ 'app.personal' | i18n }}</a>
                </li>
                <li nz-submenu nzTitle="Informes">
                    <ul style="width: auto !important">
                        <li nz-menu-item>
                            <!-- <span app-reporte="Objetivos con GrupoActividad vigente y sin contrato"></span> -->
                        </li>
                        <!-- <li nz-menu-item>
                            <span app-reporte="Reporte Seguro Diario FP"></span>
                        </li>
                        <li nz-menu-item>
                            <span app-reporte="Reporte Seguro Vida Colectiva"></span>
                        </li> -->
                    </ul>
                </li>
            </ul>
        </div>

    </div>



    <nz-tabset nzCentered nzLinkRouter class="hide-ant-tabs-nav">
        <nz-tab></nz-tab>
        <nz-tab>
            <a nz-tab-link routerLink="/ges/grupo-actividad/grupos">{{ 'app.grupos' | i18n }} </a>
            <ng-template nz-tab>
                <app-table-grupo-actividad-grupos></app-table-grupo-actividad-grupos>
            </ng-template>
        </nz-tab>

        <nz-tab>
            <a nz-tab-link routerLink="/ges/grupo-actividad/responsables">{{ 'app.responsables' | i18n }}</a>
            <ng-template nz-tab>
                <app-table-grupo-actividad-responsables></app-table-grupo-actividad-responsables>
            </ng-template>

        </nz-tab>

        <nz-tab>
            <a nz-tab-link routerLink="/ges/grupo-actividad/objetivos">{{ 'app.objetivos' | i18n }}</a>
            <ng-template nz-tab>
                <app-table-grupo-actividad-objetivos></app-table-grupo-actividad-objetivos>
            </ng-template>
        </nz-tab>
        <nz-tab>
            <a nz-tab-link routerLink="/ges/grupo-actividad/personal">{{ 'app.personal' | i18n }}</a>
            <ng-template nz-tab>
                <app-table-grupo-actividad-personal></app-table-grupo-actividad-personal>
            </ng-template>
        </nz-tab>

    </nz-tabset>




</nz-card>