<ng-template  *ngIf="(columnsPersonal$|async) as columnas">
  <form nz-form #listadoPer="ngForm">
    <nz-form-item>
      <nz-form-label [nzSpan]="5">Responsable</nz-form-label>
      <nz-form-control nzHasFeedback>
        <app-personal-search name="persona_id_responsable"
          (ngModelChange)="selectedValueChange($event, Busqueda.Responsable)" [(ngModel)]="responsable" />
      </nz-form-control>
    </nz-form-item>
  </form>


  <shared-filtro-builder #sfb [fieldsToSelect]="columnas" (optionsChange)="listOptionsChange($event)" />
  <div class="gridContainer container-fluid">
    <angular-slickgrid gridId="gridPersonalGrupo" class="" [columnDefinitions]="columnas | colsFilter"
      [gridOptions]="gridOptionsPersonal" [dataset]="(gridDataPersonal$ | async) || []"
      (onAngularGridCreated)="angularGridReady($event)">
    </angular-slickgrid>
  </div>
</ng-template>
