<nz-card class="small-margin">
  <ul nz-menu nzMode="horizontal">
    <li nz-menu-item nzMatchRouter>
      <span nz-icon nzType=""></span>
      <a [routerLink]="['/', 'ges', 'cust','objetivos']">Objetivos</a>
    </li>
    <li nz-menu-item nzMatchRouter>
      <span nz-icon nzType=""></span>
      <a [routerLink]="['/', 'ges', 'cust','cargamanual']">Carga manual</a>
    </li>
  </ul>
  <nz-tabset nzCentered nzLinkRouter class="hide-ant-tabs-nav">

    <nz-tab>
      <a nz-tab-link routerLink="/ges/cust/objetivos">Objetivos</a>
      <ng-template nz-tab>
        <div class="gridListContainer container-fluid">
          <angular-slickgrid gridId="gridLista" [columnDefinitions]="columnasLista" [gridOptions]="gridOptionsLista"
            [dataset]="gridDataInsertLista || []" (onAngularGridCreated)="angularGridReadyLista($event)">
            <!-- (onSelectedRowsChanged)="handleSelectedRowsChanged1($event)"> -->
          </angular-slickgrid>
        </div>
      </ng-template>
    </nz-tab>

    <nz-tab>

      <a nz-tab-link routerLink="/ges/cust/cargamanual">Carga Manual</a>
      <ng-template nz-tab>
        <br>
        <nz-form-item class="marginElement">
          <nz-form-label [nzSpan]="3">Cliente</nz-form-label>
        
          <nz-form-control [nzSpan]="17">
            <nz-input-group style="width: 100%">
              <app-cliente-search name="ClienteId" ngModel (ngModelChange)="clienteChange($event)"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="marginElement">
          <nz-form-label [nzSpan]="3">Descripcion</nz-form-label>
        
          <nz-form-control [nzSpan]="17">
            <nz-input-group style="width: 100%">
              <textarea rows="5" nz-input [(ngModel)]="inputValue"></textarea>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        
        <nz-form-item class="marginElement">
          <nz-form-label [nzSpan]="3">Fecha Inicial</nz-form-label>
        
          <nz-form-control [nzSpan]="17">
            <nz-input-group style="width: 100%">
              <nz-date-picker
                [nzShowTime]="{ nzFormat: 'HH:mm' }"
                nzFormat="yyyy-MM-dd HH:mm"
                ngModel
                (ngModelChange)="onChangeDateI($event)"
              ></nz-date-picker>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="marginElement">
          <nz-form-label [nzSpan]="3">Origen</nz-form-label>
        
          <nz-form-control [nzSpan]="17">
            <nz-input-group style="width: 100%">
              <input nz-input placeholder="Direccion" [(ngModel)]="origen" type="text" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="marginElement">
          <nz-form-label [nzSpan]="3">Fecha Final</nz-form-label>
        
          <nz-form-control [nzSpan]="17">
            <nz-input-group style="width: 100%">
              <nz-date-picker
                [nzShowTime]="{ nzFormat: 'HH:mm' }"
                nzFormat="yyyy-MM-dd HH:mm"
                ngModel
                (ngModelChange)="onChangeDateF($event)"
              ></nz-date-picker>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="marginElement">
          <nz-form-label [nzSpan]="3">Destino</nz-form-label>
        
          <nz-form-control [nzSpan]="17">
            <nz-input-group style="width: 100%">
              <input nz-input placeholder="Direccion" [(ngModel)]="destino" type="text" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="marginElement">
          <nz-form-label [nzSpan]="3">Distancia - km</nz-form-label>
        
          <nz-form-control [nzSpan]="17">
            <nz-input-group style="width: 100%">
              <input nz-input placeholder="Kilometros" [(ngModel)]="kilometros" type="number" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="marginElement">
          <nz-form-label [nzSpan]="3">Importe</nz-form-label>
        
          <nz-form-control [nzSpan]="17">
            <nz-input-group style="width: 100%">
              <input nz-input placeholder="" [(ngModel)]="facturacion" type="number" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <!-- <nz-form-item class="marginElement">
          <nz-form-label [nzSpan]="3">Persona</nz-form-label>
        
          <nz-form-control [nzSpan]="17">
            <nz-input-group style="width: 100%">
              <app-personal-search name="PersonalId" ngModel (ngModelChange)="PersonaChange($event)"/>
            </nz-input-group>
          </nz-form-control>
          @if (addMoreGroup) {
            <button nz-button nzType="default" nzShape="circle" class="btnPadding"><span nz-icon nzType="plus"></span></button>
          }
         
        </nz-form-item> -->

      </ng-template>
    </nz-tab>

  </nz-tabset>

    
  
</nz-card>