<nz-card class="small-margin">
  
  <ul nz-menu nzMode="horizontal">
    <li nz-menu-item nzMatchRouter>
      <span nz-icon nzType=""></span>
      <a [routerLink]="['/', 'ges', 'cust', 'objetivos']" (click)="getGridData()" >Objetivos</a>
    </li>
    <li nz-menu-item nzMatchRouter>
      <span nz-icon nzType=""></span>
      <a [routerLink]="['/', 'ges', 'cust', 'detalle']" (click)="setEdit(false)">Detalle</a>
    </li>
  </ul>
  <nz-tabset nzCentered nzLinkRouter class="hide-ant-tabs-nav">

    <nz-tab>
      <a nz-tab-link routerLink="/ges/cust/objetivos" >Objetivos</a>

      <ng-template nz-tab *ngIf="(columns$|async) as columnas">
        
        <nz-form-control style="text-align: right;">
          <nz-button-group>
            <a [routerLink]="['/', 'ges', 'cust','detalle']" (click)="setEdit(true)">
              <button nz-button nzType="default" [disabled]="editCustodiaId? false : true"><span nz-icon nzType="edit" nzTheme="outline"></span></button>
            </a>
            <a [routerLink]="['/', 'ges', 'cust','alta']">
              <button nz-button nzType="default" ><span nz-icon nzType="plus" nzTheme="outline"></span></button>
            </a>
          </nz-button-group>
        </nz-form-control>

        <shared-filtro-builder #sfb [fieldsToSelect]="columnas" (optionsChange)="listOptionsChange($event)" />
        
        <div class="gridListContainer container-fluid" >
          <angular-slickgrid gridId="grid" [columnDefinitions]="columnas | colsFilter" [gridOptions]="gridOptions"
            [dataset]="(gridData$ | async) || []" (onAngularGridCreated)="angularGridReady($event)"
            (onSelectedRowsChanged)="handleSelectedRowsChanged()">
          </angular-slickgrid>
        </div>
      </ng-template>
    </nz-tab>

    <nz-tab>
      <a nz-tab-link routerLink="/ges/cust/detalle">Detalle</a>
      <app-custodias-form [custodiaId]="editCustodiaId" [edit]="edit()"></app-custodias-form>
    </nz-tab>

    <nz-tab> 
      <a nz-tab-link routerLink="/ges/cust/alta">Alta</a>
      <app-custodias-form></app-custodias-form>
    </nz-tab>

  </nz-tabset>
</nz-card>