<nz-drawer [nzClosable]="true" [nzVisible]="visibleHistorial()" [nzOffsetX]="0" [nzPlacement]="placement"
  [nzWidth]="900" [nzTitle]="'Historial: '  + ObjetivoNombre()" (nzOnClose)="visibleHistorial.set(false)">
    <ng-container *nzDrawerContent >
      @if (visibleHistorial()) {
        <app-table-historial-contrato [ObjetivoId]="ObjetivoId()" [ClienteId]="ClienteId()" [ClienteElementoDependienteId]="ClienteElementoDependienteId()" ></app-table-historial-contrato>
      }
    </ng-container>
</nz-drawer>