<div nz-row>

  <div nz-col nzSpan="24" style="display: flex;flex-direction: row-reverse; margin-bottom: 10px;">
    <nz-button-group style="text-align: right;">
      <a nz-tooltip nzTooltipTitle="{{ 'app.icon.add' | i18n }}">
        <button nz-button nzType="default" (click)="addNewItem()"><span nz-icon nzType="plus" nzTheme="outline"></span></button>
      </a>


    </nz-button-group>

  </div>

</div>

<nz-card class="small-margin">

  <div nz-tab *ngIf="(columnsObjetivos$|async) as columnas">
    <shared-filtro-builder #sfb [fieldsToSelect]="columnas" [startFilters]="startFilters" (optionsChange)="listOptionsChange($event)"  />

    <div class="gridContainerGAO container-fluid">
      <angular-slickgrid gridId="gridEditGAO" [columnDefinitions]="columnas  | colsFilter" [gridOptions]="gridOptionsEdit"
        [dataset]="(gridDataObjetivos$ | async) || []" (onAngularGridCreated)="angularGridReadyEdit($event)"
        (onSelectedRowsChanged)="handleSelectedRowsChanged($event)"  (onBeforeEditCell)="handleOnBeforeEditCell($event)">
        <!-- (onBeforeEditCell)="onBeforeEditCell($event)" -->
      </angular-slickgrid>
    </div>
  </div>

</nz-card>