<nz-drawer [nzClosable]="false" [nzVisible]="visibleActa()" [nzPlacement]="placement" [nzWidth]="700"
  [nzTitle]="'Historial de Actas: '  + PersonalNombre()" (nzOnClose)="visibleActa.set(false)">
  <ng-container *nzDrawerContent>

    <nz-card nzType="inner" nzTitle="Agregar Nueva Acta">
      <form [formGroup]="formActa">
        <nz-form-item class="marginElement">
          <nz-form-label [nzXs]="5">Nro Acta</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="ActaId" nzPlaceHolder="Nro Acta" nzAllowClear
              [nzDropdownMatchSelectWidth]="false" nzShowSearch>
              <ng-container *ngFor="let option of $optionsNroActa | async">
                <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
              </ng-container>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="5">Fecha de Acta</nz-form-label>
          <nz-form-control [nzSpan]="18">
            <nz-date-picker formControlName="ActaFechaActa" nzPlaceHolder="" ></nz-date-picker>
          </nz-form-control>  
        </nz-form-item>

        <nz-form-item class="marginElement">
          <nz-form-label [nzXs]="5">Tipo</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="TipoActa" nzPlaceHolder="Tipo Acta" nzAllowClear
              [nzDropdownMatchSelectWidth]="false" nzShowSearch>
              <ng-container *ngFor="let option of $optionsTipoActa | async">
                <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
              </ng-container>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="marginElement">
          <nz-form-label [nzXs]="5">Descripcion</nz-form-label>
          <nz-form-control>
            <input nz-input placeholder="" formControlName="PersonalActaDescripcion" type="text" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control style="display: flex; justify-content: center; align-items: center;">
            <button nzType="primary" nz-button (click)="save()" [nzLoading]="isLoading()" [disabled]="formActa.pristine">
              {{ 'app.btn.save' | i18n }}
            </button>
          </nz-form-control>
        </nz-form-item>

      </form>
    </nz-card>


    <!-- grilla con LISTADO DE PersonalActa -->
    <nz-form-control *ngIf="$listaPersonalActa| async as listaPersonalActa ">
      <nz-table #PersonalActa [nzData]="listaPersonalActa" nzSize="small" [nzPageSize]="100000000"
        [nzShowPagination]="false" [nzScroll]="{ x: '500px' }">
        <thead>
          <tr>
            <th>Nro Acta</th>
            <th>Descripcion</th>
            <th>Tipo Acta</th>
            <th>Desde</th>
            <th>Hasta</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of PersonalActa.data" class="">
            <td>{{ data.NroActa }}</td>
            <td>{{ data.DescripcionActa }}</td>
            <td>{{ data.TipoActa }}</td>
            <td>{{ data.Desde }}</td>
            <td>{{ data.Hasta }}</td>

          </tr>
        </tbody>
      </nz-table>
    </nz-form-control>

  </ng-container>
</nz-drawer>