@if (conditional()|async) {}
<nz-select #cur [(ngModel)]="_selected" [nzDropdownMatchSelectWidth]="false" [ngModelOptions]="{ standalone: true }" 
  (ngModelChange)="modelChange($event)" nzAllowClear nzPlaceHolder="Centro Capacitación sede"
  nzShowSearch nzServerSearch (nzOnSearch)="search($event)" >
  <ng-container *ngFor="let option of $optionsArray | async">
    <nz-option *ngIf="($isOptionsLoading | async) == false" [nzValue]="option.CentroCapacitacionSedeId"
      nzLabel="{{ option.CentroCapacitacionSedeDescripcion }}" />
  </ng-container>
  <nz-option *ngIf="extendedOption.CentroCapacitacionSedeId > 0" [nzValue]="extendedOption.CentroCapacitacionSedeId"
    [nzLabel]="extendedOption.CentroCapacitacionSedeDescripcion" />
  <nz-option *ngIf="$isOptionsLoading | async" nzDisabled nzCustomContent>
    <span nz-icon nzType="loading" class="loading-icon"></span>
    Cargando datos...
  </nz-option>
</nz-select>
