<nz-card class="small-margin">
  <button nz-popconfirm nzType="primary" class="btn-add" nz-button (click)="getMessInfo()">
    Obtener estado mess
  </button>
  <p>{{ messInfo() | json }}</p>

  <h3>Parametros ChatBot WhatsApp</h3>
  <h4>Tiempo entre mensajes</h4>
  <input #inputElement style="width: 120px" nz-input nz-tooltip nzOverlayClassName="numeric-input"
    (ngModelChange)="msChange($event)" [ngModel]="ms()" placeholder="Input a number" />
  <button nz-popconfirm nzType="primary" class="btn-add" nz-button (click)="setMs()">
    Cambiar
  </button>
  <br>
  <img [src]="imagenUrl()" alt="QR">

</nz-card>
<nz-tabs>
  <nz-tab nzTitle="Conversación">
    <nz-card>
      <h4>Conversación</h4>
      <nz-form-label [nzSpan]="5">Persona</nz-form-label>

      <nz-form-control [nzSpan]="19">
        <app-personal-search (ngModelChange)="changePersona($event)" ngModel [anio]="0" [mes]="0" />
      </nz-form-control>

      <nz-form-label [nzSpan]="6" nzFor="chatId">Teléfono</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input name="chatId" type="text" id="chatId" [(ngModel)]="chatId" />
      </nz-form-control>

      <nz-card style="min-height: 300px;">

        <div class="chat-messages">
          <div *ngFor="let msg of msgs(); trackBy: trackByMsgId" class="chat-line"
            [ngClass]="msg.tool_calls ? 'tool-call' : msg.role">

            @if (showTools() || (msg.role !== 'tool' && !msg.tool_calls)) {

            <nz-card nzSize="small">

              @if (msg.content && msg.role !== 'tool') {
              <markdown [data]="msg.content"></markdown>
              } @else {
              <markdown [data]="toJsonString(msg.content||msg.tool_calls,true) | language:'json'"></markdown>

              }
              @if (showTools()){
              <div>{{ msg.thinking }}</div>

              }


            </nz-card>
            }
          </div>
        </div>

      </nz-card>

      <form (ngSubmit)="enviaChat($event)">
        <input style="width: 300px" nz-input nz-tooltip [formField]="chatform.usermsg" />
        <button nzType="primary" class="btn-add" nz-button type="submit" [nzLoading]="chatform().submitting()"
          [disabled]="chatform().submitting() || chatform().dirty()==false">Enviar</button>
      </form>
      <button nzType="primary" class="btn-add" nz-button (click)="reiniciaChat()">Reiniciar</button>

      <label style="display:inline-flex; gap:8px; align-items:center; margin-left: 12px;">
        <input type="checkbox" [checked]="showTools()" (change)="toggleShowTools($event)" />
        Mostrar uso de herramientas
      </label>

    </nz-card>



  </nz-tab>
  <nz-tab nzTitle="IA Prompt">
    <nz-card>
      <h4>IA Prompt</h4>
      <form (ngSubmit)="setIaPrompt($event)">

        <textarea placeholder="IA Prompt" style="width: 100%;
    height: 800px;" [formField]="promptform.iaPrompt"></textarea>
        <button nzType="primary" class="btn-add" nz-button type="submit" [nzLoading]="promptform().submitting()"
          [disabled]="promptform().submitting() || promptform().dirty()==false">Grabar</button>
      </form>
    </nz-card>

  </nz-tab>
  <nz-tab nzTitle="IA Herramientas">
    <nz-card>
      <h4>IA Prompt</h4>
      <form (ngSubmit)="setIaTools($event)">
        <textarea placeholder="IA Herramientas" style="width: 100%;
    height: 800px;" [formField]="toolsform.iaTools"></textarea>
        <button nzType="primary" class="btn-add" nz-button type="submit" [nzLoading]="toolsform().submitting()"
          [disabled]="toolsform().submitting() || toolsform().dirty()==false">Grabar</button>
      </form>
    </nz-card>

  </nz-tab>
</nz-tabs>




<!--
<nz-card class="small-margin">

  <h4>Celular</h4>
  <input
        style="width: 120px"
        nz-input
        nz-tooltip
        nzOverlayClassName="numeric-input"
        [(ngModel)]="destino"
        placeholder="Input a number"
    />

    <h4>Mensaje</h4>
    <textarea
          [(ngModel)]="mensaje"
          placeholder="mensaje"
      ></textarea>
  

  <button nz-popconfirm nzType="primary" class="btn-add" nz-button (click)="enviaMensaje()">Enviar</button>
  
</nz-card>
-->