.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 12px;


}

.chat-line p {
    margin-bottom: 0;
}

.chat-line {
  display: flex;
  margin-bottom: 8px;
  overflow-wrap: break-word;
}

.chat-line.user {
  justify-content: flex-end;

  nz-card {
    background-color: #e6f7ff;
    border-radius: 12px 12px 0 12px;
    max-width: 80%;
  }
}

.chat-line.assistant {
  justify-content: flex-start;

  nz-card {
    background-color: #f5f5f5;
    border-radius: 12px 12px 12px 0;
    max-width: 80%;
  }
}

.chat-line.tool {
  justify-content: flex-start;

  nz-card {
    background-color: #a5a6a5;
    border-radius: 12px 12px 12px 0;
    max-width: 80%;
  }
}

.chat-line.tool-call {
  justify-content: flex-start;

  nz-card {
    background-color: #a5a6a5;
    border-radius: 12px 12px 12px 0;
    max-width: 80%;
  }
}

nz-card {
  white-space: pre-line;
}