<nz-drawer [nzWidth]="650" [nzVisible]="visible()" [nzClosable]="false"
    [nzTitle]="tituloDrawer()" (nzOnClose)="visible.set(false)" [nzPlacement]="placement"
>

  <ng-container *nzDrawerContent>
    <!-- @if (conditional()|async) {} -->
    <form [formGroup]="formAyudaAsi">

      <nz-form-item>
        <nz-form-label [nzSpan]="5">Aplica El</nz-form-label>
          <nz-form-control [nzSpan]="17">
            <nz-date-picker nzMode="month" formControlName="aplicaEl"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>


      <nz-form-item>
        <nz-form-label [nzSpan]="5">Personal</nz-form-label>
          <nz-form-control [nzSpan]="17">
            <app-personal-search  formControlName="personalId" [anio]="currDate().getFullYear()" [mes]="currDate().getMonth()+1" (ngModelChange)="this.formChange($event)"></app-personal-search>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="marginElement">
        <nz-form-label [nzXs]="5">Situación Revista</nz-form-label>
        <nz-form-control>
          <ng-container *ngFor="let sitrevista of $sitrevista | async">
            <p title="{{ sitrevista.SituacionRevistaDescripcion }}">
              {{ sitrevista.SituacionRevistaDescripcion }} desde {{ sitrevista.PersonalSituacionRevistaDesde | date}}
              <span *ngIf="sitrevista.PersonalSituacionRevistaHasta">hasta {{ sitrevista.PersonalSituacionRevistaHasta
                | date}}</span>
            </p>
          </ng-container>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5">Tipo</nz-form-label>
          <nz-form-control [nzSpan]="17">
            <nz-select nzShowSearch nzAllowClear formControlName="formaId"
                [nzDropdownMatchSelectWidth]="false" (ngModelChange)="onChangeTipo($event)">
            <nz-option *ngFor="let option of options" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
            </nz-select>
        </nz-form-control>
      </nz-form-item>

     
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Cant. de Cuotas</nz-form-label>
          <nz-form-control [nzSpan]="5">
            <input nz-input formControlName="cantCuotas" type="number" />
        </nz-form-control>
        <nz-form-label [nzSpan]="3">Importe</nz-form-label>
          <nz-form-control [nzSpan]="9">
            <input nz-input formControlName="importe" type="text" appDotToComma mask="separator.2"  />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5">Motivo</nz-form-label>
          <nz-form-control [nzSpan]="17">
            <textarea rows="2" nz-input formControlName="motivo"></textarea>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="btnCenter">
        <button nz-button nzType="primary" [disabled]="!formAyudaAsi.dirty" (click)="save()" [nzLoading]="isSaving()"> {{ 'app.btn.save' | i18n }}</button>
        <button  nzType="primary" nz-button (click)="resetForm()">
          {{ 'app.btn.clear.form' | i18n }}
        </button>
      </nz-form-item>

      <nz-form-item class="app-table">
        <!-- <nz-form-label [nzSpan]="5"> Historial </nz-form-label> -->
        <nz-form-control>
          <nz-table class="app-table" #tableAdelantos [nzData]="(listaAdelantos$ | async) || []" nzSize="small"
            [nzPageSize]="1000000" [nzShowPagination]="false" [nzScroll]="{ x: '500px' }"
            [nzLoading]="tableLoading$ | async">
            <thead>
              <tr>
                <th>Tipo</th>
                <th>Monto</th>
                <th>Fecha de Solicitud</th>
                <th>Fecha de Aprobación</th>
                <th>Estado</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of tableAdelantos.data">
                <td>{{ data.FormaPrestamoDescripcion }}</td>
                <td>{{ data.PersonalPrestamoMonto | I18NCurrency }}</td>
                <td>{{ data.PersonalPrestamoAudFechaIng | date }}</td>
                <td>{{ data.PersonalPrestamoFechaAprobacion | date }}</td>
                <td>{{ data.PersonalPrestamoAprobado }}</td>
                <td>{{ data.Estado }}</td>
              </tr>
            </tbody>
          </nz-table>
        </nz-form-control>
      </nz-form-item>

    </form>
  </ng-container>
</nz-drawer>