<ng-template #phActionTpl>
  <nz-button-group>
    <button nz-button nzType="primary" disabled>L</button>
    <button nz-button nzType="default" disabled>M</button>
    <button nz-button nzType="default">M</button>
    <button nz-button nzType="dashed" disabled>R</button>
  </nz-button-group>
</ng-template>

<page-header [action]="phActionTpl"></page-header>
<nz-card class="small-margin">
  <app-image-content [personalImage]="($personalImageDataBlob | async) || ''"></app-image-content>
  <nz-select [(ngModel)]="selectedPersonalId" (ngModelChange)="selectedValueChange($event)"  nzAllowClear nzPlaceHolder="Choose" nzShowSearch nzServerSearch (nzOnSearch)="search($event)">
    <ng-container *ngFor="let option of $optionsArray | async">
      <nz-option *ngIf="($isOptionsLoading | async )== false" [nzValue]="option.PersonalId" [nzLabel]="option.fullName"></nz-option>
    </ng-container>  
    <nz-option *ngIf="$isOptionsLoading | async" nzDisabled nzCustomContent>
      <span nz-icon nzType="loading" class="loading-icon"></span>
      Loading Data...
    </nz-option>
  </nz-select>
</nz-card>