<nz-drawer [nzClosable]="false" [nzVisible]="visible()" [nzPlacement]="placement" [nzWidth]="drawerWidth()"
  [nzTitle]="tituloDrawer() " (nzOnClose)="visible.set(false)">
  <ng-container *nzDrawerContent>
    <div nz-row>
      <div nz-col nzFlex="600px" class="app-info-pers">
        <form [formGroup]="formTipoDocumento">
          <nz-form-item>
            <nz-form-label [nzSpan]="6">Tipo de documento</nz-form-label>
            <nz-form-control [nzSpan]="15">
              <nz-select formControlName="doctipo_id" nzPlaceHolder="Tipo" nzAllowClear
              [nzDropdownMatchSelectWidth]="false" style="width: 100%" nzShowSearch
              (ngModelChange)="selectLabel($event)">
                <ng-container *ngFor="let option of $optionsTipos | async" >
                  <nz-option [nzValue]="option.value" [nzLabel]="option.label" ></nz-option>
                </ng-container>
              </nz-select> 
            </nz-form-control>
          </nz-form-item>
    
          <nz-form-item >
            <nz-form-label [nzSpan]="7">{{ label() }}</nz-form-label>
            <nz-form-control [nzSpan]="14">
              <input nz-input formControlName="den_documento"/>
            </nz-form-control>
          </nz-form-item>
    
          <nz-form-item>
            <nz-form-label [nzSpan]="5">Persona</nz-form-label>
            <nz-form-control [nzSpan]="16">
              <app-personal-search formControlName="persona_id" [anio]="periodo().anio" [mes]="periodo().mes"></app-personal-search>
            </nz-form-control>
          </nz-form-item>
    
          <nz-form-item>
            <nz-form-label [nzSpan]="5">Cliente</nz-form-label>
            <nz-form-control [nzXs]="16">
              <app-cliente-search formControlName="cliente_id" />
            </nz-form-control>
          </nz-form-item>
    
          <nz-form-item>
            <nz-form-label [nzSpan]="5">Objetivo</nz-form-label>
            <nz-form-control [nzXs]="16">
              <app-objetivo-search formControlName="objetivo_id"></app-objetivo-search>
            </nz-form-control>
          </nz-form-item>
    
          <nz-form-item>
            <nz-form-label [nzSpan]="5">Desde</nz-form-label>
            <nz-form-control [nzXs]="7">
              <nz-date-picker nzFormat="yyyy-MM-dd" formControlName="fecha"></nz-date-picker>
            </nz-form-control>
    
            <nz-form-label [nzSpan]="3">Hasta</nz-form-label>
            <nz-form-control [nzXs]="7">
              <nz-date-picker nzFormat="yyyy-MM-dd" formControlName="fec_doc_ven"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
    
          <nz-form-item>
            <nz-form-label [nzSpan]="5">Archivo</nz-form-label>
            <nz-form-control>
              <app-file-upload formControlName="archivo" [cantMaxFiles]="1" ></app-file-upload>
            </nz-form-control>
          </nz-form-item>
    
        </form>
      </div>
      <div nz-col nzFlex="350px" class="app-foto-container" *ngIf="archivo_mimetype() == 'image'">
        <img nz-image class="image-content" [nzSrc]="archivo_fileUrl()" alt="" width="350px"/>
      </div>
      <div nz-col nzFlex="350px" class="app-foto-container" *ngIf="archivo_mimetype() == 'pdf'">
        <ngx-extended-pdf-viewer [src]="archivo_fileUrl()" [height]="'auto'" [textLayer]="true" [showHandToolButton]="false"
          [filenameForDownload]="archivo_originalname()" [height]="'500px'">
        </ngx-extended-pdf-viewer>
      </div>
    </div>

    <nz-form-item>
      <nz-form-control style="display: flex; justify-content: center; align-items: center; margin-top: 5px;">
        <button nzType="primary" nz-button (click)="save()" [nzLoading]="isLoading()" [disabled]="formTipoDocumento.pristine">
          {{ 'app.btn.save' | i18n }}
        </button>
        <button *ngIf="doc_id()" nzType="primary" nz-button (click)="resetForm()">
          {{ 'app.btn.clear.form' | i18n }}
        </button>
      </nz-form-control>
    </nz-form-item>
    
  </ng-container>
</nz-drawer>