<nz-card class="small-margin">
  <form nz-form #objpendForm="ngForm">
    <ng-container>
      <nz-date-picker nzMode="month" name="periodo" ngModel (ngModelChange)="onChange($event)" />
      <shared-filtro-builder [fieldsToSelect]="columns$ | async" (optionsChange)="listOptionsChange($event)"  [startFilters]="startfilters()" [keyLocalstorage]="constructor.name" />

      <ul nz-menu nzMode="horizontal">
        <li nz-menu-item nzMatchRouter>
          <span nz-icon nzType=""></span>
          <a [routerLink]="['/', 'ges', 'objetivos_pendasis','pendientes']">Pendientes</a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <span nz-icon nzType=""></span>
          <a [routerLink]="['/', 'ges', 'objetivos_pendasis','todos']">Todos</a>
        </li>

        <li nz-submenu nzTitle="Acciones">
          <ul>
            <li nz-menu-item (click)="exportGrid()">
              <span nz-icon nzType="download"></span>XLS
            </li>
          </ul>
        </li>
      </ul>

      <nz-tabs nzCentered nzLinkRouter class="hide-ant-tabs-nav" [nzLinkExact]="false">
        <nz-tab></nz-tab>
        <nz-tab [nzForceRender]="false">
          <a nz-tab-link routerLink="/ges/objetivos_pendasis/pendientes">Pendientes</a>
          <ng-template nz-tab>
            @if ((columns$|async); as columnas) {
              <div class="gridContainer1 container-fluid">
                <angular-slickgrid gridId="gridOPA" class="" [columns]="columnas | colsFilter"
                  [options]="gridOptionsOPA" [dataset]="(gridData$ | async) || []"
                  (onAngularGridCreated)="angularGridReadyOPA($event)">
                </angular-slickgrid>
              </div>
            }
          </ng-template>
        </nz-tab>

        <nz-tab [nzForceRender]="false">
          <a nz-tab-link routerLink="/ges/objetivos_pendasis/todos">Todos</a>
          <ng-template nz-tab>
            @if ((columns$|async); as columnas) {
              <div class="gridContainer2 container-fluid">
                <angular-slickgrid gridId="gridOPAT" class="" [columns]="columnas | colsFilter"
                  [options]="gridOptionsOPAT" [dataset]="(gridData$ | async) || []"
                  (onAngularGridCreated)="angularGridReadyOPAT($event)">
                </angular-slickgrid>
              </div>
            }
          </ng-template>
        </nz-tab>


      </nz-tabs>
    </ng-container>
  </form>
</nz-card>