<ng-template #phActionTpl>
  <nz-button-group>
    <button nz-button nzType="primary" disabled>L</button>
    <button nz-button nzType="default" disabled>M</button>
    <button nz-button nzType="default">M</button>
    <button nz-button nzType="dashed" disabled>R</button>
  </nz-button-group>
</ng-template>

<page-header [action]="phActionTpl"></page-header>

<nz-card class="small-margin">
  <form nz-form *ngIf="$personalData | async as data">

    <nz-form-item >
      <nz-form-label [nzSpan]="5">Buscar Persona</nz-form-label>
      <nz-form-control [nzSpan]="14">
      <nz-select [(ngModel)]="selectedPersonalId" [ngModelOptions]="{standalone: true}" 
        (ngModelChange)="selectedValueChange($event)" nzAllowClear nzPlaceHolder="Apellido, Nombre, CUIT" nzShowSearch
        nzServerSearch (nzOnSearch)="search($event)">
        <ng-container *ngFor="let option of $optionsArray | async">
          <nz-option *ngIf="isOptionsLoading == false" [nzValue]="option.PersonalId"
            [nzLabel]="option.fullName"></nz-option>
        </ng-container>
        <nz-option *ngIf="isOptionsLoading" nzDisabled nzCustomContent>
          <span nz-icon nzType="loading" class="loading-icon"></span>
          Loading Data...
        </nz-option>
      </nz-select>
      </nz-form-control>
    </nz-form-item>
  </form>

  <div #credcards class="card-container limit-card-columns">
    <nz-card *ngFor="let credential of credentials; let i = index" class="card-inline-block ">
        <app-view-credential [ngModel]="credential" name="Cred" [showPrintBtn]="false"></app-view-credential>
        <button nz-button nzType="primary" [nzSize]="'small'" (click)="credentials.splice(i,1)">
          <span nz-icon nzType="delete" nzTheme="outline"></span>Elimina</button>
    </nz-card>
  </div>
  <button *ngIf="credentials.length > 0" nz-button nzType="primary" [nzSize]="'large'" (click)="printCards()">
    <span nz-icon nzType="printer"></span>Imprime {{ credentials.length }} credencial/es</button>


</nz-card>