<ng-container>
    <shared-filtro-builder  [fieldsToSelect]="columns$ | async" (optionsChange)="listOptionsChange($event)" />

    @if(columns$ | async; as columnas) {
      <div class="gridContainerCut container-fluid">
        <angular-slickgrid 
          gridId="gridCut" 
          [columns]="columnas"
          [options]="gridOptions" 
          [dataset]="(gridData$ | async) || []"
          (onAngularGridCreated)="angularGridReady($event)"
          (onSelectedRowsChanged)="handleSelectedRowsChanged($event)"
        ></angular-slickgrid>
      </div>
    }
  </ng-container>