<ng-container>
    @if(columns().length) {
      <shared-filtro-builder  [fieldsToSelect]="columns()" [(options)]="listOptions" />
      <div class="gridContainerCut container-fluid">
        <angular-slickgrid 
          gridId="gridCut" 
          [columns]="columns()"
          [options]="gridOptions" 
          [dataset]="gridData.value()"
          (onAngularGridCreated)="angularGridReady($event)"
          (onSelectedRowsChanged)="handleSelectedRowsChanged($event)"
        ></angular-slickgrid>
      </div>
    }
  </ng-container>