
<nz-card class="small-margin">
    <nz-form-item>
        <nz-form-label [nzSpan]="2">Periodo</nz-form-label>
        <nz-form-control>
          <nz-date-picker nzMode="month"  [(ngModel)]="periodo" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-control style="text-align: right;">
        <nz-button-group>
            <button nz-button nzType="default" (click)="openDrawerforEdit()" [disabled]="!(PersonalLicenciaId>0)" ><span nz-icon nzType="user"
                    nzTheme="outline" ></span></button>
            <button nz-button nzType="default" (click)="openDrawerforNew()"><span nz-icon nzType="plus"
                    nzTheme="outline"></span></button>
        </nz-button-group>
    </nz-form-control>

      <ul nz-menu nzMode="horizontal">
        <li nz-menu-item nzMatchRouter>
          <span nz-icon nzType=""></span>
          <a [routerLink]="['/', 'ges', 'carga_licencias','AltaLicencia']" >Alta de licencia</a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <span nz-icon nzType=""></span>
          <a [routerLink]="['/', 'ges', 'carga_licencias','horasLicencia']" >Horas de licencia</a>
        </li>
      </ul>
      
      <nz-tabset nzCentered nzLinkRouter class="hide-ant-tabs-nav" [(nzSelectedIndex)]="tabIndex">
        <nz-tab>
          <a nz-tab-link routerLink="/ges/carga_licencias/AltaLicencia">Alta de licencia</a>
          <ng-template nz-tab>
            
            <app-table-abm-licencia gridId="gridEdit" (valueGridEvent)="actualizarValorDrawer($event)" [anio]="selectedPeriod().year" [mes]="selectedPeriod().month"></app-table-abm-licencia>
  
          </ng-template>
        </nz-tab>
        <nz-tab>
          <a nz-tab-link routerLink="/ges/carga_licencias/horasLicencia">Horas de licencia</a>
          <ng-template nz-tab>
            
            <app-table-horas-licencia gridId="gridEdit" [anio]="selectedPeriod().year" [mes]="selectedPeriod().month"></app-table-horas-licencia>
          </ng-template>
        </nz-tab>
      
      </nz-tabset>
  </nz-card>
<app-licencia-drawer [selectedPeriod]="selectedPeriod()" [tituloDrawer] = "tituloDrawer" [(visible)]="visibleDrawer" [PersonalId]="PersonalId" [PersonalLicenciaId]="PersonalLicenciaId"></app-licencia-drawer>
  