
<nz-card class="small-margin">
    <form nz-form #LicenciaForm="ngForm">
        
    <nz-form-item>
        <nz-form-label [nzSpan]="2">Periodo</nz-form-label>
        <nz-form-control>
          <nz-date-picker nzMode="month" name="periodo" ngModel (ngModelChange)="dateChange($event)" />
        </nz-form-control>
      </nz-form-item>

      <button nz-button nzType="primary" (click)="openDrawer()">Open</button>

      <ul nz-menu nzMode="horizontal">
        <li nz-menu-item nzMatchRouter>
          <span nz-icon nzType=""></span>
          <a [routerLink]="['/', 'ges', 'carga_licencias','AltaLicencia']" >Alta de licencia</a>
        </li>
      </ul>
  
      <nz-tabset nzCentered nzLinkRouter class="hide-ant-tabs-nav" [(nzSelectedIndex)]="tabIndex">
        <nz-tab>
          <a nz-tab-link routerLink="/ges/carga_licencias/AltaLicencia">Alta de licencia</a>
          <ng-template nz-tab>
            
            <app-table-abm-licencia gridId="gridEdit" [anio]="selectedPeriod.year" [mes]="selectedPeriod.month"></app-table-abm-licencia>
  
          </ng-template>
        </nz-tab>
        <!-- <nz-tab>
          <a nz-tab-link routerLink="/ges/carga_licencias/lista">Lista</a>
          <ng-template nz-tab>

          </ng-template>
        </nz-tab> -->
      
      </nz-tabset>
  
  
    </form>
  </nz-card>
  
<app-licencia-drawer [visible]="visibleDrawer" (onClose)="closeDrawer()"></app-licencia-drawer>
  