DB_HOST=localhost
DB_PORT=0000
DB_DATABASE=DB
DB_USER=User 
DB_PASS=Pass
DB_MAX_EXEC_TIME=1000

LDAP_URL=ldap://192.168.1.10:389
LDAP_USERNAME=CN
LDAP_PASSWORD=Pass
LDAP_SEARCH="bus"

SERVER_API_PORT=3000

JWT_SECRET="secreto"
JWT_EXPIRE_SECS=86400

DEBUG=true
NRO_EMPRESA_PBA="1123"

PATH_MONOTRIBUTO="./uploads/monotributo"
PATH_TELEFONIA="./uploads/telefonia"

IMAGE_FOTO_PATH="https://gestion.linceseguridad.com.ar/erp_produccion/Archivos/Foto/"

OTRO_DESCUENTO_ID=28

CA_URL_GETASISTANCE = "https://localhost:19001/ISAPI/AccessControl/LocalAttendance/SearchRecordSheet?format=json"
CA_USERNAME = "admin"
CA_PASSWORD = "Admin.4168"

SSRS_USER="dummy"
SSRS_PASS="password"
