DB_HOST=localhost
DB_PORT=0000
DB_DATABASE=DB
DB_USER=User 
DB_PASS=Pass
DB_MAX_EXEC_TIME=1000

LDAP_URL=ldap://192.168.1.3:389
LDAP_USERNAME=CN
LDAP_PASSWORD=Pass
LDAP_SEARCH="bus"

SERVER_API_PORT=3000

JWT_SECRET="secreto"
JWT_EXPIRE_SECS=86400

DEBUG=true
