<nz-drawer [nzClosable]="false" [nzVisible]="visible()" [nzPlacement]="placement" [nzWidth]="640"
  [nzTitle]="tituloDrawer()" (nzOnClose)="visible.set(false)">
  <ng-container *nzDrawerContent>
    <form [formGroup]="formCli">
      <nz-form-item>
        <nz-form-label [nzSpan]="5">CUIT</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <nz-input-group>
            <input nz-input formControlName="CentroCapacitacionCuit" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5">Razón Social</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <nz-input-group>
            <input nz-input formControlName="CentroCapacitacionRazonSocial" type="string"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5">Inactivo</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <nz-input-group>
            <nz-switch formControlName="CentroCapacitacionInactivo"></nz-switch>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      @if(this.formCli.enabled) {
        <nz-form-item class="btnCenter">
          <button nz-button nzType="primary" [disabled]="!formCli.dirty" (click)="save()" [nzLoading]="isSaving()">
            {{ 'app.btn.save' | i18n }}
          </button>
        </nz-form-item>
      }
    </form>
  </ng-container>
</nz-drawer>