<nz-card class="small-margin">
  <ng-container>
      @if(columns().length) {
        <shared-filtro-builder #tdd [fieldsToSelect]="columns()" [startFilters]="startFilters()"
          [(options)]="listOptions"/>
        <div class="gridNoDescargas container-fluid">
          <angular-slickgrid gridId="gridNoDescargas" [columns]="columns()" [options]="gridDetalleOptions"
            [dataset]="gridData.value()" (onAngularGridCreated)="angularGridReady($event)">
          </angular-slickgrid>
        </div>
      }
    </ng-container>
  </nz-card>