<nz-card class="small-margin">

  @if ((columnsPersonal$|async); as columnas) {
    <div nz-tab>
      <div class="fila">
        <div class="izquierda">
          <shared-filtro-builder  [fieldsToSelect]="columnas" [startFilters]="startFilters"
            (optionsChange)="listOptionsChange($event)" style="width: 80%;" />
          </div>
          <div class="derecha">
            <a nz-tooltip nzTooltipTitle="{{ 'app.icon.add' | i18n }}">
              <button nz-button nzType="default" (click)="addNewItem()"><span nz-icon nzType="plus"
              nzTheme="outline"></span></button>
            </a>
            <button nz-button nzType="default" (click)="openDrawer()"><span nz-icon nzType="user" nzTheme="outline"
            nz-tooltip nzTooltipTitle="{{ 'app.icon.people' | i18n }}"></span></button>
          </div>
        </div>
        <div class="gridContainerGAP container-fluid">
          <angular-slickgrid gridId="gridEditGAP" [columns]="columnas  | colsFilter"
            [options]="gridOptionsEdit" [dataset]="(gridDataPersonal$ | async) || []"
            (onAngularGridCreated)="angularGridReadyEdit($event)"
            (onSelectedRowsChanged)="handleSelectedRowsChanged($event)" (onBeforeEditCell)="handleOnBeforeEditCell($event)">
            <!-- (onBeforeEditCell)="onBeforeEditCell($event)" -->
          </angular-slickgrid>
        </div>
      </div>
    }
  </nz-card>


  <app-detalle-persona [anio]="currPeriodo().anio" [mes]="currPeriodo().mes" [SucursalId]="0"
  [PersonalId]="PersonalId()" [visible]="visibleDrawerPersona()" (onClose)="closeDrawer()"></app-detalle-persona>