<nz-card>
  @if (scannerEnabled()) {

  <h1>Validación de DNI</h1>
  <nz-card style="text-align: center;">
    <p>Enfoque el código de barras del documento delante de la cámara</p>
    <p>Procure tener buena iluminación</p>
    <p>En caso de no poder lograr una imagen nítida pruebe cambiar a la cámara alternativa</p>
    <button nz-button nzType="primary" (click)="cambioCam()" style="width:80%;">Cámara Alternativa</button>
  </nz-card>
  <nz-card style="text-align: center;">
    <ng-container style="max-width: 800px;">
      <zxing-scanner [formats]="allowedBarCodeFormats" (scanComplete)="scanComplete($event)"
        (scanSuccess)="scanSuccess($event)" (camerasFound)="camerasFoundHandler($event)" [enable]="scannerEnabled()"
        [device]="camdevice"
        [tryHarder]="true"
        ></zxing-scanner>
    </ng-container>
  </nz-card>
  } @else if (encTelNro()) {
  }



  @if (codGenerado()) {
  <nz-result nzStatus="success" nzTitle="Código: {{ codGenerado() }}"
    nzSubTitle="Aguarde a ser contactactado e ingrese el código cuando se lo soliciten">
    <div nz-result-extra>
      <button nz-button nzType="primary" (click)="scannerEnabled.set(true)">Validar DNI y generar nuevo código</button>
    </div>
  </nz-result>

  }
</nz-card>