<nz-card class="small-margin">
  <form nz-form #liquidacionesForm="ngForm">

    <nz-form-item>
      <nz-form-label [nzSpan]="2">Periodo</nz-form-label>
      <nz-form-control>
        <nz-date-picker nzMode="month" name="periodo" ngModel (ngModelChange)="dateChange($event)" />
      </nz-form-control>
    </nz-form-item>
    <ul nz-menu nzMode="horizontal">
      <li nz-menu-item nzMatchRouter>
        <span nz-icon nzType=""></span>
        <a [routerLink]="['/', 'ges', 'liquidacion_banco','listado']">Listado</a>
      </li>

      <li nz-menu-item nzMatchRouter>
        <span nz-icon nzType=""></span>
        <a [routerLink]="['/', 'ges', 'liquidacion_banco','ayudaasistencial']">Adelanto/Ayuda</a>
      </li>

      <li nz-submenu nzTitle="Acciones">
        <ul style="width: auto !important">
          <li nz-menu-item app-down-file [httpMethod]="'POST'"
            [httpBody]="{anio, mes, options: listOptions, BancoId:11,tabIndex}"
            httpUrl="api/liquidaciones/download/banco/">
            <span nz-icon nzType="download"></span>Generar Banco ITAU
          </li>
          <li nz-menu-item app-down-file [httpMethod]="'POST'"
            [httpBody]="{anio, mes, options: listOptions, BancoId:4,tabIndex}"
            httpUrl="api/liquidaciones/download/banco/">
            <span nz-icon nzType="download"></span> Generar Banco Patagonia
          </li>
          <li nz-menu-item nz-popconfirm
          nzPopconfirmTitle="Confirma depósitos pendientes?"
          [nzBeforeConfirm]=""
          [nzPopconfirmShowArrow]="false"
          (nzOnConfirm)="confirmaMovimientosBanco($event)"
          >
            <span nz-icon nzType="plus" nzTheme="outline"></span>Confirma depósitos pendientes
          </li>
          <li nz-menu-item  nz-popconfirm
          nzPopconfirmTitle="Elimina mobimientos pendientes banco Itau?"
          [nzBeforeConfirm]=""
          [nzPopconfirmShowArrow]="false"
          (nzOnConfirm)="eliminaMovimientosBanco($event,11)" >
            <span nz-icon nzType="plus" nzTheme="outline"></span>Elimina archivo pendiente banco Itau
          </li>
          <li nz-menu-item  nz-popconfirm
          nzPopconfirmTitle="Elimina mobimientos pendientes banco Patagonia?"
          [nzBeforeConfirm]=""
          [nzPopconfirmShowArrow]="false"
          (nzOnConfirm)="eliminaMovimientosBanco($event,4)"
          
          >
            <span nz-icon nzType="plus" nzTheme="outline"></span>Elimina archivo pendiente banco Patagonia
          </li>
        </ul>

      </li>
      <li nz-menu-item (click)="exportGrid()">
        <span nz-icon nzType="download"></span>XLS
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/', 'ges', 'liquidacion_banco','moviemientospendientes']">Movimientos Pendientes</a>
      </li>
    </ul>

    <nz-tabset nzCentered nzLinkRouter class="hide-ant-tabs-nav" [(nzSelectedIndex)]="tabIndex">
      <nz-tab>
        <a nz-tab-link routerLink="/ges/liquidacion_banco/listado">Listado</a>
        <ng-template nz-tab *ngIf="(columns$|async) as columnas">
          <shared-filtro-builder #sfb [fieldsToSelect]="columnas" (optionsChange)="listOptionsChange($event)" />
          <div class="gridContainer1 container-fluid">
            <angular-slickgrid gridId="grid22" class="" [columnDefinitions]="columnas | colsFilter"
              [gridOptions]="gridOptions" [dataset]="(gridData$ | async) || []"
              (onAngularGridCreated)="angularGridReady($event)">
            </angular-slickgrid>
          </div>

        </ng-template>
      </nz-tab>
      <nz-tab>
        <a nz-tab-link routerLink="/ges/liquidacion_banco/ayudaasistencial">Listado</a>
        <ng-template nz-tab *ngIf="(columnsAyuda$|async) as columnasAyuda">
          <shared-filtro-builder #sfb [fieldsToSelect]="columnasAyuda"
            (optionsChange)="listOptionsChangeAyuda($event)" />
          <div class="gridContainer2 container-fluid">
            <angular-slickgrid gridId="grid23" class="" [columnDefinitions]="columnasAyuda | colsFilter"
              [gridOptions]="gridOptionsAyuda" [dataset]="(gridDataAyuda$ | async) || []"
              (onAngularGridCreated)="angularGridReadyAyuda($event)">
            </angular-slickgrid>
          </div>
        </ng-template>
      </nz-tab>

      <nz-tab>
        <a nz-tab-link routerLink="/ges/liquidacion_banco/moviemientospendientes">Movimientos Pendientes</a>
        <ng-template nz-tab>
        <movimientos-pendientes></movimientos-pendientes>
      </ng-template>
      </nz-tab>
    
    </nz-tabset>


  </form>
</nz-card>