<nz-card class="small-margin">
    <form nz-form #liquidacionesForm="ngForm">

      <nz-form-item>
        <nz-form-label [nzSpan]="2">Periodosss</nz-form-label>
        <nz-form-control>
          <nz-date-picker nzMode="month" name="periodo" ngModel (ngModelChange)="dateChange($event)" />
        </nz-form-control>
      </nz-form-item>


      <ul nz-menu nzMode="horizontal">
        <li nz-menu-item nzMatchRouter >
          <span nz-icon nzType=""></span>
          <a [routerLink]="['/', 'ges', 'liquidaciones','listado']">Listado</a>
        </li>

      <li nz-submenu nzTitle="Acciones" *ngIf="router.url === '/ges/liquidaciones/listado'">
        <ul style="width: auto !important">
          

          <li nz-menu-item id="movimientosAutomaticos" (click)="liquidacionesAcciones($event)" >
            <span nz-icon nzType="plus" nzTheme="outline"></span> Carga de movs automático
          </li>
          <li nz-menu-item id="ingresosPorAsistencia" (click)="liquidacionesAcciones($event)">
            <span nz-icon nzType="plus" nzTheme="outline"></span> Ingresos por asistencia
          </li>
          <li nz-menu-item id="ingresosPorAsistenciaAdministrativos" (click)="liquidacionesAcciones($event)">
            <span nz-icon nzType="plus" nzTheme="outline"></span> Ingresos por asistencia administrativos
          </li>
          <li nz-menu-item id="ingresosArt42" (click)="liquidacionesAcciones($event)">
            <span nz-icon nzType="plus" nzTheme="outline"></span> Ingresos por art42 Lincencia
          </li>
          <li nz-menu-item  id="ingresosCoordinadorDeCuenta" (click)="liquidacionesAcciones($event)">
            <span nz-icon nzType="plus" nzTheme="outline"></span> Ingresos por coordinador de cuenta
          </li>
          <li nz-menu-item id="descuentoPorDeudaAnterior" (click)="liquidacionesAcciones($event)">
            <span nz-icon nzType="plus" nzTheme="outline"></span> Descuentos por deuda período anterior
          </li>
          <li nz-menu-item id="descuentos" (click)="liquidacionesAcciones($event)">
            <span nz-icon nzType="plus" nzTheme="outline"></span> Descuentos
          </li>
          <li nz-menu-item id="movimientoAcreditacionEnCuenta" (click)="liquidacionesAcciones($event)">
            <span nz-icon nzType="plus" nzTheme="outline"></span> Movimiento de acreditación en cuenta
          </li> 

        </ul>
        
      </li>
      <li nz-menu-item (click)="exportGrid()">
        <span nz-icon nzType="download"></span>XLS
      </li>
    </ul>

    <nz-tabset nzCentered nzLinkRouter class="hide-ant-tabs-nav">
      <nz-tab >
        <a nz-tab-link routerLink="/ges/liquidaciones/listado">Listado</a>
        <ng-template nz-tab *ngIf="(columns$|async) as columnas">
          <div class="gridContainer container-fluid" >
            <angular-slickgrid gridId="grid22" class="" 
              [columnDefinitions]="columnas | colsFilter"
              [gridOptions]="gridOptions" 
              [dataset]="(gridData$ | async) || []" 
              (onAngularGridCreated)="angularGridReady($event)">
          </angular-slickgrid>
          </div>

          <div>Registros: {{ gridDataLen }}</div>
        </ng-template>
      </nz-tab>
    </nz-tabset>

  
    </form>
</nz-card>