<nz-card class="small-margin">

  <div nz-row class="contentStyle">
    <div nz-col  class="listStyle">
      <ul nz-menu nzMode="horizontal" style="display: flex;">
        <li nz-menu-item nzMatchRouter>
          <span nz-icon nzType=""></span>
          <a [routerLink]="['/', 'ges', 'seguro', 'listado']" (click)="this.isActiveProcess.set(true)">{{ 'app.segurosList' | i18n }}</a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <span nz-icon nzType=""></span>
          <a [routerLink]="['/', 'ges', 'seguro', 'poliza']" (click)="this.isActiveProcess.set(false)">{{ 'app.segurosPoliza' | i18n }}</a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <span nz-icon nzType=""></span>
          <a [routerLink]="['/', 'ges', 'seguro', 'personal']" (click)="this.isActiveProcess.set(false)">{{ 'app.segurosPersonal' | i18n }}</a>
        </li>
        <li nz-submenu nzTitle="Informes">
          <ul style="width: auto !important">
            <li nz-menu-item>
              <span app-reporte="Reporte Seguro Accidentes Personales"></span>
            </li>
            <li nz-menu-item>
              <span app-reporte="Reporte Seguro Diario FP"></span>
            </li>
            <li nz-menu-item >
              <span app-reporte="Reporte Seguro Vida Colectiva"></span>
            </li>
          <!--  <li nz-menu-item >
              <span app-reporte="Da error"></span>
            </li>
            <li nz-menu-item >
              <span app-reporte="Prueba Filtros"></span>
            </li>-->

          </ul>
        </li>
      </ul>
    </div>

  @if(isActiveProcess()){
    <div nz-col nzSpan="24" style="display: flex;flex-direction: row-reverse; margin-bottom: 10px;">
      <nz-button-group style="text-align: right;">
  
        <ng-template #confirmReciboTpl>
          <span>Generar Proceso Seguros </span>
          <nz-date-picker nzMode="month" [(ngModel)]="fechaseguro" [nzFormat]="'yyyy-MM'" [ngModelOptions]="{standalone: true}" />
          <span>?</span>
        </ng-template>
        <li class="ant-btn ant-btn-default ant-btn-icon-only" nz-button nz-popconfirm
          [nzPopconfirmTitle]="confirmReciboTpl" [nzBeforeConfirm]="" [nzPopconfirmShowArrow]="false"
          (nzOnConfirm)="send()">
          <span class="anticon anticon-setting" style="margin-top: 0.3rem" nz-icon nzType="setting"
            nzTheme="outline"></span>
        </li>
        
  
      </nz-button-group>
  
    </div>

  }
</div>

  <nz-tabs nzCentered nzLinkRouter class="hide-ant-tabs-nav" (nzSelectChange)="onTabsetChange($event)">
    <nz-tab></nz-tab>
    <nz-tab>
      <a nz-tab-link routerLink="/ges/seguro/listado">Listado</a>
      <ng-template nz-tab>
          <app-table-seguros-list></app-table-seguros-list>
      </ng-template>
    </nz-tab>
    <nz-tab>
      <a nz-tab-link routerLink="/ges/seguro/poliza">Poliza</a>
      <ng-template nz-tab>
          <app-poliza-seguro [(TipoSeguroCodigo)]="TipoSeguroCodigo" [(CompaniaSeguroId)]="CompaniaSeguroId" [(PolizaSeguroNroPoliza)]="PolizaSeguroNroPoliza" [(PolizaSeguroNroEndoso)]="PolizaSeguroNroEndoso"></app-poliza-seguro>
      </ng-template>
    </nz-tab>
    <nz-tab>
      <a nz-tab-link routerLink="/ges/seguro/personal">Personal Seguro</a>
      <ng-template nz-tab>
          <app-personal-seguro-poliza [TipoSeguroCodigo]="TipoSeguroCodigo()" [CompaniaSeguroId]="CompaniaSeguroId()" [PolizaSeguroNroPoliza]="PolizaSeguroNroPoliza()" [PolizaSeguroNroEndoso]="PolizaSeguroNroEndoso()"></app-personal-seguro-poliza>
      </ng-template>
    </nz-tab>
  </nz-tabs>

</nz-card>
