<nz-card class="small-margin">

  <div nz-row class="contentStyle">
    <div nz-col  class="listStyle">
      <ul nz-menu nzMode="horizontal" style="display: flex;">
        <li nz-menu-item nzMatchRouter>
          <span nz-icon nzType=""></span>
          <a [routerLink]="['/', 'ges', 'seguro', 'listado']">{{ 'app.segurosList' | i18n }}</a>
        </li>
        <li nz-submenu nzTitle="Informes">
          <ul style="width: auto !important">
            <!-- <li nz-menu-item app-down-file [httpMethod]="'POST'"
              [httpBody]="{'Reporte':'Reporte Seguro Accidentes Personales','Formato':'EXCEL', 'Filtros': {'Fecha':fechaActual(),'OBJETIVO':'APG'}}"
              httpUrl="api/informes/descarga" notificationMsg="Generando Informe Seguro">
              <span nz-icon nzType="download"></span><span style="white-space: normal;">Reporte Seguro Accidentes Personales</span>
            </li>
   -->
            <li nz-menu-item (click)="showModal('Reporte Seguro Accidentes Personales')" >
              <span nz-icon nzType="download"></span><span style="white-space: normal;">Reporte Seguro Accidentes Personales</span>
            </li>
            <li nz-menu-item (click)="showModal('Reporte Seguro Diario FP')" >
              <span nz-icon nzType="download"></span><span style="white-space: normal;">Reporte Seguro Diario FP</span>
            </li>
            <li nz-menu-item (click)="showModal('Reporte Seguro Vida Colectiva')">
              <span nz-icon nzType="download"></span><span style="white-space: normal;">Reporte Seguro Vida Colectiva</span>
            </li>
          </ul>
  
        </li>
      </ul>
    </div>

    <div nz-col nzSpan="24" style="display: flex;flex-direction: row-reverse; margin-bottom: 10px;">
      <nz-button-group style="text-align: right;">
  
        <ng-template #confirmReciboTpl>
          <span>Generar Proceso Seguros </span>
          <nz-date-picker [(ngModel)]="fechaseguro" [ngModelOptions]="{standalone: true}" />
          <span>?</span>
        </ng-template>
        <li class="ant-btn ant-btn-default ant-btn-icon-only" nz-button nz-popconfirm
          [nzPopconfirmTitle]="confirmReciboTpl" [nzBeforeConfirm]="" [nzPopconfirmShowArrow]="false"
          (nzOnConfirm)="send()">
          <span class="anticon anticon-setting" style="margin-top: 0.3rem" nz-icon nzType="setting"
            nzTheme="outline"></span>
        </li>
        
  
      </nz-button-group>
  
    </div>

  </div>


  <nz-tabset nzCentered nzLinkRouter class="hide-ant-tabs-nav">
    <nz-tab>
      <a nz-tab-link routerLink="/ges/seguro/listado">Listado</a>
      <ng-template nz-tab>
        <div class="gridContainer container-fluid">
          <app-table-seguros-list></app-table-seguros-list>
        </div>
      </ng-template>
    </nz-tab>
  </nz-tabset>

</nz-card>

<app-reportes #AccessReport [(isVisible)]="isVisible" ></app-reportes>
