.alain-search {
  cursor: pointer;
  display: block;
  min-width: 50px;
  padding: 8px 2px;
  line-height: 100%;
  //text-align: center;
  border-radius: 2px;
  outline: none;
  transition: background-color 300ms;

  &:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
  }
}

