<nz-drawer [nzClosable]="false" [nzVisible]="visible()" [nzPlacement]="placement" [nzWidth]="640"
  [nzTitle]="tituloDrawer()" (nzOnClose)="visible.set(false)">
  <ng-container *nzDrawerContent>
    <form [formGroup]="formCli">
      <nz-form-item style="display: none;">
        <nz-form-label [nzSpan]="5">Poliza Seguro Cod</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <nz-input-group>
           <input nz-input formControlName="PolizaSeguroCodigo" ngModel/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Tipo</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <nz-select formControlName="TipoSeguroId"  [nzDropdownMatchSelectWidth]="false" nzPlaceHolder="Seleccione tipo de seguro" nzShowSearch>
            <nz-option *ngFor="let tiposeguro of $optionsTipoSeguro | async" [nzValue]="tiposeguro.TipoSeguroCodigo" [nzLabel]="tiposeguro.TipoSeguroNombre"></nz-option> 
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5">Compañía</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <nz-select formControlName="CompaniaSeguroId"  [nzDropdownMatchSelectWidth]="false"  nzPlaceHolder="Seleccione compañía" nzShowSearch>
            <nz-option *ngFor="let compania of $optionsCompaniaSeguro | async" [nzValue]="compania.CompaniaSeguroId" [nzLabel]="compania.CompaniaSeguroDescripcion"></nz-option> 
          </nz-select>
        </nz-form-control>
      </nz-form-item>   

      <nz-form-item>
        <nz-form-label [nzSpan]="5">Nro de Póliza</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <nz-input-group>
            <input nz-input formControlName="PolizaSeguroNroPoliza" placeholder="Ingrese número de póliza" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5">Nro de Endoso</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <nz-input-group>
            <input nz-input formControlName="PolizaSeguroNroEndoso" placeholder="Ingrese número de endoso"  />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5">Fecha de Endoso</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <nz-date-picker formControlName="PolizaSeguroFechaEndoso" nzPlaceHolder="Seleccione fecha" ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    
      <nz-form-control>
        <app-file-upload formControlName="files" [idForSearh]="0" [cantMaxFiles]="1"
          [textForSearch]="'POL'" [columnForSearch]="''" [tableForSearch]="'docgeneral'" [showTipoDocs]="false"  ></app-file-upload>
      </nz-form-control> 

    @if(this.formCli.enabled) {
        <nz-form-item class="btnCenter">
            <button nz-button nzType="primary" [disabled]="!formCli.dirty" (click)="save()" [nzLoading]="isSaving()"> {{ 'app.btn.save' | i18n }}</button>

            @if (this.PolizaSeguroCodigo()) {
            
            <button 
            nz-popconfirm
            nzPopconfirmTitle="Esta seguro que quiere eliminar esta póliza?"
            (nzOnConfirm)="deletePoliza()"
            nzPopconfirmPlacement="top"
            nz-button 
            nzType="primary"
            nzDanger>Eliminar</button>
          } 
        </nz-form-item>
      }
 
    </form>

    
    <!-- <p>Debug Valores: {{formCli.value | json }}</p>   -->

  </ng-container>
</nz-drawer>
