
<nz-card class="small-margin">
  <form nz-form ngForm>
    <ul nz-menu nzMode="horizontal">
      <li nz-menu-item nzMatchRouter>
        <span nz-icon nzType=""></span>
        <a [routerLink]="['/', 'ges', 'personal_objetivo','persona']" (click)="restarVariablesGroup()">Persona</a>
      </li>

      <li nz-menu-item nzMatchRouter>
        <span nz-icon nzType=""></span>
        <a [routerLink]="['/', 'ges', 'personal_objetivo','objetivo']" (click)="restarVariablesPersona()">Objetivo</a>
      </li>
    </ul>

    <nz-tabset nzCentered nzLinkRouter class="hide-ant-tabs-nav" [(nzSelectedIndex)]="tabIndex">
      <nz-tab>
        <a nz-tab-link routerLink="/ges/personal_objetivo/persona">Persona</a>
        <ng-template nz-tab>
      
          <nz-form-item class="marginElement">
            <nz-form-label [nzSpan]="3">Persona</nz-form-label>
          
            <nz-form-control [nzSpan]="17">
              <nz-input-group style="width: 100%">
                <app-personal-search name="PersonalId" ngModel (ngModelChange)="PersonaChange($event)"/>
              </nz-input-group>
            </nz-form-control>
            @if (addMoreGroup) {
              <button nz-button nzType="default" nzShape="circle" class="btnPadding"><span nz-icon nzType="plus"></span></button>
            }
           
          </nz-form-item>

          
            <nz-form-item class="marginElement">
              <nz-form-label [nzSpan]="3">Objetivo</nz-form-label>
              <nz-form-control [nzSpan]="17">
                <app-objetivo-search name="ObjetivoIdAdd" ngModel (ngModelChange)="ObjetivoIdForAdd = $event" />
             
              </nz-form-control>
              <nz-form-control [nzSpan]="2">
                
                <button nz-popconfirm nzType="primary"  class="btnPadding" nzPopconfirmTitle="Confirma que desea agregar el grupo?" nz-button (nzOnConfirm)="addgroup()">
                  Agregar
                </button>
              </nz-form-control>
            </nz-form-item>
          
          
          <ul nz-list [nzDataSource]="dataEmpleados()" nzBordered nzSize="large">
            <nz-list-header class="quantities">Cantidad : {{dataEmpleados().length}}</nz-list-header>
            @for (item of dataEmpleados(); track item) {
              <li nz-list-item nzNoFlex>
                <ul nz-list-item-actions>
                  <nz-list-item-action>
                    <button nz-popconfirm nzType="primary" nzPopconfirmTitle="Confirmar Borrado del objetivo  {{ item.Descripcion }}" nz-button (nzOnConfirm)="groupDelete(item.id)">
                      Borrar
                    </button>
                  </nz-list-item-action>
                </ul>
                {{ item.Descripcion }}
              </li>
            }
          </ul>

        </ng-template>
      </nz-tab>
      <nz-tab>
        <a nz-tab-link routerLink="/ges/personal_objetivo/objetivo">Objetivo</a>
        <ng-template nz-tab >
          <nz-form-item class="marginElement">
            <nz-form-label [nzSpan]="3">Objetivo</nz-form-label>
            <nz-form-control [nzSpan]="17">
              <app-objetivo-search name="ObjetivoId" ngModel (ngModelChange)="ObjtivoChange($event)" />
            </nz-form-control>
            @if (addMoreUser) {
              <button nz-button nzType="default" nzShape="circle" class="btnPadding"><span nz-icon nzType="plus"></span></button>
            }
          </nz-form-item>

          
            <nz-form-item class="marginElement">
              <nz-form-label [nzSpan]="3">Persona</nz-form-label>
              <nz-form-control [nzSpan]="17">
                <app-personal-search name="PersonalId" ngModel (ngModelChange)="PersonaIdForAdd = $event" />
              </nz-form-control>
              <nz-form-control [nzSpan]="2">
                
                <button nz-popconfirm nzType="primary"  class="btnPadding" nzPopconfirmTitle="Confirma que desea agregar el usuario?" nz-button (nzOnConfirm)="addPersona()">
                  Agregar
                </button>
              </nz-form-control>
            </nz-form-item>
            
          
          <ul nz-list [nzDataSource]="dataGrupos()" nzBordered nzSize="large">
            <nz-list-header class="quantities">Cantidad : {{dataGrupos().length}}</nz-list-header>
            @for (item of dataGrupos(); track item) {
              <li nz-list-item nzNoFlex>
                <ul nz-list-item-actions>
                  <nz-list-item-action>
                    <button nz-popconfirm nzType="primary" nzPopconfirmTitle="Confirmar Borrado del Usuario  {{ item.Descripcion }}" nz-button (nzOnConfirm)="UserDelete(item.id)">
                      Borrar
                    </button>
                  </nz-list-item-action>
                </ul>
                {{ item.Descripcion }}
              </li>
            }
          </ul>
        </ng-template>
      </nz-tab>
    
    </nz-tabset>


  </form>
</nz-card>