
<nz-card class="small-margin">
  <form nz-form ngForm>
    <ul nz-menu nzMode="horizontal">
      <li nz-menu-item nzMatchRouter>
        <span nz-icon nzType=""></span>
        <a [routerLink]="['/', 'ges', 'personal_objetivo','persona']" (click)="restarVariablesGroup()">Persona</a>
      </li>

      <li nz-menu-item nzMatchRouter>
        <span nz-icon nzType=""></span>
        <a [routerLink]="['/', 'ges', 'personal_objetivo','objetivo']" (click)="restarVariablesPersona()">Objetivo</a>
      </li>

      <li nz-menu-item nzMatchRouter>
        <span nz-icon nzType=""></span>
        <a [routerLink]="['/', 'ges', 'personal_objetivo','lista']" (click)="restarVariablesPersona()">lista</a>
      </li>
    </ul>

    <nz-tabset nzCentered nzLinkRouter class="hide-ant-tabs-nav" >
      <nz-tab></nz-tab>
      <nz-tab>
        <a nz-tab-link routerLink="/ges/personal_objetivo/persona">Persona</a>
        <ng-template nz-tab>

          <nz-form-item class="marginElement">
            <nz-form-label [nzSpan]="3">Persona</nz-form-label>

            <nz-form-control [nzSpan]="17">
              <app-personal-search name="PersonalId" ngModel (ngModelChange)="PersonaChange($event)" [anio]="anio" [mes]="mes"/>

            </nz-form-control>
            <!-- @if (addMoreGroup) {
            <button nz-button nzType="default" nzShape="circle" class="btnPadding"><span nz-icon nzType="plus"></span></button>
            } -->

          </nz-form-item>
          <ul  class="scrollMargin" nz-list [nzDataSource]="dataEmpleados()" nzBordered nzSize="large">
            <nz-list-header class="quantities">Cantidad : {{dataEmpleados().length}}</nz-list-header>
            @for (item of dataEmpleados(); track item) {
              <li nz-list-item nzNoFlex>
                <ul nz-list-item-actions>
                  <nz-list-item-action>
                    <button nz-popconfirm nzType="primary" nzPopconfirmTitle="Confirmar Borrado del objetivo  {{ item.Descripcion }}" nz-button (nzOnConfirm)="groupDelete(item.id)">
                      {{ 'app.btn.delete' | i18n }}
                    </button>
                  </nz-list-item-action>
                </ul>
                {{ item.Descripcion }}
              </li>
            }
          </ul>

          <nz-form-item class="marginElement">
            <nz-form-label [nzSpan]="3">Objetivo</nz-form-label>
            <nz-form-control [nzSpan]="17">
              <app-objetivo-search name="ObjetivoIdAdd" ngModel (ngModelChange)="ObjetivoIdForAdd = $event" />

            </nz-form-control>
          </nz-form-item>

        </ng-template>
      </nz-tab>
      <nz-tab>
        <a nz-tab-link routerLink="/ges/personal_objetivo/objetivo">Objetivo</a>
        <ng-template nz-tab >
          <nz-form-item class="marginElement">
            <nz-form-label [nzSpan]="3">Objetivo</nz-form-label>
            <nz-form-control [nzSpan]="17">
              <app-objetivo-search name="ObjetivoId" ngModel  (ngModelChange)="ObjtivoChange($event)" />
            </nz-form-control>
            <!-- @if (addMoreUser) {
            <button nz-button nzType="default" nzShape="circle" class="btnPadding"><span nz-icon nzType="plus"></span></button>
            } -->

          </nz-form-item>
          @if ($objetivoDetalle| async; as objetivoDetalle) {
            <nz-form-item>
              <nz-form-label [nzSpan]="3">Responsable</nz-form-label>
              <nz-form-control [nzSpan]="21">
                @if (objetivoDetalle.responsable.length==0 && ObjetivoIdForAdd>0) { <nz-alert nzShowIcon nzType="error" nzMessage="Sin grupo" class="app-small"></nz-alert> }
                <app-view-responsable [list]="objetivoDetalle.responsable"></app-view-responsable>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSpan]="3">Contrato</nz-form-label>
              <nz-form-control [nzSpan]="10">
                @if (contratos.length==0 && ObjetivoIdForAdd>0) { <nz-alert nzShowIcon nzType="error" nzMessage="Sin contrato" class="app-small"></nz-alert> }
                @for (contrato of contratos; track contrato) {
                  <li>Desde {{contrato.ContratoFechaDesde | date}} @if (contrato.ContratoFechaHasta) {
                    <span
                    >hasta</span>
                  }
                {{ contrato.ContratoFechaHasta | date }} </li>
              }
            </nz-form-control>
            <nz-form-control [nzSpan]="11" style="text-align: right;">
            </nz-form-control>
          </nz-form-item>
        }

        <ul class="scrollMargin" nz-list [nzDataSource]="dataGrupos()" nzBordered nzSize="large">
          <nz-list-header class="quantities">Cantidad : {{dataGrupos().length}}</nz-list-header>
          @for (item of dataGrupos(); track item) {
            <li nz-list-item nzNoFlex>
              <ul nz-list-item-actions>
                <nz-list-item-action>
                  <button nz-popconfirm nzType="primary" nzPopconfirmTitle="Confirmar Borrado del Usuario  {{ item.Descripcion }}" nz-button (nzOnConfirm)="UserDelete(item.id)">
                    {{ 'app.btn.delete' | i18n }}
                  </button>
                </nz-list-item-action>
              </ul>
              {{ item.Descripcion }}
            </li>
          }
        </ul>
        <nz-form-item class="marginElement">
          <nz-form-label [nzSpan]="3">Persona</nz-form-label>
          <nz-form-control [nzSpan]="17">
            <app-personal-search name="PersonalId" ngModel (ngModelChange)="PersonaIdForAdd = $event" />
          </nz-form-control>
          <nz-form-control [nzSpan]="2">

            <button nz-popconfirm nzType="primary"  class="btnPadding" nzPopconfirmTitle="Confirma que desea agregar el usuario?" nz-button (nzOnConfirm)="addPersona()">
              {{ 'app.btn.add'  | i18n }}
            </button>
          </nz-form-control>
        </nz-form-item>
      </ng-template>
    </nz-tab>
    <nz-tab>
      <a nz-tab-link routerLink="/ges/personal_objetivo/lista">Lista</a>
      <ng-template nz-tab>

        <app-lista-permisocarga></app-lista-permisocarga>

      </ng-template>
    </nz-tab>

  </nz-tabset>


</form>
</nz-card>
