<nz-card class="small-margin">

    <div nz-tab *ngIf="(columns$|async) as columnas">
      <shared-filtro-builder [fieldsToSelect]="columnas" [startFilters]="startFilters" (optionsChange)="listOptionsChange($event)"  />
  
      <div class="gridDescStock container-fluid">
        <angular-slickgrid gridId="gridDescStock" [columnDefinitions]="columnas  | colsFilter" [gridOptions]="gridOptions"
          [dataset]="(gridData$ | async) || []" (onAngularGridCreated)="angularGridReady($event)" >
        </angular-slickgrid>
      </div>
    </div>
      
</nz-card>