<nz-card class="small-margin">
  <form nz-form #objpendForm="ngForm">
    <ng-container>
      @if ((columns$|async); as columnas) {
        <div nz-tab>
          <shared-filtro-builder #sfb [fieldsToSelect]="columnas" [startFilters]="startFilters" (optionsChange)="listOptionsChange($event)"  />
          @if ((columns$|async); as columnas) {
            <div class="gridContainer1 container-fluid">
              <angular-slickgrid gridId="gridEdit1" class="" [columns]="columnas | colsFilter"
                [options]="gridOptions" [dataset]="(gridData$ | async) || []"
                (onAngularGridCreated)="angularGridReady($event)">
              </angular-slickgrid>
            </div>
          }
        </div>
      }
    </ng-container>
  </form>
</nz-card>

