<nz-card class="small-margin">
    <ng-container>

    @if (columns().length) {
      <shared-filtro-builder  [fieldsToSelect]="columns()" [(options)]="listOptions" />
      <div class="gridContainer2 container-fluid">
        <angular-slickgrid gridId="gridEdit2" [columns]="columns()"
          [options]="gridOptionsEdit" [dataset]="gridData.value()"
          (onAngularGridCreated)="angularGridReadyEdit($event)" (onBeforeEditCell)="handleOnBeforeEditCell($event)">
        </angular-slickgrid>
      </div>
    }
    </ng-container>
</nz-card>