<div class="wrapper">
    <app-content-selector *ngIf="$isImage | async" [currentImageSource]="$currentImageSource | async" (mouseMoveEvent)="renderSelectorImage($event)"></app-content-selector>
    <canvas #previewCanvas width="0" height="0"></canvas>
    <div *ngIf="$isImage | async"> 
        <h5>{{imageFileSize}}KiB || Width: {{previewCanvas.width}}px || Height: {{previewCanvas.height}}px</h5>
        <button #canvasImage (click)="saveImage(previewCanvas, canvasImage)">
            <a>Descargar</a>
        </button>
    </div>
</div>
