


<!--<nz-drawer [nzClosable]="true" [nzVisible]="visibleHistorialCustodia()" [nzOffsetX]="0" [nzPlacement]="placement"
  [nzWidth]="900" [nzTitle]="'Historial de Custodia'" (nzOnClose)="visibleHistorialCustodia.set(false)">
    <ng-container *nzDrawerContent >
      @if (visibleHistorialCustodia()) {
        <nz-card>
      <nz-table [nzData]="tableData()" [nzShowPagination]="false" [nzScroll]="{ x: '100%' }">
        <thead>
          <tr>
            <th>Usuario</th>
            <th>Fecha</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of tableData()">
            <td>{{ item.usuario }}</td>
            <td>{{ item.fecha }}</td>
            <td>{{ item.accion }}</td>
          </tr>
        </tbody>
      </nz-table>
    </nz-card>
      }
    </ng-container>
</nz-drawer>-->



<nz-modal [nzVisible]="visibleHistorialAuditoria()" nzTitle="Historial de Auditoria" [nzFooter]="null" (nzOnCancel)="visibleHistorialAuditoria.set(false)">
  <ng-container *nzModalContent>
    <nz-table [nzData]="tableData()" [nzShowPagination]="false" [nzScroll]="{ x: '100%' }">
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Fecha</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of tableData()">
          <td>{{ item.usuario }}</td>
          <td>{{ item.fecha }}</td>
          <td>{{ item.accion }}</td>
        </tr>
      </tbody>
    </nz-table>
  </ng-container>
</nz-modal>
