<nz-select #osc [(ngModel)]="_selected" [nzDropdownMatchSelectWidth]="false" [ngModelOptions]="{ standalone: true }"
  (ngModelChange)="modelChange($event)" nzAllowClear nzPlaceHolder="Descripcion, Código"
  nzShowSearch nzServerSearch (nzOnSearch)="search($event)">
  @for (option of $optionsArray | async; track option) {
    @if (($isOptionsLoading | async) == false) {
      <nz-option [nzValue]="option.ObjetivoId"
        nzLabel="{{ option.ClienteId }}/{{option.ClienteElementoDependienteId ?? '0' }} {{ option.ClienteDenominacion }} {{ option.ClienteElementoDependienteDescripcion }} ({{option.ObjetivoId}})" />
    }
  }
  @if (extendedOption.objetivoId >0 ) {
    <nz-option [nzValue]="extendedOption.objetivoId"
      [nzLabel]="extendedOption.fullName" />
  }
  @if ($isOptionsLoading | async) {
    <nz-option nzDisabled nzCustomContent>
      <span nz-icon nzType="loading" class="loading-icon"></span>
      Cargando datos...
    </nz-option>
  }
</nz-select>