<nz-select #rsc [(ngModel)]="_selected" [nzDropdownMatchSelectWidth]="false" [ngModelOptions]="{ standalone: true }"
   (ngModelChange)="modelChange($event)" nzAllowClear nzPlaceHolder="Nombre"
  nzShowSearch nzServerSearch (nzOnSearch)="search($event)" [disabled]="edit">
  <ng-container *ngFor="let option of $optionsArray | async">
    <nz-option *ngIf="($isOptionsLoading | async) == false" [nzValue]="option.fullName" [nzLabel]="option.fullName" />
  </ng-container>
  <nz-option *ngIf="extendedOption.fullName.length" [nzValue]="extendedOption.fullName"
    [nzLabel]="extendedOption.fullName" />

  <nz-option *ngIf="$isOptionsLoading | async" nzDisabled nzCustomContent>
    <span nz-icon nzType="loading" class="loading-icon"></span>
    Cargando datos...
  </nz-option>
</nz-select>