<nz-card class="small-margin">
    <ng-container>
      <shared-filtro-builder #thd [fieldsToSelect]="columns$ | async" [startFilters]="startFilters"
      (optionsChange)="listOptionsChange($event)"/>
      <div class="gridDescargasContainer container-fluid" *ngIf="(columns$|async) as columnas">
        <angular-slickgrid gridId="gridDescargas" [columnDefinitions]="columnas | colsFilter" [gridOptions]="gridDetalleOptions"
          [dataset]="(gridData$ | async) || []" (onAngularGridCreated)="angularGridReady($event)">
        </angular-slickgrid>
      </div>
    </ng-container>
  </nz-card>