<nz-card class="small-margin">
  <ng-container>
    <shared-filtro-builder #thd [fieldsToSelect]="columns$ | async" [startFilters]="startFilters"
      (optionsChange)="listOptionsChange($event)"/>
      @if ((columns$|async); as columnas) {
        <div class="gridDescargasContainer container-fluid">
          <angular-slickgrid gridId="gridDescargas" [columns]="columnas | colsFilter" [options]="gridDetalleOptions"
            [dataset]="(gridData$ | async) || []" (onAngularGridCreated)="angularGridReady($event)">
          </angular-slickgrid>
        </div>
      }
    </ng-container>
  </nz-card>