.grillas-wrapper {
  display: flex;
  gap: 16px;
  flex-direction: column
}

.gridDetalleContainer,
.gridDocContainer {
  flex: 1;
  min-width: 0;
  width: 100%;
}

@media (min-width: 1024px) {
  .grillas-wrapper {
    display: flex;
    gap: 16px;
    flex-direction: row
  }

}

.gridDetalleContainer,
.gridDocContainer {
  flex: 1;
  min-width: 0;
}

.fila {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.izquierda {
  width: 80%;
}

.derecha {
  text-align: right;
}

.periodoStyle {
    width: 90px;
}