<nz-card class="small-margin">
  <div class="fila">
    <div class="izquierda">
      <p>{{ detalle() }}</p>
    </div>
    <nz-button-group nz-button nzButtonGroup class="derecha">
      <button nz-button nzType="default" [disabled]="(!personalId() && !personalHabilitacionId() && !lugarHabilitacionId())"
      (click)="openDrawerforForm()" nz-tooltip nzTooltipTitle="{{ 'app.icon.add' | i18n }}">
        <span nz-icon nzType="plus" nzTheme="outline"></span>
      </button>
      <button nz-button nzType="default" [disabled]="!codigo()"
      (click)="openDrawerforFormEdit()" nz-tooltip nzTooltipTitle="{{ 'app.icon.edit' | i18n }}">
        <span nz-icon nzType="edit" nzTheme="outline"></span>
      </button>
    </nz-button-group>
  </div>
  <div class="grillas-wrapper">

    @if(columnsDetalle$ | async; as columnasDet) {
      <div class="gridDetalleContainer">
        <angular-slickgrid 
          gridId="gridDetalle" 
          [columns]="columnasDet"
          [options]="gridDetalleOptions" 
          [dataset]="(gridDetalleData$ | async) || []"
          (onAngularGridCreated)="angularGridDetalleReady($event)"
          (onSelectedRowsChanged)="handleSelectedRowsChanged($event)">
        </angular-slickgrid>
      </div>
    }


    @if (gridDocData$ | async; as listaDocumentos ) {
      <div class="gridDocContainer">
        <nz-table #asistPer [nzData]="listaDocumentos" nzSize="small" [nzPageSize]="100000"
          [nzShowPagination]="false" [nzScroll]="{ x: '500px' }">
          <thead>
            <tr>
            @for(column of columnsDoc$ | async; track column){
              @if(!column.hidden){
                <th>{{column.name}}</th>
              }
            }
            <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
          @for (data of asistPer.data; track data) {
            <tr class="">
              <td>{{ data.DocumentoTipoCodigo }}</td>
              <td class="periodoStyle">{{ formatDate(data.DocumentoAudFechaIng) }}</td>
              <td class="periodoStyle">{{ formatDate(data.DocumentoFecha) }}</td>
              <td class="periodoStyle">{{ formatDate(data.DocumentoFechaDocumentoVencimiento) }}</td>
              <td>
              @if (data.TipoArchivo == 'png' || data.TipoArchivo == 'jpg' || data.TipoArchivo == 'jpeg') {
                <button nz-button nzType="default"
                (click)="LoadImage(data.url, data.NombreArchivo)" nz-tooltip nzTooltipTitle="{{ 'app.preview' | i18n }}">
                  <span nz-icon nzType="search" nzTheme="outline"></span>
                </button>
              }
              @if (data.TipoArchivo == 'pdf') {
                <button nz-button nzType="default"
                (click)="LoadArchivo(data.url, data.NombreArchivo)" nz-tooltip nzTooltipTitle="{{ 'app.preview' | i18n }}">
                  <span nz-icon nzType="search" nzTheme="outline"></span>
                </button>
              }
                <button nz-button nzType="default" nz-popconfirm nzPopconfirmTitle="Esta seguro que quiere eliminar este Documento?"
                (nzOnConfirm)="deleteDocumento(data.id)" nz-tooltip nzTooltipTitle="{{ 'app.icon.delete' | i18n }}">
                  <span nz-icon nzType="delete" nzTheme="outline"></span>
                </button>
              </td>
            </tr>
            }
          </tbody>
        </nz-table>
      </div>
    }

    <!-- @if(columnsDoc$ | async; as columnasDoc) {
      <div class="gridDocContainer">
        <angular-slickgrid 
          gridId="gridDoc" 
          [columns]="columnasDoc"
          [options]="gridDocOptions" 
          [dataset]="(gridDocData$ | async) || []"
          (onAngularGridCreated)="angularGridDocReady($event)">
        </angular-slickgrid>
      </div>
    } -->

  </div>
</nz-card>

<app-habilitaciones-detalle-form-drawer [(visible)]="visibleForm" (onAddorUpdate)="refreshGrid($event)" [tituloDrawer]="'Nueva Habilitación Detalle'"
[personalId]="personalId()" [lugarHabilitacionId]="lugarHabilitacionId()" [personalHabilitacionId]="personalHabilitacionId()"></app-habilitaciones-detalle-form-drawer>

<app-habilitaciones-detalle-form-drawer [(visible)]="visibleFormEdit" (onAddorUpdate)="refreshGrid($event)" [tituloDrawer]="'Editar Habilitación Detalle'" [codigo]="codigo()"
[personalId]="personalId()" [lugarHabilitacionId]="lugarHabilitacionId()" [personalHabilitacionId]="personalHabilitacionId()"></app-habilitaciones-detalle-form-drawer>

<nz-modal [(nzVisible)]="modalViewerVisiable1" nzTitle="" nzWidth="700" nzOkDisabled="true"
  (nzOnCancel)="handleCancel()">
  <ng-container *nzModalContent>
    <ngx-extended-pdf-viewer [src]="src()" [height]="'auto'" [textLayer]="true" [showHandToolButton]="false"
      [filenameForDownload]="fileName()">
    </ngx-extended-pdf-viewer>

  </ng-container>
</nz-modal>

<nz-modal [(nzVisible)]="modalViewerVisiable2" nzTitle="" nzWidth="700" nzOkDisabled="true"
  (nzOnCancel)="handleCancel()">
  <ng-container *nzModalContent>
    <app-image-loader [src]="srcImg()" />
  </ng-container>
</nz-modal>