<nz-card class="small-margin">

  @if ((columns$|async); as columnas) {
    <div nz-tab>
      <div nz-row style="align-items: center; display: flex; justify-content: space-between;">
        <div style="flex: 1;">
          <shared-filtro-builder [fieldsToSelect]="columnas" [startFilters]="startFilters" (optionsChange)="listOptionsChange($event)"  />
        </div>
        <div style="flex-shrink: 0;">
          <nz-button-group nz-button nz-buttonGroup>
            <!-- Agregar Descuento -->
            <button nz-button nzType="default" nz-tooltip nzTooltipTitle="{{ 'app.icon.add' | i18n }}" (click)="openDrawerforAltaDescuentos()">
              <span nz-icon nzType="plus" nzTheme="outline"></span>
            </button>
            <!-- Editar Descuento -->
            <button nz-button nzType="default" nz-tooltip nzTooltipTitle="{{ 'app.icon.edit' | i18n }}" (click)="openDrawerforEditDescuentos()"
              [disabled]="descuentoId() == 0 && personalId() == 0">
              <span nz-icon nzType="edit" nzTheme="outline"></span>
            </button>
            <!-- Ver Descuento -->
            <button nz-button nzType="default" nz-tooltip nzTooltipTitle="{{ 'app.detail' | i18n }}" (click)="openDrawerforViewDescuentos()"
              [disabled]="descuentoId() == 0 && personalId() == 0">
              <span nz-icon nzType="info-circle" nzTheme="outline"></span>
            </button>
            <!-- Anular Descuento -->
            <button nz-button nzType="default" nz-tooltip nzTooltipTitle="{{ 'app.anular' | i18n }}" (click)="openDrawerforCancelDescuentos()"
              [disabled]="descuentoId() == 0 && personalId() == 0">
              <span nz-icon nzType="delete" nzTheme="outline"></span>
            </button>
          </nz-button-group>
        </div>
      </div>
      <div class="gridDescPersonal container-fluid">
        <angular-slickgrid gridId="gridDescPersonal" [columns]="columnas  | colsFilter" [options]="gridOptions"
          [dataset]="(gridData$ | async) || []" (onAngularGridCreated)="angularGridReady($event)"
          (onSelectedRowsChanged)="handleSelectedRowsChanged($event)">
        </angular-slickgrid>
      </div>
    </div>
  }

</nz-card>

@defer( when visibleAltaDesc()){
<app-descuentos-personal-alta-drawer [(visibleDesc)]="visibleAltaDesc" [periodo]="periodo()" (onAddorUpdate)="onAddorUpdate($event)" [isAnulacion]="isAnulacion()" [isAnulacion]="isAnulacion()"></app-descuentos-personal-alta-drawer>
}

@defer( when visibleEditDesc()){
<app-descuentos-personal-alta-drawer [(visibleDesc)]="visibleEditDesc" [personalId]="personalId()" [descuentoId]="descuentoId()" (onAddorUpdate)="onAddorUpdate($event)" [disabled]="disabledForm()" [cancelDesc]="cancelDesc()"  [isAnulacion]="isAnulacion()"></app-descuentos-personal-alta-drawer>
}