<nz-select [(ngModel)]="_selected" [nzDropdownMatchSelectWidth]="false" [ngModelOptions]="{ standalone: true }"
  style="width: 100%" (ngModelChange)="modelChange($event)" nzAllowClear nzPlaceHolder="Nombre Cliente"
  nzShowSearch nzServerSearch (nzOnSearch)="search($event)">
  <ng-container *ngFor="let option of $optionsArray | async">
    <nz-option *ngIf="($isOptionsLoading | async) == false" [nzValue]="option.ClienteId" [nzLabel]="option.ClienteApellidoNombre" />
  </ng-container>
  <nz-option *ngIf="extendedOption.ClienteId >0 " [nzValue]="extendedOption.ClienteId"
    [nzLabel]="extendedOption.fullName" />  
  <nz-option *ngIf="$isOptionsLoading | async" nzDisabled nzCustomContent>
    <span nz-icon nzType="loading" class="loading-icon"></span>
    Cargando datos...
  </nz-option>
</nz-select>