<nz-card #tabPoliza class="small-margin">
    <ng-container>
    
          <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
            <div style="width: 80%;">
              <shared-filtro-builder #sfb [fieldsToSelect]="columns$ | async" (optionsChange)="listOptionsChange($event)" /> 
            </div>
            <nz-button-group>
              <button nz-button nzType="default" (click)="openDrawerForNew()" nz-tooltip
              nzTooltipTitle="{{ 'app.icon.add' | i18n }}"><span nz-icon nzType="plus" nzTheme="outline"></span></button>
            </nz-button-group>
          </div>
  
  
      @if(columns$ | async; as columnas) {
        <div class="gridContainerPoliza container-fluid">
          <angular-slickgrid 
            gridId="gridPoliza" 
            [columnDefinitions]="columnas | colsFilter"
            [gridOptions]="gridOptions" 
            [dataset]="(gridData$ | async) || []"
            (onAngularGridCreated)="angularGridReady($event)"
            (onSelectedRowsChanged)="handleSelectedRowsChanged($event)">
          </angular-slickgrid>
        </div>
      }
    </ng-container>

    <app-poliza-seguro-drawer [(visible)]="visible" [PolizaSeguroCodigo]="PolizaSeguroCodigo()"></app-poliza-seguro-drawer> 
  </nz-card> 