<nz-card>
  <p>Hola prueba {{ 4044.3 | currency }}</p>

  <div id="autocomplete" class="autocomplete-container"></div>
  


<!--

  <form nz-form  ngForm  [formGroup]="personaf().form">
    <nz-form-item>
      <nz-form-label [nzSpan]="3">Nombre</nz-form-label>
      <nz-form-control [nzSpan]="19">
        <input name="nombre"  ngModel>
      </nz-form-control>
    </nz-form-item>
    <div formArrayName="telefonos">
      <div *ngFor="let tel of telefonos().controls; let ti=index">
        <nz-form-item [formGroupName]="ti">
          <nz-form-label [nzSpan]="3">Telefono {{ti}}</nz-form-label>
          <nz-form-control [nzSpan]="19">
            <input formControlName="PersonalId">
          </nz-form-control>
          <nz-form-control [nzSpan]="19">
            <input formControlName="Importe">
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <p>Directo: {{personaf().form.value|json}}</p>
  </form>



-->

</nz-card>

<nz-card>
  <app-direccion-search [(ngModel)]="direccion" [ngModelOptions]="{ standalone: true }"></app-direccion-search>

  <p>Direccion: {{  direccion() | json}}</p>
</nz-card>

<nz-card>

  <nz-date-picker name="periodo0" />

  <nz-date-picker nzMode="month" name="periodo1" />
</nz-card>

<nz-card>

  <nz-date-picker [(ngModel)]="nacimiento" />
  <p>{{nacimiento|date}} {{ nacimiento|AGE }}</p>
</nz-card>

<nz-card>
  <app-personal-search 
  (ngModelChange)="onChange($event)" [(ngModel)]="responsable" [ngModelOptions]="{ standalone: true }" />
  <p>Responsable: {{responsable()}}</p>
</nz-card>