<nz-card>
  <p>Hola prueba {{ 4044.3 | currency }}</p>

  <nz-select ngModel="lucy" [nzDropdownMatchSelectWidth]="false" >
    <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
    <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
    <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
  </nz-select>

</nz-card>

<nz-card>
  <zxing-scanner [formats]="allowedBarCodeFormats" style="width:100px;height: 100px;" (scanComplete)="scanComplete($event)"  (scanSuccess)="scanSuccess($event)"></zxing-scanner>

  <button (click)="click1($event)" >nzpc</button>
  <button (click)="click2()" >otro</button>


</nz-card>

<nz-card>

  <nz-date-picker name="periodo0" />

  <nz-date-picker nzMode="month" name="periodo1" />
</nz-card>

<nz-card>

  <nz-date-picker [(ngModel)]="nacimiento" />
<p>{{nacimiento|date}} {{ nacimiento|AGE }}</p>
</nz-card>


