<nz-card>
  <p>Hola prueba {{ 4044.3 | currency }}</p>

  <form nz-form ngForm>

    <nz-form-item>
      <nz-form-label [nzSpan]="3">Pie</nz-form-label>
      <nz-form-control [nzSpan]="19">
        <textarea rows="3" nz-input name="footer" ngModel></textarea>

      </nz-form-control>
    </nz-form-item>

    <ng-container ngModelGroup="phonenumbers">
      
      <nz-form-item>
        <nz-form-label [nzSpan]="3">Texto</nz-form-label>
        <nz-form-control [nzSpan]="19">
          <textarea rows="3" nz-input name="phone0" ngModel></textarea>

        </nz-form-control>
      </nz-form-item>

      <ng-container *ngFor="let item of form().value.phonenumbers | keyvalue; trackBy: tracker">
        <div class="lesson-form-row">

          <nz-form-item>
            <nz-form-label [nzSpan]="3">Texto {{ item.key }}</nz-form-label>
            <nz-form-control [nzSpan]="19">
              <textarea rows="3" nz-input [name]="''+item.key" ngModel></textarea>

            </nz-form-control>
          </nz-form-item>

        </div>
      </ng-container>
    </ng-container>
  </form>
  <p>{{form().value|json}}</p>
</nz-card>

<nz-card>

  <button (click)="click1($event)">nzpc</button>
  <button (click)="click2()">otro</button>


</nz-card>

<nz-card>

  <nz-date-picker name="periodo0" />

  <nz-date-picker nzMode="month" name="periodo1" />
</nz-card>

<nz-card>

  <nz-date-picker [(ngModel)]="nacimiento" />
  <p>{{nacimiento|date}} {{ nacimiento|AGE }}</p>
</nz-card>