<nz-card class="small-margin">
  <div nz-row nzSpan="24" style="margin-top: 5px;">
    <nz-form-label [nzMd]="2">Periodo</nz-form-label>
    <nz-form-control [nzMd]="3">
      <nz-date-picker [(ngModel)]="periodo" nzFormat="MM/yyyy" />
    </nz-form-control>
    @if (tabIndex() == 0) {
    <nz-form-label [nzMd]="3">Situación revista</nz-form-label>
    <nz-form-control [nzMd]="3">
      <nz-date-picker [(ngModel)]="periodoSR" nzFormat="dd/MM/yyyy" />
    </nz-form-control>
    <nz-form-label [nzMd]="3">Importe transferido</nz-form-label>
    <nz-form-control [nzMd]="3">
      <nz-date-picker [(ngModel)]="periodoIT" nzMode="month" nzFormat="MM/yyyy" />
    </nz-form-control>
    }
  </div>

  <div nz-row style="align-items: center; display: flex; justify-content: space-between;">
    <div nz-row nzSpan="12">
    </div>

    <ul nz-menu nzMode="horizontal">
      <li nz-menu-item nzMatchRouter>
        <span nz-icon nzType=""></span>
        <a [routerLink]="['/', 'ges', 'cuentas-bancarias', 'listado']">Listado</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <span nz-icon nzType=""></span>
        <a [routerLink]="['/', 'ges', 'cuentas-bancarias', 'importacion']">Importación</a>
      </li>
    </ul>

    <nz-button-group nz-button nzButtonGroup>
      <!-- btn cargar cuantas bancarias -->
      <button nz-button nzType="default" (click)="openDrawerforNewsCuentasBancarias()" nz-tooltip
        nzTooltipTitle="{{ 'app.cuentasBancarias.altaMasiva' | i18n }}"><span nz-icon nzType="plus" nzTheme="outline"></span></button>
      <!-- btn cargar datos bancarios de la persona -->
      <button nz-button nzType="default" (click)="openDrawerforNewPersonalBanco()" nz-tooltip
        nzTooltipTitle="{{ 'app.icon.add' | i18n }}"><span nz-icon nzType="plus" nzTheme="outline"></span></button>
      <!-- btn datos bancarios -->
      <button nz-button nzType="default" (click)="openDrawerforConsultBanco()" [disabled]="personalId() == 0" nz-tooltip
        nzTooltipTitle="{{ 'app.icon.bank' | i18n }}"><span nz-icon nzType="bank" nzTheme="outline"></span></button>

    </nz-button-group>
  </div>

  <nz-tabs nzCentered nzLinkRouter class="hide-ant-tabs-nav" [(nzSelectedIndex)]="tabIndex">
    <nz-tab>
      <a nz-tab-link routerLink="/ges/cuentas-bancarias/listado">Listado</a>

      @if (columns().length) {
      <ng-template nz-tab>
        <shared-filtro-builder [fieldsToSelect]="columns()" [(options)]="listOptions" [startFilters]="startFilters()" />
        <div class="gridListContainer container-fluid">
          <angular-slickgrid gridId="grid" [columns]="columns() | colsFilter" [options]="gridOptions"
            [dataset]="gridData.value()" (onAngularGridCreated)="angularGridReady($event.detail)"
            (onSelectedRowsChanged)="handleSelectedRowsChanged($event)">
          </angular-slickgrid>
        </div>
      </ng-template>
      }
    </nz-tab>

    <nz-tab>
      <a nz-tab-link routerLink="/ges/cuentas-bancarias/importacion">Importación</a>
      <ng-template nz-tab>
        <app-cuentas-bancarias-importacion-masiva [periodo]="periodo()"></app-cuentas-bancarias-importacion-masiva>
      </ng-template>
    </nz-tab>

  </nz-tabs>
</nz-card>

<app-cuentas-bancarias-alta-drawer [(visible)]="visibleCuentasBancariasAlta" 
  (onAddorUpdate)="onAddorUpdate($event)"></app-cuentas-bancarias-alta-drawer>
<app-personal-banco-drawer [(visibleBanco)]="visiblePersonalBanco"
  (onAddorUpdate)="onAddorUpdate($event)"></app-personal-banco-drawer>
<app-personal-banco-drawer [(visibleBanco)]="visibleDatosBanco" [PersonalId]="personalId()"
  (onAddorUpdate)="onAddorUpdate($event)"></app-personal-banco-drawer>