<nz-card style="max-height: 150px; overflow: auto;">
  <nz-tag *ngFor="let tag of localoptions.filtros; let i = index" [nzMode]="(tag.closeable)?'closeable':'default'" (nzOnClose)="removeFiltro(i)">
    <span class="app-tag-span">{{ tag.tagName }}</span>
  </nz-tag>
  <nz-tag *ngIf="!isFiltroBuilder" class="editable-tag" nzNoAnimation (click)="handleTagInteraction()">
    <span nz-icon nzType="plus"></span>
    Añadir Filtro
  </nz-tag>
  <ng-container *ngIf="isFiltroBuilder">
    <!-- <nz-select
      [nzPlaceHolder]="'Condición'"
      [(ngModel)]="selections.condition"
      #conditionSelector>
      <nz-option
        *ngFor="let condition of conditionsToSelect"
        [nzLabel]="condition"
        [nzValue]="condition"></nz-option>
    </nz-select> -->

    <nz-select [nzDropdownMatchSelectWidth]="false" [nzPlaceHolder]="'Columna'" [(ngModel)]="selections.field"
      (ngModelChange)="onOptionChange()" #fieldSelector>
      <ng-container *ngFor="let field of fieldsToSelect()">
        <nz-option *ngIf="field.searchHidden!=true" [nzLabel]="field.name" [nzValue]="field">
        </nz-option>

      </ng-container>
    </nz-select>
    <!--
    <nz-select
      *ngIf="inputSearchview == false && inputSucursalview == false && inputClientView == false && inputObjetivoView == false && selections.field != '' "
      [nzPlaceHolder]="'Operador'" [(ngModel)]="selections.operator" #operatorSelector>

      <nz-option *ngFor="let operator of operatorsToSelect" [nzLabel]="operator" [nzValue]="operator"></nz-option>
    </nz-select>
    -->

    <div nz-col [nzSpan]="5" *ngIf="selections.field.name" class="input-search"
      style="text-align: center; display:inline-block; width: 100%">

      <input *ngIf="!selections.field.searchComponent" placeholder="Valor" #inputElement nz-input type="text"
        [(ngModel)]="selections.value" (keydown.enter)="handleInputConfirm()" />

      <app-personal-search [(ngModel)]="selections.value" [ngModelOptions]="{ standalone: true }"
        [(valueExtended)]="valueExtended" *ngIf="selections.field.searchComponent=='inpurForPersonalSearch'"
        (keydown.enter)="handleInputConfirm()" />

      <app-grupo-actividad [(ngModel)]="selections.value" [ngModelOptions]="{ standalone: true }"
        [(valueExtended)]="valueExtended" *ngIf="selections.field.searchComponent=='inpurForGrupoPersonaSearch'"
        (keydown.enter)="handleInputConfirm()" />

      <app-cliente-search [(ngModel)]="selections.value" [ngModelOptions]="{ standalone: true }"
        [(valueExtended)]="valueExtended" *ngIf="selections.field.searchComponent=='inpurForClientSearch'"
        (keydown.enter)="handleInputConfirm()" />

      <app-objetivo-search [(ngModel)]="selections.value" [ngModelOptions]="{ standalone: true }"
        [(valueExtended)]="valueExtended" *ngIf="selections.field.searchComponent=='inpurForObjetivoSearch'"
        (keydown.enter)="handleInputConfirm()" />

      <app-tipo-movimiento-search [(ngModel)]="selections.value" [ngModelOptions]="{ standalone: true }"
        [(valueExtended)]="valueExtended" *ngIf="selections.field.searchComponent=='inpurForTipoMovimientoSearch'"
        (keydown.enter)="handleInputConfirm()" />

      <app-fecha-search [(ngModel)]="selections.value" [ngModelOptions]="{ standalone: true }"
        [(valueExtended)]="valueExtended" *ngIf="selections.field.searchComponent=='inpurForFechaSearch'"
        (keydown.enter)="handleInputConfirm()" />

      <app-requirente-search [(ngModel)]="selections.value" [ngModelOptions]="{ standalone: true }"
        [(valueExtended)]="valueExtended" *ngIf="selections.field.searchComponent=='inpurForRequirenteSearch'"
        (keydown.enter)="handleInputConfirm()" />

      <nz-select ngModel nzAllowClear style="width:100%"
        *ngIf="selections.field.searchComponent=='inpurForSucursalSearch'" nzPlaceHolder="Sucursal" nzShowSearch
        (ngModelChange)="selectedValueSucursal($event)" [nzDropdownMatchSelectWidth]="false" (keydown.enter)="handleInputConfirm()">
        <ng-container *ngFor="let option of $optionsSucursales | async">
          <nz-option [nzValue]="option" [nzLabel]="option.SucursalDescripcion"></nz-option>
        </ng-container>
      </nz-select>

      <nz-select ngModel nzAllowClear style="width:100%"
        *ngIf="selections.field.searchComponent=='inpurForSePaga'" nzPlaceHolder="Se paga" nzShowSearch
        (ngModelChange)="selectedValueSePaga($event)" [nzDropdownMatchSelectWidth]="false" (keydown.enter)="handleInputConfirm()">
        <ng-container *ngFor="let option of $optionsSepaga | async">
          <nz-option [nzValue]="option" [nzLabel]="option.SucursalDescripcion"></nz-option>
        </ng-container>
        <!-- <nz-option nzLabel="Si" nzValue="S"></nz-option>
        <nz-option nzLabel="No" nzValue="N"></nz-option>
        <nz-option nzLabel="Indeterminado" nzValue=""></nz-option> -->
      </nz-select>

      <nz-select ngModel nzAllowClear style="width:100%"
        *ngIf="selections.field.searchComponent=='inpurForEstadoCustSearch'" nzPlaceHolder="Estado" nzShowSearch
        (ngModelChange)="selectedValueEstado($event)" [nzDropdownMatchSelectWidth]="false" (keydown.enter)="handleInputConfirm()">
        <ng-container *ngFor="let option of $optionsEstadoCust | async">
          <nz-option [nzValue]="option" [nzLabel]="option.label"></nz-option>
        </ng-container>
      </nz-select>

      <nz-select ngModel nzAllowClear style="width:100%"
        *ngIf="selections.field.searchComponent=='inpurForPrestamoAprobadoSearch'" nzPlaceHolder="Estado" nzShowSearch
        (ngModelChange)="selectedValueEstado($event)" [nzDropdownMatchSelectWidth]="false" (keydown.enter)="handleInputConfirm()">
        <ng-container *ngFor="let option of $optionsEstadoPrest | async">
          <nz-option [nzValue]="option" [nzLabel]="option.label"></nz-option>
        </ng-container>
      </nz-select>

      <nz-select ngModel nzAllowClear style="width:100%"
        *ngIf="selections.field.searchComponent=='inpurForTipoPrestamoSearch'" nzPlaceHolder="Estado" nzShowSearch
        (ngModelChange)="selectedValueEstado($event)" [nzDropdownMatchSelectWidth]="false" (keydown.enter)="handleInputConfirm()">
        <ng-container *ngFor="let option of $optionsTipoPrest | async">
          <nz-option [nzValue]="option" [nzLabel]="option.label"></nz-option>
        </ng-container>
      </nz-select>

    </div>

    <button nz-button (click)="handleInputConfirm()">+</button>
  </ng-container>
</nz-card>