<nz-drawer [nzClosable]="false" [nzVisible]="visible()" [nzPlacement]="placement" [nzWidth]="640"
  [nzTitle]="tituloDrawer()" (nzOnClose)="visible.set(false)">
  <ng-container *nzDrawerContent>
    <form [formGroup]="formHabilitacion">

      <nz-form-item class="marginElement">
        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="4">Tipo</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="19">
          <nz-select formControlName="PersonalHabilitacionClase" nzPlaceHolder="Seleccione tipo" nzAllowClear
            [nzDropdownMatchSelectWidth]="false" style="width: 100%">
            @for (option of $optionsHabilitacionClase | async; track option) {
              <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
            }
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="marginElement">
        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="4">Personal</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="19">
          <app-personal-search formControlName="PersonalId" [anio]="anio()" [mes]="mes()" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="marginElement">
        <nz-form-label [nzXs]="5">Situación Revista</nz-form-label>
        <nz-form-control>
          @for (sitrevista of $sitrevista | async; track sitrevista) {
            <p title="{{ sitrevista.SituacionRevistaDescripcion }}">
              {{ sitrevista.SituacionRevistaDescripcion }} desde {{ sitrevista.PersonalSituacionRevistaDesde | date}}
              @if (sitrevista.PersonalSituacionRevistaHasta) {
                <span>hasta {{ sitrevista.PersonalSituacionRevistaHasta
                | date}}</span>
              }
            </p>
          }
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="marginElement">
        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="5">Lugar Habilitación</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="18">
          <nz-select formControlName="LugarHabilitacionId" nzPlaceHolder="Seleccione lugar" nzAllowClear
            [nzDropdownMatchSelectWidth]="false" style="width: 100%">
            @for (option of $optionsLugarHabilitacion | async ; track option) {
              <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
            }
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="marginElement">
        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="7">Categoria de la Habilitacion</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="16">
          <nz-select formControlName="HabilitacionCategoriaCodigos" nzPlaceHolder="Seleccione categoria" nzAllowClear
            [nzDropdownMatchSelectWidth]="false" style="width: 100%" nzMode="multiple">
            @for (option of $optionsHabilitacionCategoria | async ; track option) {
              <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
            }
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-divider nzText="Gestión"></nz-divider> <br />

      <nz-form-item class="marginElement">
        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="4">Estado</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="19">
          <nz-select formControlName="GestionHabilitacionEstadoCodigo" nzPlaceHolder="Seleccione estado" nzAllowClear
            [nzDropdownMatchSelectWidth]="false" style="width: 100%"
            (nzBlur)="formHabilitacion.patchValue({NroTramite:'',PersonalHabilitacionDesde:'',PersonalHabilitacionHasta:''})">
            @for (option of $optionsEstadoCodigo | async; track option) {
              <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
            }
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      @if (GestionHabilitacionEstadoCodigo() == 'HABORG'){
        <nz-form-item class="marginElement">
          <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="4">Nro tramite</nz-form-label>
          <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="19">
            <input nz-input placeholder="" formControlName="NroTramite" type="text" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="marginElement">
          <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="6">Habilitación Desde</nz-form-label>
          <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="15">
            <nz-date-picker formControlName="PersonalHabilitacionDesde" nzFormat="yyyy-MM-dd" nzMode="date"
              style="width: 100%;">
            </nz-date-picker>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="marginElement">
          <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="6">Habilitación Hasta</nz-form-label>
          <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="15">
            <nz-date-picker formControlName="PersonalHabilitacionHasta" nzFormat="yyyy-MM-dd" nzMode="date"
              style="width: 100%;">
            </nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      }

      <nz-form-item class="marginElement">
        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="4">Detalle</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="19">
          <textarea nz-input formControlName="Detalle"></textarea>
        </nz-form-control>
      </nz-form-item>

      <div formArrayName="documentos">
        @for (control of documentos().controls; track control; let i = $index) {
          <div [formGroupName]="i">
            <nz-form-item class="marginElement">
              <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="4">Documentos</nz-form-label>
              <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="19">
                <app-file-upload formControlName="file" [idForSearh]="0" [cantMaxFiles]="1" [textForSearch]="''"
                [columnForSearch]="'DocumentoId'" [tableForSearch]="'Documento'" [showTipoDocs]="true" [showDesdeHasta]="true"></app-file-upload>
              </nz-form-control>
            </nz-form-item>
          </div>
        }
      </div>

      <nz-form-item>
        <nz-form-control style="display: flex; justify-content: center; align-items: center;">
          @if (formHabilitacion.enabled) {
            <button nzType="primary" nz-button (click)="save()" [nzLoading]="isLoading()"
              [disabled]="formHabilitacion.pristine">
              {{ 'app.btn.save' | i18n }}
            </button>
          }
        </nz-form-control>
      </nz-form-item>

    </form>
  </ng-container>
</nz-drawer>