
<form [formGroup]="formCondicionVenta">
  <br>

  <nz-form-item class="marginElement" style="display:none">
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="6">codobjId</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="16">
      <input nz-input placeholder="" formControlName="codobjId" type="string" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="marginElement">
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="6">Objetivo</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="16">
      <app-objetivo-search  formControlName="ObjetivoId" (valueExtendedChange)="objetivoDetalleChange($event)"></app-objetivo-search>
    </nz-form-control>
  </nz-form-item>


  <nz-form-item class="marginElement">
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="6">Periodo</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="8">
      <nz-date-picker
        formControlName="PeriodoDesdeAplica"
        nzMode="month"
        nzFormat="MM/yyyy"
        style="width: 100%;"
        (ngModelChange)="onPeriodoDesdeAplicaChange($event)">
      </nz-date-picker>
      
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="marginElement">
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="6">Periodo de Facturación</nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="16">
          <nz-input-number formControlName="PeriodoFacturacion" [nzMin]="1" [nzMax]="12" [nzStep]="1" nzPlaceHolder="Mes" style="width: 100%;"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="marginElement">
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="6">Día de Generación Factura</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="8">
      <nz-input-number
        formControlName="GeneracionFacturaDia"
        [nzMin]="1"
        [nzMax]="31"
        [nzStep]="1"
        nzPlaceHolder="Día del mes (1-31)"
        style="width: 100%;">
      </nz-input-number>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="marginElement">
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="6">Día de Generación Factura (Complemento)</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="11">
      <nz-input-number
        formControlName="GeneracionFacturaDiaComplemento"
        [nzMin]="0"
        [nzMax]="31"
        [nzStep]="1"
        nzPlaceHolder="Día complemento"
        style="width: 100%;">
      </nz-input-number>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="marginElement">
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="6">Observaciones</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="16">
      <textarea 
        nz-input 
        formControlName="Observaciones" 
        placeholder="Ingrese observaciones"
        [nzAutosize]="{ minRows: 3, maxRows: 6 }">
      </textarea>
    </nz-form-control>
  </nz-form-item>


  <div class="input-container">
    <div class="input-label">Productos</div>
  </div>
  <div formArrayName="infoProductos" style="padding-top: 25px;">
    @for (control of infoProductos().controls; track control; let i = $index) {
      <div [formGroupName]="i" [ngClass]="{'even-background': i % 2 === 0}" [style.margin-top.px]="i % 2 !== 0 ? 15 : 0">

        <nz-form-item class="marginElement">
          <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3"> Producto</nz-form-label>
          <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="5">
            <nz-select nzAllowClear style="width:100%"
          nzPlaceHolder="Producto" formControlName="ProductoCodigo" nzShowSearch [nzDropdownMatchSelectWidth]="false">
          @for (option of $optionsTipoProducto | async; track option) {
            <nz-option [nzValue]="option.ProductoCodigo" [nzLabel]="option.Nombre"></nz-option>
          }
        </nz-select>
          </nz-form-control>
          <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="2">Cantidad</nz-form-label>
          <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="5">
            <nz-input-number 
            formControlName="Cantidad" 
            [nzMin]="0" 
            [nzStep]="1" 
            style="width: 100%;" 
            nzPlaceHolder="Cantidad">
          </nz-input-number>
          </nz-form-control>
          <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="2">Importe Fijo</nz-form-label>
          <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="5">
            <nz-input-number 
            style="width: 100%" 
            formControlName="ImporteFijo"
            [nzMin]="0"
            [nzStep]="0.01"
            nzPlaceHolder="Importe Fijo"
          ></nz-input-number>
          </nz-form-control>

        </nz-form-item>
        <nz-form-item class="marginElement">
         
          <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Cantidad horas venta</nz-form-label>
          <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="4">
            <nz-select 
              formControlName="IndCantidadHorasVenta" 
              style="width: 100%" 
              nzPlaceHolder="Seleccione"
              nzAllowClear
              [nzDropdownMatchSelectWidth]="false">
              <nz-option [nzValue]="" nzLabel="Seleccione"></nz-option>
              <nz-option [nzValue]="true" nzLabel="Sí"></nz-option>
              <nz-option [nzValue]="false" nzLabel="No"></nz-option>
            </nz-select>
          </nz-form-control>
          <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Importe lista de precio</nz-form-label>
          <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="4">
            <nz-select 
              formControlName="IndImporteListaPrecio" 
              style="width: 100%" 
              nzPlaceHolder="Seleccione"
              nzAllowClear
              [nzDropdownMatchSelectWidth]="false">
              <nz-option [nzValue]="" nzLabel="Seleccione"></nz-option>
              <nz-option [nzValue]="true" nzLabel="Sí"></nz-option>
              <nz-option [nzValue]="false" nzLabel="No"></nz-option>
            </nz-select>
          </nz-form-control>
          <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="4">Importe acordado con cliente</nz-form-label>
          <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="4">
            <nz-select 
              formControlName="IndImporteAcuerdoConCliente" 
              style="width: 100%" 
              nzPlaceHolder="Seleccione"
              nzAllowClear
              [nzDropdownMatchSelectWidth]="false">
              <nz-option   [nzValue]="" nzLabel="Seleccione"></nz-option>
              <nz-option [nzValue]="true" nzLabel="Sí"></nz-option>
              <nz-option [nzValue]="false" nzLabel="No"></nz-option>
            </nz-select>
          </nz-form-control>

        </nz-form-item>
        <nz-form-item class="marginElement">
     
          <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Texto Factura</nz-form-label>
          <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="16">
            <textarea nz-input formControlName="TextoFactura" rows="3" style="width: 100%;" nzPlaceHolder="Ingrese el texto de la factura"></textarea>
          </nz-form-control>

          @if (formCondicionVenta.enabled) {
            <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="2" class="button-group-direction">
              <div class="button-group" style="width: 100%">
                @if (infoProductos().controls.length == i+1) {
                  <button nz-button nzType="primary" class="add-button"
                    nzType="primary" class="add-button" (click)="addProductos($event)" nz-tooltip
                    nzTooltipTitle="{{ 'app.icon.add' | i18n }}">
                    <span nz-icon nzType="plus"></span>
                  </button>
                }
                @if (infoProductos().length >= 2) {
                  <button nz-button nzType="default"
                    (click)="removeProductos(i, $event)" nz-tooltip nzTooltipTitle="{{ 'app.icon.delete' | i18n }}">
                    <span nz-icon nzType="delete" nzTheme="outline"></span>
                  </button>
                }
              </div>
            </nz-form-control>
          }

        </nz-form-item>
      </div>
    } 
  </div> 

  @if (formCondicionVenta.enabled) {
    <nz-form-item class="btn-margintop">
      <nz-form-control style="display: flex; justify-content: center; align-items: center; gap: 8px;">
        <button 
        style="margin-right: 10px;"
          nzType="primary" 
          nz-button  
          (click)="save()" 
          [disabled]="formCondicionVenta.invalid || formCondicionVenta.pristine">
          {{ 'app.btn.save' | i18n }}
        </button>
        <button 
          nzType="primary" 
          nz-button 
          nzDanger  
          nz-popconfirm  
          [disabled]="CondicionVentaId() === 0"
          nzPopconfirmTitle="¿Está seguro que quiere eliminar esta condición de venta?"
          (nzOnConfirm)="deleteRecord()"
          nzPopconfirmPlacement="top">
          {{ 'app.btn.delete' | i18n }}
        </button>
      </nz-form-control>
    </nz-form-item>
  }

</form>
