<form [formGroup]="formCondicionVenta">
  <br>
  <nz-form-item class="marginElement" style="display:none">
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="6">codobjId</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="16">
      <input nz-input placeholder="" formControlName="codobjId" type="string" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="marginElement">
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="6">Objetivo</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="16">
      <app-objetivo-search formControlName="ObjetivoId"
        (valueExtendedChange)="objetivoDetalleChange($event)"></app-objetivo-search>
    </nz-form-control>
  </nz-form-item>


  <nz-form-item class="marginElement">
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="6">Aplica Desde</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="8">
      <nz-date-picker formControlName="PeriodoDesdeAplica" nzMode="month" nzFormat="MM/yyyy" style="width: 100%;">
      </nz-date-picker>

    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="marginElement">
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="6">Periodo de Facturación</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="4" nzHasFeedback [nzErrorTip]="periodoFacturacionErrorTpl">
      <input nz-input formControlName="PeriodoFacturacion" placeholder="Ej: 1S, 1M, 1A" />
      <ng-template #periodoFacturacionErrorTpl let-control>
        @if (control.hasError('required')) { Campo requerido }
        @else if (control.hasError('periodInvalid')) { Formato invalido  }
        @else if (control.hasError('periodUnitNotAllowed')) { Unidad no permitida }
        @else if (control.hasError('periodTooSmall')) { Mínimo {{ control.getError('periodTooSmall').min }} }
        @else if (control.hasError('periodTooLarge')) { Máximo {{ control.getError('periodTooLarge').max }} }
      </ng-template>
    </nz-form-control>
    @if (periodoFacturacionDescripcion()) {
      <span style="margin-left: 8px; line-height: 32px; color: rgba(0, 0, 0, 0.65);">{{ periodoFacturacionDescripcion() }}</span>
    }
    @if (mostrarPeriodoFacturacionInicio()) {
      <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3" style="margin-left: 16px;">Inicio</nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="4">
        <nz-date-picker formControlName="PeriodoFacturacionInicio" nzMode="month" nzFormat="MM/yyyy" style="width: 100%;">
        </nz-date-picker>
      </nz-form-control>
    }
  </nz-form-item>

  <nz-form-item class="marginElement">
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="6">Día de Generación Factura</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="8" nzHasFeedback [nzErrorTip]="generacionFacturaDiaErrorTpl">
      <input nz-input formControlName="GeneracionFacturaDia"
        placeholder="Día del mes (1-31)" style="width: 100%;">
      <ng-template #generacionFacturaDiaErrorTpl let-control>
        @if (control.hasError('required')) { Campo requerido }
        @else if (control.hasError('pattern')) { Solo números enteros sin decimales }
        @else if (control.hasError('min')) { Mínimo 1 }
        @else if (control.hasError('max')) { Máximo 31 }
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="marginElement">
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="6">Día de Generación Factura (Complemento)</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="11" nzHasFeedback [nzErrorTip]="generacionFacturaDiaComplementoErrorTpl">
      <input nz-input formControlName="GeneracionFacturaDiaComplemento"
        placeholder="Día complemento (1-31 o vacío)" style="width: 100%;">
      <ng-template #generacionFacturaDiaComplementoErrorTpl let-control>
        @if (control.hasError('pattern')) { Solo números enteros sin decimales }
        @else if (control.hasError('min')) { Mínimo 1 }
        @else if (control.hasError('max')) { Máximo 31 }
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="marginElement">
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="6">Unificación Factura</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="8">
      <label nz-checkbox formControlName="UnificacionFactura"></label>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="marginElement">
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="6">Observaciones</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="16">
      <textarea nz-input formControlName="Observaciones" placeholder="Ingrese observaciones"
        [nzAutosize]="{ minRows: 3, maxRows: 6 }">
      </textarea>
    </nz-form-control>
  </nz-form-item>


  <div class="input-container">
    <div class="input-label">Productos</div>
  </div>
  <div formArrayName="infoProductos" style="padding-top: 25px;">
    @for (control of infoProductos().controls; track control; let i = $index) {
    <div [formGroupName]="i" [ngClass]="{'even-background': i % 2 === 0}" [style.margin-top.px]="i % 2 !== 0 ? 15 : 0">

      <nz-form-item class="marginElement">
        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3"> Producto</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="5">
          <nz-select nzAllowClear style="width:100%" nzPlaceholder="Producto" formControlName="ProductoCodigo"
            nzShowSearch [nzDropdownMatchSelectWidth]="false" (ngModelChange)="onProductoCodigoChange($event, i)">
            @for (option of $optionsTipoProducto | async; track option) {
            <nz-option [nzValue]="option.ProductoCodigo" [nzLabel]="option.Nombre"></nz-option>
            }
          </nz-select>
        </nz-form-control>

      </nz-form-item>

      <nz-form-item class="marginElement">

        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Tipo Importe</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="5">
          <nz-select formControlName="TipoImporte" style="width: 100%" nzPlaceholder="Seleccione" nzAllowClear
            [nzDropdownMatchSelectWidth]="false" (ngModelChange)="onTipoImporteChange($event, i)">
            @for (option of $optionsTipoImporte | async; track option) {
            <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
            }

          </nz-select>
        </nz-form-control>
        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Importe Unitario</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8">
          @if (control?.value?.TipoImporte === 'V') {
            <div style="padding: 4px 11px; color: rgba(0, 0, 0, 0.65); font-style: italic;">
              Cargar en el cierre de planilla por el responsable
            </div>
          } @else if (control?.value?.TipoImporte === 'LP') {
            <div style="padding: 4px 11px; color: rgba(0, 0, 0, 0.65); font-style: italic;">
              {{ getMensajeImporteLista(i) || 'Consultando lista de precios...' }}
            </div>
          } @else {
            <input
              appDotToComma
              mask="separator.2"
              nz-input
              nzInputNumber
              style="width: 100%"
              formControlName="ImporteUnitario"
              type="text"
              min="0"
              step="0.01"
              placeholder="Importe Unitario"
              (ngModelChange)="calcularTotal(i)"
              [disabled]="control?.value?.TipoImporte !== 'F'"
              nz-tooltip
            >
          }
        </nz-form-control>



      </nz-form-item>

      <nz-form-item class="marginElement">

        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Tipo Cantidad</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="5">
          <nz-select formControlName="TipoCantidad" style="width: 100%" nzPlaceholder="Seleccione" nzAllowClear
            [nzDropdownMatchSelectWidth]="false" (ngModelChange)="onTipoCantidadChange($event, i)">
            @for (option of $optionsTipoCantidad | async; track option) {
            <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
            }

          </nz-select>
        </nz-form-control>

        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Cantidad</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="5">

          @if (control?.value?.TipoCantidad === 'V') {
            <div style="padding: 4px 11px; color: rgba(0, 0, 0, 0.65); font-style: italic;">
              Cargar en el cierre de planilla por el responsable
            </div>
          } @else if (control?.value?.TipoCantidad === 'A' || control?.value?.TipoCantidad === 'B') {
            <div style="padding: 4px 11px; color: rgba(0, 0, 0, 0.65); font-style: italic;">
              {{ getMensajeHoras(i) || 'Cargando...' }}
            </div>
          } @else {
            <input
            appDotToComma
            mask="separator.2"
            nz-input
            nzInputNumber
            formControlName="CantidadHoras"
            type="text"
            style="width: 100%;"
            placeholder="Cantidad"
            (ngModelChange)="calcularTotal(i)"
            [disabled]="control?.value?.TipoCantidad !== 'F'"
            nz-tooltip
            
          >
          }
         
        </nz-form-control>

      </nz-form-item>


      <!-- <nz-form-item class="marginElement">
        @if (control?.value.Metodologia === 'A') {
        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Cantidad</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="3">
          <input appDotToComma mask="separator.2" nz-input nzInputNumber formControlName="Cantidad" type="text"
            style="width: 100%;" placeholder="Cantidad" (ngModelChange)="calcularTotal(i)">
        </nz-form-control>
        } @else if (control?.value.Metodologia === 'B' || control?.value.Metodologia === 'C') {
        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Horas a facturar</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="3">
          <nz-select formControlName="IndHorasAFacturar" style="width: 100%" nzPlaceholder="Seleccione" nzAllowClear
            [nzDropdownMatchSelectWidth]="false">
            <nz-option [nzValue]="'A'" nzLabel="Horas A"></nz-option>
            <nz-option [nzValue]="'B'" nzLabel="Horas B"></nz-option>
          </nz-select>
        </nz-form-control>
        } @else {
        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">...</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="3">
          <input [readonly]="true" nz-input formControlName="default" type="text" style="width: 100%;"
            placeholder="...">
        </nz-form-control>
        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">...</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="3">
          <input [readonly]="true" nz-input formControlName="default" type="text" style="width: 100%;"
            placeholder="...">
        </nz-form-control>
        }

        @if (control?.value.Metodologia === 'A'){
        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="2">Importe Unitario</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="4">
          <input appDotToComma mask="separator.2" nz-input nzInputNumber style="width: 100%"
            formControlName="ImporteUnitario" type="text" min="0" step="0.01" placeholder="Importe Unitario"
            (ngModelChange)="calcularTotal(i)">
        </nz-form-control>

        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="2">Importe Total</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="4">
          <input appDotToComma mask="separator.2" nz-input placeholder="" formControlName="ImporteTotal" type="text"
            class="text-right" />
        </nz-form-control>

        }@else if (control?.value.Metodologia === 'B'){
        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="2">Importe Unitario</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="4">
          <input appDotToComma mask="separator.2" nz-input nzInputNumber style="width: 100%"
            formControlName="ImporteUnitario" type="text" min="0" step="0.01" placeholder="Importe Unitario"
            (ngModelChange)="calcularTotal(i)">
        </nz-form-control>

        }
      </nz-form-item> -->

      <nz-form-item class="marginElement">

        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Texto Factura</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="16" nz-popover
          [nzPopoverContent]="textFacturaTemplate">
          <textarea nz-input formControlName="TextoFactura" rows="3" style="width: 100%;"
            nzPlaceholder="Ingrese el texto de la factura"></textarea>
          <p style="color:rgba(0, 0, 0, 0.347); margin-top: 8px;">Vista previa: {{ getTextoFacturaPreview(i) }}</p>
        </nz-form-control>

        @if (formCondicionVenta.enabled) {
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="2" class="button-group-direction">
          <div class="button-group" style="width: 100%">
            @if (infoProductos().controls.length == i+1) {
            <button nz-button class="add-button" nzType="primary" class="add-button" (click)="addProductos($event)"
              nz-tooltip nzTooltipTitle="{{ 'app.icon.add' | i18n }}">
              <span nz-icon nzType="plus"></span>
            </button>
            }
            @if (infoProductos().length >= 2) {
            <button nz-button nzType="default" (click)="removeProductos(i, $event)" nz-tooltip
              nzTooltipTitle="{{ 'app.icon.delete' | i18n }}">
              <span nz-icon nzType="delete" nzTheme="outline"></span>
            </button>
            }
          </div>
        </nz-form-control>
        }

      </nz-form-item>
    </div>
    }
  </div>

  @if (formCondicionVenta.enabled) {
  <nz-form-item class="btn-margintop">
    <nz-form-control style="display: flex; justify-content: center; align-items: center; gap: 8px;">
      <button style="margin-right: 10px;" nzType="primary" nz-button (click)="save()"
        [disabled]="formCondicionVenta.invalid || formCondicionVenta.pristine">
        {{ 'app.btn.save' | i18n }}
      </button>
      <button nz-button nzType="default" (click)="clearForm()">
        {{ 'app.btn.clear' | i18n }}
      </button>
    </nz-form-control>
  </nz-form-item>

  }

</form>