<nz-card class="small-margin">
  <ng-container>
    <div nz-row nzSpan="12">
      <nz-form-label [nzSpan]="2">Agrupar</nz-form-label>
      <nz-form-control [nzSpan]="4">
        <nz-select [(ngModel)]="grupo" (ngModelChange)="changeGrupo($event)" [ngModelOptions]="{standalone: true}" [nzDropdownMatchSelectWidth]="false">
          <nz-option nzValue="" nzLabel="Sin grupo"></nz-option>
          <nz-option nzValue="persona" nzLabel="Por persona"></nz-option>
          <!-- <nz-option nzValue="tipoimporte" nzLabel="Por tipo importe"></nz-option> -->
        </nz-select>
      </nz-form-control>
    </div>

    <shared-filtro-builder #sfb [fieldsToSelect]="columns$ | async" (optionsChange)="listOptionsChange($event)"
      [startFilters]="startFilters" />
    <div class="gridDetalleContainer container-fluid" *ngIf="(columns$|async) as columnas">
      <angular-slickgrid gridId="gridDetalle" [columnDefinitions]="columnas | colsFilter" [gridOptions]="gridDetalleOptions"
        [dataset]="(gridDetalleData$ | async) || []" (onAngularGridCreated)="angularGridReady($event)">
      </angular-slickgrid>
    </div>
  </ng-container>
</nz-card>