<nz-card class="small-margin">
  <ng-container>
    <h4>Agrupación:</h4>
    <!-- <nz-button-group> -->
      <button nz-button (click)="groupByPersona()" nzSize="small">Por Persona</button>
      <button nz-button (click)="groupByForma()" nzSize="small">Por Tipo de Importe</button>
      <button nz-button (click)="clearGrouping()" nzType="primary" nzSize="small">Desagrupar</button>
    <!-- </nz-button-group> -->
    <br />
    <br />
    <shared-filtro-builder #sfb [fieldsToSelect]="columns$ | async" (optionsChange)="listOptionsChange($event)"
      [startFilters]="startFilters" />
    <div class="gridDetalleContainer container-fluid" *ngIf="(columns$|async) as columnas">
      <angular-slickgrid gridId="gridDetalle" [columnDefinitions]="columnas | colsFilter" [gridOptions]="gridDetalleOptions"
        [dataset]="(gridDetalleData$ | async) || []" (onAngularGridCreated)="angularGridReady($event)">
      </angular-slickgrid>
    </div>
  </ng-container>
</nz-card>