<nz-select [ngModel]="_selectedPersonalId" [ngModelOptions]="{ standalone: true }" style="width: 100%;"
  (ngModelChange)="selectedValueChange($event)" nzAllowClear nzPlaceHolder="Apellido, Nombre, CUIT" nzShowSearch
  nzServerSearch (nzOnSearch)="search($event)">
  <ng-container *ngFor="let option of $optionsArray | async">
    <nz-option *ngIf="($isOptionsLoading | async) == false" [nzValue]="option.PersonalId"
      [nzLabel]="option.fullName"></nz-option>
  </ng-container>
  <nz-option *ngIf="$isOptionsLoading | async" nzDisabled nzCustomContent>
    <span nz-icon nzType="loading" class="loading-icon"></span>
    Loading Data...
  </nz-option>
</nz-select>