<nz-select #psc [(ngModel)]="_selected" [nzDropdownMatchSelectWidth]="false" [ngModelOptions]="{ standalone: true }"
  style="width: 100%" (ngModelChange)="modelChange($event)" nzAllowClear nzPlaceHolder="Apellido, Nombre o CUIT"
  nzShowSearch nzServerSearch (nzOnSearch)="search($event)">
  <ng-container *ngFor="let option of $optionsArray | async">
    <nz-option *ngIf="($isOptionsLoading | async) == false" [nzValue]="option.PersonalId" [nzLabel]="option.fullName" />
  </ng-container>
  <nz-option *ngIf="extendedOption.PersonalId >0 " [nzValue]="extendedOption.PersonalId"
    [nzLabel]="extendedOption.fullName" />

  <nz-option *ngIf="$isOptionsLoading | async" nzDisabled nzCustomContent>
    <span nz-icon nzType="loading" class="loading-icon"></span>
    Cargando datos...
  </nz-option>
</nz-select>