<nz-select #psc [(ngModel)]="_selected" [nzDropdownMatchSelectWidth]="false" [ngModelOptions]="{ standalone: true }"
   (ngModelChange)="modelChange($event)" nzAllowClear nzPlaceHolder="Patente"
  nzShowSearch nzServerSearch (nzOnSearch)="search($event)">
  <ng-container *ngFor="let option of $optionsArray | async">
    <nz-option *ngIf="($isOptionsLoading | async) == false" [nzValue]="option.patente" [nzLabel]="option.patente" />
  </ng-container>
  <nz-option *ngIf="extendedOption.patente" [nzValue]="extendedOption.patente" [nzLabel]="extendedOption.patente" />

  <nz-option *ngIf="$isOptionsLoading | async" nzDisabled nzCustomContent>
    <span nz-icon nzType="loading" class="loading-icon"></span>
    Cargando datos...
  </nz-option>
</nz-select>