<nz-drawer [nzClosable]="false" [nzVisible]="visible()" [nzPlacement]="placement" [nzWidth]="640"
  [nzTitle]="tituloDrawer() " (nzOnClose)="visible.set(false)">
  <ng-container *nzDrawerContent>
    <!-- @if (cambios()|async) {} -->
    <form [formGroup]="formCli">
      <nz-form-item [hidden]="true">
        <nz-form-label [nzSpan]="5">Personal Estudio Id</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <nz-input-group>
           <input nz-input formControlName="personalEstudioId" ngModel />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Persona</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <nz-input-group>
            <app-personal-search formControlName="PersonalId"  [anio]="anio()" [mes]="mes()"></app-personal-search>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5">Nivel de Estudio</nz-form-label>
        <nz-form-control>
          <app-estudio-search formControlName="TipoEstudioId" ></app-estudio-search> 
        </nz-form-control>
      </nz-form-item>

       @if( this.formCli.value.TipoEstudioId != 8){
        <nz-form-item>
          <nz-form-label [nzSpan]="5">Título del Certificado</nz-form-label>
          <nz-form-control>
            <input nz-input formControlName="PersonalEstudioTitulo" type="string" />
          </nz-form-control>
        </nz-form-item>
       }
        @else {
        <nz-form-item>
          <nz-form-label [nzSpan]="5">Curso</nz-form-label>
          <nz-form-control>
         <app-curso-search formControlName="CursoHabilitacionId" ></app-curso-search>  
          </nz-form-control>
        </nz-form-item>
       } 

      <nz-form-item>
        <nz-form-label [nzSpan]="5">Fecha Otorgado</nz-form-label>
        <nz-form-control>
          <nz-date-picker formControlName="PersonalEstudioOtorgado" ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>

      <nz-form-control>
        <app-file-upload  formControlName="files" [idForSearh]="formCli.value.PersonalId ?? 0" [cantMaxFiles]="1"
          [textForSearch]="'CURSO'" [columnForSearch]="'personalId'" [tableForSearch]="'DocumentoImagenEstudio'"></app-file-upload>
      </nz-form-control>

      @if(this.formCli.enabled) {
        <nz-form-item class="btnCenter">
            <button nz-button nzType="primary" [disabled]="!formCli.dirty" (click)="save()" [nzLoading]="isSaving()"> {{ 'app.btn.save' | i18n }}</button>

            @if (this.PersonalIdForEdit() > 0) {
            
            <button 
            nz-popconfirm
            nzPopconfirmTitle="Esta seguro que quiere eliminar este estudio?"
            (nzOnConfirm)="deleteEstudio()"
            nzPopconfirmPlacement="top"
            nz-button 
            nzType="primary"
            nzDanger>Eliminar</button>
          } 
        </nz-form-item>
      }

    </form>

    
     <!-- <p>Debug Valores: {{formCli.value | json }}</p>  -->
  </ng-container>
</nz-drawer>