<nz-drawer [nzClosable]="false" [nzVisible]="visible()" [nzPlacement]="placement" [nzWidth]="640"
  [nzTitle]="tituloDrawer()" (nzOnClose)="visible.set(false)">
  <ng-container *nzDrawerContent>
    @if (cambios()|async) {}
    <form nz-form ngForm>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Persona</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <nz-input-group>
            <app-personal-search name="PersonalId" ngModel [anio]="anio()" [mes]="mes()"></app-personal-search>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5">Nivel de Estudio</nz-form-label>
        <nz-form-control>
          <app-estudio-search name="TipoEstudioId" ngModel></app-estudio-search>
        </nz-form-control>
      </nz-form-item>

      @if(this.ngForm().value.TipoEstudioId && this.ngForm().value.TipoEstudioId != 8){
        <nz-form-item>
          <nz-form-label [nzSpan]="5">Título del Certificado</nz-form-label>
          <nz-form-control>
            <input nz-input name="PersonalEstudioTitulo" ngModel />
          </nz-form-control>
        </nz-form-item>
      }
      @if(this.ngForm().value.TipoEstudioId == 8){
        <nz-form-item>
          <nz-form-label [nzSpan]="5">Curso</nz-form-label>
          <nz-form-control>
            <app-curso-search name="PersonalEstudioCursoId" ngModel></app-curso-search>
          </nz-form-control>
        </nz-form-item>
      }

      <nz-form-item>
        <nz-form-label [nzSpan]="5">Fecha Otorgado</nz-form-label>
        <nz-form-control>
          <nz-date-picker name="PersonalEstudioOtorgado" ngModel></nz-date-picker>
        </nz-form-control>
      </nz-form-item>

      <nz-form-control>
        <app-file-upload ngModel name="files" [idForSearh]="this.ngForm().value.PersonalId ?? 0"
          [textForSearch]="'EST'" [columnForSearch]="'persona_id'" [tableForSearch]="'docgeneral'"></app-file-upload>
      </nz-form-control>

      @if(this.ngForm().enabled) {
        <nz-form-item class="btnCenter">
          <button nz-button nzType="primary" [disabled]="!ngForm().dirty" (click)="save()" [nzLoading]="isSaving()">
            {{ 'app.btn.save' | i18n }}
          </button>
        </nz-form-item>
      }
    </form>
  </ng-container>
</nz-drawer> 