/* Angular-Slickgrid styling */
/* Customize the SlickGrid Bootstrap theme to your taste
 * Copy any of the variables '../node_modules/angular-slickgrid/styles/sass/_variables.scss'
 * and make sure to add the @import at the end of this file
 */

/* for example, let's change the mouse hover color */
/*$cell-odd-background-color: lightyellow;*/
//$slick-input-focus-box-shadow: 0 0 0 0.25rem #0d6efd40;


/* make sure to add the @import the SlickGrid Bootstrap Theme AFTER the variables changes */
@use '@slickgrid-universal/common/dist/styles/sass/slickgrid-theme-default.scss' with (
  $slick-cell-border-right: 1px solid rgba(133, 133, 133, 0.25),
  $slick-header-column-border-right: 1px solid rgba(133, 133, 133, 0.25),
  $slick-cell-padding: 1px
);

//@import '@slickgrid-universal/common/dist/styles/sass/sass-utilities';

//@import '@slickgrid-universal/common/dist/styles/sass/material-svg-icons';


.slick-column-name,
.slick-sort-indicator {
  float: none;
  margin-bottom: auto;
}

.slickgrid-container {
  // .grid-canvas {
  //   // padding: 1px;
  // }

  // .slick-row .slick-cell.active {
  //   padding: 1px;
  // }

  app-tipocuenta,
  app-tipomovimiento-persona,
  app-objetivo-search,
  app-personal-search,
  app-categoria-persona,
  app-tipohora-persona {

    >.ant-select-single .ant-select-selector .ant-select-selection-item,
    .ant-select-single .ant-select-selector .ant-select-selection-placeholder {
      line-height: unset;

    }

    >.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
      width: 100%;
      height: 26px;
      padding: 0 3px;
    }

    >.ant-select-single .ant-select-selector .ant-select-selection-search {
      left: 2px;
    }

    >.ant-select-single .ant-select-selector .ant-select-selection-item {
      padding: 0;
    }


    >.ant-select-single .ant-select-selector .ant-select-selection-placeholder {
      padding: 0;
    }

    >.ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
      /* height: 30px; */
      height: unset;
    }

  }

  app-tipocuenta>nz-select,
  app-tipomovimiento-persona>nz-select,
  app-editor-persona>nz-select,
  app-categoria-persona>nz-select,
  app-tipohora-persona>nz-select {
    display: block;
    width: 100%;
  }

}

/*
.ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector,
.ant-picker.ant-picker-disabled,
.ant-input[disabled] {
  background-color: var(--alain-default-content-bg, #f5f7fa);


}
  */
//  .detail-view-toggle {
//    display: none !important;
//  }

.slickgrid-container .slick-header-columns .slick-header-column.slick-state-default {
  padding: var(--slick-header-padding, 1px 1px 6px 1px);
}

.slickgrid-container .slick-footerrow .slick-footerrow-columns .slick-footerrow-column {
  display: var(--slick-grid-footer-display, block);
  align-items: var(--slick-grid-footer-align-items, center);
  justify-content: var(--slick-grid-footer-justify-content, normal);
  font-size: var(--slick-grid-footer-font-size, 13px);
  font-style: var(--slick-grid-footer-font-style, normal);
  font-weight: var(--slick-grid-footer-font-weight, bold);
  padding: var(--slick-grid-footer-cell-padding, 5px 0px);
  border-right: var(--slick-grid-footer-cell-border-left, 1px solid rgba(133, 133, 133, 0.20));
}

.ant-input-group-addon {
  padding: 0;
}

.ant-btn:not(.ant-btn-link)+.ant-btn {
  margin-left: 0;
}


// .slick-row {
//   .detail-view-toggle {
//     &.expand, &.collapse {
//       width: var(--slick-icon-width,$slick-icon-width);
//     }
//   }
// }

// .slick-cell.selected.active.editable {
//   margin:0;
//   padding:0;
// }

input:disabled {
  pointer-events: all;
  user-select: all;
}

textarea:disabled {
  pointer-events: all;
  user-select: all !important;
}

nz-select-item {
  user-select: all !important;
}