/* Angular-Slickgrid styling */
/* Customize the SlickGrid Bootstrap theme to your taste
 * Copy any of the variables '../node_modules/angular-slickgrid/styles/sass/_variables.scss'
 * and make sure to add the @import at the end of this file
 */

/* for example, let's change the mouse hover color */
/*$cell-odd-background-color: lightyellow;*/
//$slick-input-focus-box-shadow: 0 0 0 0.25rem #0d6efd40;

@import "./variables";
/* make sure to add the @import the SlickGrid Bootstrap Theme AFTER the variables changes */


@import '@slickgrid-universal/common/dist/styles/sass/slickgrid-theme-bootstrap';


//@import '@slickgrid-universal/common/dist/styles/sass/sass-utilities';

//@import '@slickgrid-universal/common/dist/styles/sass/material-svg-icons';

$slick-icon-width:                                          18px !default;

.slick-column-name, .slick-sort-indicator {
  float: none;
  margin-bottom: auto;
}

.slickgrid-container {
  .grid-canvas .slick-cell {
    padding: 1px;
  }
 
  .slick-row .slick-cell.active {
    padding: 1px;
  }
  
  .slick-header-columns .slick-header-column.ui-state-default {
    padding: 1px 1px 6px;
    //  font-size: var(--slick-font-size-base, 14px);
  }

  app-tipocuenta ,
  app-tipomovimiento-persona, 
  app-objetivo-search ,
  app-personal-search ,
  app-categoria-persona ,
  app-tipohora-persona  {
    > .ant-select-single .ant-select-selector .ant-select-selection-item, .ant-select-single .ant-select-selector .ant-select-selection-placeholder {
      line-height: unset;

    }

    > .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
      width: 100%;
      height: 26px;
      padding: 0 3px;
    }

    > .ant-select-single .ant-select-selector .ant-select-selection-search {
      left: 2px;
    }

    > .ant-select-single .ant-select-selector .ant-select-selection-item {
      padding: 0;
    }
    

    > .ant-select-single .ant-select-selector .ant-select-selection-placeholder {
      padding: 0;
    }

    > .ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
      /* height: 30px; */
      height: unset;
    }

  }

  app-tipocuenta > nz-select,
  app-tipomovimiento-persona > nz-select, 
  app-editor-persona > nz-select,
  app-categoria-persona > nz-select,
  app-tipohora-persona > nz-select {
    display:block;
    width: 100%;
  }
  
}



//  .detail-view-toggle {
//    display: none !important;
//  }
