<nz-drawer [nzClosable]="false" [(nzVisible)]="visible" [nzPlacement]="placement" [nzWidth]="640"
  [nzTitle]="tituloDrawer()" (nzOnClose)="visible.set(false)">
  <ng-container *nzDrawerContent>
    @if (cambios()|async) {}
    <form nz-form ngForm>
      <nz-form-item style="display:none">
        <nz-form-label [nzSpan]="3">SucursalId</nz-form-label>
        <nz-form-control [nzSpan]="19">
          <input nz-input name="SucursalId" ngModel />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item style="display:none">
        <nz-form-label [nzSpan]="3">PersonalLicenciaId</nz-form-label>
        <nz-form-control [nzSpan]="19">
          <input nz-input name="PersonalLicenciaId" ngModel />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5">Persona</nz-form-label>
        <nz-form-control>
          <nz-input-group style="width: 100%">
            <app-personal-search name="PersonalId" ngModel  (valueExtendedChange)="ngForm().form.patchValue({SucursalId:$event.SucursalId}) "></app-personal-search>
            <p> </p>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5">Desde: </nz-form-label>
        <nz-form-control [nzXs]="24">
          <nz-date-picker name="PersonalLicenciaDesde" ngModel></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Hasta </nz-form-label>
        <nz-form-control>
          <nz-date-picker name="PersonalLicenciaHasta" ngModel></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Tipo Inasistencia </nz-form-label>
        <nz-form-control>
          <app-inasistencia-search name="TipoInasistenciaId" ngModel></app-inasistencia-search>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Categoría </nz-form-label>
        <nz-form-control>

          <app-categoria-persona [sucursalid]="ngForm().value?.SucursalId" [PersonalId]="ngForm().value?.PersonalId"
            [selectedPeriod]="selectedPeriod()" name="categoria" ngModel></app-categoria-persona>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Se paga</nz-form-label>
        <nz-form-control>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="" name="PersonalLicenciaSePaga" ngModel
            [nzDropdownMatchSelectWidth]="false">
            <nz-option nzLabel="Si" nzValue="S"></nz-option>
            <nz-option nzLabel="No" nzValue="N"></nz-option>
            <nz-option nzLabel="Indeterminado" nzValue=""></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Horas Mensuales </nz-form-label>
        <nz-form-control>
          <input nz-input type="number" name="PersonalLicenciaHorasMensuales" ngModel />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Observación </nz-form-label>
        <nz-form-control>
          <input nz-input name="PersonalLicenciaObservacion" ngModel />
        </nz-form-control>
      </nz-form-item>
      @if (this.ngForm().value.PersonalId>0) {
         
      <nz-form-item>
        <nz-form-control>
          <nz-form-label [nzSpan]="5">Archivos anteriores</nz-form-label>
          <ng-container *ngFor="let licencia of $ArchivosLicencias | async">
            <div class="containerAnteriores" nz-tooltip nzTooltipTitle={{licencia.nombre}}>
              <!-- <ng-container>{{movimiento.valor_random}} <span nz-icon nzType="delete" nzTheme="outline" class="trash-color"></span> ,</ng-container> -->
              <a nz-icon nzType="download" nzHref="licencia.path" target="_blank" nzTheme="outline"
                class="download-color" app-down-file [httpMethod]="'POST'"
                [httpBody]="{'documentId': licencia.id}" httpUrl="api/carga-licencia/downloadLicencia"></a>
              <span> {{licencia.id}}-{{licencia.nombre}} </span>
            </div>
          </ng-container>
        </nz-form-control>
      </nz-form-item>

      
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Archivos: </nz-form-label>
        <nz-form-control>
          <ng-container>
            <nz-upload nzAccept="application/pdf" nzAction="/api/carga-licencia/upload" [nzData]="{
              anio:this.selectedPeriod().year, 
              mes:this.selectedPeriod().month,
              PersonalId:this.ngForm().value.PersonalId,
              PersonalLicenciaId: this.ngForm().value.PersonalLicenciaId,
            }" nzName="pdf" [nzLimit]="1" [nzShowUploadList]="false" (nzChange)="uploadChange($event)">
              <button nz-button>
                <span nz-icon nzType="upload"></span>
                Subir PDF
              </button>
            </nz-upload>
          </ng-container>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5">Archivos </nz-form-label>
        <nz-form-control>
          
          <ng-container *ngFor="let licenciaAdd of ArchivosLicenciasAdd">
            <div class="containerAnteriores" nz-tooltip nzTooltipTitle={{licenciaAdd.name}}>
              <!-- <ng-container>{{movimiento.valor_random}} <span nz-icon nzType="delete" nzTheme="outline" class="trash-color"></span> ,</ng-container> -->
              <span> {{licenciaAdd.name}} </span>
            </div>
          </ng-container>
        </nz-form-control>
      </nz-form-item>
    }
      <nz-form-item class="btnCenter">
          <button nz-button nzType="primary" (click)="save()">Guardar</button>
          @if (this.ngForm().value.PersonalLicenciaId>0) {
          <button nz-button nzType="primary" (click)="deletelicencia()" nzDanger>Eliminar</button>
        }
      </nz-form-item>
     

    </form>

    
    <!-- <p>Debug Valores: {{ngForm().value | json }}</p> -->
  </ng-container>
</nz-drawer>