<nz-drawer [nzClosable]="false" [nzVisible]="visible()" [nzPlacement]="placement" [nzWidth]="640"
  [nzTitle]="tituloDrawer()" (nzOnClose)="visible.set(false)">
  <ng-container *nzDrawerContent>
    @if (cambios()|async) {}
    <form nz-form ngForm>
      <nz-form-item style="display:none">
        <nz-form-label [nzSpan]="3">SucursalId</nz-form-label>
        <nz-form-control [nzSpan]="19">
          <input nz-input name="SucursalId" ngModel  />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item style="display:none">
        <nz-form-label [nzSpan]="3">PersonalLicenciaId</nz-form-label>
        <nz-form-control [nzSpan]="19">
          <input nz-input name="PersonalLicenciaId" ngModel  />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5">Persona</nz-form-label>
        <nz-form-control>
          <nz-input-group style="width: 100%">
            <app-personal-search  name="PersonalId" ngModel  (valueExtendedChange)="ngForm().form.patchValue({SucursalId:$event.SucursalId}) " ></app-personal-search>
            <p> </p>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5">Desde: </nz-form-label>
        <nz-form-control [nzXs]="24">
          <nz-date-picker name="PersonalLicenciaDesde" ngModel ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Hasta </nz-form-label>
        <nz-form-control>
          <nz-date-picker name="PersonalLicenciaHasta" ngModel ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Tipo Inasistencia </nz-form-label>
        <nz-form-control>
          <app-inasistencia-search name="TipoInasistenciaId" ngModel ></app-inasistencia-search>
        </nz-form-control>
      </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="5">Categoría</nz-form-label>
            <nz-form-control>
                <!-- <app-categoria-persona [sucursalid]="SucursalId" [PersonalId]="PersonalIdForEdit" -->
              <app-categoria-persona [sucursalid]="ngForm().value?.SucursalId" [PersonalId]="ngForm().value?.PersonalId"
                [selectedPeriod]="selectedPeriod()" name="categoria" ngModel ></app-categoria-persona>
          </nz-form-control>
        </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Se paga</nz-form-label>
        <nz-form-control>
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="" name="PersonalLicenciaSePaga" ngModel 
           [nzDropdownMatchSelectWidth]="false" >
          <nz-option *ngFor="let option of options" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Horas Mensuales </nz-form-label>
        <nz-form-control>
          <input nz-input type="number" name="PersonalLicenciaHorasMensuales" ngModel   />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Observación </nz-form-label>
        <nz-form-control>
          <input  nz-input name="PersonalLicenciaObservacion" ngModel  />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Diagnóstico </nz-form-label>
        <nz-textarea-count class="textAreaInput" [nzMaxCharacterCount]="500">
          <textarea  rows="1" name="PersonalLicenciaDiagnosticoMedicoDiagnostico" ngModel nz-input ></textarea>
        </nz-textarea-count>
      </nz-form-item>
      @if (ngForm().form.value.PersonalId >0  ) {
        <!-- @if (this.PersonalId() >0 ) { -->
         
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Documentos </nz-form-label>
        <nz-form-control>
          <ng-container *ngFor="let licencia of $ArchivosLicencias | async" >
            <div class="containerAnteriores" nz-tooltip nzTooltipTitle={{licencia.nombre}}>
              <span nz-icon nzType="delete" nzTheme="outline" class="trash-color" (click)="ArchivoDelete(templateArchivo,licencia.id,false)"></span>
              <!-- <ng-container>{{movimiento.valor_random}} <span nz-icon nzType="delete" nzTheme="outline" class="trash-color"></span> ,</ng-container> -->
              <a nz-icon nzType="download" nzHref="licencia.path" target="_blank" nzTheme="outline"
                class="download-color" app-down-file [httpMethod]="'POST'"
                [httpBody]="{'documentId': licencia.id}" httpUrl="api/carga-licencia/downloadLicencia"></a>
              <span> {{licencia.id}}-{{licencia.nombre}} </span>
            </div>
          </ng-container>
          @if(ArchivosLicenciasAdd.length > 0){
            <ng-container  class="" *ngFor="let licenciaAdd of ArchivosLicenciasAdd ">
              <div class="containerAnteriores" nz-tooltip nzTooltipTitle={{licenciaAdd.fieldname}}>
                <span nz-icon nzType="delete" nzTheme="outline" class="trash-color" (click)="ArchivoDelete(templateArchivo,licenciaAdd.fieldname,true)"></span>
                <a nz-icon nzType="download" nzHref="licencia.path" target="_blank" nzTheme="outline"
                  class="download-color" app-down-file [httpMethod]="'POST'"
                  [httpBody]="{'documentId': licenciaAdd.id}" httpUrl="api/carga-licencia/downloadLicencia"></a>
                <span> {{licenciaAdd.originalname}} </span>
              </div>
            </ng-container>
       }
        </nz-form-control>

       
      </nz-form-item>

     

      @if(!ngForm().disabled) {
      <nz-form-item >
        <nz-form-control class="BtnUploadFile">
          <ng-container>
            <nz-upload nzAccept="application/pdf" nzAction="/api/carga-licencia/upload" [nzData]="{
              anio:this.selectedPeriod().year, 
              mes:this.selectedPeriod().month,
              PersonalId:this.ngForm().value.PersonalId,
              PersonalLicenciaId: this.ngForm().value.PersonalLicenciaId,
            }" nzName="pdf" [nzLimit]="1" [nzShowUploadList]="false" (nzChange)="uploadChange($event)" >
              <button [disabled]="isSaving()"  nz-button  >
                <span nz-icon nzType="upload"></span>
                Subir PDF
              </button>
            </nz-upload>
          </ng-container>
        </nz-form-control>
      </nz-form-item>
    }
     
    }
    @if(this.ngForm().enabled) {
      <nz-form-item class="btnCenter">
          <button nz-button nzType="primary" [disabled]="!ngForm().dirty" (click)="save()" [nzLoading]="isSaving()">Guardar</button>
          @if (this.ngForm().value.PersonalLicenciaId>0) {
          
          <button [disabled]="ngForm().dirty"
          nz-popconfirm
          nzPopconfirmTitle="Esta seguro que quiere eliminar esta licencia?"
          (nzOnConfirm)="deletelicencia()"
          nzPopconfirmPlacement="top"
          nz-button 
          nzType="primary"
          nzDanger>Eliminar</button>
        }
      </nz-form-item>
    }

    </form>

    
    <!-- <p>Debug Valores: {{ngForm().value | json }}</p> -->
  </ng-container>
  <ng-template #templateArchivo let-notification>
    <div class=" notificacionArchivo ant-notification-notice-content">
      <div>
        <div class="ant-notification-notice-message">Eliminar Archivo</div>
        <div class="ant-notification-notice-description">
          Seguro que desea eliminar dicho archivo
        </div>
        <span class="ant-notification-notice-btn">
          <button nz-button nzType="primary" nzSize="small" (click)="confirmDeleteArchivo()">
            <span>Aceptar</span>
          </button>
        </span>
      </div>
    </div>
  </ng-template>
</nz-drawer>