<nz-card class="small-margin">
  
    <div style="align-items: end; display: flex; justify-content: space-between;">
    <ul nz-menu nzMode="horizontal" >
      <li nz-menu-item nzMatchRouter>
        <span nz-icon nzType=""></span>
        <a [routerLink]="['/', 'ges', 'objetivos', 'objetivos']" (click)="getGridData()" >Objetivos {{this.addNew}}</a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <span nz-icon nzType=""></span>
        <a [routerLink]="['/', 'ges', 'objetivos', 'detalle']" (click)="setEdit(false)">Detalle</a>
      </li>
    </ul>
  
    <nz-button-group >
      <a [routerLink]="['/', 'ges', 'objetivos','objetivos']" (click)="setEdit(true)">
        <button nz-button nzType="default" [disabled]="editObjetivoId? false : true"><span nz-icon nzType="edit" nzTheme="outline"></span></button>
      </a>
      <a [routerLink]="['/', 'ges', 'objetivos','alta']" (click)="setEdit(false)">
        <button nz-button nzType="default" ><span nz-icon nzType="plus" nzTheme="outline"></span></button>
      </a>
    </nz-button-group>
    </div>
  
    <nz-tabset nzCentered nzLinkRouter class="hide-ant-tabs-nav">
  
      <nz-tab>
        <a nz-tab-link routerLink="/ges/objetivos/objetivos" >Objetivos</a>
        estoy
        <ng-template nz-tab *ngIf="(columns$|async) as columnas">
          <shared-filtro-builder #sfb [fieldsToSelect]="columnas" (optionsChange)="listOptionsChange($event)" [startFilters]="startFilters" />
  
          <div class="gridListContainer container-fluid" >
            <angular-slickgrid gridId="grid" [columnDefinitions]="columnas | colsFilter" [gridOptions]="gridOptions"
              [dataset]="(gridData$ | async) || []" (onAngularGridCreated)="angularGridReady($event)"
              (onSelectedRowsChanged)="handleSelectedRowsChanged($event)">
            </angular-slickgrid>
          </div>
        </ng-template>
      </nz-tab>
  
      <nz-tab>
        <a nz-tab-link routerLink="/ges/objetivos/detalle" >Detalle</a>
         <app-objetivos-form [ObjetivoId]="editObjetivoId" [edit]="edit"></app-objetivos-form>
      </nz-tab>
  
      <nz-tab> 
        <a nz-tab-link routerLink="/ges/objetivos/alta" >Alta </a>
        <app-objetivos-form [edit]="edit" [(addNew)]="addNew"></app-objetivos-form>
      </nz-tab>
  
    </nz-tabset>
  </nz-card>
