<nz-card class="small-margin">

  <div nz-row>

    <div nz-col nzSpan="24" style="display: flex;flex-direction: row-reverse;">

      <nz-button-group nz-button nzButtonGroup>
        <a [routerLink]="['/', 'ges', 'objetivos','editar']"  nz-tooltip nzTooltipTitle="{{ 'app.icon.edit' | i18n }}">
          <button nz-button nzType="default" [disabled]="editObjetivoId()? false : true"><span nz-icon nzType="edit" nzTheme="outline"></span></button>
        </a>
        <a [routerLink]="['/', 'ges', 'objetivos','detalle']" nz-tooltip nzTooltipTitle="{{ 'app.detail' | i18n }}">
          <button nz-button nzType="default" [disabled]="editObjetivoId()? false : true"><span nz-icon nzType="info-circle" nzTheme="outline"></span></button>
        </a>
        <a [routerLink]="['/', 'ges', 'objetivos','alta']"  nz-tooltip nzTooltipTitle="{{ 'app.icon.add' | i18n }}">
          <button nz-button nzType="default" ><span nz-icon nzType="plus" nzTheme="outline"></span></button>
        </a>
        <a  nz-tooltip nzTooltipTitle="{{ 'app.icon.history' | i18n }}" (click)="openDrawerforConsultHistory()">
          <button nz-button nzType="default" [disabled]="editObjetivoId()? false : true" ><span nz-icon nzType="menu-unfold" nzTheme="outline"></span></button>
        </a>
        <!-- <button nz-button nzType="default" (click)="openDrawerforConsultHistory()" [disabled]="PersonalId() == 0"
        nz-tooltip nzTooltipTitle="{{ 'app.icon.history' | i18n }}"><span nz-icon nzType="menu-unfold" nzTheme="outline"></span></button> -->
      </nz-button-group>

    </div>

  </div>

  <div nz-row class="contentStyle">
    <div nz-col nzSpan="13" class="listStyle">
      <ul nz-menu nzMode="horizontal" style="display: flex;">
        <li nz-menu-item nzMatchRouter>
          <span nz-icon nzType=""></span>
          <a [routerLink]="['/', 'ges', 'objetivos', 'listado']" (click)="getGridData()" >{{ 'app.icon.objectives' | i18n }} </a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <span nz-icon nzType=""></span>
          <a [routerLink]="['/', 'ges', 'objetivos', 'detalle']">{{ 'app.detail' | i18n }} </a>
        </li>
        @if(!childIsPristine()){
          <li nz-menu-item nzMatchRouter>
            <span nz-icon nzType=""></span>
            <a [routerLink]="['/', 'ges', 'objetivos', 'alta']">{{ 'app.alta' | i18n }}</a>
          </li>
        }
      </ul>
    </div>

  </div>



  <nz-tabs nzCentered nzLinkRouter class="hide-ant-tabs-nav" (nzSelectChange)="onTabsetChange($event)">
    <nz-tab></nz-tab>
    <nz-tab>
      <a nz-tab-link routerLink="/ges/objetivos/listado" >{{ 'app.icon.objectives' | i18n }} </a>
      @if ((columns$|async); as columnas) {
        <ng-template nz-tab>
          <shared-filtro-builder #sfb [fieldsToSelect]="columnas" (optionsChange)="listOptionsChange($event)" [startFilters]="startFilters()" />
          <div class="gridListContainer container-fluid" >
            <angular-slickgrid gridId="grid" [columnDefinitions]="columnas | colsFilter" [gridOptions]="gridOptions"
              [dataset]="(gridData$ | async) || []" (onAngularGridCreated)="angularGridReady($event)"
              (onSelectedRowsChanged)="handleSelectedRowsChanged($event)">
            </angular-slickgrid>
          </div>
        </ng-template>
      }
    </nz-tab>

    <nz-tab>
      <a nz-tab-link routerLink="/ges/objetivos/editar" >{{ 'app.icon.edit' | i18n }}</a>
      <app-objetivos-form #objetivoFormEdit
        (onAddorUpdate)="handleAddOrUpdate()"
        [ObjetivoId]="editObjetivoId()"
        [ClienteElementoDependienteId]="editClienteElementoDependienteId()"
        [ClienteId]="editClienteId()">
      </app-objetivos-form>
    </nz-tab>

    <nz-tab>
      <a nz-tab-link routerLink="/ges/objetivos/detalle" >{{ 'app.detail' | i18n }}</a>
      <app-objetivos-form #objetivoFormDeta
        [ObjetivoId]="editObjetivoId()"
        [ClienteElementoDependienteId]="editClienteElementoDependienteId()"
        [ClienteId]="editClienteId()">
      </app-objetivos-form>
    </nz-tab>

    <nz-tab>
      <a nz-tab-link routerLink="/ges/objetivos/alta" >{{ 'app.alta' | i18n }}</a>
      <app-objetivos-form #objetivoFormAlta
        (onAddorUpdate)="handleAddOrUpdate()"
        (pristineChange)="onPristineChange($event)">
      </app-objetivos-form>
    </nz-tab>

  </nz-tabs>


  <app-objetivo-historial-drawer
    [(visibleHistorial)]="visibleHistorial"
    [ClienteId]="editClienteId()"
    [ObjetivoId]="editObjetivoId()"
    [ObjetivoNombre]="ObjetivoNombre()"
    [ClienteElementoDependienteId]="editClienteElementoDependienteId()">
  </app-objetivo-historial-drawer>

</nz-card>
