<nz-card class="small-margin">
  <ng-container>
    <!-- <span>este es el valor del padre {{anio()}} y  {{mes()}}</span> -->
    @if (columns().length) {
      <shared-filtro-builder  [fieldsToSelect]="columns()" [(options)]="listOptions" />
      <div class="gridContainer1 container-fluid">
        <angular-slickgrid gridId="gridEdit1" class="" [columns]="columns()"
          [options]="gridOptions" [dataset]="gridData.value()"
          (onAngularGridCreated)="angularGridReady($event)">
        </angular-slickgrid>
      </div>
    }
  </ng-container>
  
</nz-card>

