<nz-drawer [nzClosable]="false" [nzVisible]="visible()" [nzPlacement]="placement" [nzWidth]="640"
  [nzTitle]="'Centro de Capacitación: ' + CentroCapacitacionName()" (nzOnClose)="visible.set(false)">
  <ng-container *nzDrawerContent>

    <nz-card nzType="inner" nzTitle="Agregar o modificar Sedes">
      <div nz-col nzSpan="24" style="display: flex;flex-direction: row-reverse; margin-bottom: 10px;">
        <nz-button-group nz-button style="text-align: right;">
          <a nz-tooltip nzTooltipTitle="{{ 'app.icon.add' | i18n }}">
            <button nz-button nzType="default" (click)="addNewItem()"><span nz-icon nzType="plus" nzTheme="outline"></span></button>
          </a>
          <a nz-tooltip nzTooltipTitle="{{ 'app.icon.delete' | i18n }}">
            <button nz-button nzType="default"  (click)="deleteItem()"><span nz-icon nzType="delete" nzTheme="outline"></span></button>
          </a>
        </nz-button-group>
      </div>
      @if ((columnsSedes$|async); as columnas) {
        <div nz-tab>
          <div class="gridContainer container-fluid">
            <angular-slickgrid gridId="gridEdit" [columns]="columnas  | colsFilter" [options]="gridOptionsEdit"
              [dataset]="(gridData$ | async) || []" (onAngularGridCreated)="angularGridReadyEdit($event)"
              (onSelectedRowsChanged)="handleSelectedRowsChanged($event)"  (onBeforeEditCell)="handleOnBeforeEditCell($event)">
            </angular-slickgrid>
          </div>
        </div>
      }


    </nz-card>
    <!-- <p>Debug Valores: {{formCli.value | json }}</p>  -->
  </ng-container>
</nz-drawer>