<nz-drawer [nzClosable]="false" [nzVisible]="visible()" [nzPlacement]="placement" [nzWidth]="640"
  [nzTitle]="'Sedes'" (nzOnClose)="visible.set(false)">
  <ng-container *nzDrawerContent>
    <nz-card nzType="inner" nzTitle="Agregar o modificar Sede del Centro de Capacitación">
    <form [formGroup]="formCli">
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Sede</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <nz-input-group>
          <app-centro-capacitacion-sede-search 
          formControlName="CentroCapacitacionSedeId"
          [CentroCapacitacionId]="CentroCapacitacionId() "
          [CentroCapacitacionSedeIdSelected]="0"></app-centro-capacitacion-sede-search>
          
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="btnCenter">
        <button nz-button nzType="primary" [disabled]="!formCli.dirty" (click)="saveSede()" [nzLoading]="isSaving()"> {{ 'app.btn.save' | i18n }}</button>
    </nz-form-item>
    </form>
    </nz-card>
    <!-- <p>Debug Valores: {{formCli.value | json }}</p>  -->
  </ng-container>
</nz-drawer>