<form nz-form ngForm>

    <br>
    <!-- <h1>editCustodiaId: {{editCustodiaId}}</h1> -->
    <nz-form-item class="marginElement">
      <nz-form-label [nzSpan]="3">Cliente</nz-form-label>
    
      <nz-form-control [nzSpan]="17">
        <nz-input-group style="width: 100%">
          <app-cliente-search name="clienteId" ngModel />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="marginElement">
      <nz-form-label [nzSpan]="3">Solicitado por</nz-form-label>
      <nz-form-control [nzSpan]="17">
        <nz-input-group style="width: 100%">
          <input nz-input placeholder="" ngModel name="descRequirente" type="text" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="marginElement">
      <nz-form-label [nzSpan]="3">Descripcion</nz-form-label>
    
      <nz-form-control [nzSpan]="17">
        <nz-input-group style="width: 100%">
          <textarea rows="5" nz-input name="descripcion" ngModel></textarea>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    
    <nz-form-item class="marginElement">
      <nz-form-label [nzSpan]="3">Fecha Inicial</nz-form-label>
    
      <nz-form-control [nzSpan]="17">
        <nz-input-group style="width: 100%">
          <nz-date-picker
            [nzShowTime]="{ nzFormat: 'HH:mm' }"
            ngModel
            name ="fechaInicio"
            (ngModelChange)="onChangePeriodo($event)"
          ></nz-date-picker>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="marginElement">
      <nz-form-label [nzSpan]="3">Origen</nz-form-label>
    
      <nz-form-control [nzSpan]="17">
        <nz-input-group style="width: 100%">
          <input nz-input placeholder="Direccion" ngModel name="origen" type="text" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="marginElement">
      <nz-form-label [nzSpan]="3">Fecha Final</nz-form-label>
    
      <nz-form-control [nzSpan]="17">
        <nz-input-group style="width: 100%">
          <nz-date-picker
            [nzShowTime]="{ nzFormat: 'HH:mm' }"
            ngModel
            name="fechaFinal"
          ></nz-date-picker>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="marginElement">
      <nz-form-label [nzSpan]="3">Destino</nz-form-label>
    
      <nz-form-control [nzSpan]="17">
        <nz-input-group style="width: 100%">
          <input nz-input placeholder="Direccion" ngModel name="destino" type="text" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>


    <nz-form-item class="marginElement">
      <nz-form-label [nzSpan]="3">Cant. módulos</nz-form-label>
      <nz-form-control [nzSpan]="6">
        <nz-input-group style="width: 100%">
          <input nz-input placeholder="" ngModel name="cantModulos" type="number" />
        </nz-input-group>
      </nz-form-control>

      <nz-form-label [nzSpan]="4">Importe módulo - Facturación</nz-form-label>
      <nz-form-control [nzSpan]="7">
        <nz-input-group style="width: 100%">
          <input nz-input placeholder="" ngModel name="importeModulos" type="number" (ngModelChange)="onChangeImpo()" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="marginElement">
      <nz-form-label [nzSpan]="3">Cant. Horas excedentes</nz-form-label>
      <nz-form-control [nzSpan]="6">
        <nz-input-group style="width: 100%">
          <input nz-input placeholder="" ngModel name="cantHorasExced" type="number" />
        </nz-input-group>
      </nz-form-control>

      <nz-form-label [nzSpan]="4">Importe hora excedente - Facturación</nz-form-label>
      <nz-form-control [nzSpan]="7">
        <nz-input-group style="width: 100%">
          <input nz-input placeholder="" ngModel name="impoHorasExced" type="number" (ngModelChange)="onChangeImpo()" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="marginElement">
      <nz-form-label [nzSpan]="3">Cant. Km excedentes</nz-form-label>
      <nz-form-control [nzSpan]="6">
        <nz-input-group style="width: 100%">
          <input nz-input placeholder="" ngModel name="cantKmExced" type="number" />
        </nz-input-group>
      </nz-form-control>

      <nz-form-label [nzSpan]="4">Importe Km excedente - Facturación</nz-form-label>
      <nz-form-control [nzSpan]="7">
        <nz-input-group style="width: 100%">
          <input nz-input placeholder="" ngModel name="impoKmExced" type="number" (ngModelChange)="onChangeImpo()" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="marginElement">
      <nz-form-label [nzSpan]="3">Importe Peajes - Facturación</nz-form-label>
      <nz-form-control [nzSpan]="7">
        <nz-input-group style="width: 100%">
          <input nz-input placeholder="" ngModel name="impoPeaje" type="number" (ngModelChange)="onChangeImpo()" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <br>
    @for (control of listInputPersonal; track control; let i = $index) {
      <nz-form-item class="marginElement">
        <nz-form-label  [nzSpan]="3">Personal</nz-form-label>
        <nz-form-control [nzSpan]="7">
            <app-personal-search ngModel name={{i+1}}personalId />
        </nz-form-control>
        <nz-form-control [nzSpan]="1">
          <button nz-button nzType="dashed" (click)="openDrawer(i+1+'personalId')">
            <span nz-icon nzType="user" nzTheme="outline"></span>
          </button>
        </nz-form-control>
        
        <nz-form-label  [nzSpan]="3">Importe - Facturación</nz-form-label>
        <nz-form-control [nzSpan]="5">
          <nz-input-group style="width: 100%">
            <input nz-input placeholder="" ngModel name={{i+1}}importePersonal type="number" (ngModelChange)="onChangeImpo()" />
          </nz-input-group>
        </nz-form-control>
        
        <nz-form-control [nzSpan]="2" style="text-align: center;">
          <button nz-button *ngIf="listInputPersonal.length == i+1" nzType="primary" class="add-button" (click)="addPersonal($event)">
            <span nz-icon nzType="plus"></span>
          </button>
          <button nz-button nzType="default" (click)="removePersonal(control, $event)">
            <span nz-icon nzType="delete" nzTheme="outline" ></span>
          </button>
        </nz-form-control>
      </nz-form-item>
      
    }
    <br>
    @for (control of listInputVehiculo; track control; let i = $index) {
      <nz-form-item class="marginElement">
        <nz-form-label  [nzSpan]="2"> Patente </nz-form-label>
        <nz-form-control [nzSpan]="2">
          <nz-input-group style="width: 100%">
            <input nz-input placeholder="" ngModel name={{i+1}}patente type="text" (blur)="searchDueno(i+1)"/>
          </nz-input-group>
        </nz-form-control>
        <nz-form-label  [nzSpan]="1"> Dueño </nz-form-label>
        <nz-form-control [nzSpan]="6">
          <nz-input-group style="width: 100%">
            <app-personal-search ngModel name={{i+1}}duenoId />
          </nz-input-group>
        </nz-form-control>
        <nz-form-label  [nzSpan]="3">Importe - Facturación</nz-form-label>
        <nz-form-control [nzSpan]="2">
          <nz-input-group style="width: 100%">
            <input nz-input placeholder="" ngModel name={{i+1}}importeVehiculo type="number" (ngModelChange)="onChangeImpo()" />
          </nz-input-group>
        </nz-form-control>
        <nz-form-label  [nzSpan]="1">Peaje</nz-form-label>
        <nz-form-control [nzSpan]="2">
          <nz-input-group style="width: 100%">
            <input nz-input placeholder="" ngModel name={{i+1}}peajeVehiculo type="number" />
          </nz-input-group>
        </nz-form-control>
        
        <nz-form-control [nzSpan]="2" style="text-align: center;">
          <button nz-button *ngIf="listInputVehiculo.length == i+1" nzType="primary" class="add-button" (click)="addVehiculo($event)">
            <span nz-icon nzType="plus"></span>
          </button>
          <button nz-button nzType="default" (click)="removeVehiculo(control, $event)">
            <span nz-icon nzType="delete" nzTheme="outline" ></span>
          </button>
        </nz-form-control>
      </nz-form-item>
      
    }
    <br>
    <nz-form-item class="marginElement">
      <nz-form-label [nzSpan]="3">Importe a Facturar</nz-form-label>
      <nz-form-control [nzSpan]="7">
        <nz-input-group style="width: 100%">
          <input nz-input placeholder="" ngModel name="facturacion" type="number" disabled />
        </nz-input-group>
      </nz-form-control>
      <nz-form-label [nzSpan]="2">Estado</nz-form-label>
      <nz-form-control [nzSpan]="7">
        <nz-select name="estado" nzPlaceHolder="Estado" ngModel nzAllowClear [nzDropdownMatchSelectWidth]="false" style="width: 100%">
          <ng-container *ngFor="let option of $optionsEstadoCust | async" >
            <nz-option [nzValue]="option.tipo" [nzLabel]="option.descripcion" ></nz-option>
          </ng-container>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control style="display: flex; justify-content: center; align-items: center;">    
        <button nz-popconfirm nzType="primary" nzPopconfirmTitle="Confirmar guardar cambios?" nz-button *ngIf="edit" (nzOnConfirm)="save()">
          Guardar Cambios
        </button>
      </nz-form-control>
      <!-- <nz-form-control style="display: flex; justify-content: center; align-items: center;">    
        <button nz-popconfirm nzType="primary" nzPopconfirmTitle="Confirmar accion?" nz-button *ngIf="editCustodiaId() && edit" (nzOnConfirm)="save(1)">
          Finalizar
        </button>
      </nz-form-control>
      <nz-form-control style="display: flex; justify-content: center; align-items: center;">    
        <button nz-popconfirm nzType="primary" nzPopconfirmTitle="Confirmar accion?" nz-button *ngIf="editCustodiaId() && edit" (nzOnConfirm)="save(2)">
          Cancelar
        </button>
      </nz-form-control> -->
    </nz-form-item>

</form>
<app-detalle-persona [anio]="periodo().year" [mes]="periodo().month" [SucursalId]="0"
  [PersonalId]="personalId()" [visible]="visibleDrawer" (onClose)="closeDrawer()"></app-detalle-persona>