<nz-card class="small-margin">
  @if (cambios()|async) {}
  <ng-container>
    <shared-filtro-builder #sfb [fieldsToSelect]="columns$ | async" (optionsChange)="listOptionsChange($event)" />

    @if(columns$ | async; as columnas) {
      <div class="gridContainer1 container-fluid">
        <angular-slickgrid 
          gridId="gridEdit1" 
          [columnDefinitions]="columnas | colsFilter"
          [gridOptions]="gridOptions" 
          [dataset]="(gridData$ | async) || []"
          (onAngularGridCreated)="angularGridReady($event)">
        </angular-slickgrid>
      </div>
    }
  </ng-container>
</nz-card> 