<div class="alain-default__content-title">
  <h1>
    Escritorio General
    <small>Bienvenido</small>
  </h1>
</div>
<div nz-row nzGutter="16">
  @if (adelantosPendientes$ | async; as adelantosPendientes) {
  <ng-container>
    @if (adelantosPendientes.data.adelantosTotal >0) {
    <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
      <div nz-row nzType="flex" nzAlign="middle" class="ant-btn-danger rounded-md">
        <div nz-col nzSpan="12" class="p-md text-white">
          <div class="h2 mt0">{{ adelantosPendientes.data.adelantosTotal }}</div>
          <p class="text-nowrap mb0">Adelantos pendientes de aprobación</p>
        </div>

      </div>
    </div>
    }
  </ng-container>
  }

  @if (cambioCategoriaPendientes$ | async; as cambioCategoriaPendientes) {
  <ng-container>
    @if (cambioCategoriaPendientes.data.total >0){
    <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
      <div nz-row nzType="flex" nzAlign="middle" class="ant-btn-danger rounded-md">
        <div nz-col nzSpan="12" class="p-md text-white ">
          <div class="h2 mt0">{{ cambioCategoriaPendientes.data.total }}</div>
          <a href="#/ges/cambio_categoria">
            <p class="text-nowrap mb0">Cambios Categorias pendientes</p>
          </a>
        </div>

      </div>
    </div>
    }
  </ng-container>
  }

  @if (licenciasInconsistentes$ | async; as licenciasInconsistentes) {
  <ng-container>
    @if (licenciasInconsistentes.data.total >0){
    <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
      <div nz-row nzType="flex" nzAlign="middle" class="ant-btn-danger rounded-md">
        <div nz-col nzSpan="12" class="p-md text-white ">
          <div class="h2 mt0">{{ licenciasInconsistentes.data.total }}</div>
          <a href="#/ges">
            <p class="text-nowrap mb0">{{ licenciasInconsistentes.data.mes }}/{{ licenciasInconsistentes.data.anio }}
              Licencias inconsistentes</p>
          </a>

        </div>

      </div>
    </div>
    }
  </ng-container>
  }
  @if (excepcionesPendientes$ | async; as excepcionesPendientes) {
  <ng-container>
    @if (excepcionesPendientes.data.excepcionesTotal>0){
    <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
      <div nz-row nzType="flex" nzAlign="middle" class="ant-btn-danger rounded-md">
        <div nz-col nzSpan="12" class="p-md text-white ">
          <div class="h2 mt0">{{ excepcionesPendientes.data.excepcionesTotal }}</div>
          <a href="#/ges/excepciones-asistencia">
            <p class="text-nowrap mb0">Excepciones pendientes de aprobación</p>
          </a>
        </div>
        <div nz-col nzSpan="12">
          <g2-mini-bar height="35" color="#fff" borderWidth="3" [padding]="[5, 30]"
            [data]="excepcionesPendientes.data.Excepciones" yTooltipSuffix="" (ready)="fixDark($event)"></g2-mini-bar>
        </div>
      </div>
    </div>
    }
  </ng-container>
  }
  @if (objetivosSinGrupo$ | async; as objetivosSinGrupo) {
  <ng-container>
    @if (objetivosSinGrupo.data.objetivossingrupoTotal>0) {
    <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
      <div nz-row nzType="flex" nzAlign="middle" class="ant-btn-danger rounded-md">
        <div nz-col nzSpan="12" class="p-md text-white ">
          <div class="h2 mt0">{{ objetivosSinGrupo.data.objetivossingrupoTotal }}</div>
          <p class="text-nowrap mb0">Objetivos sin Responsable</p>
        </div>
        <div nz-col nzSpan="12">
          <g2-mini-bar height="35" color="#fff" borderWidth="3" [padding]="[5, 30]"
            [data]="objetivosSinGrupo.data.objetivossingrupo" yTooltipSuffix="" (ready)="fixDark($event)"></g2-mini-bar>
        </div>
      </div>
    </div>
    }
  </ng-container>
  }
  @if (statsRecibosPendientes$ | async; as recibosPendientes) {
  <ng-container>
    <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
      <div nz-row nzType="flex" nzAlign="middle" class="ant-btn-danger rounded-md">
        <div nz-col nzSpan="12" class="p-md text-white ">
          <div class="h2 mt0">{{ (recibosPendientes.data.descargados * 100 / recibosPendientes.data.total) |
            number:'1.0-0' }}%</div>
          <p class="text-nowrap mb0">Recibos vistos {{recibosPendientes.data.mes}}/{{recibosPendientes.data.anio}}</p>
        </div>
        <div nz-col nzSpan="12">
        </div>
      </div>
    </div>
  </ng-container>
  }
  @if (objetivosSinAsistencia$ | async; as objetivosSinAsistencia) {
  <ng-container>
    @if (objetivosSinAsistencia.data.objetivosSinAsistenciaTotal > 0){
    <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
      <div nz-row nzType="flex" nzAlign="middle" class="ant-btn-danger rounded-md">
        <div nz-col nzSpan="12" class="p-md text-white ">
          <div class="h2 mt0">{{ objetivosSinAsistencia.data.objetivosSinAsistenciaTotal }}</div>
          <p class="text-nowrap mb0">{{ objetivosSinAsistencia.data.mes }}/{{ objetivosSinAsistencia.data.anio }}
            Objetivos sin asistencia</p>
        </div>
        <div nz-col nzSpan="12">
          <g2-mini-bar height="35" color="#fff" borderWidth="3" [padding]="[5, 30]"
            [data]="objetivosSinAsistencia.data.objetivosSinAsistencia" yTooltipSuffix=""
            (ready)="fixDark($event)"></g2-mini-bar>
        </div>
      </div>
    </div>
    }
  </ng-container>
  }
  @if (custodiasPendientes$ | async; as custodiasPendientes) {
  <ng-container>
    @if (custodiasPendientes.data.custodiasPendientesTotal > 0) {
    <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
      <div nz-row nzType="flex" nzAlign="middle" class="ant-btn-danger rounded-md">
        <div nz-col nzSpan="12" class="p-md text-white ">
          <div class="h2 mt0">{{ custodiasPendientes.data.custodiasPendientesTotal }}</div>
          <p class="text-nowrap mb0">{{ custodiasPendientes.data.mes }}/{{ custodiasPendientes.data.anio }} Custodias
            Pendientes</p>
        </div>
        <div nz-col nzSpan="12">
          <g2-mini-bar height="35" color="#fff" borderWidth="3" [padding]="[5, 30]"
            [data]="custodiasPendientes.data.custodiasPendientes" yTooltipSuffix=""
            (ready)="fixDark($event)"></g2-mini-bar>
        </div>
      </div>
    </div>
    }
  </ng-container>
  }
  @if (objetivosActivos$ | async; as objetivosActivos) {
  <ng-container>
    <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
      <div nz-row nzType="flex" nzAlign="middle" class="bg-primary rounded-md">
        <div nz-col nzSpan="12" class="p-md text-white">
          <div class="h2 mt0">{{ objetivosActivos.data.objetivosActivosTotal }}</div>
          <p class="text-nowrap mb0">Objetivos Activos</p>
        </div>
        <div nz-col nzSpan="12">
          <g2-mini-bar height="35" color="#fff" borderWidth="3" [padding]="[5, 30]"
            [data]="objetivosActivos.data.objetivosActivos" yTooltipSuffix="" (ready)="fixDark($event)"></g2-mini-bar>
        </div>
      </div>
    </div>
  </ng-container>
  }
  @if (clientesActivos$ | async; as clientesActivos) {
  <ng-container>
    <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
      <div nz-row nzType="flex" nzAlign="middle" class="bg-primary rounded-md">
        <div nz-col nzSpan="12" class="p-md text-white">
          <div class="h2 mt0">{{ clientesActivos.data.clientesActivosTotal }}</div>
          <p class="text-nowrap mb0">Clientes Activos</p>
        </div>
        <div nz-col nzSpan="12">
          <g2-mini-bar height="35" color="#fff" borderWidth="3" [padding]="[5, 30]"
            [data]="clientesActivos.data.clientesActivos" yTooltipSuffix="" (ready)="fixDark($event)"></g2-mini-bar>
        </div>
      </div>
    </div>
  </ng-container>
  }
  @if (objetivosSinAsistenciaCur$ | async; as objetivosSinAsistencia) {
  <ng-container>
    <div nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
      <div nz-row nzType="flex" nzAlign="middle" class="app-ant-btn-warning rounded-md">
        <div nz-col nzSpan="12" class="p-md text-black ">
          <div class="h2 mt0">{{ objetivosSinAsistencia.data.objetivosSinAsistenciaTotal }}</div>
          <p class="text-nowrap mb0">{{ objetivosSinAsistencia.data.mes }}/{{ objetivosSinAsistencia.data.anio }}
            Objetivos sin asistencia</p>
        </div>
        <div nz-col nzSpan="12">
          <g2-mini-bar height="35" color="#fff" borderWidth="3" [padding]="[5, 30]"
            [data]="objetivosSinAsistencia.data.objetivosSinAsistencia" yTooltipSuffix=""
            (ready)="fixDark($event)"></g2-mini-bar>
        </div>
      </div>
    </div>
  </ng-container>
  }
</div>


<div nz-row nzGutter="16">
  
  @if (custodiasPendientes$ | async; as custodiasPendientes) {
  <div nz-col nzXs="24" nzMd="24">
    @if (custodiasPendientes.data.custodiasPendientesTotal > 0){
    <nz-card [nzBordered]="false" [nzTitle]="objsinAsis">
      <ng-template #objsinAsis>
        Custodias pendientes {{ custodiasPendientes.data.mes }}/{{ custodiasPendientes.data.anio }}
        <small class="text-sm font-weight-normal">Custodias pendientes</small>
      </ng-template>
      <g2-pie height="275" [data]="custodiasPendientes.data.custodiasPendientes" [hasLegend]="true"
        [total]="custodiasPendientes.data.custodiasPendientesTotal"></g2-pie>
    </nz-card>
    }
  </div>
  }

  @if (objetivosSinAsistencia$ | async; as objetivosSinAsistencia) {
  <div nz-col nzXs="24" nzMd="24">
    @if (objetivosSinAsistencia.data.objetivosSinAsistenciaTotal > 0) {
    <nz-card [nzBordered]="false" [nzTitle]="objsinAsis">
      <ng-template #objsinAsis>
        Objetivos sin asistencia {{ objetivosSinAsistencia.data.mes }}/{{ objetivosSinAsistencia.data.anio }}
        <small class="text-sm font-weight-normal">Objetivos pendientes de carga por grupo</small>
      </ng-template>
      <g2-pie height="275" [data]="objetivosSinAsistencia.data.objetivosSinAsistencia" [hasLegend]="true"
        [total]="objetivosSinAsistencia.data.objetivosSinAsistenciaTotal"></g2-pie>
    </nz-card>
    }
  </div>
  }

  @if (custodiasPendientesCur$ | async; as custodiasPendientes) {
  <div nz-col nzXs="24" nzMd="24">
    @if (custodiasPendientes.data.custodiasPendientesTotal > 0) {
    <nz-card [nzBordered]="false" [nzTitle]="objsinAsis">
      <ng-template #objsinAsis>
        Custodias pendientes {{ custodiasPendientes.data.mes }}/{{ custodiasPendientes.data.anio }}
        <small class="text-sm font-weight-normal">Custodias pendientes</small>
      </ng-template>
      <g2-pie height="275" [data]="custodiasPendientes.data.custodiasPendientes" [hasLegend]="true"
        [total]="custodiasPendientes.data.custodiasPendientesTotal"></g2-pie>
    </nz-card>
    }
  </div>
  }

  @if (horasTrabajadas$ | async; as horasTrabajadas) {
  <div nz-col nzXs="24" nzMd="12">
    <nz-card [nzBordered]="false" [nzTitle]="horasTrab">
      <ng-template #horasTrab>
        Horas trabajadas
        <small class="text-sm font-weight-normal">Se calculan las horas totales ingresadas en la liquidación</small>
      </ng-template>
      <!-- <g2-bar #g2horas height="275" [data]="horasTrabajadas.data.horasTrabajadas" title="hola" autoLabel="true"></g2-bar> -->
      <g2-custom #g2horascustom height="275" autoLabel="true" (render)="render($event)"></g2-custom>
    </nz-card>
  </div>
  }

  @if (objetivosActivos$ | async; as objetivosActivos) {
  <div nz-col nzXs="24" nzMd="12">
    <nz-card [nzBordered]="false" [nzTitle]="objetivosTitle">
      <ng-template #objetivosTitle>
        Objetivos Activos
        <small class="text-sm font-weight-normal">Objetivos con contrato vigente</small>
      </ng-template>
      <g2-bar height="275" [data]="objetivosActivos.data.objetivosActivos"></g2-bar>
    </nz-card>
  </div>
  }
  @if (clientesActivos$ | async; as clientesActivos) {
  <div nz-col nzXs="24" nzMd="12">
    <nz-card [nzBordered]="false" [nzTitle]="clientesTitle">
      <ng-template #clientesTitle>
        Clientes Activos
        <small class="text-sm font-weight-normal">Clientes con contrato vigente</small>
      </ng-template>
      <g2-bar height="275" [data]="clientesActivos.data.clientesActivos"></g2-bar>
    </nz-card>
  </div>
  }
</div>