<nz-form-item>
  <nz-form-control>
    @if(files().length > 0 ){
    <ng-container class="" *ngFor="let filesAdd of files() ">

 @if(!filesAdd.delete ){
    @if(filesAdd.id ){

       <!-- <P>{{filesAdd | json}}</P>  -->
      <div class="containerAnteriores">
        @if(isDisabled()==false && !filesAdd.update){
        <a nz-popconfirm nzPopconfirmTitle="Seguro que desea actualizar el archivo?"
          (nzOnConfirm)="confirmUpdateArchivo(filesAdd)" nzPopconfirmPlacement="top" nzDanger nz-icon
          nzType="swap" nzTheme="outline" class="swap-color"></a>
        }

        @if(filesAdd.update){
      

        <nz-upload [nzAccept]="fileAccept()" nzAction="/api/file-upload/upload" nzName="pdf" [nzLimit]="1"
        [nzShowUploadList]="false" (nzChange)="uploadChange($event,filesAdd)">
        <a nz-icon nzType="upload" nzTheme="outline" nz-tooltip nzTooltipTitle="Subir nuevo archivo"></a>
        </nz-upload>
       
        }
        <p>filesAdd.mimetype</p>{{filesAdd.mimetype}}
        <p>previewFile</p>{{previewFile()}}
        <p>tableForSearch</p>{{tableForSearch()}}
        @if ((filesAdd.mimetype.toLowerCase() == 'jpeg' || filesAdd.mimetype.toLowerCase() == 'jpg' || filesAdd.mimetype.toLowerCase() == 'png' || forceImg()) &&
        previewFile()) {
        <img nz-image alt=""
          nzSrc="api/file-upload/downloadFile/{{filesAdd.id}}/{{tableForSearch()}}/{{forceImg()?'image':'original'}}"
          class="image-content" />
        }
        @if (filesAdd.mimetype.toLowerCase() == 'pdf' && !forceImg() && previewFile() && !filesAdd.update) {
        <img nz-image alt="" nzSrc="api/file-upload/downloadFile/{{filesAdd.id}}/{{tableForSearch()}}/thumb"
          class="image-content" />
        <a nz-icon nzType="search" nzTheme="outline"
          (click)="LoadArchivo(filesAdd.id,tableForSearch(),filesAdd.tempfilename)"></a>
        }

        {{filesAdd.nombre}}

        @if(!filesAdd.update){
        <a nz-icon nzType="download" nzHref="filesAdd.path" target="_blank" nzTheme="outline" class="download-color"
          app-down-file [httpMethod]="'POST'"
          httpUrl="api/file-upload/downloadFile/{{filesAdd.id}}/{{tableForSearch()}}/original">  </a>
        }
      </div>
    }@else{

      <div class="containerAnteriores" >

        @if(isDisabled()==false){
        <span (click)="confirmUpdateArchivo(filesAdd)" nz-button
          nzType="primary" nzDanger nz-icon nzType="delete" nzTheme="outline" class="swap-trash cursor-pointer"></span>
        }
        @if (filesAdd.mimetype.includes('image') && previewFile()) {
        <img nz-image class="image-content" nzSrc="api/file-upload/downloadFile/{{filesAdd.tempfilename}}/temp/original"
          alt="" />
        }
        @if (filesAdd.mimetype.includes('pdf') && previewFile()) {
        <a nz-icon nzType="search" nzTheme="outline"
          (click)="LoadArchivo(filesAdd.tempfilename,'temp',filesAdd.originalname)"></a>
        }

        <a nz-icon nzType="download" nzHref="licencia.path" target="_blank" nzTheme="outline" class="download-color"
          app-down-file [httpMethod]="'POST'"
          httpUrl="api/file-upload/downloadFile/{{filesAdd.tempfilename}}/temp/original">{{filesAdd.originalname}}</a>
      </div>
    }
  }

    </ng-container>
    }
  </nz-form-control>

</nz-form-item>


@if(isDisabled()==false && cantFiles()){

<nz-form-item>
  <nz-form-control class="BtnUploadFile">
    <ng-container>

      @if(showTipoDocs()){
      <nz-select nzShowSearch nzPlaceHolder="Seleccione un tipo" [(ngModel)]="tipoSelected"
        [nzDropdownMatchSelectWidth]="false" style="margin: 10px;">
        <!-- Filtrar en funcion de docTiposValidos()-->
        @for (option of textForSearchSelected(); track option.doctipo_id) {
        <ng-container>
          @if(docTiposValidos().includes(option.doctipo_id) || docTiposValidos()[0] === '') {
          <nz-option [nzValue]="option.doctipo_id" [nzLabel]="option.detalle"></nz-option>
          }
        </ng-container>
        }
      </nz-select>

      }
      <!-- image/* .pdf.pdf,image/* -->
      <nz-upload [nzAccept]="fileAccept()" nzAction="/api/file-upload/upload" nzName="pdf" [nzLimit]="1"
        [nzShowUploadList]="false" (nzChange)="uploadChange($event,null)">
        <button nz-button [disabled]="tipoSelected() == ''">
          <span nz-icon nzType="upload"></span>
          {{ 'app.btn.file' | i18n }}
        </button>
      </nz-upload>
    </ng-container>
  </nz-form-control>
</nz-form-item>
}
<nz-modal [(nzVisible)]="modalViewerVisiable" nzTitle="" nzWidth="700" nzOkDisabled="true"
  (nzOnCancel)="handleCancel()">
  <ng-container *nzModalContent>
    <ngx-extended-pdf-viewer [src]="src()" [height]="'auto'" [textLayer]="true" [showHandToolButton]="false"
      [filenameForDownload]="FileName()">
    </ngx-extended-pdf-viewer>

  </ng-container>
</nz-modal>