<nz-form-item>
  <nz-form-control>
    @if($files | async; as filesinDB;){
      @if (filesinDB.length==0){
        <div class="">Sin archivo adjunto</div>
        }
    <ng-container *ngFor="let files of filesinDB">
      <div class="containerAnteriores" nz-tooltip nzTooltipTitle={{files.nombre}}>
        @if(isDisabled()==false){
          <a nz-popconfirm nzPopconfirmTitle="Seguro que desea eliminar dicho archivo?"
            (nzOnConfirm)="confirmDeleteArchivo(files.id,false)" nzPopconfirmPlacement="top"  
            nzDanger nz-icon nzType="delete" nzTheme="outline" class="trash-color"></a>
        }
        @if ((files.TipoArchivo == 'JPEG' || files.TipoArchivo == 'JPG' || files.TipoArchivo == 'PNG' || forceImg()) && previewFile()) {
        <img nz-image alt="" nzSrc="api/file-upload/downloadFile/{{files.id}}/{{tableForSearch()}}/{{forceImg()?'image':'original'}}"
        class="image-content" />
        }
        @if (files.TipoArchivo == 'PDF' && !forceImg() && previewFile()) {
        <img nz-image alt="" nzSrc="api/file-upload/downloadFile/{{files.id}}/{{tableForSearch()}}/thumb" class="image-content" />
        <a nz-icon nzType="search" nzTheme="outline" (click)="LoadArchivo(files.id,tableForSearch(),files.filename)"></a>
        }

        <a nz-icon nzType="download" nzHref="files.path" target="_blank" nzTheme="outline" class="download-color"
          app-down-file [httpMethod]="'POST'"
          httpUrl="api/file-upload/downloadFile/{{files.id}}/{{tableForSearch()}}/original"> {{files.nombre}} </a>
        
      </div>
    </ng-container>
    } 
    @if(files().length > 0){
    <ng-container class="" *ngFor="let filesAdd of files() " >
      <div class="containerAnteriores" nz-tooltip nzTooltipTitle={{filesAdd.fieldname}}>
        @if(isDisabled()==false){
        <span nz-popconfirm nzPopconfirmTitle="Seguro que desea eliminar dicho archivo?"
          (nzOnConfirm)="confirmDeleteArchivo(filesAdd.fieldname,true)" nzPopconfirmPlacement="top" nz-button
          nzType="primary" nzDanger nz-icon nzType="delete" nzTheme="outline" class="trash-color cursor-pointer"></span>
        }



        @if (filesAdd.mimetype.includes('image') && previewFile()) {
          <img nz-image class="image-content" nzSrc="api/file-upload/downloadFile/{{filesAdd.filename}}/temp/original" alt=""/>
        } 
        @if (filesAdd.mimetype.includes('pdf') && previewFile()) {
          <a nz-icon nzType="search" nzTheme="outline" (click)="LoadArchivo(filesAdd.filename,'temp',filesAdd.originalname)"></a>
        }

        <a nz-icon nzType="download" nzHref="licencia.path" target="_blank" nzTheme="outline" class="download-color"
          app-down-file [httpMethod]="'POST'"
          httpUrl="api/file-upload/downloadFile/{{filesAdd.filename}}/temp/original">{{filesAdd.originalname}}</a>
      </div>
    </ng-container>
    }
  </nz-form-control>

</nz-form-item>

@if(showTipoDocs()){
    <nz-form-item style=" justify-content: center;">
      <nz-select nzShowSearch nzPlaceHolder="Seleccione un tipo" [(ngModel)]="tipoSelected" [nzDropdownMatchSelectWidth]="false">
        <!-- Filtrar en funcion de docTiposValidos()-->
        @for (item of textForSearchSelected(); track item) {
          <nz-option [nzLabel]="item.trim()" [nzValue]="item.trim()"></nz-option>
        }
      </nz-select>
    </nz-form-item>
  }

@if(isDisabled()==false && cantFiles()){
  
<nz-form-item >
  <nz-form-control class="BtnUploadFile" >
    <ng-container>
      <!-- image/*
        .pdf
        .pdf,image/* -->
      <nz-upload [nzAccept]="fileAccept()" nzAction="/api/file-upload/upload" nzName="pdf" [nzLimit]="1"
        [nzShowUploadList]="false" (nzChange)="uploadChange($event)" >
        <button nz-button [disabled]="tipoSelected() == ''">
          <span nz-icon nzType="upload"></span>
          {{ 'app.btn.file' | i18n }}
        </button>
      </nz-upload>
    </ng-container>
  </nz-form-control>
</nz-form-item>
}
<nz-modal [(nzVisible)]="modalViewerVisiable" nzTitle="" nzWidth="700" nzOkDisabled="true"
  (nzOnCancel)="handleCancel()">
  <ng-container *nzModalContent>
    <ngx-extended-pdf-viewer [src]="src()" [height]="'auto'" [textLayer]="true" [showHandToolButton]="false"
      [filenameForDownload]="FileName()">
    </ngx-extended-pdf-viewer>

  </ng-container>
</nz-modal>