<nz-drawer [nzClosable]="false" [nzVisible]="visibleResponsable()" [nzPlacement]="placement" [nzWidth]="640"
  [nzTitle]="'Historial de Responsables de: '  + PersonalNombre()" (nzOnClose)="visibleResponsable.set(false)">
  <ng-container *nzDrawerContent>
    <nz-card nzType="inner" nzTitle="Reasignar a nuevo Grupo Actividad">
      <form [formGroup]="formResponsable">
        <nz-form-item class="marginElement">
          <nz-form-label [nzXs]="5">Grupo Actividad</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="GrupoActividadId" nzPlaceHolder="Grupo Actividad" nzAllowClear
              [nzDropdownMatchSelectWidth]="false" nzShowSearch>
              @for (option of $optionsResponsable | async; track option) {
                <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
              }
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="marginElement">
          <nz-form-label [nzXs]="5">Desde</nz-form-label>
          <nz-form-control>
            <nz-date-picker  formControlName="Desde"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control style="display: flex; justify-content: center; align-items: center;">
            <button nzType="primary" nz-button (click)="save()" [nzLoading]="isLoading()" [disabled]="formResponsable.pristine">
              {{ 'app.btn.save' | i18n }}
            </button>
          </nz-form-control>
        </nz-form-item>

      </form>
    </nz-card>

    @if($listaResponsablePer | async; as listaResponsablePer){
      <nz-form-control >
        <nz-table #responPer [nzData]="listaResponsablePer" nzSize="small" [nzPageSize]="100000000"
          [nzShowPagination]="false" [nzScroll]="{ x: '500px' }">
          <thead>
            <tr>
              <th nzWidth="80px">Numero</th>
              <th>Grupo Actividad</th>
              <th>Supervisor</th>
              <th nzWidth="95px">Desde</th>
              <th nzWidth="95px">Hasta</th>
            </tr>
          </thead>
          <tbody>
            @for (item of responPer.data; track item.id) {
              <tr class="">
                <td>{{ item.Numero }}</td>
                <td>{{ item.Detalle }}</td>
                <td>{{ item.Supervisor }}</td>
                <td>{{ item.Desde }}</td>
                <td>{{ item.Hasta }}</td>
              </tr>

            }

          </tbody>
        </nz-table>
      </nz-form-control>
    }
  </ng-container>
</nz-drawer>