<ng-template #cardtmpl let-cardpersona="ctx">
  <div class="card-holder">
    <img class="card-logo" src="./assets/card-logo.svg" />
    <div class="card-foto-container">
      <img class="card-foto" [src]="'api/file-upload/downloadImg/'+cardpersona.PersonalFotoId+'/DocumentoImagenFoto/image' "
        (load)="decImageLoading()"
        onerror="this.src='./assets/dummy-person-image.jpg'; "  />
        @if (imageIsLoading()>=1){
          <div class="is-image-loading">Cargando Imagen</div>
        }
      </div>


      <nz-qrcode [nzValue]="'https://linceseguridad.com.ar'" [nzPadding]="0" class="card-qr"
      [nzSize]="65"></nz-qrcode>

      <div class="card-data card-data-text">
        <div class="card-data-categoria"><span>Categoría: </span><span class="card-data-text-var">{{
      cardpersona.CategoriaPersonalDescripcion || "N/D"}}</span></div>
      <div><span>Apellido: </span><span class="card-data-text-var"> {{ cardpersona.PersonalApellido || "N/D"
    }}</span></div>
    <div><span>Nombre: </span><span class="card-data-text-var"> {{ cardpersona.PersonalNombre || "N/D"}}</span>
  </div>
  <div><span>CUIT: </span><span class="card-data-text-var">{{ (cardpersona.PersonalCUITCUILCUIT | CUIT) ||
"N/D" }}</span></div>
<div><span>Vencimiento: </span><span class="card-data-text-var">{{ cardpersona.FechaHasta |
date:"dd/MM/yyyy"}}</span></div>
</div>
<span class="card-footer">Lince Seguridad Tel: 0800-444-5462 Atención 24hs</span>
@if (cardpersona.Faltantes) {
  <span class="card-error">Datos Faltantes</span>
}
</div>
</ng-template>

<ng-container>
  @for (cardpers of personal(); track cardpers; let i = $index) {
    <nz-card class="card-inline-block">
      <div *ngTemplateOutlet="cardtmpl;context:{ctx:cardpers}"></div>
      @if (cardpers.PersonalApellido && showPrintBtn) {
        <button nz-button nzType="primary" [nzSize]="'large'"
          (click)="printCards([cardpers])">
          <span nz-icon nzType="printer"></span>Imprime</button>
        }
        @if (cardpers.PersonalApellido && !showPrintBtn) {
          <button nz-button nzType="primary" [nzSize]="'small'"
            (click)="personal().splice(i, 1)">
            <span nz-icon nzType="delete" nzTheme="outline"></span>Elimina
          </button>
        }
      </nz-card>
    }
    @if (personal().length > 0 && !showPrintBtn) {
      <button nz-button nzType="primary" [nzSize]="'large'" [disabled]="printDisabled()"
        (click)="printCards(personal())" style="display: block;">
        <span nz-icon nzType="printer"></span>Imprime {{ personal().length }} credencial/es
      </button>
    }

  </ng-container>