.card-holder {
    background-color: rgb(247, 247, 245);
    width: 10cm;
    height: 5cm;
    border-radius: 5px;
    border: solid 1px;
    position: relative;
}

.card-foto-container {
    height: 4cm;
    width: 4cm;
    margin: 0.2cm;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.card-foto {
    max-height: 100%;
    max-width: 100%;
}


.card-logo {
    height: 1.8cm;
    margin: 0.2cm;
    float: right;
}



.card-data {
    position: absolute;
    top: 2.1cm;
    left: 4.5cm;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.card-data-text {
    font-size: 0.3cm;
    font-weight: normal;
}

.card-data-text-var {
    font-weight: bold;
}

.card-firstname {
    display: inline-block;
}

.card-lastname {
    display: inline-block;

}

.card-category {
    display: inline-block;

}

.card-card-cuit {
    display: inline-block;

}

.card-timeend {
    display: inline-block;

}

.card-footer {
    font-size: 0.22cm;
    position: absolute;
    bottom: 0cm;
    left: 0cm;
    width: 100%;
    text-align: center;
}
