<ng-container>
    <nz-card>
    <div #credcard>
        <div class="card-holder">
            <img class="card-logo" nz-image nzSrc="./assets/card-logo.svg" />
            <div class="card-foto-container">
                <img class="card-foto" nz-image [nzSrc]="personal.image" nzFallback="./assets/dummy-person-image.jpg" />
            </div>
        
            <div class="card-data card-data-text">
                <div><span>Categoría: </span><span class="card-data-text-var">{{ personal.CategoriaPersonalDescripcion || "N/D"}}</span></div>
                <div><span>Apellido: </span><span class="card-data-text-var"> {{ personal.PersonalApellido || "N/D" }}</span></div>
                <div><span>Nombre: </span><span class="card-data-text-var"> {{ personal.PersonalNombre || "N/D"}}</span></div>
                <div><span>CUIT: </span><span class="card-data-text-var">{{ (personal.PersonalCUITCUILCUIT | CUIT) || "N/D" }}</span></div>
                <div><span>Vencimiento: </span><span class="card-data-text-var">{{ personal.FechaHasta | date:"dd/MM/yyyy" || "N/D"}}</span></div>
            </div>
            <span class="card-footer">Lince Seguridad Tel: 0800-444-5462 Atención 24hs</span>
        </div>
    </div>
    </nz-card>
    <button *ngIf="personal.PersonalApellido" nz-button nzType="primary" [nzSize]="'large'" (click)="printCard()">
        <span nz-icon nzType="printer"></span>Imprime</button>
</ng-container>
