<ng-template #cardtmpl let-cardpersona="ctx">
    <div class="card-holder">
        <img class="card-logo" nz-image nzSrc="./assets/card-logo.svg" />
        <div class="card-foto-container">
            <img class="card-foto" nz-image
                nzSrc="api/file-upload/downloadFile/{{cardpersona.PersonalFotoId}}/DocumentoImagenFoto/image"
                nzFallback="./assets/dummy-person-image.jpg" (load)="imageIsLoading.set(false)"
                (error)="imageIsLoading.set(false)" />
            @if (imageIsLoading()){
                <div class="is-image-loading">Cargando Imagen</div>
            }
        </div>


        <nz-qrcode [nzValue]="'https://linceseguridad.com.ar'" [nzPadding]="0" class="card-qr"
            [nzSize]="65"></nz-qrcode>

        <div class="card-data card-data-text">
            <div class="card-data-categoria"><span>Categoría: </span><span class="card-data-text-var">{{
                    cardpersona.CategoriaPersonalDescripcion || "N/D"}}</span></div>
            <div><span>Apellido: </span><span class="card-data-text-var"> {{ cardpersona.PersonalApellido || "N/D"
                    }}</span></div>
            <div><span>Nombre: </span><span class="card-data-text-var"> {{ cardpersona.PersonalNombre || "N/D"}}</span>
            </div>
            <div><span>CUIT: </span><span class="card-data-text-var">{{ (cardpersona.PersonalCUITCUILCUIT | CUIT) ||
                    "N/D" }}</span></div>
            <div><span>Vencimiento: </span><span class="card-data-text-var">{{ cardpersona.FechaHasta |
                    date:"dd/MM/yyyy" || "N/D"}}</span></div>
        </div>
        <span class="card-footer">Lince Seguridad Tel: 0800-444-5462 Atención 24hs</span>
        <span *ngIf="cardpersona.Faltantes" class="card-error">Datos Faltantes</span>
    </div>
</ng-template>

<ng-container>
    <nz-card *ngFor="let cardpers of personal; let i = index" class="card-inline-block">
        <div *ngTemplateOutlet="cardtmpl;context:{ctx:cardpers}"></div>

        <button *ngIf="cardpers.PersonalApellido && showPrintBtn" nz-button nzType="primary" [nzSize]="'large'"
            (click)="printCards([cardpers])">
            <span nz-icon nzType="printer"></span>Imprime</button>
        <button *ngIf="cardpers.PersonalApellido && !showPrintBtn" nz-button nzType="primary" [nzSize]="'small'"
            (click)="personal.splice(i, 1)">
            <span nz-icon nzType="delete" nzTheme="outline"></span>Elimina
        </button>
    </nz-card>
    <button *ngIf="personal.length > 0 && !showPrintBtn" nz-button nzType="primary" [nzSize]="'large'"
        (click)="printCards(personal)" style="display: block;">
        <span nz-icon nzType="printer"></span>Imprime {{ personal.length }} credencial/es
    </button>

</ng-container>