<nz-card class="small-margin">
  <br>

  <form [formGroup]="formAltaDesc">

    <nz-form-item class="marginElement">
      <nz-form-label [nzXs]="4">Tipo de Carga</nz-form-label>
      <nz-form-control [nzMd]="5">
        <nz-select formControlName="tableName" nzPlaceHolder="" nzAllowClear
          [nzDropdownMatchSelectWidth]="false" nzShowSearch>
          <ng-container *ngFor="let option of $optionsTable | async">
            <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
          </ng-container>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
      

    <nz-form-item *ngIf="tableName() === 'PersonalOtroDescuento'">
      <nz-form-label [nzXs]="4">Tipo de Descuento Personal</nz-form-label>
      <nz-form-control [nzMd]="5">
        <nz-select formControlName="DescuentoId" nzPlaceHolder="Descripcion" nzAllowClear
          [nzDropdownMatchSelectWidth]="false" nzShowSearch>
          <ng-container *ngFor="let option of $optionsTipo | async">
            <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
          </ng-container>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="tableName() === 'ObjetivoDescuento'">
      <nz-form-label [nzXs]="4">Tipo de Descuento Objetivo</nz-form-label>
      <nz-form-control [nzMd]="5">
        <nz-select formControlName="DescuentoId" nzPlaceHolder="Descripcion" nzAllowClear
          [nzDropdownMatchSelectWidth]="false" nzShowSearch>
          <ng-container *ngFor="let option of $optionsTipo | async">
            <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
          </ng-container>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

   <!--<nz-form-item>
      <nz-form-label class="inputText" [nzXs]="4">Archivo Descuento</nz-form-label>
      <nz-form-control>
        <nz-upload nzAccept="application/xls" nzAction="/api/gestion-descuentos/upload" [nzData]="{
            anio: anio(),
            mes: mes(),
            tableName: tableName(),
            descuentoId: DescuentoId(),
        }" nzName="xls" [nzLimit]="1" [nzShowUploadList]="false" (nzChange)="uploadChange($event)">
          <button nz-button>
            <span nz-icon nzType="upload"></span>
            {{ 'app.btn.XLS' | i18n }}
          </button>
        </nz-upload>
        </nz-form-control>
    </nz-form-item> -->


    <nz-form-item class="nfi-margin-bottom" style="margin-top: 12px;">
      <nz-form-label [nzXs]="4" class="inputText">Archivo Descuentos</nz-form-label>   
        <app-file-upload formControlName="files" [idForSearh]="0" [cantMaxFiles]="1" [textForSearch]="'DES'"
        [columnForSearch]="'DocumentoId'" [tableForSearch]="'documento'" [showTipoDocs]="false"></app-file-upload>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label class="inputText" >Importaciones anteriores</nz-form-label>
      <nz-form-control>
        <ng-container *ngFor="let movimiento of $importacionesAnteriores | async">
          <!-- <ng-container > -->
          <div  class="containerAnterioresDescuentos" nz-tooltip nzTooltipTitle={{1}}>
             <ng-container>
                <a app-down-file  httpUrl="/api/telefonia/download/{{anio()}}/{{mes()}}/{{movimiento.DocumentoId}}">
                <span nz-icon nzType="download" ></span></a>
              </ng-container>
            <span> ID: {{movimiento.DocumentoId}} - Fecha: {{movimiento.DocumentoMes}}/{{movimiento.DocumentoAnio}} </span>
          </div>
        </ng-container>
      </nz-form-control>
    </nz-form-item>
  </form>

  <div nz-tab>
    <div class="gridErrorPer container-fluid">
      <angular-slickgrid *ngIf="tableName() === 'PersonalOtroDescuento'"
        gridId="gridErrorPer" [columnDefinitions]="columnsPer  | colsFilter" [gridOptions]="gridOptionsPer"
        [dataset]="(gridDataImport$ | async) || []" (onAngularGridCreated)="angularGridReady($event)" >
      </angular-slickgrid>
    </div>
  </div>

  <div nz-tab>
    <div class="gridErrorObj container-fluid">
      <angular-slickgrid *ngIf="tableName() === 'ObjetivoDescuento'"
        gridId="gridErrorObj" [columnDefinitions]="columnsObj  | colsFilter" [gridOptions]="gridOptionsObj"
        [dataset]="(gridDataImport$ | async) || []" (onAngularGridCreated)="angularGridReady($event)" >
      </angular-slickgrid>
    </div>
  </div>
    
</nz-card>