<nz-card #tabcondventa class="small-margin">

  <ng-container>
    <shared-filtro-builder  [fieldsToSelect]="columns()" [startFilters]="startFilters()" [keyLocalstorage]="constructor.name" [(options)]="listOptions" />

    <div class="gridContainerCondVenta container-fluid">
      <angular-slickgrid gridId="gridCondVenta" [columns]="columns() | colsFilter" [options]="gridOptions"
        [dataset]="gridData.value()" (onAngularGridCreated)="angularGridReady($event)"
        (onSelectedRowsChanged)="handleSelectedRowsChanged($event)">
      </angular-slickgrid>
    </div>
  </ng-container>
</nz-card>