<nz-card #tabcondventa class="small-margin">

  <ng-container>
    <shared-filtro-builder  [fieldsToSelect]="columnsData() | async" [startFilters]="startFilters()" [keyLocalstorage]="constructor.name"  (optionsChange)="listOptionsChange($event)" />

    @if(columnsData() | async; as columnas) {
    <div class="gridContainerCondVenta container-fluid">
      <angular-slickgrid gridId="gridCondVenta" [columns]="columnas | colsFilter" [options]="gridOptions"
        [dataset]="data()" (onAngularGridCreated)="angularGridReady($event)"
        (onSelectedRowsChanged)="handleSelectedRowsChanged($event)">
      </angular-slickgrid>
    </div>
    }
  </ng-container>
</nz-card>