<nz-card #tabcondventa class="small-margin">

  <ng-container>
    <shared-filtro-builder #sfb [fieldsToSelect]="columns$ | async" [startFilters]="startFilters()" [keyLocalstorage]="'table-condicion-venta'"  (optionsChange)="listOptionsChange($event)" />

    @if(columns$ | async; as columnas) {
    <div class="gridContainerCondVenta container-fluid">
      <angular-slickgrid gridId="gridCondVenta" [columns]="columnas | colsFilter" [options]="gridOptions"
        [dataset]="(gridData$ | async) || []" (onAngularGridCreated)="angularGridReady($event)"
        (onSelectedRowsChanged)="handleSelectedRowsChanged($event)">
      </angular-slickgrid>
    </div>
    }
  </ng-container>
</nz-card>