@media (min-width: 768px) {
    .listStyle {
      
      margin-top: -2rem;
      justify-content: center;
      display: flex;
    }
  }

  .contentStyle{
    display: flex;
    justify-content: center; 
    align-items: center;
}

.listStyletex{
    flex: initial;
}


.row-error,
.row-error .slick-cell {
  background-color: #ffd6d6 !important;
}

.row-completado,
.row-completado .slick-cell {
  background-color: #d6f5d6 !important;
}

.slick-cell.cell-error {
  background-color: #ffd6d6 !important;
}

.slick-cell.cell-completado {
  background-color: #d6f5d6 !important;
}