<!-- 
<nz-form-item>
    <nz-form-label [nzSpan]="2">Periodo</nz-form-label>
    <nz-form-control>
     
    </nz-form-control>
  </nz-form-item> -->
  
  <nz-form-item >
    <nz-form-label [nzSpan]="3">Fecha</nz-form-label>
    <nz-date-picker nzMode="month" name="periodo" ngModel (ngModelChange)="dateChange($event)" />
  </nz-form-item>

  <nz-form-item>
    
    <nz-form-label [nzSpan]="3">Persona</nz-form-label>

    <nz-form-control [nzSpan]="17">
      <ng-template>
        <a (click)="openDrawer()"><span nz-icon nzType="user" nzTheme="outline"></span></a>
      </ng-template>
      <nz-input-group style="width: 100%">
        <app-personal-search name="PersonalId" [(ngModel)]="selectedPersonalId"
          (ngModelChange)="selectedValueChange($event, Busqueda.Personal)" ngModel />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="3">Header</nz-form-label>

    <nz-form-control [nzSpan]="17">
        <textarea rows="3" nz-input ></textarea> 
      </nz-form-control>
      <nz-form-control [nzSpan]="17" >
        <h4 style="font-size: 11px !important; margin-left:20%">*IMPORTANTE: variables necesarias en el HTML - MES: (mes) AÑO: (anio) Id del recibo: (idrecibo) Fecha: (fechaFormateada) </h4>
    </nz-form-control>


  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="3">Body</nz-form-label>

    <nz-form-control [nzSpan]="17">
        <textarea rows="3" nz-input ></textarea> 
      </nz-form-control>

      <nz-form-control [nzSpan]="17" >
        <h4 style="font-size: 11px !important; margin-left:20%">*IMPORTANTE: variables necesarias en el HTML - Nombre: (PersonaNombre) Cuit: (Cuit) Domicilio: (Domicilio) Asociado: (asociado)
        Grupo: (grupo) Detalle Adelanto: (textadelanto) Detalle Retribucion: (textingreso) Detalle retencion: (textegreso) 
        Retribucion neta: (textneto) (neto) Detalle deposito (textdeposito) </h4>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="3">Footer</nz-form-label>

    <nz-form-control [nzSpan]="17">
        <textarea rows="3" nz-input ></textarea> 
      </nz-form-control>

      <nz-form-control [nzSpan]="17" >
        <h4 style="font-size: 11px !important; margin-left:20%">*IMPORTANTE: variables necesarias en el HTML - Imagen: (imgBase64inaes) </h4>
    </nz-form-control>
  </nz-form-item>


  <nz-form-item>
    <nz-form-control style="display: flex; justify-content: center; align-items: center;">

      <button  nz-popconfirm nzType="primary" class="btn-add"
        nzPopconfirmTitle="Confirmar genear prueba?" (nzOnConfirm)="generateRecibo(true)" nzPopconfirmPlacement="topLeft"
        nz-button>
        Generar Prueba
      </button>

      <button  nz-popconfirm nzType="primary" class="btn-add"
      nzPopconfirmTitle="Confirmar guardar cambios?" (nzOnConfirm)="generateRecibo(false)"  nzPopconfirmPlacement="topLeft"
      nz-button>
      Guardar Cambios
    </button>


    <li app-down-file [httpMethod]="'POST'"
        [httpBody]="{'Anio':selectedPeriod.year,'Mes':selectedPeriod.month}"
        httpUrl="/api/recibos/recibosconfig" notificationMsg="test">
        <span nz-icon nzType="download"></span><span style="white-space: normal;">test</span>
      </li>

    </nz-form-control>
  </nz-form-item>


