input[type="file"] {
    display: none;
}

.custom-file-upload {
    background-color: #5AD2F4;
    aspect-ratio: 2 / 1;
    width: fit-content;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.custom-file-upload > label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: clamp(0.7rem, 2.5vw, 1rem); 	
    color: azure;
    font-weight: 1000;
    text-shadow: 0px 0px 2px black, 0px 0px 2px black;
    /* text-shadow: 0px 0px 0px pink; */
    /* border-color: aquamarine; */
    /* border-style: solid; */
}