<nz-select #isc [(ngModel)]="_selected" [nzDropdownMatchSelectWidth]="false" [ngModelOptions]="{ standalone: true }"
  (ngModelChange)="modelChange($event)" nzAllowClear nzPlaceHolder="Rubro, Código" nzMode="multiple"
  nzShowSearch nzServerSearch (nzOnSearch)="search($event)" >
  @for (option of $optionsArray | async; track option) {
    @if (($isOptionsLoading | async) == false) {
      <nz-option [nzValue]="option.RubroClienteId"
        nzLabel="{{ option.RubroClienteDescripcion }} ({{option.RubroClienteId}})" />
    }
  }
  @if (extendedOption.RubroClienteId > 0) {
    <nz-option [nzValue]="extendedOption.RubroClienteId"
      [nzLabel]="extendedOption.RubroClienteDescripcion" />
  }
  @if ($isOptionsLoading | async) {
    <nz-option nzDisabled nzCustomContent>
      <span nz-icon nzType="loading" class="loading-icon"></span>
      Cargando datos...
    </nz-option>
  }
</nz-select>
