<nz-drawer [nzWidth]="650" [nzVisible]="visible()" [nzClosable]="false"
    [nzTitle]="tituloDrawer()" (nzOnClose)="visible.set(false)" [nzPlacement]="placement"
>

  <ng-container *nzDrawerContent>

    <form nz-form ngForm>

      <nz-form-item>
        <nz-form-label [nzSpan]="5">Personal</nz-form-label>
          <nz-form-control [nzSpan]="17">
            <app-personal-search  name="personalId" ngModel [anio]="currDate().getFullYear()" [mes]="currDate().getMonth()+1"></app-personal-search>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5">Tipo</nz-form-label>
          <nz-form-control [nzSpan]="17">
            <nz-select nzShowSearch nzAllowClear name="formaId" ngModel 
                [nzDropdownMatchSelectWidth]="false" >
            <nz-option *ngFor="let option of options" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
            </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5">Aplica El</nz-form-label>
          <nz-form-control [nzSpan]="17">
            <nz-date-picker nzMode="month" ngModel name="aplicaEl"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="5">Cant. de Cuotas</nz-form-label>
          <nz-form-control [nzSpan]="5">
            <input nz-input name="cantCuotas" ngModel type="number" />
        </nz-form-control>
        <nz-form-label [nzSpan]="3">Importe</nz-form-label>
          <nz-form-control [nzSpan]="9">
            <input nz-input name="importe" ngModel type="number" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="btnCenter">
        <button nz-button nzType="primary" [disabled]="!ngForm().dirty" (click)="save()" [nzLoading]="isSaving">Guardar</button>
      </nz-form-item>

    </form>
  </ng-container>
</nz-drawer>