
<form [formGroup]="formCli">
  <br>
  <nz-form-item class="marginElement">
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Código</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="3">
      <input nz-input placeholder="" formControlName="codigo" type="string" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="marginElement">
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Cliente</nz-form-label>
    <nz-form-control [nzSm]="24" [nzMd]="20" [nzLg]="17">
      <app-cliente-search formControlName="ClienteId" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="marginElement">
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Descrpción</nz-form-label>
    <nz-form-control [nzSm]="24" [nzMd]="20" [nzLg]="8">
      <input nz-input placeholder="" formControlName="Descripcion" type="string" />
    </nz-form-control>

    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Sucursal</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="6">
      <nz-select formControlName="SucursalId" nzPlaceHolder="Sucursal" nzAllowClear [nzDropdownMatchSelectWidth]="false" style="width: 100%" >
        <ng-container *ngFor="let option of $sucursales | async " >
          <nz-option [nzValue]="option.SucursalId" [nzLabel]="option.SucursalDescripcion" ></nz-option>
        </ng-container>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <div class="input-container1">
    <div class="input-label">Contrato</div>
  </div>  
  
  <nz-form-item class="marginElement">
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Contrato Desde</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="6">
      <nz-date-picker
      nzFormat="yyyy-MM-dd"
      formControlName="ContratoFechaDesde"
      (ngModelChange)="onChangePeriodo($event);formCli.patchValue({FechaModificada:true})"
  
    ></nz-date-picker>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item class="marginElement">
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Contrato Hasta</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="6">
      <nz-date-picker
      nzFormat="yyyy-MM-dd"
      formControlName="ContratoFechaHasta"
      (ngModelChange)="onChangePeriodo($event);formCli.patchValue({FechaModificada:true})"
    ></nz-date-picker>
    </nz-form-control>
  </nz-form-item>

  <div class="input-container1">
    <div class="input-label">Domicilio</div>
</div>  
<nz-form-item class="marginElement">
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Dirección Calle</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="12">
      <input nz-input placeholder="" formControlName="DomicilioDomCalle" type="text" (nzBlur)="formCli.patchValue({DireccionModificada:true})" />
    </nz-form-control>

  <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="1">Nro</nz-form-label>
  <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="4">
    <input nz-input placeholder="" formControlName="DomicilioDomNro" type="text" (nzBlur)="formCli.patchValue({DireccionModificada:true})"/>
  </nz-form-control>
</nz-form-item>

<nz-form-item class="marginElement">
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Complemento</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="12">
      <input nz-input placeholder="" formControlName="DomicilioDomLugar" type="text" (nzBlur)="formCli.patchValue({DireccionModificada:true})"/>
    </nz-form-control>

    
</nz-form-item>

<nz-form-item class="marginElement">

    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Cod Postal </nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="6">
      <input nz-input placeholder="" formControlName="DomicilioCodigoPostal" type="text" />
    </nz-form-control>

    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="5">Provincia</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="6">
      <nz-select  formControlName="DomicilioProvinciaId" nzPlaceHolder="Provincia" nzAllowClear [nzDropdownMatchSelectWidth]="false" style="width: 100%" (nzBlur)="formCli.patchValue({DomicilioLocalidadId:null,DomicilioBarrioId:null,DireccionModificada:true})">
        <ng-container *ngFor="let option of $optionsProvincia | async " >
          <nz-option [nzValue]="option.ProvinciaId" [nzLabel]="option.ProvinciaDescripcion" ></nz-option>
        </ng-container>
      </nz-select>
    </nz-form-control>
</nz-form-item>

<nz-form-item class="marginElement">
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Localidad</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="6">
      <nz-select formControlName="DomicilioLocalidadId" nzPlaceHolder="Localidad" nzAllowClear [nzDropdownMatchSelectWidth]="false" style="width: 100%" (nzBlur)="formCli.patchValue({DomicilioBarrioId:null,DireccionModificada:true})">
        <ng-container *ngFor="let option of $optionsLocalidad | async " >
          <nz-option *ngIf="option.ProvinciaId == formCli.value.DomicilioProvinciaId"  [nzValue]="option.LocalidadId" [nzLabel]="option.localidadDescripcion" ></nz-option>
        </ng-container>
      </nz-select>
    </nz-form-control>

    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="5">Barrio</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="6">
      <nz-select formControlName="DomicilioBarrioId" nzPlaceHolder="Barrio" nzAllowClear [nzDropdownMatchSelectWidth]="false" style="width: 100%" (nzBlur)="formCli.patchValue({DomicilioBarrioId:null,DireccionModificada:true})">
        <ng-container *ngFor="let option of $optionsBarrio | async " >
          <nz-option *ngIf="option.ProvinciaId == formCli.value.DomicilioProvinciaId && option.LocalidadId == formCli.value.DomicilioLocalidadId " [nzValue]="option.BarrioId" [nzLabel]="option.BarrioDescripcion" ></nz-option>
        </ng-container>
      </nz-select>
    </nz-form-control>
</nz-form-item>

<div class="input-container1">
  <div class="input-label">Rubro</div>
</div>
<div formArrayName="infoRubro">
  <nz-form-item class="" *ngFor="let control of infoRubro().controls; let i = index" [formGroupName]="i" [ngClass]="{'even-background2': i % 2 === 0}">

    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Rubro</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="12">
      <nz-input-group style="width: 100%" nzSearch [nzAddOnAfter]="controlRol">
        <app-rubro-search formControlName="RubroId"/>
        
      </nz-input-group>
      <ng-template #controlRol >
        <button nz-button *ngIf="infoRubro().controls.length == i+1" nzType="primary" class="add-button" (click)="addRubro($event)">
          <span nz-icon nzType="plus"></span>
        </button>
        <button *ngIf="infoRubro().length >= 2" nz-button nzType="default" (click)="removeRubro(i, $event)">
          <span nz-icon nzType="delete" nzTheme="outline" ></span>
        </button>
        </ng-template>
     
    </nz-form-control>


  </nz-form-item>
</div>


<div class="input-container1">
  <div class="input-label">Coordinador  de cuenta</div>
</div>  

<div formArrayName="infoCoordinadorCuenta">
  <nz-form-item class="marginElement" *ngFor="let control of infoCoordinadorCuenta().controls; let i = index" [formGroupName]="i" [ngClass]="{'even-background': i % 2 === 0}">


    <nz-form-label  [nzXs]="24" [nzSm]="24" [nzMd]="2"> Persona </nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="6">
      <nz-input-group style="width: 100%" nzSearch>
        <app-personal-search formControlName="PersonaId" [anio]="periodo().year" [mes]="periodo().month"/>
      </nz-input-group>
    </nz-form-control>

    <nz-form-label  [nzXs]="24" [nzSm]="24" [nzMd]="2"> Comision </nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="4">
      <nz-input-group style="width: 100%" nzSearch>
        <input nz-input placeholder="" formControlName="ObjetivoPersonalJerarquicoComision" type="number" />
      </nz-input-group>
    </nz-form-control>

    <nz-form-label  [nzXs]="24" [nzSm]="24" [nzMd]="4" >Consumos del Objetivo</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="6" >
      <label nz-checkbox formControlName="ObjetivoPersonalJerarquicoDescuentos" >
        <span>Se aplica descuento</span>
      </label>
          <button nz-button *ngIf="infoCoordinadorCuenta().controls.length == i+1" nzType="primary" class="add-button" (click)="addCoordinadorCuenta($event)">
            <span nz-icon nzType="plus"></span>
          </button>
          <button *ngIf="infoCoordinadorCuenta().length >= 2" nz-button nzType="default" (click)="removeCordinadorCuenta(i, $event)">
            <span nz-icon nzType="delete" nzTheme="outline" ></span>
          </button>
    </nz-form-control> 
  
  </nz-form-item>
</div>


<div class="input-container1">
  <div class="input-label">Documentos</div>
</div>

<nz-form-item>

  <nz-form-control>
    <app-file-upload formControlName="files"   [idForSearh]="formCli.value.id ?? 0"
    [textForSearch]="'OBJ'" [keyField]="'cliente_id'"  ></app-file-upload>
  </nz-form-control>
  
</nz-form-item>
<nz-form-item>
  <nz-form-control style="display: flex; justify-content: center; align-items: center;">    
    <button nzType="primary" nz-button  (click)="save()" [nzLoading]="isLoading()" [disabled]="formCli.pristine" >
      Guardar Cambios
    </button>
    <button nzType="primary" nz-button nzDanger  nz-popconfirm
    nzPopconfirmTitle="Esta seguro que quiere eliminar este Objetivo?"
    (nzOnConfirm)="deleteObjetivo()"
    nzPopconfirmPlacement="top" *ngIf="edit()" [nzLoading]="isLoading()" [disabled]="!(formCli.pristine)" >
      Borrar Objetivo
    </button>
  </nz-form-control>
</nz-form-item>


</form>