<ng-template #suffixReloadTpl>
  <button nz-button (click)="visibleDrawer.set(true)">
    <span nz-icon nzType="user" nzTheme="outline"  nz-tooltip nzTooltipTitle="{{ 'app.icon.people' | i18n }}"></span>
  </button>
</ng-template>

<form [formGroup]="formCli">
  <br>
    <nz-form-item class="marginElement">
      <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Código</nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="3">
        <input nz-input placeholder="" formControlName="codigo" type="string" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="marginElement">
      <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Cliente</nz-form-label>
      <nz-form-control [nzSm]="24" [nzMd]="20" [nzLg]="17">
        <app-cliente-search formControlName="ClienteId" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="marginElement">
      <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Descripción</nz-form-label>
      <nz-form-control [nzSm]="24" [nzMd]="20" [nzLg]="8">
        <input nz-input placeholder="" formControlName="Descripcion" type="string" />
      </nz-form-control>

      <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Sucursal</nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="6">
        <nz-select formControlName="SucursalId" nzPlaceHolder="Sucursal" nzAllowClear [nzDropdownMatchSelectWidth]="false"
          style="width: 100%">
          @for (option of $sucursales | async ; track option) {
            <nz-option [nzValue]="option.SucursalId" [nzLabel]="option.SucursalDescripcion"></nz-option>
          }
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class="marginElement">
      <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Cobertura del Servicio</nz-form-label>
      <nz-form-control [nzSm]="24" [nzMd]="20" [nzLg]="8">
        <input nz-input placeholder="" formControlName="CoberturaServicio" type="string" />
      </nz-form-control>
    </nz-form-item>

    <div class="input-container1">
      <div class="input-label">Contrato</div>
    </div>

    <nz-form-item class="marginElement">
      <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Contrato Desde</nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="6">
        <nz-date-picker nzFormat="yyyy-MM-dd" formControlName="ContratoFechaDesde"
        (ngModelChange)="onChangePeriodo($event);formCli.patchValue({FechaModificada:true})"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="marginElement">
      <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Contrato Hasta</nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="6">
        <nz-date-picker nzFormat="yyyy-MM-dd" formControlName="ContratoFechaHasta"
        (ngModelChange)="onChangePeriodo($event);formCli.patchValue({FechaModificada:true})"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>

    <div class="input-container1">
      <div class="input-label">Domicilio</div>
    </div>

    <nz-form-item class="marginElement">
      <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Dirección Calle</nz-form-label>
      <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="12">
        <input nz-input placeholder="" formControlName="DomicilioDomCalle" type="text"
          (input)="formCli.patchValue({DireccionModificada:true})" />
        </nz-form-control>

        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="1">Nro</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="4">
          <input nz-input placeholder="" formControlName="DomicilioDomNro" type="text"
            (input)="formCli.patchValue({DireccionModificada:true})" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="marginElement">
          <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Complemento</nz-form-label>
          <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="17">
            <textarea nz-input placeholder="" formControlName="DomicilioDomLugar" type="text"
            (input)="formCli.patchValue({DireccionModificada:true})" ></textarea>
          </nz-form-control>


        </nz-form-item>

        <nz-form-item class="marginElement">

          <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Cod Postal </nz-form-label>
          <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="6">
            <input nz-input placeholder="" formControlName="DomicilioCodigoPostal" type="text"
              (input)="formCli.patchValue({DireccionModificada:true})" />
            </nz-form-control>

            <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="5">Provincia</nz-form-label>
            <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="6">
              <nz-select nzShowSearch formControlName="DomicilioProvinciaId" nzPlaceHolder="Provincia" nzAllowClear
                [nzDropdownMatchSelectWidth]="false" style="width: 100%"
                (nzBlur)="formCli.patchValue({DomicilioLocalidadId:null,DomicilioBarrioId:null,DireccionModificada:true})">
                @for (option of $optionsProvincia | async ; track option) {
                  <nz-option [nzValue]="option.ProvinciaId" [nzLabel]="option.ProvinciaDescripcion"></nz-option>
                }
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item class="marginElement">
            <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Localidad</nz-form-label>
            <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="6">
              <nz-select nzShowSearch formControlName="DomicilioLocalidadId" nzPlaceHolder="Localidad" nzAllowClear
                [nzDropdownMatchSelectWidth]="false" style="width: 100%"
                (nzBlur)="formCli.patchValue({DomicilioBarrioId:null,DireccionModificada:true})">
                @for (option of $optionsLocalidad | async ; track option) {
                  @if (option.ProvinciaId == formCli.value.DomicilioProvinciaId) {
                    <nz-option [nzValue]="option.LocalidadId"
                    [nzLabel]="option.localidadDescripcion"></nz-option>
                  }
                }
              </nz-select>
            </nz-form-control>

            <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="5">Barrio</nz-form-label>
            <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="6">
              <nz-select nzShowSearch formControlName="DomicilioBarrioId" nzPlaceHolder="Barrio" nzAllowClear
                [nzDropdownMatchSelectWidth]="false" style="width: 100%"
                (nzBlur)="formCli.patchValue({DomicilioBarrioId:null,DireccionModificada:true})">
                @for (option of $optionsBarrio | async ; track option) {
                  @if (option.ProvinciaId == formCli.value.DomicilioProvinciaId && option.LocalidadId == formCli.value.DomicilioLocalidadId ) {
                    <nz-option
                    [nzValue]="option.BarrioId" [nzLabel]="option.BarrioDescripcion"></nz-option>
                  }
                }
              </nz-select>
            </nz-form-control>
          </nz-form-item>


          <div class="input-container1">
            <div class="input-label">Grupo Actividad</div>
          </div>
          <div formArrayName="infoActividad">
            @for (control of infoActividad().controls; track control; let i = $index) {
              <nz-form-item class="" [formGroupName]="i">
                <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Actividad</nz-form-label>
                <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="12">
                  <div style="display: flex; align-items: center;">
                    <app-grupo-actividad-search formControlName="GrupoActividadId" style="flex: 1 1 auto;" />
                    <nz-input-group [nzAddOnAfter]="suffixReloadTpl" style="flex: 0 0 auto;">
                      <ng-container></ng-container>
                    </nz-input-group>
                  </div>
                </nz-form-control>
                <app-detalle-persona [anio]="periodo().year" [mes]="periodo().month" [SucursalId]="0" [PersonalId]="formCli.value.GrupoActividadJerarquicoPersonalId ?? 0"
                [visible]="visibleDrawer()" (onClose)="closeDrawer()"></app-detalle-persona>
                <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Fecha Desde</nz-form-label>
                <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="6">
                  <nz-date-picker nzFormat="yyyy-MM-dd" formControlName="GrupoActividadObjetivoDesde"></nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            }
          </div>

          <div class="input-container1">
            <div class="input-label">Habilitación necesaria</div>
          </div>

          <nz-form-item class="marginElement">
            <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Habilitaciones</nz-form-label>
            <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="12">
              <nz-select formControlName="habilitacion" nzMode="multiple" nzAllowClear 
              [nzDropdownMatchSelectWidth]="false" nzShowSearch>
                <ng-container *ngFor="let option of $optionsLugarHabilitacion | async">
                  <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
                </ng-container>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <div class="input-container1">
            <div class="input-label">Rubro</div>
          </div>

          <nz-form-item class="marginElement">
            <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Rubro</nz-form-label>
            <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="12">
              <nz-select  nzMode="multiple" nzAllowClear 
              [nzDropdownMatchSelectWidth]="false" nzShowSearch>
                <ng-container *ngFor="let option of $optionsRubroCliente | async">
                  <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
                </ng-container>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <div class="input-container1">
            <div class="input-label">Documentos requeridos a presentar</div>
          </div>
          <div formArrayName="infoDocRequerido">
            @for (control of infoDocRequerido().controls; track control; let i = $index) {
              <nz-form-item class="" [formGroupName]="i"
                [ngClass]="{'even-background2': i % 2 === 0}">
                <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Tipo</nz-form-label>
                <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="12">
                  <nz-input-group style="width: 100%" nzSearch [nzAddOnAfter]="controlDocs">
                    <nz-select nzShowSearch formControlName="DocumentoTipoCodigo" nzPlaceHolder="Documento Tipo" nzAllowClear
                      [nzDropdownMatchSelectWidth]="false" style="width: 100%">
                      @for (option of $optionsDocumentoTipo | async ; track option) {
                        <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
                      }
                    </nz-select>
                  </nz-input-group>
                  <ng-template #controlDocs>
                    @if (infoDocRequerido().controls.length == i+1 && formCli.enabled) {
                      <button nz-button nzType="primary"
                        class="add-button" (click)="addDocRequerido($event)" nz-tooltip
                        nzTooltipTitle="{{ 'app.icon.add' | i18n }}">
                        <span nz-icon nzType="plus"></span>
                      </button>
                    }
                    @if (infoDocRequerido().length >= 2 && formCli.enabled) {
                      <button nz-button nzType="default"
                        (click)="removeDocRequerido(i, $event)" nz-tooltip nzTooltipTitle="{{ 'app.icon.delete' | i18n }}">
                        <span nz-icon nzType="delete" nzTheme="outline"></span>
                      </button>
                    }
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            }
          </div>

          <div class="input-container1">
            <div class="input-label">Coordinador de cuenta</div>
          </div>

          <div formArrayName="infoCoordinadorCuenta">
            @for (control of infoCoordinadorCuenta().controls; track control; let i = $index) {
              <nz-form-item class="marginElement"
                [formGroupName]="i" [ngClass]="{'even-background': i % 2 === 0}">
                <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="2"> Persona </nz-form-label>
                <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="5">
                  <nz-input-group style="width: 100%" nzSearch>
                    <app-personal-search formControlName="PersonalId" [anio]="periodo().year" [mes]="periodo().month" />
                  </nz-input-group>
                </nz-form-control>
                <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="2"> Comision </nz-form-label>
                <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="4">
                  <nz-input-group style="width: 100%" nzSearch>
                    <input nz-input placeholder="" formControlName="ObjetivoPersonalJerarquicoComision" type="number" />
                  </nz-input-group>
                </nz-form-control>
                <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Consumos del Objetivo</nz-form-label>
                <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="6">
                  <div nz-row>
                    <div nz-col [nzSpan]="12">
                      <label nz-checkbox formControlName="ObjetivoPersonalJerarquicoDescuentos">
                        <span style="width: 100%;">Se aplica descuento</span>
                      </label>
                    </div>
                    <div nz-col [nzSpan]="12">
                      <label nz-checkbox formControlName="ObjetivoPersonalJerarquicoSeDescuentaTelefono">
                        <span style="width: 100%;">Descuento de Telefonia</span>
                      </label>
                    </div>
                  </div>
                </nz-form-control>
                <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="1" [nzLg]="1">
                  @if (infoCoordinadorCuenta().controls.length == i+1 && formCli.enabled) {
                    <button nz-button nzType="primary"
                      class="add-button" (click)="addCoordinadorCuenta($event)" nz-tooltip
                      nzTooltipTitle="{{ 'app.icon.add' | i18n }}">
                      <span nz-icon nzType="plus"></span>
                    </button>
                  }
                  @if (infoCoordinadorCuenta().length >= 2 && formCli.enabled) {
                    <button nz-button nzType="default"
                      (click)="removeCordinadorCuenta(i, $event)" nz-tooltip nzTooltipTitle="{{ 'app.icon.delete' | i18n }}">
                      <span nz-icon nzType="delete" nzTheme="outline"></span>
                    </button>
                  }
                </nz-form-control>
              </nz-form-item>
            }
          </div>


          <div class="input-container1">
            <div class="input-label">Documentos</div>
          </div>

          <nz-form-item>

            <nz-form-control>
              <app-file-upload formControlName="files" [idForSearh]="formCli.value.id ?? 0" [textForSearch]="''"
              columnForSearch="ObjetivoId" [tableForSearch]="'Documento'" [showTipoDocs]="true"></app-file-upload>
            </nz-form-control>

          </nz-form-item>
          @if (formCli.enabled) {
            <nz-form-item>
              <nz-form-control style="display: flex; justify-content: center; align-items: center;">
                <button nzType="primary" nz-button (click)="save()" [nzLoading]="isLoading()" [disabled]="formCli.pristine">
                  {{ 'app.btn.save' | i18n }}
                </button>
                <button nzType="primary" nz-button nzDanger nz-popconfirm
                  nzPopconfirmTitle="Esta seguro que quiere eliminar este Objetivo?" (nzOnConfirm)="deleteObjetivo()"
                  nzPopconfirmPlacement="top" [nzLoading]="isLoading()" [disabled]="!ObjetivoId()">
                  {{ 'app.btn.delete' | i18n }}
                </button>
              </nz-form-control>
            </nz-form-item>
          }

          <!-- {{formCli.value | json}} -->
        </form>
