<nz-card #tabpersonalefecto class="small-margin">
    <ng-container>
  
      @if(columns$ | async; as columnas) {

        <shared-filtro-builder [fieldsToSelect]="columnas" (optionsChange)="listOptionsChange($event)" />
        
        <div class="gridContainerPersonalEfecto container-fluid">
          <angular-slickgrid 
            gridId="gridPersonalEfecto" 
            [columns]="columnas | colsFilter"
            [options]="gridOptions" 
            [dataset]="(gridData$ | async) || []"
            (onAngularGridCreated)="angularGridReady($event)">
          </angular-slickgrid>
        </div>
      }
    </ng-container>
  </nz-card> 
