<nz-card class="small-margin">
  <form nz-form #asistencia="ngForm">
    <nz-form-item>
      <nz-form-label [nzSpan]="5">Periodo</nz-form-label>
      <nz-date-picker nzMode="month" name="periodo" ngModel (ngModelChange)="dateChange($event)"
        [nzAllowClear]="false" />
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="5">Sucursal</nz-form-label>
      <nz-form-control>
        <nz-select #sucursal="ngModel" nzSpan="19" name="SucursalId" [(ngModel)]="selectedSucursalId"
          (ngModelChange)="selectedValueChange($event, Busqueda.Sucursal)" nzAllowClear nzPlaceHolder="Sucursal"
          [nzDropdownMatchSelectWidth]="false" nzShowSearch>
          <ng-container *ngFor="let option of $optionsSucursales | async">
            <nz-option [nzValue]="option.SucursalId" [nzLabel]="option.SucursalDescripcion"></nz-option>
          </ng-container>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </form>

  <ul nz-menu nzMode="horizontal">
  <li nz-menu-item nzMatchRouter >
    <span nz-icon nzType=""></span>
    <a [routerLink]="['/', 'ges', 'detalle_asistencia','objetivo']">Objetivo</a>
  </li>

  <li nz-menu-item nzMatchRouter >
    <span nz-icon nzType=""></span>
    <a [routerLink]="['/', 'ges', 'detalle_asistencia','persona']">Persona</a>
  </li>
  <li nz-menu-item nzMatchRouter >
    <span nz-icon nzType=""></span>
    <a [routerLink]="['/', 'ges', 'detalle_asistencia','listado-personas']">Listado</a>
  </li>

  <li nz-submenu nzTitle="Informes">
    <ul style="width: auto !important">
      <li nz-menu-item app-down-file [httpMethod]="'POST'"
        [httpBody]="{'Reporte':'Banelco','Formato':'EXCEL', 'Filtros': {'Anio':selectedPeriod.year,'Mes':selectedPeriod.month, 'Jerarquico':responsable}}"
        httpUrl="api/informes/descarga"
        notificationMsg="Generando Informe Banelco">
        <span nz-icon nzType="download"></span><span style="white-space: normal;">Banelco</span> 
      </li>

    </ul>
    
  </li>
</ul>

  <nz-tabset nzCentered nzLinkRouter class="hide-ant-tabs-nav">
    <nz-tab>
      <a *nzTabLink nz-tab-link routerLink="/ges/detalle_asistencia/objetivo">Objetivo</a>

      <form nz-form #asistenciaObj="ngForm">
        <nz-form-item>
          <nz-form-label [nzSpan]="5">Objetivo</nz-form-label>
          <nz-form-control>
            <app-objetivo-search [(ngModel)]="selectedObjetivoId" name="ObjetivoId"
              (ngModelChange)="selectedValueChange($event, Busqueda.Objetivo)" ngModel />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="5">Responsable</nz-form-label>
          <nz-form-control>
            <ng-container *ngIf="{
                loading: objetivoResponsablesLoading$ | async
              } as responsablesContext">
              <ng-container *ngIf="responsablesContext.loading">
                <span nz-icon nzType="loading" class="loading-icon"></span>
                Cargando
              </ng-container>
              <ng-container *ngFor="let responsable of $objetivoResponsables | async">
                <p title="{{ responsable.PersonalId }}">
                  ({{ responsable.ObjetivoPersonalJerarquicoComo }})
                  {{ responsable.PersonalCUITCUILCUIT }}
                  <a (click)="buscarPorPersona(responsable.PersonalId)"
                    [textContent]="responsable.ApellidoNombreJerarquico"></a>
                  desde
                  {{ responsable.ObjetivoPersonalJerarquicoDesde | date }}
                  <span *ngIf="responsable.ObjetivoPersonalJerarquicoHasta">hasta</span>
                  {{ responsable.ObjetivoPersonalJerarquicoHasta | date }}
                </p>
              </ng-container>
            </ng-container>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="5">Totales</nz-form-label>
          <nz-form-control *ngIf="listaAsistenciaObjTotalImporte >0 || listaAsistenciaObjTotalHoras >0 ">
            <span>{{ listaAsistenciaObjTotalImporte | currency }} </span> <span>, total horas: {{
              listaAsistenciaObjTotalHoras }}, promedio hora: {{ listaAsistenciaObjTotalImporte /
              listaAsistenciaObjTotalHoras | currency }}</span>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="5">Art14</nz-form-label>
          <nz-form-control>
            <nz-table #excep [nzData]="$listaExcepciones | async" nzSize="small" [nzPageSize]="100000000"
              [nzShowPagination]="false" [nzScroll]="{ x: '600px' }">
              <thead>
                <tr>
                  <th>CUIT</th>
                  <th>Apellido y Nombre</th>
                  <th>Autorizado</th>
                  <th>Detalle</th>
                  <th>Desde</th>
                  <th>Hasta</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of excep.data" class="">
                  <td title="{{ data.PersonalId }}">
                    {{ data.PersonalCUITCUILCUIT }}
                  </td>
                  <td>
                    <a (click)="buscarPorPersona(data.PersonalId)" [textContent]="data.ApellidoNombre"></a>
                  </td>
                  <td>{{ data.PersonalArt14Autorizado }}</td>
                  <td *ngIf="data.PersonalArt14FormaArt14 == 'S'">
                    Suma fija {{ data.PersonalArt14SumaFija }}
                  </td>
                  <td *ngIf="data.PersonalArt14FormaArt14 == 'H'">
                    Horas {{ data.PersonalArt14Horas }}
                  </td>
                  <td *ngIf="data.PersonalArt14FormaArt14 == 'E'">
                    Equivalencia {{ data.CategoriaPersonalDescripcion }}
                  </td>
                  <td *ngIf="data.PersonalArt14FormaArt14 == 'A'">
                    Adicional Hora {{ data.PersonalArt14AdicionalHora }}
                  </td>
                  <td>{{ data.Desde | date }}</td>
                  <td>{{ data.Hasta | date }}</td>

                  <td></td>

                  <!-- td>
              <a>Action 一 {{data.name}}</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a>Delete</a>
            </td -->
                </tr>
              </tbody>
            </nz-table>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="5">Asistencia</nz-form-label>
          <nz-form-control *ngIf="$listaAsistencia | async as listaAsistenciaObj ">
            <nz-table #asist [nzData]="listaAsistenciaObj.asistencia" nzSize="small" [nzPageSize]="100000000"
              [nzShowPagination]="false" [nzScroll]="{ x: '500px' }">
              <thead>
                <tr>
                  <th>CUIT</th>
                  <th>Apellido y Nombre</th>
                  <th>Situación Revista</th>
                  <th>Categoría</th>
                  <th>Horas</th>
                  <th>Valor Hora</th>
                  <th>Art14</th>
                  <th>Importe Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of asist.data" class="">
                  <td title="{{ data.PersonalId }}">
                    {{ data.PersonalCUITCUILCUIT }}
                  </td>
                  <td>
                    <a (click)="buscarPorPersona(data.PersonalId)" [textContent]="data.PersonaDes"></a>
                  </td>
                  <td> N/A</td>
                  <td>{{ data.CategoriaPersonalDescripcion }}</td>
                  <td>{{ data.totalhorascalc }}</td>
                  <td>
                    <span *ngIf="data.ValorHoraArt14Categoria < 1">{{
                      data.ValorHoraNorm | currency
                      }}</span>
                  </td>

                  <td>
                    <span *ngIf="data.PersonalArt14SumaFija">Suma fija {{ data.PersonalArt14SumaFija | currency
                      }}</span>
                    <span *ngIf="data.PersonalArt14Horas">Horas {{ data.PersonalArt14Horas }}</span>
                    <span *ngIf="data.art14CategoriaDescripcion">Equivalencia {{ data.art14CategoriaDescripcion }}
                      {{ data.ValorHoraArt14Categoria | currency }}
                    </span>
                    <span *ngIf="data.PersonalArt14AdicionalHora">Adicional Hora
                      {{ data.PersonalArt14AdicionalHora | currency }}</span>
                  </td>
                  <td>{{ data.totalminutoscalcimporteconart14 | currency }}</td>

                  <!-- td>
              <a>Action 一 {{data.name}}</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a>Delete</a>
            </td -->
                </tr>
              </tbody>
            </nz-table>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="5">Descuentos</nz-form-label>
          <nz-form-control>
            <nz-table #descObj [nzData]="$listaDescuentosObj | async" nzSize="small" [nzPageSize]="100000000"
              [nzShowPagination]="false" [nzScroll]="{ x: '500px' }">
              <thead>
                <tr>
                  <th>CUIT</th>
                  <th>Apellido y Nombre</th>
                  <th>Tipo Movimiento</th>
                  <th>Detalle</th>
                  <th>Cuota</th>
                  <th>Importe</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of descObj.data" class="">
                  <td>{{ data.PersonalCUITCUILCUIT }}</td>
                  <td>
                    <a (click)="buscarPorPersona(data.PersonalId)" [textContent]="data.ApellidoNombre"></a>
                  </td>
                  <td>{{ data.tipomov }}</td>
                  <td>{{ data.desmovimiento }}</td>
                  <td>
                    <div *ngIf="data.importetotal>0">{{ data.cuotanro }}/{{ data.cantcuotas}} Total {{data.importetotal
                      | currency }}</div>
                  </td>
                  <td>{{ data.importe | currency }}</td>
                </tr>
              </tbody>
            </nz-table>
          </nz-form-control>
        </nz-form-item>

      </form>
    </nz-tab>
    <nz-tab>
      <a *nzTabLink nz-tab-link routerLink="/ges/detalle_asistencia/persona">Persona</a>
      <form nz-form #asistenciaPer="ngForm">
        <nz-form-item>
          <nz-form-label [nzSpan]="5">Persona</nz-form-label>
          <nz-form-control nzHasFeedback>
            <app-personal-search name="PersonalId" (ngModelChange)="selectedValueChange($event, Busqueda.Personal)"
              ngModel />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="5">Retiro</nz-form-label>
          <nz-form-control *ngIf="listaIngresosPerTotal + listaAsistenciaPerTotal + listaIngresosExtraPerTotal > 0 || listaDescuentosPerTotal > 0">
            <span>{{ listaIngresosPerTotal + listaAsistenciaPerTotal + listaIngresosExtraPerTotal - listaDescuentosPerTotal | currency }} </span>
            <span> ({{ listaIngresosPerTotal + listaAsistenciaPerTotal + listaIngresosExtraPerTotal | currency }} - {{ listaDescuentosPerTotal |
              currency }})</span><span>, total horas: {{ listaAsistenciaPerTotalHoras +
              listaIngresosPerTotalHoras}}</span>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="5">Monotributo</nz-form-label>
          <nz-form-control>
            <nz-list nzBordered nzSize="small">
              <nz-list-item *ngFor="let monotributo of $personaMonotributo | async">
                <a app-down-file
                  httpUrl="api/impuestos_afip/{{monotributo.PersonalOtroDescuentoAnoAplica}}/{{monotributo.PersonalOtroDescuentoMesesAplica}}/0/{{monotributo.PersonalId}}"><span
                    nz-icon nzType="download"></span>Comprobante
                  {{monotributo.PersonalOtroDescuentoMesesAplica}}/{{monotributo.PersonalOtroDescuentoAnoAplica}}</a></nz-list-item>
            </nz-list>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="5">Responsable</nz-form-label>
          <nz-form-control>
            <ng-container *ngFor="let responsable of $personaResponsables | async">
              <p *ngIf="responsable.Tipo=='R'" title="{{ responsable.PersonalCategoriaPersonalId }}">
                {{ responsable.CUITJ }} {{ responsable.ApellidoNombreJ }} ({{ responsable.Tipo }}) desde
                {{
                responsable.OperacionesPersonalAsignarAJerarquicoDesde | date
                }}
                <span *ngIf="
                    responsable.OperacionesPersonalAsignarAJerarquicoHasta
                  ">
                  hasta
                </span>
                {{
                responsable.OperacionesPersonalAsignarAJerarquicoHasta | date
                }}
              </p>
            </ng-container>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="5">Situación Revista</nz-form-label>
          <nz-form-control>
            <ng-container *ngFor="let sitrevista of $sitrevista | async">
              <p title="{{ sitrevista.SituacionRevistaDescripcion }}">
                {{ sitrevista.SituacionRevistaDescripcion }} desde {{  sitrevista.PersonalSituacionRevistaDesde | date}} hasta {{  sitrevista.PersonalSituacionRevistaHasta | date}}
              </p>
            </ng-container>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="5">Art14</nz-form-label>
          <nz-form-control>
            <nz-table #excepPer [nzData]="$listaExcepcionesPer | async" nzSize="small" [nzPageSize]="100000000"
              [nzShowPagination]="false" [nzScroll]="{ x: '600px' }">
              <thead>
                <tr>
                  <th>Código</th>
                  <th>Objetivo</th>
                  <th>Autorizado</th>
                  <th>Detalle</th>
                  <th>Desde</th>
                  <th>Hasta</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of excepPer.data" class="">
                  <td title="{{ data.ObjetivoId }}">
                    {{ data.ObjetivoCodigo }}
                  </td>
                  <td>
                    <a (click)="buscarPorObjetivo(data.ObjetivoId)" [textContent]="data.ObjetivoDescripcion">
                    </a>
                  </td>
                  <td>{{ data.PersonalArt14Autorizado }}</td>
                  <td *ngIf="data.PersonalArt14FormaArt14 == 'S'">
                    Suma fija {{ data.PersonalArt14SumaFija }}
                  </td>
                  <td *ngIf="data.PersonalArt14FormaArt14 == 'H'">
                    Horas {{ data.PersonalArt14Horas }}
                  </td>
                  <td *ngIf="data.PersonalArt14FormaArt14 == 'E'">
                    Equivalencia {{ data.CategoriaPersonalDescripcion }}
                  </td>
                  <td *ngIf="data.PersonalArt14FormaArt14 == 'A'">
                    Adicional Hora {{ data.PersonalArt14AdicionalHora }}
                  </td>
                  <td>{{ data.Desde | date }}</td>
                  <td>{{ data.Hasta | date }}</td>

                  <!-- td>
              <a>Action 一 {{data.name}}</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a>Delete</a>
            </td -->
                </tr>
              </tbody>
            </nz-table>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="5">Asistencia</nz-form-label>
          <nz-form-control *ngIf="$listaAsistenciaPer | async as listaAsistenciaPer ">
            <nz-table #asistPer [nzData]="listaAsistenciaPer.asistencia" nzSize="small" [nzPageSize]="100000000"
              [nzShowPagination]="false" [nzScroll]="{ x: '500px' }">
              <thead>
                <tr>
                  <th>Código</th>
                  <th>Objetivo</th>
                  <th>Categoría</th>
                  <th>Horas</th>
                  <th>Valor Hora</th>
                  <th>Art14</th>
                  <th>Importe Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of asistPer.data" class="">
                  <td title="{{ data.ObjetivoId }}">
                    {{ data.ObjetivoCodigo }}
                  </td>
                  <td>
                    <a (click)="buscarPorObjetivo(data.ObjetivoId)" [textContent]="data.ObjetivoDescripcion">
                    </a>
                  </td>
                  <td>{{ data.CategoriaPersonalDescripcion }}</td>
                  <td>{{ data.totalhorascalc }}</td>
                  <td>
                    <span *ngIf="data.ValorHoraArt14Categoria < 1">{{
                      data.ValorHoraNorm | currency
                      }}</span>
                  </td>

                  <td>
                    <span *ngIf="data.PersonalArt14SumaFija">Suma fija {{ data.PersonalArt14SumaFija | currency
                      }}</span>
                    <span *ngIf="data.PersonalArt14Horas">Horas {{ data.PersonalArt14Horas }}</span>
                    <span *ngIf="data.art14CategoriaDescripcion">Equivalencia {{ data.art14CategoriaDescripcion }}
                      {{ data.ValorHoraArt14Categoria | currency }}
                    </span>
                    <span *ngIf="data.PersonalArt14AdicionalHora">Adicional Hora
                      {{ data.PersonalArt14AdicionalHora | currency }}</span>
                  </td>
                  <td>{{ data.totalminutoscalcimporteconart14 | currency }}</td>

                  <!-- td>
              <a>Action 一 {{data.name}}</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a>Delete</a>
            </td -->
                </tr>
              </tbody>
            </nz-table>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="5">Administrativos y Art42</nz-form-label>
          <nz-form-control>
            <nz-table #art42adminPer [nzData]="($listaIngresosPer | async)?.ingresos" nzSize="small"
              [nzPageSize]="100000000" [nzShowPagination]="false" [nzScroll]="{ x: '600px' }">
              <thead>
                <tr>
                  <th>Código</th>
                  <th>Objetivo</th>
                  <th>Categoría</th>
                  <th>Horas</th>
                  <th>Valor Hora</th>
                  <th>Importe Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of art42adminPer.data" class="">
                  <td title="{{ data.SucursalId }}">{{ data.SucursalId }}</td>
                  <td>{{ data.SucursalDescripcion}}</td>
                  <td>{{ (data.SucursalAsistenciaAnoMesPersonalDiasCualArt42>0)? "ART42
                    AP"+data.SucursalAsistenciaAnoMesPersonalDiasCualArt42:"" }} {{ data.CategoriaPersonalDescripcion }}
                  </td>
                  <td>{{ data.horas }}</td>
                  <td>{{ data.ValorLiquidacionHoraNormal | currency}}</td>
                  <td>{{ data.total | currency}}</td>
                </tr>
              </tbody>
            </nz-table>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSpan]="5">Ingresos Extra</nz-form-label>
          <nz-form-control>
            <nz-table #ingextraPer [nzData]="($listaIngresosExtraPer | async)?.ingresos" nzSize="small"
              [nzPageSize]="100000000" [nzShowPagination]="false" [nzScroll]="{ x: '600px' }">
              <thead>
                <tr>
                  <th>Descripción
                  <th>Importe Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of ingextraPer.data" class="">
                  <td>{{ data.des_movimiento }}</td>
                  <td>{{ data.importe | currency}}</td>
                </tr>
              </tbody>
            </nz-table>
          </nz-form-control>
        </nz-form-item>



        <nz-form-item>
          <nz-form-label [nzSpan]="5">Descuentos</nz-form-label>
          <nz-form-control *ngIf="$listaDescuentosPer | async as listaDescuentosPer ">
            <nz-table #descPer [nzData]="listaDescuentosPer.descuentos" nzSize="small" [nzPageSize]="100000000"
              [nzShowPagination]="false" [nzScroll]="{ x: '500px' }">
              <thead>
                <tr>
                  <th>Tipo Movimiento</th>
                  <th>Detalle</th>
                  <th>Cuota</th>
                  <th>Importe</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of descPer.data" class="">
                  <td>{{ data.tipomov }}</td>
                  <td>{{ data.desmovimiento }}</td>
                  <td>
                    <div *ngIf="data.importetotal>0">{{ data.cuotanro }}/{{ data.cantcuotas}} Total {{data.importetotal
                      | currency }}</div>
                  </td>
                  <td>{{ data.importe | currency }}</td>
                </tr>
              </tbody>
            </nz-table>
          </nz-form-control>
        </nz-form-item>

      </form>
    </nz-tab>
    <nz-tab>
      <a *nzTabLink nz-tab-link routerLink="/ges/detalle_asistencia/listado-personas">Listado Personas</a>
      <form nz-form #listadoPer="ngForm">
        <nz-form-item>
          <nz-form-label [nzSpan]="5">Responsable</nz-form-label>
          <nz-form-control nzHasFeedback>
            <app-personal-search name="persona_id_responsable"
              (ngModelChange)="selectedValueChange($event, Busqueda.Responsable)" [(ngModel)]="responsable" />
          </nz-form-control>
        </nz-form-item>
      </form>

      <nz-table #listPer [nzData]="($listaPersonal | async)?.persxresp" nzSize="small" [nzPageSize]="100000000"
        [nzShowPagination]="false" [nzScroll]="{ x: '500px' }">
        <thead>
          <tr>
            <th>CUIT</th>
            <th>Apellido Nombre</th>
            <th>Situcación Revista</th>
            <th>Ingresos</th>
            <th>Horas</th>
            <th>Descuentos</th>
            <th>Retiro</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of listPer.data" class="">
            <td title="{{ data.PersonalId }}">
              {{ data.PersonalCUITCUILCUIT }}
            </td>
            <td>
              <a (click)="buscarPorPersona(data.PersonalId)" [textContent]="data.PersonaDes"></a>
            </td>
            <td> N/A</td>
            <td>{{ data.ingresos_importe | currency }}</td>
            <td>{{ data.ingresos_horas }}</td>
            <td>{{ data.egresos_importe | currency }}</td>
            <td>{{ data.retiro_importe | currency }}</td>
          </tr>
        </tbody>
      </nz-table>

    </nz-tab>
  </nz-tabset>


</nz-card>

<ng-template #optionsLoading>
  <nz-option nzDisabled nzCustomContent>
    <span nz-icon nzType="loading" class="loading-icon"></span>
    Loading Data...
  </nz-option>
</ng-template>