<form (ngSubmit)="save()">
  <!-- <p>{{parametroVenta() | json }}</p> -->
  <nz-form-item class="marginElement">
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="6">Objetivo</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="16" nzHasFeedback sfErrorTip>
      <app-objetivo-search [formField]="formParametroVenta.ObjetivoId"
        (valueExtendedChange)="objetivoDetalleChange($event)"></app-objetivo-search>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="marginElement">
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="6">Aplica Desde</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="8" nzHasFeedback sfErrorTip>
      <nz-date-picker [formField]="formParametroVenta.PeriodoDesdeAplica" nzMode="month" nzFormat="MM/yyyy"
        style="width: 100%;">
      </nz-date-picker>
    </nz-form-control>
  </nz-form-item>



  <nz-form-item class="marginElement">
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="6">Periodo de Facturación</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="4" nzHasFeedback sfErrorTip>
      <input nz-input [formField]="formParametroVenta.PeriodoFacturacion" placeholder="Ej: 1S, 1M, 1A" />

    </nz-form-control>

    @if (periodoFacturacionDescripcion()) {
    <span style="margin-left: 8px; line-height: 32px; color: rgba(0, 0, 0, 0.65);">
      {{ periodoFacturacionDescripcion() }}
    </span>
    }

    @if (periodoFacturacionDias()>=60) {
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3" style="margin-left: 16px;">Inicio</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="4" nzHasFeedback sfErrorTip>
      <nz-date-picker [formField]="formParametroVenta.PeriodoFacturacionInicio" nzMode="month" nzFormat="MM/yyyy"
        style="width: 100%;">
      </nz-date-picker>
    </nz-form-control>
    }
  </nz-form-item>

  <nz-form-item class="marginElement">
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="6">Día de Generación Factura</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="4" nzHasFeedback sfErrorTip>
      <input nz-input [formField]="formParametroVenta.GeneracionFacturaDia" type="number"
        placeholder="Día del mes (1-31)" style="width: 100%;">
    </nz-form-control>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="6" style="margin-left: 16px;" nzHasFeedback sfErrorTip>
      <label nz-checkbox [formField]="formParametroVenta.GeneracionFacturaReqCliente">Requerido por Cliente</label>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="marginElement">
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="6">Día de Generación Factura (Complemento)</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="11" nzHasFeedback sfErrorTip>
      <input nz-input [formField]="formParametroVenta.GeneracionFacturaDiaComplemento" type="number"
        placeholder="Día complemento (1-31 o vacío)" style="width: 100%;">

    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="marginElement">
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="6">Unificación Factura</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="8" nzHasFeedback sfErrorTip>
      <label nz-checkbox [formField]="formParametroVenta.UnificacionFactura"></label>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item class="marginElement">
    <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="6">Observaciones</nz-form-label>
    <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="16" nzHasFeedback sfErrorTip>
      <textarea nz-input [formField]="formParametroVenta.Observaciones" placeholder="Ingrese observaciones"
        [nzAutosize]="{ minRows: 3, maxRows: 6 }">
      </textarea>
    </nz-form-control>
  </nz-form-item>


  <div class="input-container">
    <div class="input-label">Productos {{formParametroVenta.infoProductos.length}}</div>
  </div>
  <div style="padding-top: 25px;">

    @for (ip of formParametroVenta.infoProductos; let i = $index; track i) {
    <div [ngClass]="{'even-background': i % 2 === 0}" [style.margin-top.px]="i % 2 !== 0 ? 15 : 0">

      <nz-form-item class="marginElement">
        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Producto</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="5" nzHasFeedback sfErrorTip>
          <nz-select nzAllowClear style="width:100%" nzPlaceholder="Producto" [formField]="ip.ProductoCodigo"
            nzShowSearch [nzDropdownMatchSelectWidth]="false">
            @for (option of optionsTipoProducto(); track option.ProductoCodigo) {
            <nz-option [nzValue]="option.ProductoCodigo" [nzLabel]="option.Nombre"></nz-option>
            }
          </nz-select>
        </nz-form-control>
      </nz-form-item>


      <nz-form-item class="marginElement">

        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Tipo Importe</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="5" nzHasFeedback sfErrorTip>
          <nz-select [formField]="ip.TipoImporte" style="width: 100%" nzPlaceholder="Seleccione" nzAllowClear
            [nzDropdownMatchSelectWidth]="false">
            @for (option of optionsTipoImporte(); track option.value) {
            <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
            }

          </nz-select>
        </nz-form-control>
        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Importe Unitario</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="8" [nzLg]="8" nzHasFeedback sfErrorTip>
          @if (parametroVenta().infoProductos[i].TipoImporte === 'V') {
          <div style="padding: 4px 11px; color: rgba(0, 0, 0, 0.65); font-style: italic;">
            Cargar en el cierre de planilla por el responsable
          </div>
          } @else if (parametroVenta().infoProductos[i].TipoImporte === 'LP') {
          <div style="padding: 4px 11px; color: rgba(0, 0, 0, 0.65); font-style: italic;">

            @if ((getImporteUnitario()[i] | async)){
            {{ (getImporteUnitario()[i] | async) | currency }}
            } @else {
            Sin importe unitario cargado en lista de precios para año {{periodo().getFullYear()}} y mes
            {{periodo().getMonth() + 1}}
            }
          </div>
          } @else {
          <input appDotToComma mask="separator.2" nz-input [formField]="ip.ImporteUnitario" type="text"
            style="width: 100%;" placeholder="Precio Unitario" nz-tooltip>
          }
        </nz-form-control>



      </nz-form-item>

      <nz-form-item class="marginElement">

        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Tipo Cantidad</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="4" nzHasFeedback sfErrorTip>
          <nz-select [formField]="ip.TipoCantidad" style="width: 100%" nzPlaceholder="Seleccione" nzAllowClear
            [nzDropdownMatchSelectWidth]="false">
            @for (option of optionsTipoCantidad(); track option.value) {
            <nz-option [nzValue]="option.value" [nzLabel]="option.label"></nz-option>
            }

          </nz-select>
        </nz-form-control>

        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="2">Cantidad</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="3" nzHasFeedback sfErrorTip>

          @if (parametroVenta().infoProductos[i].TipoCantidad === 'V') {
          <div style="padding: 4px 11px; color: rgba(0, 0, 0, 0.65); font-style: italic;">
            Cargar en el cierre de planilla por el responsable
          </div>
          } @else if (parametroVenta().infoProductos[i].TipoCantidad === 'A' ||
          parametroVenta().infoProductos[i].TipoCantidad === 'B') {
          <div style="padding: 4px 11px; color: rgba(0, 0, 0, 0.65); font-style: italic;">
            {{ (getCantidad()[i] | async) || 'Cargando...' }}

          </div>
          } @else {

          <input appDotToComma nz-input [formField]="ip.CantidadHoras" type="text" style="width: 100%;"
            placeholder="Cantidad" nz-tooltip mask="separator.2" />

          }

        </nz-form-control>

        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="4">Cantidad en Factura </nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="3" nzHasFeedback sfErrorTip>
          <input appDotToComma mask="separator.2" nz-input [formField]="ip.CantidadEnFactura" type="text"
            style="width: 100%;" placeholder="Cantidad en Factura" nz-tooltip />
        </nz-form-control>

      </nz-form-item>
      <nz-form-item class="marginElement">


        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="4">Cantidad Presupuestada </nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="3" nzHasFeedback sfErrorTip>
          <input appDotToComma mask="separator.2" nz-input [formField]="ip.CantidadReferencia" type="text"
            style="width: 100%;" placeholder="Cantidad de Referencia" nz-tooltip />
        </nz-form-control>

        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="4">Bonificacion (%) </nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="3" nzHasFeedback sfErrorTip>
          <input appDotToComma mask="separator.2" nz-input [formField]="ip.Bonificacion" type="text"
            style="width: 100%;" placeholder="" nz-tooltip />
        </nz-form-control>

      </nz-form-item>

      <nz-form-item class="marginElement">

        <nz-form-label [nzXs]="24" [nzSm]="24" [nzMd]="3">Texto Factura</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="3" [nzLg]="16" nzHasFeedback sfErrorTip nz-popover
          [nzPopoverContent]="textFacturaTemplate">
          <textarea nz-input [formField]="ip.TextoFactura" rows="3" style="width: 100%;"
            nzPlaceholder="Ingrese el texto de la factura"></textarea>
          <p style="color:rgba(0, 0, 0, 0.347); margin-top: 8px;">Vista previa: {{ (getTextoFacturaPreview()[i] | async)
            || '' }}</p>
        </nz-form-control>

        @if (true) {
        <nz-form-control [nzXs]="24" [nzSm]="24" [nzMd]="2" class="button-group-direction">
          <div class="button-group" style="width: 100%">
            @if (formParametroVenta.infoProductos.length == i+1 && !viewReadonly()) {
            <button nz-button class="add-button" nzType="primary" class="add-button" (click)="addProductos($event)"
              nz-tooltip nzTooltipTitle="{{ 'app.icon.add' | i18n }}">
              <span nz-icon nzType="plus"></span>
            </button>
            }
            @if (formParametroVenta.infoProductos.length >= 2 && !viewReadonly()) {
            <button nz-button nzType="default" (click)="removeProductos(i, $event)" nz-tooltip
              nzTooltipTitle="{{ 'app.icon.delete' | i18n }}">
              <span nz-icon nzType="delete" nzTheme="outline"></span>
            </button>
            }
          </div>
        </nz-form-control>
        }

      </nz-form-item>
    </div>

    }
  </div>

  @if (!viewReadonly()) {
  <nz-form-item class="btn-margintop">
    <nz-form-control style="display: flex; justify-content: center; align-items: center; gap: 8px;">
      <button style="margin-right: 10px;" nzType="primary" nz-button type="submit"
        [nzLoading]="formParametroVenta().submitting()"
        [disabled]="formParametroVenta().submitting() || formParametroVenta().dirty()==false || formParametroVenta().valid()==false">
        {{ 'app.btn.save' | i18n }}
      </button>
      <button nz-button nzType="default" (click)="clearForm()" type="button">
        {{ 'app.btn.clear.form' | i18n }}
      </button>
    </nz-form-control>
  </nz-form-item>

  }
</form>