<nz-card class="small-margin">

  <div nz-row>

    <div nz-col nzSpan="24" style="display: flex;flex-direction: row-reverse;">
      <nz-button-group >
        <a [routerLink]="['/', 'ges', 'acceso-bot','editar']" (click)="setEdit(true)" nz-tooltip nzTooltipTitle="{{ 'app.icon.edit' | i18n }}">
          <button nz-button nzType="default" [disabled]="editPersonaId > 0? false : true"><span nz-icon nzType="edit" nzTheme="outline"></span></button>
        </a>
        <a [routerLink]="['/', 'ges', 'acceso-bot','detalle']" (click)="setEdit(false)"  nz-tooltip nzTooltipTitle="{{ 'app.icon.history' | i18n }}">
          <button nz-button nzType="default" [disabled]="editPersonaId > 0? false : true"><span nz-icon nzType="info-circle" nzTheme="outline"></span></button>
        </a>
        <a [routerLink]="['/', 'ges', 'acceso-bot','alta']"  (click)="setEdit(false)" nz-tooltip nzTooltipTitle="{{ 'app.icon.add' | i18n }}">
          <button nz-button nzType="default" ><span nz-icon nzType="plus" nzTheme="outline"></span></button>
        </a>
      </nz-button-group>

    </div>

  </div>


  <div nz-row class="contentStyle">
    <div nz-col nzSpan="13" class="listStyle">
      <ul nz-menu nzMode="horizontal" style="display: flex;">
        <li nz-menu-item nzMatchRouter>
          <span nz-icon nzType=""></span>
          <a [routerLink]="['/', 'ges', 'acceso-bot', 'listado']" (click)="getGridData()" >Personas</a>
        </li>
        @if(!childIsPristine()){
          <li nz-menu-item nzMatchRouter>
            <span nz-icon nzType=""></span>
            <a [routerLink]="['/', 'ges', 'acceso-bot', 'alta']">{{ 'app.alta' | i18n }}</a>
          </li>
        }
      </ul>

    </div>

  </div>


  <nz-tabs nzCentered nzLinkRouter class="hide-ant-tabs-nav" (nzSelectChange)="onTabsetChange($event)">

    <nz-tab>
      <a nz-tab-link routerLink="/ges/acceso-bot/listado" >{{ 'app.icon.persona' | i18n }}</a>

      @if ((columns$|async); as columnas) {
        <ng-template nz-tab>
          <shared-filtro-builder #sfb [fieldsToSelect]="columnas" (optionsChange)="listOptionsChange($event)" [startFilters]="startFilters" />
          <div class="gridListContainer container-fluid" >
            <angular-slickgrid gridId="grid" [columnDefinitions]="columnas | colsFilter" [gridOptions]="gridOptions"
              [dataset]="(gridData$ | async) || []" (onAngularGridCreated)="angularGridReady($event)"
              (onSelectedRowsChanged)="handleSelectedRowsChanged($event)">
            </angular-slickgrid>
          </div>
        </ng-template>
      }
    </nz-tab>

    <nz-tab>
      <a nz-tab-link routerLink="/ges/acceso-bot/editar">{{ 'app.edit' | i18n }}</a>
      <app-acceso-bot-form #AccesoBotFormEdit [PersonalId]="editPersonaId" [edit]="edit()" (onAddorUpdate)="handleAddOrUpdate()"></app-acceso-bot-form>
    </nz-tab>

    <nz-tab>
      <a nz-tab-link routerLink="/ges/acceso-bot/detalle">{{ 'app.detail' | i18n }}</a>
      <app-acceso-bot-form #AccesoBotFormDeta [PersonalId]="editPersonaId" [edit]="edit()" (onAddorUpdate)="handleAddOrUpdate()"></app-acceso-bot-form>
    </nz-tab>

    <nz-tab>
      <a nz-tab-link routerLink="/ges/acceso-bot/alta">{{ 'app.alta' | i18n }} </a>
      <app-acceso-bot-form #AccesoBotFormAlta
        [edit]="edit()"
        [(addNew)]="addNew"
        (onAddorUpdate)="handleAddOrUpdate()"
      (pristineChange)="onPristineChange($event)"></app-acceso-bot-form>
    </nz-tab>

  </nz-tabs>
</nz-card>
